@import "/src/app/shared/styles/config/_colors";

.workflow {
    &-dialog {
        &--actions {
            display: flex;
            justify-content: space-between;
            button {
                width: 150px;
                font-weight: 700;
            }
            &-btn {
                &__outlined {
                    color: $green-color !important;
                    background-color: transparent;
                    border: 0;
                    border-radius: 5px;
                }
                &__positive {
                    color: $white-color !important;
                    background: $green-color;
                    border-radius: 5px;
                }
            }
        }
    }
}
