<div class="list-filter--manager cursor-pointer"
    [matTooltip]="selectedAccountManagers.length ? (selectedAccountManagers | displayList: 'name') : 'Select account manager(s)'"
    matTooltipClass="white-tooltip" [matMenuTriggerFor]="managerMenu" (onMenuOpen)="onOpenedMenu()">
    <ng-container *ngIf="selectedAccountManagers?.length === 1">
        <img class="border-rounded-50 image-thumbnail-small"
            [ngSrc]="employeePhotoUrl + selectedAccountManagers[0].externalId! + '.jpg'" width="35" height="35" src
            (error)="setDefaultImage($event.target)" />
    </ng-container>
    <ng-container *ngIf="selectedAccountManagers?.length === 0">
        <img class="border-rounded-50" src="../../../assets/common/images/select-user-icon.svg">
    </ng-container>
    <ng-container *ngIf="selectedAccountManagers?.length > 1">
        <div class="filter-badge">
            {{selectedAccountManagers.length}}
        </div>
    </ng-container>
    <mat-menu #managerMenu backdropClass="workflow-list--filter-manager-menu">
        <div mat-menu-item (click)="$event.stopPropagation()" class="u-pg--0">
            <mat-form-field class="workflow-list--filter-manager-dropdown autocompleteWithShevron" appearance="fill"
                (click)="$event.stopPropagation()" [ngClass]="{'isPanelOpen': managerAutocomplete.isOpen}">
                <input #accountManagerFilterInput #trigger type="text" matInput [matAutocomplete]="managerAutocomplete"
                    [formControl]="accountManagerFilter" (click)="$event.stopPropagation()"
                    placeholder="Select account manager(s)">
                <span matSuffix class="shevron"></span>
                <mat-autocomplete #managerAutocomplete="matAutocomplete" [displayWith]="displayNameFn">
                    <ng-container *ngFor="let manager of selectedAccountManagers">
                        <mat-option class="u-pg--5" [value]="manager"
                            (click)="optionClicked($event, manager, selectedAccountManagers)">
                            <div class="u-w--100">
                                <ng-container *ngIf="manager.id !== 'no-data'">
                                    <mat-checkbox [checked]="manager.selected" color="primary"
                                        class="black-checkbox" (change)="toggleSelection(manager,selectedAccountManagers)"
                                        (click)="$event.stopPropagation()">
                                        <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100">
                                            <img class="border-rounded-50 image-settings--dropdown u-ml--10 u-mr--10"
                                                [ngSrc]="employeePhotoUrl + manager.externalId! + '.jpg'" width="24" height="24"
                                                src (error)="setDefaultImage($event.target)" />
                                            <span>{{ manager.name }}</span>
                                        </div>
                                    </mat-checkbox>
                                </ng-container>
                                <ng-container *ngIf="manager.id === 'no-data'">
                                    <span (click)="$event.stopPropagation()">
                                        {{ manager.name }}
                                    </span>
                                </ng-container>
                            </div>
                        </mat-option>
                    </ng-container>
                    <ng-container *ngIf="isLoading">
                        <mat-option class="is-loading">
                            <div class="is-loading-container">
                                <mat-spinner diameter="25"></mat-spinner>
                            </div>
                        </mat-option>
                    </ng-container>
                    <ng-container *ngIf="!isLoading">
                        <ng-container *ngFor="let manager of filteredAccountManagers$ | async; trackBy: trackById">
                            <ng-container *ngIf="!manager.selected">
                                <mat-option class="u-pg--5" [ngClass]="{ 'no-data': manager.id === 'no-data'}"
                                    [value]="selectedAccountManagers"
                                    (click)="optionClicked($event, manager, selectedAccountManagers)">
                                    <div class="u-w--100">
                                        <ng-container *ngIf="manager.id !== 'no-data'">
                                            <mat-checkbox [checked]="manager.selected"
                                                color="primary" class="black-checkbox"
                                                (change)="toggleSelection(manager,selectedAccountManagers)"
                                                (click)="$event.stopPropagation()">
                                                <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100">
                                                    <img class="border-rounded-50 image-settings--dropdown u-ml--10 u-mr--10"
                                                        [ngSrc]="employeePhotoUrl + manager.externalId! + '.jpg'" width="24"
                                                        height="24" src (error)="setDefaultImage($event.target)">
                                                    <span>{{ manager.name }}</span>
                                                </div>
                                            </mat-checkbox>
                                        </ng-container>
                                        <span *ngIf="manager.id === 'no-data'" (click)="$event.stopPropagation()">{{
                                            manager.name }}
                                        </span>
                                    </div>
                                </mat-option>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="(filteredAccountManagers$ | async)?.length === 0">
                            <mat-option (click)="$event.stopPropagation()" class="no-data">
                                <span>
                                    No managers found
                                </span>
                            </mat-option>
                        </ng-container>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>
        </div>
    </mat-menu>
</div>
