<div class="notification-settings">
    <div fxLayout="row" fxLayoutAlign="start start" class="notification-settings--top u-w--100">
        <h2 class="page-main-header">Notifications</h2>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" class="notification-settings--content u-w--100">
        <mat-tab-group class="notification-settings--tabs u-w--100">
            <mat-tab label="Workflow notifications">
                <mat-accordion [multi]="true">
                    <mat-expansion-panel *ngFor="let tenant of tenantWithNotifications; trackBy: tenantTrackBy; index as tenantIndex">
                        <mat-expansion-panel-header>
                            <mat-checkbox
                                color="accent"
                                name="tenantMasterCheckbox"
                                class="black-checkbox u-ml--10 u-mr--10"
                                [checked]="allChecked(tenant.tenantId!)"
                                [indeterminate]="someChecked(tenant.tenantId!)"
                                (click)="$event.stopPropagation()"
                                (change)="checkAll($event.checked, tenant?.tenantId!)">
                                    <span class="flex-row">
                                        <span class="country-flag fi fi-{{tenant?.flag | lowercase }} fis border-rounded-50 u-mr--16 u-ml--8"></span>
                                        {{tenant?.tenantName}}
                                    </span>
                            </mat-checkbox>
                        </mat-expansion-panel-header>

                        <div fxLayout="column" fxLayoutAlign="start start" class="notification-settings--tabs__content">
                            <mat-checkbox *ngFor="let notification of tenant.notifications; trackBy: notificationTrackBy;" [checked]="notification.enabled!" (change)="changeEmployeeNotification($event.checked, notification, tenant.tenantId)" color="accent" class="black-checkbox u-mr--10">
                                {{notification.notificationName}}
                            </mat-checkbox>

                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
