<ng-container *ngIf="options$ | async as options">
	<ng-container *ngIf="signerTableData.length">
        <h3 class="signer-header">Signers</h3>
		<mat-table [dataSource]="signerTableData">
			<ng-container matColumnDef="signerType">
				<mat-header-cell *matHeaderCellDef class="signer-type-cell">Signer type</mat-header-cell>
				<mat-cell *matCellDef="let element; let i = index" class="signer-type-cell">
					<ng-container [formGroup]="element">
						<mat-form-field appearance="fill">
							<mat-select formControlName="signerType" (selectionChange)="onSignerTypeChange($event.value, i)">
								<ng-container *ngFor="let signerType of options[0]">
									<mat-option [value]="signerType.id">
										{{ signerType.name }}
									</mat-option>
								</ng-container>
							</mat-select>
						</mat-form-field>
					</ng-container>
				</mat-cell>
			</ng-container>
			<ng-container matColumnDef="signerName">
				<mat-header-cell *matHeaderCellDef class="signer-name-cell">Name</mat-header-cell>
				<mat-cell *matCellDef="let element; let i = index" class="signer-name-cell">
					<ng-container [formGroup]="element">
						<ng-container *ngIf="signerOptionsArr$[i].options$ | async as options">
							<emg-dropdown-autocomplete-single-select
								formControlName="signerId"
                                appearance="fill"
                                [displayError]="false"
								[options]="options[1]"
								[label]="options[0].label"
								[width]="'178px'"
								[labelKey]="options[0].labelKey"
								[outputProperty]="options[0].outputProperty"
								(inputEmitter)="signerOptionsArr$[i].optionsChanged$.next($event)">
							</emg-dropdown-autocomplete-single-select>
						</ng-container>
					</ng-container>
				</mat-cell>
			</ng-container>
			<ng-container matColumnDef="signingRole">
				<mat-header-cell *matHeaderCellDef class="signing-role-cell"> Signing role</mat-header-cell>
				<mat-cell *matCellDef="let element; let i = index" class="signing-role-cell">
					<ng-container [formGroup]="element">
						<mat-form-field appearance="fill">
							<mat-select formControlName="roleId">
								<ng-container *ngFor="let signerRole of options[1]">
									<mat-option [value]="signerRole.id">
										{{ signerRole.name }}
									</mat-option>
								</ng-container>
							</mat-select>
						</mat-form-field>
					</ng-container>
				</mat-cell>
			</ng-container>
			<ng-container matColumnDef="signOrder">
				<mat-header-cell *matHeaderCellDef class="sequence-cell"> Sequence</mat-header-cell>
				<mat-cell *matCellDef="let element; let i = index" class="sequence-cell">
					<ng-container [formGroup]="element">
						<mat-form-field appearance="fill">
							<input matInput type="number" formControlName="signOrder" />
						</mat-form-field>
					</ng-container>
				</mat-cell>
			</ng-container>
			<ng-container matColumnDef="actions">
				<mat-header-cell *matHeaderCellDef class="delete-cell"></mat-header-cell>
				<mat-cell *matCellDef="let element; let i = index" class="delete-cell">
					<button mat-icon-button (click)="deleteSigner(i)">
						<mat-icon>close</mat-icon>
					</button>
				</mat-cell>
			</ng-container>
			<mat-header-row *matHeaderRowDef="displayedSignerColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedSignerColumns"></mat-row>
		</mat-table>
	</ng-container>
    <div class="add-signer">
        <mat-icon svgIcon="add-signer-icon" class="small-icon" (click)="addSigner()"></mat-icon>
        <span class="add-signer-label">Add signer</span>
    </div>
</ng-container>
