<form [formGroup]="salesExtensionForm" class="u-w--100">
    <h2 class="workflow-green--header">Extension</h2>
    <div formArrayName="salesExtension">
        <div *ngFor="let item of salesExtension.controls; let i = index;" [formGroupName]="i" [ngClass]="{'hide': selectedIndex !== i}">
            <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
                <mat-form-field appearance="outline" class="formFieldNoMarginPadding u-mr--16" fxFlex="33%">
                    <mat-label>New end date</mat-label>
                    <input autocomplete="off" placeholder="New end date" matInput
                            [matDatepicker]="extensionDatePicker"
                            name="saleDate" formControlName="extensionEndDate"
                            (focus)="extensionDatePicker.open()"
                            (click)="extensionDatePicker.open()" readonly>
                    <mat-icon class="calendar-icon" matSuffix svgIcon="calendar"></mat-icon>
                    <mat-datepicker #extensionDatePicker></mat-datepicker>
                </mat-form-field>

                <mat-checkbox color="accent" formControlName="noExtensionEndDate" name="noExtensionEndDate" class="green-checkbox u-mr--16">
                    No end date
                </mat-checkbox>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                <mat-form-field appearance="outline" class="u-w--100 formFieldNoMarginPadding u-mr--16" fxFlex="0 0 calc(66% + 16px)">
                    <mat-label>WF Information</mat-label>
                    <textarea matInput autocomplete="new-password" name="workflowInformation" formControlName="workflowInformation">
                    </textarea>
                </mat-form-field>
            </div>
        </div>
    </div>
</form>
