@import "/src/app/shared/styles/config/_colors";

.workflow-documents {
    height: calc(100vh - 215px);
    position: sticky;
    top: 115px;
    z-index: 9999;
    border-left: 1px solid #E7E3E8;
    border-top: 1px solid #E7E3E8;
    background-color: #fff;

    &--content {
        height: calc(100vh - 350px) !important;
        overflow: hidden;
        &-header {
            font-weight: 700;
            font-size: 14px;
            line-height: 120%;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #898785;
        }
        &-consultant {
            &__name {
                font-weight: 800;
                font-size: 12px;
                line-height: 140%;
                color: #4A4E60;
            }
        }
        &-documents {
            height: 48px;
            border-bottom: 1px solid #E7E3E8;
            &__name {
                font-weight: 700;
                font-size: 12px;
                line-height: 140%;
                color: #4A4E60;
            }
            &__empty {
                font-weight: 600;
                font-size: 12px;
                line-height: 140%;
                color: #898785;
            }
        }
    }

    &.top-toolbar-shown {
        height: calc(100vh - 115px);
        .workflow-documents--content {
            height: calc(100vh - 250px);
        }
    }

    &--header {
        &-name {
            font-weight: 700;
            font-size: 12px;
            line-height: 140%;
            color: #4A4E60;
        }
        &-dates {
            font-weight: 700;
            font-size: 10px;
            line-height: 150%;
            color: #898785;
        }
    }

    &--empty {
        &-icon {
            width: 72px;
            height: 72px;
            line-height: 72px;
            font-size: 72px;
        }
        &-text {
            color: $medium-grey-color;
            font-weight: 600;
            font-size: 14px;
        }
    }
}