<mat-dialog-content class="confirmation-dialog">
    <div mat-dialog-title class="confirmation-dialog--header">
        <h1>
            {{ data.dialogTitle }}
        </h1>
        <button class="dialog-close--button" mat-icon-button (click)="reject()"><mat-icon svgIcon="dialog-close-icon"></mat-icon></button>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="u-mb--24">
        <img class="border-rounded-50 u-mr--12 image-thumbnail-small" [ngSrc]="consultantPhotoUrl + consultant.externalId + '.jpg'" width="35" height="35" src (error)="setDefaultImage($event.target)" />
        <p class="consultant-name">{{consultant.name}}</p>
    </div>
    <mat-divider class="u-w--100 u-mb--24"></mat-divider>
    <ng-container [ngSwitch]="data.dialogType">
        <ng-container *ngSwitchCase="dialogTypes.Change">
            <h3>Select new cutover date</h3>
            <div fxLayout="column" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" class="u-mb--5">
                    <mat-label>Specific date</mat-label>
                    <input autocomplete="off" matInput
                            [matDatepicker]="consultantCutoverDatePicker"
                            name="clientExtensionEndDate" [formControl]="newCutoverDate"
                            (focus)="consultantCutoverDatePicker.open()"
                            appPreventDoubleClick (throttledClick)="consultantCutoverDatePicker.open()" readonly>
                    <mat-icon class="calendar-icon" matSuffix svgIcon="calendar"></mat-icon>
                    <mat-datepicker #consultantCutoverDatePicker></mat-datepicker>
                </mat-form-field>
                <mat-checkbox color="accent" [formControl]="newLegalContractRequired" name="newLegalContractRequired" class="black-checkbox">
                    New legal contract required
                </mat-checkbox>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="dialogTypes.Extend">
            <h3>Select extension end date</h3>
            <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="12px" class="u-w--100">
                <mat-form-field appearance="outline" fxFlex="50%">
                    <mat-label>Start date</mat-label>
                    <input autocomplete="off" matInput
                            [matDatepicker]="startDatePicker"
                            name="clientExtensionEndDate" [formControl]="startDate"
                            (focus)="startDatePicker.open()"
                            appPreventDoubleClick (throttledClick)="startDatePicker.open()" readonly>
                    <mat-icon class="calendar-icon" matSuffix svgIcon="calendar"></mat-icon>
                    <mat-datepicker #startDatePicker></mat-datepicker>
                </mat-form-field>

                <div fxLayout="column" fxLayoutAlign="start start" fxFlex="50%">
                    <mat-form-field appearance="outline" class="u-mb--5">
                        <mat-label>End date</mat-label>
                        <input autocomplete="off" matInput
                                [matDatepicker]="endDatePicker"
                                name="clientExtensionEndDate" [formControl]="endDate"
                                (focus)="endDatePicker.open()"
                                appPreventDoubleClick (throttledClick)="endDatePicker.open()" readonly>
                        <mat-icon class="calendar-icon" matSuffix svgIcon="calendar"></mat-icon>
                        <mat-datepicker #endDatePicker></mat-datepicker>
                    </mat-form-field>
                    <mat-checkbox color="accent" [formControl]="noEndDate" name="noEndDate" class="black-checkbox u-mr--10" (change)="disableOrEnableInput(noEndDate.value, endDate)">
                        No end date
                    </mat-checkbox>
                </div>
            </div>
        </ng-container>
        <ng-container *ngSwitchDefault>

        </ng-container>
    </ng-container>
</mat-dialog-content>
<mat-dialog-actions align="start" class="confirmation-dialog--actions">
    <button mat-flat-button class="dialog-btn dialog-btn__outlined" appPreventDoubleClick (throttledClick)="reject()">
        {{ data.rejectButtonText }}
    </button>
    <button mat-flat-button class="dialog-btn" [ngClass]="data.isNegative ? 'dialog-btn__negative' : 'dialog-btn__positive'" appPreventDoubleClick (throttledClick)="confirm()">
        {{ data.confirmButtonText }}
    </button>
</mat-dialog-actions>

