@import "/src/app/shared/styles/config/_colors";

.confirmation-dialog {
    .consultant-name {
        font-weight: 800;
        font-size: 14px;
        color: $dark-grey-color;
    }
    &--content {
        padding: 30px;
    }
    &--actions{
        justify-content: space-between;
        border-top: 1px solid $sand-color;
    }
}
