<div class="latest-changes">
    <!-- <mat-form-field appearance="outline" class="formFieldNoMarginPadding filter-select form-width-300">
        <mat-label>Filter by</mat-label>
        <mat-select [formControl]="filter" [disableOptionCentering]="true" (selectionChange)="getLatestChanges()">
            <ng-container *ngIf="filter.value !== null">
                <mat-option class="mat-select-clear-option" [value]="null">
                    Clear
                </mat-option>
            </ng-container>
            <ng-container *ngFor="let item of filters$ | async; trackBy: trackById">
                <mat-option [value]="item">
                    {{ item.displayName }}
                </mat-option>
            </ng-container>
        </mat-select>
    </mat-form-field> -->
    <mat-form-field class="form-width-300 autocompleteWithShevron" appearance="outline"
            [ngClass]="{'isPanelOpen': auto.isOpen}">
            <input type="text" #trigger matInput [matAutocomplete]="auto" [formControl]="filter" appPreventDoubleClick
                (click)="$event.stopPropagation()" placeholder="Type something..">
            <span matSuffix class="shevron"></span>
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayEventFn" (optionSelected)="getLatestChanges()">
                <ng-container *ngFor="let option of filteredEvents$ | async; trackBy: trackByItem">
                    <mat-option [value]="option">
                        <div class="multilineDropdown-option--row flex-items-center" [matTooltip]="option.displayName"
                            matTooltipClass="white-tooltip" appShowIfTruncated>
                            <span [matTooltip]="option.displayName"
                            matTooltipClass="white-tooltip" appShowIfTruncated>
                            {{ option.displayName }}
                        </span>
                        </div>
                    </mat-option>
                </ng-container>
                <ng-container *ngIf="(filteredEvents$ | async)?.length === 0">
                    <mat-option (click)="$event.stopPropagation()" class="no-data">
                        <span>
                            No events found
                        </span>
                    </mat-option>
                </ng-container>
            </mat-autocomplete>
        </mat-form-field>
    <div class="pos-relative">
        <mat-table
            class="white-table"
            matSort
            [dataSource]="tableData?.items">
            <ng-container matColumnDef="changedDate">
                <mat-header-cell *matHeaderCellDef fxFlex="140px">
                    Changed Date
                </mat-header-cell>
                <mat-cell *matCellDef="let row" fxFlex="140px">
                    <span class="dark-grey-color u-mr--5">{{row.occurredAtUtc | momentFormat: 'DD.MM.YYYY'}}</span>
                    <span class="medium-grey-color text-600">{{row.occurredAtUtc | momentFormat: 'HH:mm'}}</span>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actionName">
                <mat-header-cell *matHeaderCellDef fxFlex="130px">
                    Event
                </mat-header-cell>
                <mat-cell *matCellDef="let row" class="text-bold" fxFlex="130px">
                    <span class="text-truncate-ellipsis">
                        {{row.actionName ?? '-'}}
                    </span>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="changedObject">
                <mat-header-cell *matHeaderCellDef>
                    Changed object
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <span class="text-truncate-ellipsis" [matTooltip]="row.entityNameWithKeyValue ?? '-'" matTooltipClass="white-tooltip" appShowIfTruncated>
                        {{row.entityNameWithKeyValue ?? '-'}}
                    </span>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="changedField">
                <mat-header-cell *matHeaderCellDef>
                    Changed field
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <span class="text-truncate-ellipsis" [matTooltip]="row.propertyName ?? '-'" matTooltipClass="white-tooltip" appShowIfTruncated>
                        {{row.propertyName ?? '-'}}
                    </span>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="oldValue">
                <mat-header-cell *matHeaderCellDef>
                    Old Value
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <span class="text-truncate-ellipsis" [matTooltip]="row.oldValue ?? '-'" matTooltipClass="white-tooltip" appShowIfTruncated>
                        {{row.oldValue ?? '-'}}
                    </span>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="newValue">
                <mat-header-cell *matHeaderCellDef>
                    New Value
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <span class="text-truncate-ellipsis" [matTooltip]="row.newValue ?? '-'" matTooltipClass="white-tooltip"  appShowIfTruncated>
                        {{row.newValue ?? '-'}}
                    </span>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="periodID">
                <mat-header-cell *matHeaderCellDef fxFlex="70px">
                    Period ID
                </mat-header-cell>
                <mat-cell *matCellDef="let row" fxFlex="70px">
                    <span emgCustomTooltip [contentTemplate]="periodTooltip">
                        {{row.clientPeriodDisplayId ?? '-'}}
                    </span>
                    <ng-template #periodTooltip>
                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                            <mat-icon svgIcon="workflowAdd"></mat-icon>
                            {{row.clientPeriodTooltip}}
                        </div>
                    </ng-template>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="by">
                <mat-header-cell *matHeaderCellDef fxFlex="40px">
                    By
                </mat-header-cell>
                <mat-cell *matCellDef="let row" fxFlex="40px">
                    <img class="border-rounded-50" [matTooltip]="row.userName" matTooltipClass="white-tooltip" [ngSrc]="employeePhotoUrl + row.userId! + '.jpg'" width="24" height="24" src (error)="setDefaultImage($event.target)" />
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
        </mat-table>
        <ng-container *ngIf="isLoading">
            <div class="spinner-container">
                <mat-spinner [diameter]="50"></mat-spinner>
            </div>
        </ng-container>
        <ng-container *ngIf="tableData?.totalCount === 0 && !isLoading">
            <div class="results-not-found">
                RESULTS NOT FOUND
            </div>
        </ng-container>
        <div class="pagination-container u-w--100">
            <mat-paginator #clientsPaginator [length]="tableData?.totalCount" [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true" (page)="pageChanged($event)" [pageIndex]="pageIndex - 1">
            </mat-paginator>
        </div>
    </div>
</div>
