@import "/src/app/shared/styles/config/_colors";
@import "/src/app/shared/styles/config/_mixins";

.latest-changes {
    &--row {
        height: 35px;
        background-color: $white-color;
        border: 1px solid $sand-color;
    }
}
