<div class="latest-changes">
    <h2>Latest changes</h2>
    <mat-form-field appearance="outline" class="formFieldNoMarginPadding filter-select form-width-300">
        <mat-label>Filter by</mat-label>
        <mat-select [formControl]="filter" [disableOptionCentering]="true" (selectionChange)="getLatestChanges()">
            <ng-container *ngFor="let item of [{id: 1, name: 'a'}]; trackBy: trackById">
                <mat-option [value]="item.id">
                    {{ item.name }}
                </mat-option>
            </ng-container>
        </mat-select>
    </mat-form-field>
    <ng-container *ngIf="(workflowHistory$ | async)?.items as workflowHistory; else noLatestChanges">
        <div fxLayout="row" fxLayoutAlign="start center" class="latest-changes--header">
            <div fxFlex="120px">
                Changed Date
            </div>
            <div fxFlex="250px">
                Event
            </div>
            <div fxFlex="200px">
                Changed field
            </div>
            <div fxFlex>
                Old value
            </div>
            <div fxFlex>
                New value
            </div>
            <div fxFlex="100px">
                Period
            </div>
            <div fxFlex="100px">
                PeriodId
            </div>
            <div fxFlex="70px" fxLayoutAlign="center center">
                By
            </div>
        </div>
        <ng-container *ngFor="let item of workflowHistory; trackBy: trackByOperationId;">
            <div fxLayout="row" fxLayoutAlign="start center" class="latest-changes--row">
                <div fxFlex="120px">
                    <span class="dark-grey-color u-mr--5">{{item.occurredAtUtc | momentFormat: 'DD.MM.YYYY'}}</span>
                    <span class="medium-grey-color text-600">{{item.occurredAtUtc | momentFormat: 'HH:mm'}}</span>
                </div>
                <div fxFlex="250px" class="dark-grey-color text-bold">
                    {{item.eventName}}
                </div>

                <div fxFlex="200px" class="dark-grey-color text-600">
                    Changed field
                </div>

                <div fxFlex class="dark-grey-color text-600">
                    Old value
                </div>

                <div fxFlex class="dark-grey-color text-600">
                    New value
                </div>

                <div fxFlex="100px" class="dark-grey-color text-600">
                    Period
                </div>

                <div fxFlex="100px" class="dark-grey-color text-600">
                    PeriodId
                </div>

                <div fxFlex="70px" fxLayoutAlign="center center">
                    <img class="border-rounded-50" [matTooltip]="item.initiatedBy?.name" matTooltipClass="white-tooltip" [ngSrc]="employeePhotoUrl + item.initiatedBy?.externalId! + '.jpg'" width="24" height="24" src (error)="setDefaultImage($event.target)" />
                </div>
            </div>
        </ng-container>
    </ng-container>
    <ng-template #noLatestChanges>
        <div fxLayout="row" fxLayoutAlign="start center" class="latest-changes--row">
            No latest changes yet
        </div>
    </ng-template>
</div>
