<mat-form-field [appearance]="appearance" [style.width]="width">
	<mat-label>{{ label }}</mat-label>
	<input
		matInput
		type="text"
		[placeholder]="label"
		[formControl]="inputControl"
		[matAutocomplete]="auto"
		[errorStateMatcher]="matcher"
		(blur)="onFocusOut()" />
	<mat-autocomplete
		#auto="matAutocomplete"
		[displayWith]="displayFn.bind(context)"
		class="app-contract-backdrop"
		classList="app-contract-backdrop"
		(optionSelected)="onSelect($event.option.value)">
		<div class="scroll-container">
			<ng-container *ngFor="let option of options; trackBy: trackById.bind(this)">
				<mat-option [value]="option">
					<ng-container
						*ngIf="optionTemplate; else noTemplate"
						[ngTemplateOutlet]="optionTemplate"
						[ngTemplateOutletContext]="{ option }">
					</ng-container>
					<ng-template #noTemplate>{{ option[labelKey] }}</ng-template>
				</mat-option>
			</ng-container>
		</div>
	</mat-autocomplete>
	<ng-container *ngIf="displayError">
		<mat-error><app-validator [control]="inputControl"></app-validator></mat-error>
	</ng-container>
</mat-form-field>
