<mat-form-field [appearance]="appearance">
	<mat-label>{{ label }}</mat-label>
	<input
		matInput
		type="text"
		[placeholder]="label"
		[formControl]="inputControl"
		[matAutocomplete]="auto"
		[errorStateMatcher]="matcher"
		(blur)="onFocusOut()" />
	<ng-container
		*ngIf="selectedOptionTemplate && selectedItem && (control.valid || control.disabled)"
		[ngTemplateOutlet]="selectedOptionTemplate"
		[ngTemplateOutletContext]="{ selectedItem }">
	</ng-container>
	<mat-autocomplete
		#auto="matAutocomplete"
		[displayWith]="displayFn.bind(context)"
		class="app-contract-backdrop"
		classList="app-contract-backdrop"
		[panelWidth]="panelWidth"
		(optionSelected)="onSelect($event.option.value)">
		<div class="scroll-container">
			<ng-container *ngIf="!(isOptionsLoading | async); else loading">
				<ng-container *ngIf="options.length; else noItems">
					<ng-container *ngFor="let option of options; trackBy: trackById.bind(this)">
						<mat-option [value]="option">
							<ng-container
								*ngIf="optionTemplate; else noTemplate"
								[ngTemplateOutlet]="optionTemplate"
								[ngTemplateOutletContext]="{ option }">
							</ng-container>
							<ng-template #noTemplate>{{ option[labelKey] }}</ng-template>
						</mat-option>
					</ng-container>
				</ng-container>
				<ng-template #noItems>
					<mat-option [disabled]="true">
						<div class="no-items">
							No item found
						</div>

					</mat-option>
				</ng-template>
			</ng-container>
			<ng-template #loading>
				<mat-option>
					<mat-spinner diameter="32" class="spinner"></mat-spinner>
				</mat-option>
			</ng-template>
		</div>
	</mat-autocomplete>
	<ng-container *ngIf="displayError">
		<mat-error><app-validator [control]="inputControl"></app-validator></mat-error>
	</ng-container>
</mat-form-field>
