<ng-container [formGroup]="contract">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px"
    class="legal-contract--list u-w--100 u-pl--16 u-pr--16" [ngClass]="{'u-bt--0': !first}">
    <span fxFlex="20px" class="legal-contract--list-item u-w--100">
        <mat-checkbox color="accent" formControlName="selected" name="selectedAgreement" class="black-checkbox">
        </mat-checkbox>
    </span>
    <span fxFlex="auto" fxLayout="column" class="u-w--100">
        <span fxFlex="auto" class="legal-contract--list-item u-w--100 text-truncate-ellipsis text-bold"
            appShowIfTruncated [matTooltip]="contract.value.name" matTooltipClass="white-tooltip">
            {{contract.value.name}}
        </span>
        <ng-container *ngIf="agreementInEdit$ | async as agreementInEdit">
            <ng-container *ngIf="agreementInEdit.isEditing">
                <span fxLayout="row" fxLayoutAlign="start center" class="agreementInEditStatus" [matTooltip]="agreementInEdit.employees?.length > 2 ? (agreementInEdit.employees | displayList: 'name') : ''"
                matTooltipClass="white-tooltip">
                    <mat-icon svgIcon="agreement-in-edit"></mat-icon>
                    <span class="employeesList">
                        Agreement is being edited by
                        <ng-container
                            *ngIf="agreementInEdit.employees?.length && agreementInEdit.employees?.length <= 2">
                            {{agreementInEdit.employees | displayList: 'name'}}...
                        </ng-container>
                        <ng-container *ngIf="agreementInEdit.employees?.length > 2">
                            multiple users...
                        </ng-container>
                    </span>
                </span>
            </ng-container>
        </ng-container>
    </span>
    <span fxFlex="35px" fxLayoutAlign="center center" class="legal-contract--list-item text-truncate-ellipsis u-w--100"
        [matTooltip]="eLegalContractModeText[contract.value.validity]" matTooltipClass="white-tooltip">
        <ng-container *ngIf="contract.value.validity !== null && contract.value.validity !== undefined; else noDataTemplate">
            <mat-icon class="legal-contract--mode"
                [svgIcon]="eLegalContractModeIcon[contract.value.validity]"></mat-icon>
        </ng-container>
    </span>
    <span fxFlex="35px" fxLayoutAlign="center center" class="legal-contract--list-item text-truncate-ellipsis u-w--100"
        [matTooltip]="eLegalContractSourceText[contract.value.processingPath]" matTooltipClass="white-tooltip">
        <ng-container *ngIf="contract.value.processingPath !== null && contract.value.processingPath !== undefined; else noDataTemplate">
            <mat-icon class="legal-contract--mode"
                [svgIcon]="eLegalContractSourceIcon[contract.value.processingPath]"></mat-icon>
        </ng-container>
    </span>
    <span fxFlex="160px" fxFlex.lt-xl="50px" fxLayoutAlign="start center" fxLayoutAlign.lt-xl="center center"
        class="legal-contract--list-item text-truncate-ellipsis u-w--100" emgCustomTooltip
        [contentTemplate]="statusTooltip">
        <ng-container
            *ngIf="contract.value.agreementStatus === legalContractStatus.PartiallySigned || contract.value.agreementStatus === legalContractStatus.ReminderSent; else statusDot">
            <mat-icon class="legal-contract--status u-mr--5"
                [svgIcon]="eLegalContractStatusIcon[contract.value.agreementStatus]">
            </mat-icon>
        </ng-container>
        <ng-template #statusDot>
            <mat-icon class="legal-contract--status u-mr--5"
                [ngClass]="eLegalContractStatusIcon[contract.value.agreementStatus]">fiber_manual_record</mat-icon>
        </ng-template>
        <span [fxHide]="false" fxHide.lt-xl>
            {{ eLegalContractStatusText[contract.value.agreementStatus] }}
        </span>
        <ng-template #statusTooltip>
            <ng-container *ngIf="contract.value.statusHistory?.length; else noStatusHistoryTemplate">
                <div class="status-log-grid">
                    <ng-container *ngFor="let item of contract.value.statusHistory; trackBy: trackByItem">
                        <div class="flex-row">
                            <ng-container
                                *ngIf="item.status === legalContractStatus.PartiallySigned || item.status === legalContractStatus.ReminderSent; else statusDot">
                                <mat-icon class="legal-contract--status u-mr--5"
                                    [svgIcon]="eLegalContractStatusIcon[item.status]">
                                </mat-icon>
                            </ng-container>
                            <ng-template #statusDot>
                                <mat-icon class="legal-contract--status u-mr--5"
                                    [ngClass]="eLegalContractStatusIcon[item.status]">fiber_manual_record</mat-icon>
                            </ng-template>
                            <span class="dark-grey-color text-bold">
                                {{ eLegalContractStatusText[item.status] }}
                            </span>
                        </div>
                        <div class="flex-row">
                            <span class="dark-grey-color text-bold u-mr--5">
                                {{ item.timestampUtc | momentFormat : 'MM.DD.YYYY' }}
                            </span>
                            <span class="dark-grey-color text-600">
                                {{ item.timestampUtc | momentFormat : 'HH:mm:ss' }}
                            </span>
                        </div>
                        <span class="medium-grey-color text-nowrap text-600">
                            {{ item.triggeredBy ?? '-' }}
                        </span>
                    </ng-container>
                </div>
            </ng-container>
            <ng-template #noStatusHistoryTemplate>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <ng-container
                        *ngIf="contract.value.agreementStatus === legalContractStatus.PartiallySigned || contract.value.agreementStatus === legalContractStatus.ReminderSent; else statusDot">
                        <mat-icon class="legal-contract--status u-mr--5"
                            [svgIcon]="eLegalContractStatusIcon[contract.value.agreementStatus]">
                        </mat-icon>
                    </ng-container>
                    <ng-template #statusDot>
                        <mat-icon class="legal-contract--status u-mr--5"
                            [ngClass]="eLegalContractStatusIcon[contract.value.agreementStatus]">fiber_manual_record</mat-icon>
                    </ng-template>
                    <span class="dark-grey-color text-bold">
                        {{ eLegalContractStatusText[contract.value.agreementStatus] }}
                    </span>
                </div>
            </ng-template>
        </ng-template>
    </span>
    <span fxFlex="80px" class="legal-contract--list-item text-truncate-ellipsis u-w--100">
        {{ contract.value.lastUpdateDateUtc | momentFormat }}
    </span>
    <span fxFlex="35px" fxLayoutAlign="center center" class="legal-contract--list-item text-truncate-ellipsis u-w--100">
        <ng-container *ngIf="contract.value.lastUpdatedBy !== null && contract.value.lastUpdatedBy !== undefined; else noDataTemplate">
            <img class="border-rounded-50" [matTooltip]="contract.value.lastUpdatedBy?.name"
                matTooltipClass="white-tooltip"
                [ngSrc]="employeePhotoUrl + contract.value.lastUpdatedBy?.externalId + '.jpg'" src width="32"
                height="32" src (error)="setDefaultImage($event.target)" />
        </ng-container>
    </span>
    <ng-container *ngIf="!readOnlyMode">
        <div fxFlex="40px" fxLayoutAlign="end center" class="u-w--100">
            <button mat-icon-button appPreventDoubleClick (throttledClick)="$event.stopPropagation()"
                #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="legalContractMenu" class="three-dots-actions-btn">
                <mat-icon svgIcon="3-dots"></mat-icon>
            </button>
            <mat-menu #legalContractMenu>
                <ng-container *ngIf="contract.value.agreementStatus !== legalContractStatus.Completed">
                    <button class="menu-item green-color" mat-menu-item (click)="
											openUploadSignedContractDialog(
												contract.value.agreementId,
												contract.value.agreementStatus === legalContractStatus.Sent
											)
										">
                        <mat-icon svgIcon="legal-contract-upload"></mat-icon>
                        Upload signed contract
                    </button>
                </ng-container>
                <ng-container *ngIf="contract.value.processingPath !== legalContractPath.ReceiveFromOtherParty">
                    <button class="menu-item green-color" mat-menu-item
                        (click)="downloadPdf(contract.value.agreementId)">
                        <mat-icon svgIcon="download-pdf"></mat-icon>
                        Download *.pdf
                    </button>
                </ng-container>
                <ng-container *ngIf="contract.value.processingPath !== legalContractPath.ReceiveFromOtherParty">
                    <button class="menu-item green-color" mat-menu-item
                        (click)="downloadDoc(contract.value.agreementId)">
                        <mat-icon svgIcon="download-doc"></mat-icon>
                        Download *.doc
                    </button>
                </ng-container>
                <ng-container *ngIf="contract.value.processingPath === legalContractPath.ReceiveFromOtherParty && contract.value.agreementStatus === legalContractStatus.Voided">
                    <button class="menu-item green-color" mat-menu-item
                        (click)="downloadFile(contract.value.agreementId)">
                        <mat-icon svgIcon="download-doc"></mat-icon>
                        Download
                    </button>
                </ng-container>
                <ng-container *ngIf="contract.value.agreementStatus !== legalContractStatus.Created">
                    <ng-container *ngIf="contract.value.processingPath === legalContractPath.DocuSign">
                        <button class="menu-item green-color" mat-menu-item
                            (click)="openInDocuSign(contract.value.docuSignUrl)">
                            <mat-icon svgIcon="open-in-docusign"></mat-icon>
                            Open in DocuSign
                        </button>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="
										(!(
											contract.value.agreementStatus === legalContractStatus.Completed &&
											contract.value.processingPath === legalContractPath.ReceiveFromOtherParty
										) &&
											!(
												contract.value.agreementStatus === legalContractStatus.Completed &&
												contract.value.processingPath === legalContractPath.DocuSign
											) &&
											!(
												contract.value.agreementStatus === legalContractStatus.Voided &&
												contract.value.processingPath === legalContractPath.ReceiveFromOtherParty
											)) ||
										contract.value.agreementStatus === legalContractStatus.Sent
									">
                    <button class="menu-item green-color" mat-menu-item
                        (click)="tryToEditAgreement(contract.value.agreementId)">
                        <mat-icon svgIcon="legal-contract-edit"></mat-icon>
                        Edit
                    </button>
                </ng-container>
                <ng-container *ngIf="
										contract.value.agreementStatus === legalContractStatus.Created ||
											contract.value.agreementStatus === legalContractStatus.CreatedInDocuSign ||
											contract.value.agreementStatus === legalContractStatus.Completed ||
											contract.value.agreementStatus === legalContractStatus.Expired ||
											contract.value.agreementStatus === legalContractStatus.Voided ||
											contract.value.agreementStatus === legalContractStatus.Declined ||
											contract.value.processingPath == legalContractPath.ReceiveFromOtherParty;
										else voidAgreementOption
									">
                    <button class="menu-item red-color" mat-menu-item
                        (click)="openDeleteAgreementDialog(contract.value.agreementId)">
                        <mat-icon svgIcon="legal-contract-remove"></mat-icon>
                        Delete
                    </button>
                </ng-container>
                <ng-template #voidAgreementOption>
                    <button class="menu-item red-color" mat-menu-item
                        (click)="openVoidAgreementDialog(contract.value.agreementId)">
                        <mat-icon svgIcon="legal-contract-remove"></mat-icon>
                        Void
                    </button>
                </ng-template>
            </mat-menu>
        </div>
    </ng-container>
</div>

    <ng-template #noDataTemplate>-</ng-template>
</ng-container>
