<div fxLayout="row" fxLayoutAlign="start start" class="primary-workflow">
    <div fxFlex="20%" class="workflow-navigation--wrapper">
        <ng-scrollbar>
            <mat-accordion class="workflow-sidenav--expansion" [togglePosition]="'before'">
                <mat-expansion-panel class="mat-elevation-z0" *ngFor="let item of sideNavigation; index as i" [expanded]="sectionIndex === i" (click)="sectionIndex === i ? $event.preventDefault() : ''" (opened)="changeSideSection(item, i)">
                    <mat-expansion-panel-header [collapsedHeight]="'80px'" [expandedHeight]="'80px'">
                        <div fxLayout="row" fxLayoutAlign="space-between start" class="u-w--100">
                            <div class="sidenav-expansion--header">
                                <span class="flex-row">
                                    <mat-icon [svgIcon]="item.name"></mat-icon>
                                    <span class="sidenav-expansion--header__name">
                                        {{item.displayName}}
                                    </span>
                                </span>
                                <span class="sidenav-expansion--header__person">
                                    {{item.responsiblePerson}}
                                </span>
                                <span class="sidenav-expansion--header__date">
                                    {{item.dateRange}}
                                </span>
                            </div>
                            <div *ngIf="item.name === 'workflowEdit' || item.name === 'workflowTerminate'">
                                <button mat-icon-button [matMenuTriggerFor]="consultantMenu" type="button" (click)="$event.stopPropagation();" class="workflow-icon--actions-treedot u-mr--16"><mat-icon>more_horiz</mat-icon></button>
                                <mat-menu #consultantMenu>
                                    <button
                                        class="menu-item menu-item--delete"
                                        mat-menu-item
                                        [disabled]="false"
                                        (click)="deleteSideSection(item)">
                                        <mat-icon>clear</mat-icon>
                                        Delete
                                    </button>
                                </mat-menu>
                            </div>
                        </div>
                    </mat-expansion-panel-header>
                    <div class="workflow-navigation">
                        <div class="workflow-navigation--step u-mb--10" *ngFor="let step of item.subItems; let i = index;"
                            (click)="changeStepSelection(step.name, step.id, step.enumStepValue)"
                            [ngClass]="{'active-step': step.name === selectedStep, 'completed-step': step.isCompleted}">
                            <div fxLayout="column" fxLayoutAlign="start start">
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <app-manager-search
                                        (click)="$event.stopPropagation()"
                                        [formFieldLabel]="step.name + ' Manager'"
                                        [managerSearchType]="step.enumStepValue"
                                        [managerStatus]="i % 2 === 0 ? managerStatus.Pending : managerStatus.Completed">
                                    </app-manager-search>

                                    <span class="workflow-navigation--step__name">
                                        {{step.displayName}}
                                    </span>
                                </div>
                                <div fxLayout="column" fxLayoutAlign="start start" class="u-ml--55" *ngIf="step.name === selectedStep">
                                    <div *ngFor="let anchor of step.menuAnchors"
                                         class="workflow-navigation--step__anchor u-mb--10"
                                         (click)="changeAnchorSelection(anchor.name)"
                                         [ngxScrollTo]="anchor.value"
                                         [ngClass]="{'active-anchor': anchor.name === selectedAnchor}">
                                        {{anchor.name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </ng-scrollbar>
    </div>
    <div fxFlex="80%" id="step-container">
        <ng-container [ngSwitch]="selectedStepEnum">
            <ng-container *ngSwitchCase="workflowSteps.Sales">
                <app-workflow-sales #workflowSales [workflowId]="workflowId" [activeSideSection]="selectedSideSection"></app-workflow-sales>
            </ng-container>
            <ng-container *ngSwitchCase="workflowSteps.Contracts">
                <app-workflow-contracts #workflowContracts [workflowId]="workflowId" [activeSideSection]="selectedSideSection"></app-workflow-contracts>
            </ng-container>
            <ng-container *ngSwitchCase="workflowSteps.Finance">
                <app-workflow-finances #workflowFinances [workflowId]="workflowId" [activeSideSection]="selectedSideSection"></app-workflow-finances>
            </ng-container>
            <ng-container *ngSwitchCase="workflowSteps.Sourcing">
                <app-workflow-sourcing #workflowSourcing [activeSideSection]="selectedSideSection"></app-workflow-sourcing>
            </ng-container>
        </ng-container>
        <!-- <ng-container [ngSwitch]="selectedStep">
            <ng-container *ngSwitchCase="'Sales'">
                <app-workflow-sales #workflowSales [workflowId]="workflowId" [activeSideSection]="workflowSideSections.StartWorkflow"></app-workflow-sales>
            </ng-container>
            <ng-container *ngSwitchCase="'Contracts'">
                <app-workflow-contracts #workflowContracts [workflowId]="workflowId" [activeSideSection]="workflowSideSections.StartWorkflow"></app-workflow-contracts>
            </ng-container>
            <ng-container *ngSwitchCase="'Finance'">
                <app-workflow-finances #workflowFinances [workflowId]="workflowId" [activeSideSection]="workflowSideSections.StartWorkflow"></app-workflow-finances>
            </ng-container>

            <ng-container *ngSwitchCase="'EditWorkflowSales'">
                <app-workflow-sales #workflowEditSales [workflowId]="workflowId" [changeWorkflow]="true"></app-workflow-sales>
            </ng-container>
            <ng-container *ngSwitchCase="'EditWorkflowContracts'">
                <app-workflow-contracts #workflowEditContracts [workflowId]="workflowId" [changeWorkflow]="true"></app-workflow-contracts>
            </ng-container>

            <ng-container *ngSwitchCase="'AddConsultantSales'">
                <app-workflow-sales #workflowEditSales [workflowId]="workflowId" [addConsultant]="true"></app-workflow-sales>
            </ng-container>
            <ng-container *ngSwitchCase="'AddConsultantContracts'">
                <app-workflow-contracts #workflowEditContracts [workflowId]="workflowId" [addConsultant]="true"></app-workflow-contracts>
            </ng-container>
            <ng-container *ngSwitchCase="'AddConsultantFinance'">
                <app-workflow-finances #workflowEditFinances [workflowId]="workflowId" [addConsultant]="true"></app-workflow-finances>
            </ng-container>

            <ng-container *ngSwitchCase="'ChangeConsultantSales'">
                <app-workflow-sales #workflowEditSales [workflowId]="workflowId" [changeConsultant]="true"></app-workflow-sales>
            </ng-container>
            <ng-container *ngSwitchCase="'ChangeConsultantContracts'">
                <app-workflow-contracts #workflowEditContracts [workflowId]="workflowId" [changeConsultant]="true"></app-workflow-contracts>
            </ng-container>

            <ng-container *ngSwitchCase="'ExtendConsultantSales'">
                <app-workflow-sales #workflowEditSales [workflowId]="workflowId" [activeSideSection]="workflowSideSections.ExtendConsultant"></app-workflow-sales>
            </ng-container>
            <ng-container *ngSwitchCase="'ExtendConsultantContracts'">
                <app-workflow-contracts #workflowEditContracts [workflowId]="workflowId" [activeSideSection]="workflowSideSections.ExtendConsultant"></app-workflow-contracts>
            </ng-container>

            <ng-container *ngSwitchCase="'TerminateConsultantSales'">
                <app-workflow-sales #workflowEditSales [workflowId]="workflowId" [activeSideSection]="workflowSideSections.TerminateConsultant"></app-workflow-sales>
            </ng-container>
            <ng-container *ngSwitchCase="'TerminateConsultantContracts'">
                <app-workflow-contracts #workflowEditContracts [workflowId]="workflowId" [activeSideSection]="workflowSideSections.TerminateConsultant"></app-workflow-contracts>
            </ng-container>

            <ng-container *ngSwitchDefault>
            </ng-container>

        </ng-container> -->
    </div>
</div>
