<div fxLayout="row" fxLayoutAlign="start start" class="workflow">
    <div fxFlex="20%">
        <mat-list>
            <mat-list-item *ngFor="let step of workflowSteps | keyvalue; let i = index;" (click)="changeStepSelection(step.value, step.key)" [ngClass]="{'active-step': step.value === selectedStep}">
                {{step.value}}
            </mat-list-item>
            <!-- <mat-list-item (click)="selectedStep = 'Contracts'">
                Contracts
            </mat-list-item>
            <mat-list-item (click)="selectedStep = 'Accounts'">
                Accounts
            </mat-list-item> -->
        </mat-list>
    </div>
    <div fxFlex="80%">
        <ng-container *ngIf="selectedStep === 'Sales'">
            <app-workflow-sales [workflowId]="workflowId"></app-workflow-sales>
        </ng-container>
        <ng-container *ngIf="selectedStep === 'Contracts'">
            <app-workflow-contracts></app-workflow-contracts>
        </ng-container>
        <ng-container *ngIf="selectedStep === 'Accounts'">
            <app-workflow-sales [workflowId]="workflowId"></app-workflow-sales>
        </ng-container>
    </div>
</div>
