
@import 'mixins';
@import 'variables';

span:not(:first-child) {
	right: 20px;
}
.circle-counter {
	width: 32px;
	height: 32px;
	position: relative;
	background-color: #4a4e60;
	border-radius: 50%;
	color: rgb(255, 255, 255);
}
.tenant {
    @include big-icon;
}
.trigger-button {
	width: 24px;
	height: 24px;
}
.tenant-menu {
	display: flex;
	align-items: center;
}
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}