span:not(:first-child) {
	right: 20px;
}
.circle-counter {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	background-color: #4a4e60;
	border-radius: 50%;
	color: rgb(255, 255, 255);
}
.tenant {
	width: 40px;
	height: 30px;
	border-radius: 50%;
}
.trigger-button {
	width: 24px;
	height: 24px;
}
.tenant-menu {
	width: 213px;
	display: flex;
	align-items: center;
}
.tooltip-container {
    box-shadow: 7px 7px 7px 7px #00000005;
    border: 1px solid #E7E3E8;
    background-color: #fff;
}
