<ng-container *ngIf="{ isLoading: isLoading$ | async } as viewModel">
	<div id="request-hub__filter__dropdown__teams-and-divisions">
		<div class="h-8 w-8 flex-items-center flex-justify-center" matTooltip="Divisions & Teams" matTooltipClass="white-tooltip">
			<button
				type="button"
				mat-icon-button
				cdkOverlayOrigin
				#trigger="cdkOverlayOrigin"
				class="border-rounded-50 w-30px h-30px"
				appPreventDoubleClick
				(throttledClick)="isOpened$.next(true)">
				<ng-container *ngIf="selectedCount === 0">
					<img class="bg-cover" src="assets/common/images/teams-and-divisions.svg" />
				</ng-container>
				<ng-container *ngIf="selectedCount > 0">
					<div class="border-rounded-50 w-30px h-30px flex-items-center flex-justify-center bg-green">
						<span class="white-color text-600"> {{ selectedCount }}</span>
					</div>
				</ng-container>
			</button>
		</div>
		<ng-template
			cdkConnectedOverlay
			[cdkConnectedOverlayOrigin]="trigger"
			[cdkConnectedOverlayOpen]="isOpened$ | async"
			cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
			[cdkConnectedOverlayHasBackdrop]="true"
			(detach)="isOpened$.next(false)"
			(backdropClick)="isOpened$.next(false)">
			<emg-tree-multiselect [formControl]="valueControl" [isLoading]="viewModel.isLoading">
				<ng-template #treeNode let-node>
					<div class="flex-items-center">
						<ng-container *ngIf="node.isTenant">
							<tenant-flag-cell [tenantId]="node.id"></tenant-flag-cell>
						</ng-container>
						<span class="light-black-color text-500 u-mt--4" [class.ml-2]="node.isTenant" [class.u-mt--1]="node.isTenant">{{
							node.name
						}}</span>
					</div>
				</ng-template>
			</emg-tree-multiselect>
		</ng-template>
	</div>
</ng-container>
