@import "/src/app/shared/styles/config/_colors";
@import "../workflow.component";

.workflow {
    &-contracts {
        .absolute-edit-toggle {
            position: fixed;
            right: 50px;
            top: 250px;
            border-radius: 50%;
            background-color: rgba($color: #72a0f8, $alpha: 0.2);
            color: #72a0f8;
        }
        .rates-and-fees--btn {
            width: 180px;
        }
        &--process-data {
            padding: 30px;
        }
        &--consultant {
            &-name {
                font-weight: 800;
                font-size: 16px;
                color: $dark-grey-color;
            }
            &-img {
                border-radius: 50%;
            }
            @media screen and (max-width: 1366px) {
                &-name {
                    font-size: 14px;
                }
            }
        }
        &--block {
            &-consultants:not(:last-child) {
                border-bottom: 1px solid $sand-color;
                margin-bottom: 20px;
            }
        }
        &--list {
            height: 60px;
            padding: 0 8px;
            background-color: #fff;
            border: solid 1px #e7e3e8;

            &-item {
                font-family: "Open Sans", sans-serif;
                font-weight: 700;
                font-size: 14px;
                line-height: 140%;
                color: #4a4e60;
            }

            &-header {
                font-family: "Open Sans", sans-serif;
                font-weight: 700;
                font-size: 12px;
                line-height: 14px;
                color: #898785;
            }
        }
    }
    &-form {
        // margin: 0 145px;
        &--main,
        &--sales,
        &--consultants,
        &--summary {

            border-bottom: 1px solid #E7E3E8;
            .workflow-darkblue--text {
                // margin-bottom: 8px !important;
                font-weight: bold;
                font-size: 16px;
                line-height: 16px;
                color: rgba(56, 72, 83, 0.87);
            }
            .workflow-gray--header {
                margin-bottom: 8px !important;
                font-weight: bold;
                font-size: 14px;
                line-height: 14px;
                color: #B6B4B2
            }
            @media screen and (max-width: 1366px) {
                .workflow-darkblue--text {
                    font-size: 14px;
                }
                .workflow-gray--header {
                    font-size: 12px;
                }
            }
        }
    }
    &-section--header {
        color: $light-grey-color;
        font-family: "Open Sans", sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 18px;
        margin-bottom: 20px;
        &-main {
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            font-size: 20px;
            line-height: 120%;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $dark-grey-color;
        }
        @media screen and (max-width: 1366px) {
            font-size: 14px;
            &-main {
                font-size: 18px;
            }
        }
    }

    &--termination {
        padding: 30px;
    }

}

.hide {
    display: none;
}

.icon {
    &-cancel {
        color: $red-color;
    }
    &-done {
        color: #B0FD5A;
    }
}

.sync-hint-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    color: $dark-grey-color;
}

// START remove after we will have correct icons

.termination-complete-icon {
    height: 22px !important;
    width: 22px !important;
    font-size: 21px !important;
    line-height: 21px !important;
}

.termination-cancel-icon {
    height: 21px !important;
    width: 21px !important;
    font-size: 21px !important;
    line-height: 21px !important;
    margin-left: 1px;
}

// END remove after we will have correct icons
