<div class="workflow-contracts">
    <ng-container [ngSwitch]="true">
        <ng-container
            *ngSwitchCase="activeSideSection.typeId === workflowSideSections.TerminateWorkflow || activeSideSection.typeId === workflowSideSections.TerminateConsultant">
            <div class="workflow--termination" id="contractTerminationData">
                <div fxLayout="column" fxLayoutAlign="start start" class="u-w--100" id="contractTerminationFinishContract">
                    <h1 class="workflow-section--header-main">Termination data</h1>
                    <div fxLayout="row" fxLayoutAlign="start center" class="u-mt--16 u-mb--16">
                        <span class="workflow-section--number">1</span>
                        <h2 class="workflow-section--header">Finish contract in PM</h2>
                    </div>
                    <div class="workflow-section--content">
                        <app-contracts-sync-data #syncDataComponent [readOnlyMode]="readOnlyMode" [activeSideSection]="activeSideSection"
                        (onSyncToLegacySystem)="processSyncToLegacySystem()" [contractClientForm]="clientDataComponent?.contractClientForm"></app-contracts-sync-data>

                        <form fxLayout="column" fxLayoutAlign="start start" [formGroup]="contractsTerminationConsultantForm" class="workflow-form u-w--100" id="consultantData">
                            <ng-container formArrayName="consultantTerminationContractData">
                                <ng-container *ngFor="let consultant of contractsTerminationConsultantForm.consultantTerminationContractData.controls; trackBy: trackByItem; index as i; last as last" [formGroupName]="i">
                                    <div class="workflow-contracts--block-consultants" [ngClass]="{'last-block': last}" [id]="'consultantDataAnchor' + i">
                                        <app-consultant-information [consultantData]="consultant?.value?.consultantData"></app-consultant-information>
                                        <div fxLayout="column" fxLayoutAlign="start start" class="u-w--100">
                                            <ng-container *ngIf="!readOnlyMode || consultant.get('removedConsultantFromAnyManualChecklists')?.value">
                                                <mat-checkbox required [disabled]="readOnlyMode" color="accent" name="removedConsultantFromAnyManualChecklists"
                                                    formControlName="removedConsultantFromAnyManualChecklists" class="black-checkbox u-mr--10"
                                                    [ngClass]="{'mat-form-field-invalid': consultant.get('removedConsultantFromAnyManualChecklists')!.touched && !consultant.get('removedConsultantFromAnyManualChecklists')!.valid}">
                                                    Removed Consultant from any manual checklists
                                                </mat-checkbox>
                                                <mat-error>
                                                    <ng-container *ngIf="consultant.get('removedConsultantFromAnyManualChecklists')!.touched && !consultant.get('removedConsultantFromAnyManualChecklists')!.valid">
                                                        <app-validator [withoutFormField]="true" [control]="consultant.get('removedConsultantFromAnyManualChecklists')"></app-validator>
                                                    </ng-container>
                                                </mat-error>
                                            </ng-container>
                                        </div>

                                        <div fxLayout="column" fxLayoutAlign="start start" class="u-w--100">
                                            <ng-container *ngIf="!readOnlyMode || consultant.get('deletedAnySensitiveDocumentsForGDPR')?.value">
                                                <mat-checkbox required [disabled]="readOnlyMode" color="accent" name="deletedAnySensitiveDocumentsForGDPR"
                                                    formControlName="deletedAnySensitiveDocumentsForGDPR" class="black-checkbox u-mr--10"
                                                    [ngClass]="{'mat-form-field-invalid': consultant.get('deletedAnySensitiveDocumentsForGDPR')!.touched && !consultant.get('deletedAnySensitiveDocumentsForGDPR')!.valid}">
                                                    Deleted any sensitive documents (GDPR)
                                                </mat-checkbox>
                                                <mat-error>
                                                    <ng-container *ngIf="consultant.get('deletedAnySensitiveDocumentsForGDPR')!.touched && !consultant.get('deletedAnySensitiveDocumentsForGDPR')!.valid">
                                                        <app-validator [withoutFormField]="true" [control]="consultant.get('deletedAnySensitiveDocumentsForGDPR')"></app-validator>
                                                    </ng-container>
                                                </mat-error>
                                            </ng-container>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                            <button #submitFormBtn class="display-none" type="submit">Hidden button to set form submitted</button>
                        </form>
                    </div>
                </div>
                <div fxLayout="column" fxLayoutAlign="start start" class="u-w--100" id="contractTerminationDocuments">
                    <div fxLayout="row" fxLayoutAlign="start center" class="u-mt--16 u-mb--16">
                        <span class="workflow-section--number">2</span>
                        <h2 class="workflow-section--header">Documents</h2>
                    </div>
                    <div class="workflow-section--content">
                        <app-documents #terminationDocuments [readOnlyMode]="readOnlyMode"></app-documents>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngSwitchDefault>
            <app-contracts-main-data #mainDataComponent (editModeToggled)="toggleEditMode(true)" [readOnlyMode]="readOnlyMode" [canToggleEditMode]="canToggleEditMode"></app-contracts-main-data>
            <app-contracts-client-data #clientDataComponent [readOnlyMode]="readOnlyMode"
                [hidden]="activeSideSection.typeId === workflowSideSections.StartConsultantPeriod || activeSideSection.typeId === workflowSideSections.ChangeConsultantPeriod || activeSideSection.typeId === workflowSideSections.ExtendConsultantPeriod"
                [periodId]="periodId"
                [clientSpecialRateList]="clientSpecialRateList"
                [contractsMainForm]="mainDataComponent?.contractsMainForm"
                [clientSpecialFeeList]="clientSpecialFeeList">
            </app-contracts-client-data>
            <app-contracts-consultant-data #consultantDataComponent [readOnlyMode]="readOnlyMode"
                [clientSpecialRateList]="clientSpecialRateList" [clientSpecialFeeList]="clientSpecialFeeList"
                [periodId]="periodId"
                [contractsMainForm]="mainDataComponent?.contractsMainForm"
                [contractClientForm]="clientDataComponent?.contractClientForm"></app-contracts-consultant-data>

            <app-contracts-sync-data #syncDataComponent [readOnlyMode]="readOnlyMode" [activeSideSection]="activeSideSection" [periodId]="periodId"
                [contractClientForm]="clientDataComponent?.contractClientForm" (onSyncToLegacySystem)="processSyncToLegacySystem()"></app-contracts-sync-data>

        </ng-container>
    </ng-container>
</div>

