@import "/src/app/shared/styles/config/_colors";
@import "/src/app/shared/styles/config/_mixins";
@import "../workflow.component";

.workflow {
    &-contracts {
        .absolute-edit-toggle {
            position: fixed;
            right: calc(20% + 100px);
            top: 250px;
            border-radius: 50%;
            background-color: rgba($color: #72a0f8, $alpha: 0.2);
            color: #72a0f8;
        }
        .rates-and-fees--btn {
            width: 180px;
        }
        &--process-data {
            padding: 30px;
        }
        &--consultant {
            &-name {
                @include fontOpenSans(14px, 800);
                color: $dark-grey-color;
            }
            &-img {
                border-radius: 50%;
            }
            &-text {
                @include fontOpenSans(12px, 600);
                line-height: 150%;
                color: rgba(56, 72, 83, 0.87);
            }
        }
        &--block {
            &-consultants:not(:last-child) {
                border-bottom: 1px solid $sand-color;
                margin-bottom: 20px;
            }
        }
        &--list {
            height: 50px;
            border: 1px solid $sand-color;
            padding: 0 8px;
            background-color: $white-color;

            &-item {
                @include fontOpenSans(14px, 700);
                line-height: 140%;
                color: #4a4e60;
            }

            &-header {
                @include fontOpenSans(12px, 700);
                line-height: 14px;
                color: #898785;
            }
        }
    }
    &-form {
        &--main,
        &--sales,
        &--consultants,
        &--summary {

            border-bottom: 1px solid $sand-color;
            .workflow-darkblue--text {
                @include fontOpenSans(14px, 700);
                line-height: 14px;
                color: rgba(56, 72, 83, 0.87);
            }
            .workflow-gray--header {
                @include fontOpenSans(14px, 700);
                margin-bottom: 8px !important;
                line-height: 14px;
                color: #B6B4B2
            }
        }
    }
    &-section--header {
        color: $light-grey-color;
        @include fontOpenSans(16px, 'inherit');
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 20px;
        &-main {
            @include fontOpenSans(18px, 700);
            line-height: 120%;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $dark-grey-color;
        }
    }

    &--termination {
        padding: 30px;
    }

}

.hide {
    display: none;
}

.icon {
    &-cancel {
        color: $red-color;
    }
    &-done {
        color: #B0FD5A;
    }
}

.sync-hint-text {
    @include fontOpenSans(12px, 700);
    line-height: 150%;
    color: $dark-grey-color;
}

// START remove after we will have correct icons

.termination-complete-icon {
    height: 22px !important;
    width: 22px !important;
    font-size: 21px !important;
    line-height: 21px !important;
}

.termination-cancel-icon {
    height: 21px !important;
    width: 21px !important;
    font-size: 21px !important;
    line-height: 21px !important;
    margin-left: 1px;
}

// END remove after we will have correct icons

.project-line--expansion-additional {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 12px;
    &__header {
        color: $medium-grey-color;
    }
    &__content {
        color: $dark-grey-color;
    }
}