<div class="popup-container">
	<div class="flex-container">
		<div class="upper-part">
			<h2 class="popup-header">Send via DocuSign</h2>
			<p class="description">You are sending agreements via email. Please review the email message and it’s formatting:</p>
			<emg-dropdown-autocomplete-single-select
				label="Email template"
				labelKey="name"
				[required]="false"
				[isOptionsLoading]="selectLoading$"
				[options]="selectEntities$ | async"
				[formControl]="templateControl"
				[unwrapFunction]="unwrapFunction"
				(inputEmitter)="searchTemplate($event)">
				<ng-template let-cell="option" #optionTemplate>
					<div>
						<div class="autocomplete-first-row">
							<span> {{ cell.name }} </span>
						</div>
					</div>
				</ng-template>
			</emg-dropdown-autocomplete-single-select>
			<mat-form-field appearance="outline">
				<mat-label>Subject</mat-label>
				<input matInput [formControl]="emailSubjectControl" />
			</mat-form-field>
		</div>
		<mat-form-field appearance="outline" class="textarea-form-field">
			<mat-label>Email message</mat-label>
			<textarea matInput [formControl]="emailBodyControl" cdkTextareaAutosize #autosize="cdkTextareaAutosize"></textarea>
		</mat-form-field>
	</div>
</div>
<div class="bottom-part">
	<mat-divider class="divider"></mat-divider>
	<div mat-dialog-actions class="actions">
		<button mat-button [mat-dialog-close]="false" class="close-button">Cancel</button>
		<button mat-raised-button [mat-dialog-close]="true" class="confirm-button">Confirm</button>
	</div>
</div>
