<div class="workflow-finances u-w--100">
    <button class="absolute-edit-toggle" mat-icon-button *ngIf="canToggleEditMode" appPreventDoubleClick (throttledClick)="toggleEditMode()"><mat-icon svgIcon="edit-icon"></mat-icon></button>
    <ng-container *ngIf="activeSideSection.typeId !== workflowSideSections.StartConsultantPeriod">
        <form fxLayout="column" fxLayoutAlign="start start" [formGroup]="financesClientForm" class="workflow-form u-w--100">
            <div class="workflow-finances--block">
                <div fxLayout="column" fxLayoutAlign="start start" class="u-w--100">
                    <h1 class="workflow-section--header-main">Finance data</h1>
                    <div fxLayout="row" fxLayoutAlign="start center" class="u-mt--16 u-mb--16">
                        <span class="workflow-section--number">1</span>
                        <h2 class="workflow-section--header">Client (debitor)</h2>
                    </div>
                    <div class="workflow-section--content">
                        <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100" *ngIf="!readOnlyMode || financesClientForm.clientCreatedInNavision">
                            <mat-checkbox [disabled]="readOnlyMode" required color="accent" formControlName="clientCreatedInNavision" name="clientCreatedInNavision" class="black-checkbox u-mr--10">
                                Client (debitor) created in Navision
                            </mat-checkbox>
                            <mat-error>
                                <ng-container *ngIf="financesClientForm.clientCreatedInNavision!.touched && !financesClientForm.clientCreatedInNavision!.valid">
                                    <app-validator [withoutFormField]="true" [control]="financesClientForm.clientCreatedInNavision"></app-validator>
                                </ng-container>
                            </mat-error>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100">
                            <mat-form-field appearance="outline" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--12" fxFlex="35%">
                                <mat-label>Project Type (Legacy)</mat-label>
                                <mat-select [disabled]="readOnlyMode" formControlName="differentDebtorNumberForInvoicing" [disableOptionCentering]="true">
                                    <mat-option [value]="false">
                                        Same as client
                                    </mat-option>
                                    <mat-option [value]="true">
                                        Custom
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    <app-validator [control]="financesClientForm.differentDebtorNumberForInvoicing"></app-validator>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100" [fxHide]="!financesClientForm.differentDebtorNumberForInvoicing?.value">
                            <mat-form-field appearance="outline" class="u-w--100  u-mr--16" fxFlex="35%" [ngClass]="{'disabled-input': readOnlyMode}">
                                <mat-label>Debitor number</mat-label>
                                <input [disabled]="readOnlyMode" [required]="financesClientForm.differentDebtorNumberForInvoicing?.value" autocomplete="off" matInput formControlName="customDebtorNumber" type="text">
                                <mat-error>
                                    <app-validator [control]="financesClientForm.customDebtorNumber"></app-validator>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ng-container>
    <mat-divider class="u-w--100"></mat-divider>
    <form fxLayout="column" fxLayoutAlign="start start" [formGroup]="financesConsultantsForm" class="workflow-form u-w--100" id="consultantData">
        <ng-container formArrayName="consultants">
            <div class="workflow-finances--block" *ngIf="financesConsultantsForm.consultants.controls?.length">
                <div fxLayout="column" fxLayoutAlign="start start" class="u-w--100">
                    <div fxLayout="row" fxLayoutAlign="start center" class="u-mt--16 u-mb--16">
                        <span class="workflow-section--number">2</span>
                        <h2 class="workflow-section--header">Consultants</h2>
                    </div>
                    <div class="workflow-section--content">
                        <div *ngFor="let consultant of financesConsultantsForm.consultants.controls; let i = index; last as last" [formGroupName]="i" class="workflow-finances--block-consultants u-w--100" [ngClass]="{'last-block': last}">
                            <app-consultant-information [consultantData]="consultant?.value?.consultant"></app-consultant-information>
                            <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--10"*ngIf="!readOnlyMode || consultant.get('checkInvoicingSettingsOnConsultant')?.value">
                                <mat-checkbox [disabled]="readOnlyMode" color="accent" formControlName="checkInvoicingSettingsOnConsultant" name="checkInvoicingSettingsOnConsultant" class="black-checkbox u-mr--10">
                                    Check invoicing settings on consultant
                                </mat-checkbox>
                                <mat-error>
                                    <ng-container *ngIf="consultant.get('checkInvoicingSettingsOnConsultant')!.touched && !consultant.get('checkInvoicingSettingsOnConsultant')!.valid">
                                        <app-validator [withoutFormField]="true" [control]="consultant.get('checkInvoicingSettingsOnConsultant')"></app-validator>
                                    </ng-container>
                                </mat-error>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20" *ngIf="!readOnlyMode || consultant.get('creditorCreatedInNavision')?.value">
                                <mat-checkbox [disabled]="readOnlyMode" required color="accent" formControlName="creditorCreatedInNavision" name="creditorCreatedInNavision" class="black-checkbox u-mr--10">
                                    Consultant company (creditor) created in Navision
                                </mat-checkbox>
                                <mat-error>
                                    <ng-container *ngIf="consultant.get('creditorCreatedInNavision')!.touched && !consultant.get('creditorCreatedInNavision')!.valid">
                                        <app-validator [withoutFormField]="true" [control]="consultant.get('creditorCreatedInNavision')"></app-validator>
                                    </ng-container>
                                </mat-error>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </form>
</div>
