<div fxLayout="row" fxLayoutAlign="start center" class="u-mb--20">
    <img class="border-rounded-50 image-thumbnail-responsive u-mr--16"
        [src]="consultantProfileUrl(consultantData?.externalId)" *ngIf="!onlyAdditionalInfo">
    <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="start center" *ngIf="!onlyAdditionalInfo">
            <p class="consultant--name">
                {{consultantData?.name}}
            </p>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start center" class="consultant--information u-w--100">
            <ng-container *ngIf="consultantData?.companyName">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <span class="consultant--information-label u-mr--5">
                        Copmpany name:
                    </span>
                    <span class="consultant--information-value u-mr--5">
                        {{consultantData?.companyName}}
                    </span>
                    <span class="consultant--information-label u-mr--5">
                        {{consultantData?.city || consultantData?.id || consultantData?.supplierId ? '| ' : ''}}
                    </span>
                </div>
            </ng-container>
            <ng-container *ngIf="consultantData?.city">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <span class="consultant--information-label u-mr--5">
                        Address:
                    </span>
                    <span class="consultant--information-value u-mr--5">
                        {{consultantData?.city}}
                    </span>
                    <span class="consultant--information-label u-mr--5">
                        {{consultantData?.id || consultantData?.supplierId ? '| ' : ''}}
                    </span>
                </div>
            </ng-container>
            <ng-container *ngIf="consultantData?.id">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <span class="consultant--information-label u-mr--5">
                        Consultant ID:
                    </span>
                    <span class="consultant--information-value">
                        # {{consultantData?.id}} {{consultantData?.legacyId ? ' / ' + tenantEnum[consultantData?.tenantId] + '-' + consultantData?.legacyId : ''}}
                    </span>
                    <button *ngIf="consultantData?.id" mat-icon-button class="consultant-deeplink--btn" appPreventDoubleClick
                        (throttledClick)="$event.stopPropagation(); deepLinkToSourcing(consultantData?.id)" matTooltip="Preview in Sourcing"
                        matTooltipClass="white-tooltip">
                        <mat-icon svgIcon="sourcing-deeplink"></mat-icon>
                    </button>
                    <span class="consultant--information-label u-mr--5">
                        {{consultantData?.supplierId ? '| ' : ''}}
                    </span>
                </div>
            </ng-container>
            <ng-container *ngIf="consultantData?.supplierId">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <span class="consultant--information-label u-mr--5">
                        Supplier ID:
                    </span>
                    <span class="consultant--information-value">
                        {{consultantData?.supplierId}}
                    </span>
                    <button *ngIf="consultantData?.id" mat-icon-button class="consultant-deeplink--btn" appPreventDoubleClick
                        (throttledClick)="$event.stopPropagation(); openSupplierProfile(consultantData?.supplierId)" matTooltip="Link to Supplier Profile"
                        matTooltipClass="white-tooltip">
                        <mat-icon svgIcon="supplier-icon"></mat-icon>
                    </button>
                </div>
            </ng-container>
        </div>
    </div>
</div>
