<div fxLayout="row" fxLayoutAlign="start center" class="u-mb--20">
    <img class="border-rounded-50 image-thumbnail-responsive u-mr--16"
        [src]="consultantProfileUrl(consultantData?.externalId)">
    <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="start center">
            <p class="consultant--name">
                {{consultantData?.name}}
            </p>
            <button *ngIf="consultantData?.id" mat-icon-button class="consultant-deeplink--btn" appPreventDoubleClick
                (throttledClick)="$event.stopPropagation(); deepLinkToSourcing(consultantData?.id)"
                matTooltip="Preview in Sourcing" matTooltipClass="white-tooltip">
                <mat-icon svgIcon="sourcing-deeplink"></mat-icon>
            </button>
        </div>
        <span class="consultant--information">
            {{consultantData?.companyName}}  {{consultantData?.city && consultantData?.companyName ? '| ' + consultantData?.city : ''}}, {{tenantEnum[consultantData?.tenantId]}} |
            #{{consultantData?.id}} / {{tenantEnum[consultantData?.tenantId]}}-{{consultantData?.legacyId}}
        </span>
    </div>
</div>
