<dx-tab-panel
  #tabPanel
  [height]="'auto'"
  [selectedIndex]="0"
  [loop]="false"
>
  <dxi-item title="File">
    <div *dxTemplate>
      <div [innerHTML]="template$ | async"></div>
      <!-- component -->
    </div>
  </dxi-item>

  <dxi-item title="Format">
    <div *dxTemplate>
      <!-- component -->
    </div>
  </dxi-item>

  <dxi-item title="Merge Fields">
    <div *dxTemplate>
      <!-- component -->
    </div>
  </dxi-item>

  <dxi-item title="Compare" icon="">
    <div *dxTemplate>
      <!-- component -->
    </div>
  </dxi-item>

  <dxi-item title="View" icon="">
    <div *dxTemplate>
      <!-- component -->
    </div>
  </dxi-item>
</dx-tab-panel>
