.save-actions {
  display: flex;
  align-items: center;
  padding: 10px 60px 30px 60px;

  button {
    height: 39px;
    padding: 0 16px;
    background: #17A297;
    border: 1px solid;
    border-radius: 100px;
    outline: none;
    color: white;
    cursor: pointer;

    &:first-child {
      margin-right: auto;
      background: none;
      color: grey;
    }

    &:last-child {
      margin-left: 34px;
    }
  }

  &.loading {
    &::after {
      content: 'saving...';
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      background: grey;
      opacity: .4;
      color: white;
      width: 92%;
      height: 70px;
      font-size: 26px;
    }
  }
}
