@import "/src/app/shared/styles/config/_colors";

.inactive-status {
    color: #ffda44;
}

.active-status {
    color: $green-color;
}

.deleted-status {
    color: rgba($color: $red-color, $alpha: .5);
}

.icon-arrow-rotate180 {
    transform: rotateY(180deg);
}