@import "/src/app/shared/styles/config/_colors";
@import "/src/app/shared/styles/config/_mixins";

.inactive-status {
    color: #ffda44;
}

.active-status {
    color: $green-color;
}

.deleted-status {
    color: rgba($color: $red-color, $alpha: .5);
}

.icon-arrow-rotate180 {
    transform: rotateY(180deg);
}

.contact-deleted-row {
    background-color: rgba(255, 122, 120, 0.05);
}

.status {
    &-dot {
        @include fontLineHeightAndSize(16px, 18px, 16px, 16px);
        &.not-active-flag {
            color: $light-grey-color;
        }
        &.active-flag {
            color: $green-color;
        }
        &.deleted-flag {
            color: #FF7A78;
        }
        &.wrong-deleted-flag {
            color: #F80830;
        }
        &.green-dot {
            color: $green-color;
        }
        &.grey-dot {
            color: $light-grey-color;
        }
    }

}
