<div class="client-contacts">
    <div fxLayout="column" fxLayoutAlign="start center" class="client-contacts--table u-w--100">
        <div fxLayout="column" fxFlexFill>
            <form [formGroup]="clientContactForm" class="inline-edit-form">
                <mat-table #table formArrayName="addresses" [dataSource]="clientContactsDataSource" class="white-table u-w--100">
                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef fxFlex="60px" fxLayoutAlign="center center"> ID </mat-header-cell>
                        <mat-cell *matCellDef="let row" fxFlex="60px" fxLayoutAlign="center center" [matTooltip]="row?.id" matTooltipClass="white-tooltip" appShowIfTruncated>
                            {{row?.id}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef fxFlex="40px"></mat-header-cell>
                        <mat-cell *matCellDef="let row" fxFlex="40px" fxLayoutAlign="center center">
                            <ng-container *ngIf="row.isWrongfullyDeletedInHubspot">
                                <mat-icon [matTooltip]="(row.isDeleted ? 'Not-active' : 'Active') + ', ' + 'Wrongfully deleted'" matTooltipClass="white-tooltip" class="status-dot wrong-deleted-flag">fiber_manual_record</mat-icon>
                            </ng-container>
                            <ng-container *ngIf="!row.isWrongfullyDeletedInHubspot && !row.isDeleted">
                                <mat-icon  matTooltip="Active" matTooltipClass="white-tooltip" class="status-dot active-flag">fiber_manual_record</mat-icon>
                            </ng-container>
                            <ng-container  *ngIf="row.isDeleted">
                                <mat-icon matTooltip="Deleted" matTooltipClass="white-tooltip" class="status-dot deleted-flag">fiber_manual_record</mat-icon>
                            </ng-container>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef fxFlex> Name </mat-header-cell>
                        <mat-cell *matCellDef="let row" fxFlex>
                            <span class="text-truncate-ellipsis text-bold-800" [matTooltip]="row?.firstName && row?.lastName ? row?.firstName + ' ' + row?.lastName : '-'" matTooltipClass="white-tooltip" appShowIfTruncated>
                                {{row?.firstName && row?.lastName ? row?.firstName + ' ' + row?.lastName : '-'}}
                            </span>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="title">
                        <mat-header-cell *matHeaderCellDef fxFlex="220px"> Title </mat-header-cell>
                        <mat-cell *matCellDef="let row" fxFlex="220px">
                            <span class="text-truncate-ellipsis" [matTooltip]="row?.jobTitle?.length ? row?.jobTitle : '-'" matTooltipClass="white-tooltip" appShowIfTruncated>
                                {{row?.jobTitle?.length ? row?.jobTitle : '-'}}
                            </span>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef fxFlex="180px"> Email </mat-header-cell>
                        <mat-cell *matCellDef="let row" fxFlex="180px">
                            <span class="text-truncate-ellipsis" [matTooltip]="row?.email?.length ? row?.email : '-'" matTooltipClass="white-tooltip" appShowIfTruncated>
                                {{row?.email?.length ? row?.email : '-'}}
                            </span>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="phone">
                        <mat-header-cell *matHeaderCellDef fxFlex="150px"> Phone </mat-header-cell>
                        <mat-cell *matCellDef="let row" fxFlex="150px">
                            <span class="text-truncate-ellipsis" [matTooltip]="row?.mobilePhone?.length ? row?.mobilePhone : '-'" matTooltipClass="white-tooltip" appShowIfTruncated>
                                {{row?.mobilePhone?.length ? row?.mobilePhone : '-'}}
                            </span>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="address">
                        <mat-header-cell *matHeaderCellDef fxFlex="200px"> Address </mat-header-cell>
                        <mat-cell *matCellDef="let row; let rowIndex = index" fxFlex="200px" [formGroupName]="rowIndex">
                            <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select invisible-input">
                                <mat-select formControlName="address" placeholder="-" [disableOptionCentering]="true" [compareWith]="compareWithFn" (selectionChange)="selectContactAddress($event, row)">
                                    <ng-container *ngIf="addresses.at(rowIndex).get('address').value">
                                        <mat-option class="mat-select-clear-option" [value]="undefined">
                                            Clear
                                        </mat-option>
                                    </ng-container>
                                    <ng-container *ngFor="let item of clientAddresses; trackBy: trackById" >
                                        <mat-option [value]="item.id">
                                            {{ item.address }}
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="lastCamLogin">
                        <mat-header-cell *matHeaderCellDef fxFlex="100px"> Last CAM Login </mat-header-cell>
                        <mat-cell *matCellDef="let row" fxFlex="100px">
                            <span class="text-truncate-ellipsis" [matTooltip]="row?.lastCamLogin !== undefined && row?.lastCamLogin !== null ? (row?.lastCamLogin| momentFormat) : '-'" matTooltipClass="white-tooltip" appShowIfTruncated>
                                {{row?.lastCamLogin !== undefined && row?.lastCamLogin !== null ? (row?.lastCamLogin| momentFormat) : '-'}}
                            </span>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="owner">
                        <mat-header-cell *matHeaderCellDef fxFlex="80px" fxLayoutAlign="center center"> Owner </mat-header-cell>
                        <mat-cell *matCellDef="let row" fxFlex="80px" fxLayoutAlign="center center">
                            <img class="image-settings--dropdown" [matTooltip]="row?.owner?.name" matTooltipClass="white-tooltip" [ngSrc]="employeePhotoUrl + row?.owner?.externalId! + '.jpg'" width="24" height="24" src (error)="setDefaultImage($event.target)" />
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="clientDisplayColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: clientDisplayColumns;" class="mat-elevation-z0" [ngClass]="{'contact-deleted-row': row?.isWrongfullyDeletedInHubspot}"></mat-row>
                </mat-table>
            </form>
            <div class="spinner-container" *ngIf="isDataLoading">
                <mat-spinner [diameter]="50"></mat-spinner>
            </div>
            <div class="results-not-found" *ngIf="totalCount === 0 && !isDataLoading">
                RESULTS NOT FOUND
            </div>
        </div>
    </div>
</div>
