<mat-dialog-content class="confiramtion-dialog">
    <div mat-dialog-title class="confiramtion-dialog--header" align="center">
        {{ data.dialogTitle }}
    </div>
    <!-- <div fxLayout="row" fxLayoutAlign="start center">
        <img class="border-rounded-50 u-mr--16" src="https://picsum.photos/35/35" />
        <p>{{consultant.consultantName ?? 'N/A'}}</p>
    </div> -->
    <ng-container [ngSwitch]="data.dialogType">
        <ng-container *ngSwitchCase="dialogTypes.Add">
            <h3>Select start and end dates</h3>
            <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="16px" class="u-w--100">
                <mat-form-field appearance="outline" fxFlex="50%">
                    <mat-label>Start date</mat-label>
                    <input autocomplete="off" matInput
                            [matDatepicker]="startDatePicker"
                            name="clientExtensionEndDate" [formControl]="startDate"
                            (focus)="startDatePicker.open()"
                            (click)="startDatePicker.open()" readonly>
                    <mat-icon class="calendar-icon" matSuffix svgIcon="calendar"></mat-icon>
                    <mat-datepicker #startDatePicker></mat-datepicker>
                </mat-form-field>

                <div fxLayout="column" fxLayoutAlign="start start" fxFlex="50%">
                    <mat-form-field appearance="outline">
                        <mat-label>End date</mat-label>
                        <input autocomplete="off" matInput
                                [matDatepicker]="endDatePicker"
                                name="clientExtensionEndDate" [formControl]="endDate"
                                (focus)="endDatePicker.open()"
                                (click)="endDatePicker.open()" readonly>
                        <mat-icon class="calendar-icon" matSuffix svgIcon="calendar"></mat-icon>
                        <mat-datepicker #endDatePicker></mat-datepicker>
                    </mat-form-field>
                    <mat-checkbox color="accent" [formControl]="noEndDate" name="noEndDate" class="black-checkbox u-mr--10" (change)="disableOrEnableInput(noEndDate.value, endDate)">
                        No end date
                    </mat-checkbox>
                </div>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="dialogTypes.Change">
            <!-- <h3>Select new cutover date</h3>
            <div fxLayout="column" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" class="u-w--50">
                    <mat-label>Specific date</mat-label>
                    <input autocomplete="off" matInput
                            [matDatepicker]="consultantCutoverDatePicker"
                            name="clientExtensionEndDate" [formControl]="newCutoverDate"
                            (focus)="consultantCutoverDatePicker.open()"
                            (click)="consultantCutoverDatePicker.open()" readonly>
                    <mat-icon class="calendar-icon" matSuffix svgIcon="calendar"></mat-icon>
                    <mat-datepicker #consultantCutoverDatePicker></mat-datepicker>
                </mat-form-field>
                <mat-checkbox color="accent" [formControl]="newLegalContractRequired" name="newLegalContractRequired" class="black-checkbox u-mr--10">
                    New legal contract contract required
                </mat-checkbox>
            </div> -->
            <h2 class="workflow-change-dialog--label">Select new cutover date</h2>
            <div fxLayout="row" fxLayoutAlign="space-between center" class="u-w--100 u-mt--10">
                <mat-form-field appearance="outline" class="u-w--100 u-mr--16" fxFlex="45%">
                    <mat-label>Cutover date</mat-label>
                    <input autocomplete="off" placeholder="New end date" matInput
                            [matDatepicker]="extensionDatePicker"
                            name="saleDate"
                            (focus)="extensionDatePicker.open()"
                            (click)="extensionDatePicker.open()" readonly>
                    <mat-icon class="calendar-icon" matSuffix svgIcon="calendar"></mat-icon>
                    <mat-datepicker #extensionDatePicker></mat-datepicker>
                </mat-form-field>

                <mat-checkbox color="accent" name="newLegalContractRequired" class="workflow-change-dialog--checkbox black-checkbox u-w--100 u-mb--15" fxFlex="50%">
                    New legal contract required
                </mat-checkbox>
            </div>

            <mat-divider class="u-mb--15">
            </mat-divider>

            <h2 class="workflow-change-dialog--label">Select consultants the change applies to</h2>
            <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="15px" class="u-w--100 u-mt--10">
                <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100">
                    <mat-checkbox color="accent" name="noExtensionEndDate" class="black-checkbox u-mr--16" fxFlex="45%">
                        <div fxLayout="row" fxLayoutAlign="start center" class="text-truncate-ellipsis">
                            <img class="workflow-change-dialog--consultant-img u-mr--8" src="https://placekitten.com/50/50">
                            <p class="workflow-change-dialog--consultant-name text-truncate-ellipsis" fxFlex="75%">
                                <!-- {{financesConsultantsForm.consultants.at(i).get('consultantName')?.value}} -->
                                Robertsen Oscar
                            </p>
                        </div>
                    </mat-checkbox>
                    <mat-checkbox color="accent" name="newLegalContractRequired" class="workflow-change-dialog--checkbox black-checkbox u-w--100" fxFlex="50%">
                        New legal contract required
                    </mat-checkbox>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100">
                    <mat-checkbox color="accent" name="noExtensionEndDate" class="black-checkbox u-mr--16" fxFlex="45%">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <img class="workflow-change-dialog--consultant-img u-mr--8" src="https://placekitten.com/50/50">
                            <p class="workflow-change-dialog--consultant-name text-truncate-ellipsis" fxFlex="75%">
                                <!-- {{financesConsultantsForm.consultants.at(i).get('consultantName')?.value}} -->
                                Van Trier Mia
                            </p>
                        </div>
                    </mat-checkbox>
                    <mat-checkbox color="accent" name="newLegalContractRequired" class="workflow-change-dialog--checkbox black-checkbox u-w--100" fxFlex="50%">
                        New legal contract required
                    </mat-checkbox>
                </div>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="dialogTypes.Extend">
            <h3>Select extension end date</h3>
            <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mt--10">
                <div class="u-mr--10" fxFlex="50%">
                    <mat-form-field appearance="outline" class="u-w--100">
                        <mat-label>Start date</mat-label>
                        <input autocomplete="off" matInput [formControl]="workflowChangesForm" [placeholder]="'Start date'" type="text">
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxLayoutAlign="center start" fxFlex="50%" class="u-mb--20">
                    <mat-form-field appearance="outline" class="u-w--100">
                        <mat-label>New end date</mat-label>
                        <input autocomplete="off" placeholder="New end date" matInput
                                [matDatepicker]="extensionDatePicker"
                                name="saleDate"
                                (focus)="extensionDatePicker.open()"
                                (click)="extensionDatePicker.open()" readonly>
                        <mat-icon class="calendar-icon" matSuffix svgIcon="calendar"></mat-icon>
                        <mat-datepicker #extensionDatePicker></mat-datepicker>
                    </mat-form-field>

                    <mat-checkbox color="accent" name="noExtensionEndDate" class="green-checkbox u-mr--16">
                        No end date
                    </mat-checkbox>
                </div>
            </div>
            <mat-divider class="u-mb--15">
            </mat-divider>

            <h2>Select consultants to be extended</h2>
            <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="10px" class="u-mt--10">
                <mat-checkbox color="accent" name="noExtensionEndDate" class="green-checkbox u-mr--16">
                    Robertsen Oscar
                </mat-checkbox>
                <mat-checkbox color="accent" name="noExtensionEndDate" class="green-checkbox u-mr--16">
                    Van Trier Mia
                </mat-checkbox>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="dialogTypes.Terminate">
            // TBD
        </ng-container>
        <ng-container *ngSwitchDefault>

        </ng-container>
    </ng-container>
</mat-dialog-content>
<mat-dialog-actions align="start" class="confiramtion-dialog--actions">
    <button mat-flat-button class="dialog-btn dialog-btn__outlined" (click)="reject()">
        {{ data.rejectButtonText }}
    </button>
    <button mat-flat-button class="dialog-btn" [ngClass]="data.isNegative ? 'dialog-btn__negative' : 'dialog-btn__positive'" (click)="confirm()">
        {{ data.confirmButtonText }}
    </button>
</mat-dialog-actions>

