<mat-tab-group>
	<mat-tab label="Summary" labelClass="summary-tab">
		<ng-template matTabContent>
			<app-summary></app-summary>
		</ng-template>
	</mat-tab>
	<mat-tab label="Preview" labelClass="preview-tab">
		<ng-template matTabContent>
			<app-editor-preview [templateId]="currentId"></app-editor-preview>
		</ng-template>
	</mat-tab>
	<mat-tab label="Attachments" labelClass="attachments-tab">
		<ng-template matTabContent>
			<app-attachments></app-attachments>
		</ng-template>
	</mat-tab>
	<mat-tab label="Log" labelClass="log-tab">
		<ng-template matTabContent>
			<app-logs></app-logs>
		</ng-template>
	</mat-tab>
	<mat-tab labelClass="agreement-links-tab" #agreementLinksTab>
		<ng-template mat-tab-label>
			<button mat-icon-button>
				<mat-icon svgIcon="agreement-links" [style.fill]="agreementLinksTab.isActive ? '#17A297' : '#4A4E60'"></mat-icon>
			</button>
		</ng-template>
		<ng-template matTabContent>
			<app-linked-agreements></app-linked-agreements>
		</ng-template>
	</mat-tab>
	<mat-tab disabled>
		<ng-template mat-tab-label>
			<button mat-icon-button (click)="closePanel()">
				<mat-icon svgIcon="close-button-icon"></mat-icon>
			</button>
		</ng-template>
	</mat-tab>
</mat-tab-group>
