<div class="workflow-sales">
    <ng-container *ngIf="(activeSideSection.typeId !== workflowSideSections.TerminateWorkflow) && (activeSideSection.typeId !== workflowSideSections.TerminateConsultant); else terminationTemplate">
        <app-main-data #mainDataComponent [periodId]="periodId" [readOnlyMode]="readOnlyMode" [editEnabledForcefuly]="editEnabledForcefuly"
            [isCompleted]="isCompleted" [canToggleEditMode]="canToggleEditMode" [activeSideSection]="activeSideSection"
            [permissionsForCurrentUser]="permissionsForCurrentUser" (editModeToggled)="toggleEditMode()" (onReturnToSales)="returnToSales()"></app-main-data>
        <app-client-data [hidden]="(activeSideSection.typeId === workflowSideSections.StartConsultantPeriod) || (activeSideSection.typeId === workflowSideSections.ChangeConsultantPeriod) || (activeSideSection.typeId === workflowSideSections.ExtendConsultantPeriod)" #clientDataComponent [periodId]="periodId" [readOnlyMode]="readOnlyMode" [mainDataForm]="mainDataComponent?.salesMainDataForm" [isContractModuleEnabled]="isContractModuleEnabled" [clientSpecialRateList]="clientSpecialRateList" [clientSpecialFeeList]="clientSpecialFeeList" (clientPeriodDatesChanged)="clientPeriodDatesChanged()" (onDirectClientSelected)="directClientSelected($event)">
        </app-client-data>
        <app-consultant-data #consutlantDataComponent [readOnlyMode]="readOnlyMode" [activeSideSection]="activeSideSection"
            [isCompleted]="isCompleted" [editEnabledForcefuly]="editEnabledForcefuly"
            [clientDataForm]="clientDataComponent?.salesClientDataForm" [mainDataForm]="mainDataComponent?.salesMainDataForm"
            [clientSpecialRateList]="clientSpecialRateList" [clientSpecialFeeList]="clientSpecialFeeList"></app-consultant-data>
    </ng-container>
</div>
<ng-template #terminationTemplate>
    <form [formGroup]="salesTerminateConsultantForm" class="workflow-form--consultants workflow--termination u-mb--20 u-w--100">
        <div fxLayout="column" fxLayoutAlign="start start" class="workflow-sales--process-data u-w--100">
            <div fxLayout="column" fxLayoutAlign="start start" class="u-w--100" id="salesTerminationData">
                <div fxLayout="row" fxLayoutAlign="space-between center" class="u-w--100">
                    <h1 class="workflow-section--header-main">Termination data</h1>
                    <ng-container *ngIf="readOnlyMode">
                        <div fxLayout="row" fxLayoutAlign="start start">
                            <toggle-edit-mode [canToggleEditMode]="canToggleEditMode" (editModeToggled)="toggleEditMode()"></toggle-edit-mode>
                            <button mat-icon-button appPreventDoubleClick (throttledClick)="$event.stopPropagation();" type="button" [matMenuTriggerFor]="returnToSalesMenu" class="three-dots-actions-btn contract-manager-action">
                                <mat-icon svgIcon="3-dots"></mat-icon>
                            </button>
                            <mat-menu #returnToSalesMenu>
                                <div class="u-w--100 u-h--100"
                                    [matTooltip]="permissionsForCurrentUser![eStepPermission.Reopen] ? '' : 'Not available after the Contracts step has been completed'"
                                    matTooltipClass="white-tooltip">
                                    <button
                                        class="menu-item menu-item--edit contract-manager-action"
                                        mat-menu-item
                                        [disabled]="!permissionsForCurrentUser![eStepPermission.Reopen]"
                                        appPreventDoubleClick (throttledClick)="returnToSales()">
                                        <mat-icon svgIcon="return-icon"></mat-icon>
                                        Return to Sales
                                    </button>
                                </div>
                            </mat-menu>
                        </div>
                    </ng-container>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" class="u-mt--16 u-mb--16" id="salesTerminationEndOfContract">
                    <span class="workflow-section--number">1</span>
                    <h2 class="workflow-section--header">
                        <ng-container *ngIf="activeSideSection.typeId === workflowSideSections.TerminateConsultant">
                            End of Consultant Contract
                        </ng-container>
                        <ng-container *ngIf="activeSideSection.typeId === workflowSideSections.TerminateWorkflow">
                            End of Client Contract
                        </ng-container>
                    </h2>
                </div>
                <div class="workflow-section--content">
                    <div fxLayout="column" fxLayoutAlign="start start" class="u-w--100">
                        <h3 class="workflow-gray--header u-mb--5">
                            <ng-container *ngIf="activeSideSection.typeId === workflowSideSections.TerminateConsultant">
                                End of Consultant Contract
                            </ng-container>
                            <ng-container *ngIf="activeSideSection.typeId === workflowSideSections.TerminateWorkflow">
                                End of Client Contract
                            </ng-container>
                        </h3>
                        <mat-button-toggle-group [disabled]="readOnlyMode"
                            [ngClass]="{'mat-form-field-invalid': !salesTerminateConsultantForm.terminationTime?.value}"
                            class="workflow-toggle-buttons u-mb--10" formControlName="terminationTime" required>
                            <ng-container *ngFor="let item of terminationTimes | keyvalue">
                                <ng-container *ngIf="(readOnlyMode && +item.key === salesTerminateConsultantForm.terminationTime?.value) || !readOnlyMode">
                                    <mat-button-toggle [value]="+item.key">
                                        {{ item.value }}
                                    </mat-button-toggle>
                                </ng-container>
                            </ng-container>
                        </mat-button-toggle-group>
                        <mat-error>
                            <ng-container *ngIf="salesTerminateConsultantForm.terminationTime?.touched">
                                <app-validator [withoutFormField]="true" [control]="salesTerminateConsultantForm.terminationTime"></app-validator>
                            </ng-container>
                        </mat-error>
                    </div>

                    <ng-container *ngIf="salesTerminateConsultantForm?.terminationTime?.value === 2">
                        <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100">
                            <mat-form-field appearance="outline" class="formFieldNoMarginPadding form-width-150" [ngClass]="{'disabled-input': readOnlyMode}">
                                <mat-label>End date</mat-label>
                                <input [disabled]="readOnlyMode" required autocomplete="off" matInput
                                        [matDatepicker]="endClientContractEndDatePicker"
                                        name="clientContractEndDate" formControlName="endDate"
                                        (focus)="endClientContractEndDatePicker.open()"
                                        appPreventDoubleClick (throttledClick)="endClientContractEndDatePicker.open()" readonly>
                                <mat-icon class="calendar-icon" matSuffix svgIcon="calendar"></mat-icon>
                                <mat-datepicker #endClientContractEndDatePicker></mat-datepicker>
                                <mat-error>
                                    <app-validator [control]="salesTerminateConsultantForm.endDate"></app-validator>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="salesTerminateConsultantForm?.terminationTime?.value === 2 || salesTerminateConsultantForm?.terminationTime?.value === 3">
                        <div fxLayout="column" fxLayoutAlign="start start" class="u-w--100">
                            <h3 class="workflow-gray--header u-mb--5">Reason for termination</h3>
                            <mat-button-toggle-group [disabled]="readOnlyMode"
                                [ngClass]="{'mat-form-field-invalid': !salesTerminateConsultantForm.terminationReason?.value}"
                                class="workflow-toggle-buttons u-mb--10" formControlName="terminationReason" required>
                                <ng-container *ngFor="let item of terminationReasons | keyvalue">
                                    <ng-container *ngIf="(readOnlyMode && +item.key === salesTerminateConsultantForm.terminationReason?.value) || !readOnlyMode">
                                        <mat-button-toggle [value]="+item.key">
                                            {{ item.value }}
                                        </mat-button-toggle>
                                    </ng-container>
                                </ng-container>
                            </mat-button-toggle-group>
                            <mat-error>
                                <ng-container *ngIf="salesTerminateConsultantForm.terminationReason?.touched">
                                    <app-validator [withoutFormField]="true" [control]="salesTerminateConsultantForm.terminationReason"></app-validator>
                                </ng-container>
                            </mat-error>
                        </div>
                    </ng-container>

                    <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100" [fxHide]="salesTerminateConsultantForm?.terminationTime?.value !== 2 && salesTerminateConsultantForm?.terminationTime?.value !== 3">
                        <mat-form-field appearance="outline" class="textarea-input formFieldNoMarginPadding form-width-564" [ngClass]="{'disabled-input': readOnlyMode}">
                            <mat-label>Cause</mat-label>
                            <textarea [disabled]="readOnlyMode" [required]="salesTerminateConsultantForm.terminationTime?.value === 2 || salesTerminateConsultantForm.terminationTime?.value === 3" matInput autocomplete="new-password" name="causeOfTerminationBeforeEndOfContract" formControlName="causeOfNonStandardTerminationTime" [cdkTextareaAutosize]="true" [cdkAutosizeMinRows]="2">
                            </textarea>
                            <mat-error>
                                <app-validator [control]="salesTerminateConsultantForm.causeOfNonStandardTerminationTime"></app-validator>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20 u-mt--10">
                        <mat-form-field appearance="outline" class="textarea-input formFieldNoMarginPadding form-width-564" [ngClass]="{'disabled-input': readOnlyMode}">
                            <mat-label>Additional comments</mat-label>
                            <textarea [disabled]="readOnlyMode" [readonly]="readOnlyMode" matInput autocomplete="new-password" name="additionalComments" formControlName="additionalComments" [cdkTextareaAutosize]="true" [cdkAutosizeMinRows]="2">
                            </textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="start start" class="u-w--100" id="salesTerminationFinalEvaluation">
                <div fxLayout="row" fxLayoutAlign="start center" class="u-mt--16 u-mb--16">
                    <span class="workflow-section--number">2</span>
                    <h2 class="workflow-section--header">Final evaluation</h2>
                </div>
                <div class="workflow-section--content">
                    <ng-container *ngIf="salesTerminateConsultantForm.terminationTime?.value === 1 || salesTerminateConsultantForm.terminationTime?.value === 2; else noEvaluationTemplate">
                        <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100">
                            <mat-form-field appearance="outline" class="formFieldNoMarginPadding filter-select autocompleteWithShevron form-width-235" [ngClass]="{'disabled-input': salesTerminateConsultantForm.noEvaluation?.value || readOnlyMode, 'isPanelOpen': finalEvaluationReferencePersonAutocomplete.isOpen}">
                                <mat-label>Final Evaluation Reference Person</mat-label>
                                <input [disabled]="readOnlyMode" [readonly]="readOnlyMode" [required]="!salesTerminateConsultantForm.noEvaluation?.value" #finalEvaluationReferencePersonInput type="text" matInput [matAutocomplete]="finalEvaluationReferencePersonAutocomplete" formControlName="finalEvaluationReferencePerson" appPreventDoubleClick (throttledClick)="$event.stopPropagation()" placeholder="Final Evaluation Reference Person">
                                <span matSuffix class="shevron"></span>
                                <mat-autocomplete #finalEvaluationReferencePersonAutocomplete="matAutocomplete" [displayWith]="displayFullNameFn"
                                    (optionSelected)="focusToggleMethod('auto')" (opened)="focusToggleMethod('hidden')" (closed)="focusToggleMethod('auto')">
                                    <ng-container *ngFor="let contact of filteredFinalEvaluationReferencePersons; trackBy: trackById">
                                        <mat-option [value]="contact" [ngClass]="{ 'no-data': contact.id === 'no-data' }">
                                                <span class="autocopmlete-option-name">{{ contact.firstName + ' ' + contact.lastName }}</span>
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                                <mat-error>
                                    <app-validator [control]="salesTerminateConsultantForm.finalEvaluationReferencePerson"></app-validator>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100">
                            <ng-container *ngIf="!readOnlyMode || salesTerminateConsultantForm.noEvaluation?.value">
                                <mat-checkbox [disabled]="readOnlyMode" color="accent" formControlName="noEvaluation" name="noEvaluation" class="black-checkbox" (change)="disableOrEnableInput(salesTerminateConsultantForm.noEvaluation?.value, salesTerminateConsultantForm.finalEvaluationReferencePerson)">
                                    No evaluation
                                </mat-checkbox>
                            </ng-container>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="start start" class="u-w--100" [fxHide]="!salesTerminateConsultantForm.noEvaluation?.value">
                            <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100">
                                <mat-form-field appearance="outline" class="textarea-input formFieldNoMarginPadding form-width-564" [ngClass]="{'disabled-input': readOnlyMode}">
                                    <mat-label>Cause</mat-label>
                                    <textarea [disabled]="readOnlyMode" [required]="salesTerminateConsultantForm.noEvaluation?.value" matInput autocomplete="new-password" name="causeOfNoEvaluation" formControlName="causeOfNoEvaluation" [cdkTextareaAutosize]="true" [cdkAutosizeMinRows]="2">
                                    </textarea>
                                    <mat-error>
                                        <app-validator [control]="salesTerminateConsultantForm.causeOfNoEvaluation"></app-validator>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #noEvaluationTemplate>
                        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px"
                            class="emptyStateRow">
                            <span class="light-grey-color text-600">
                                Evaluation - not required for projects which did not start
                            </span>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="start start" class="u-w--100" id="salesTerminationDocuments">
                <div fxLayout="row" fxLayoutAlign="start center" class="u-mt--16 u-mb--16">
                    <span class="workflow-section--number">3</span>
                    <h2 class="workflow-section--header">Documents</h2>
                </div>
                <div class="workflow-section--content">
                    <app-documents #terminationDocuments [readOnlyMode]="readOnlyMode"></app-documents>
                </div>
            </div>
        </div>
        <button #submitFormBtn class="display-none" type="submit">Hidden button to set form submitted</button>
    </form>
</ng-template>
