<div class="workflow-sales">
    <ng-container *ngIf="(activeSideSection.typeId !== workflowSideSections.TerminateWorkflow) && (activeSideSection.typeId !== workflowSideSections.TerminateConsultant); else terminationTemplate">
        <app-main-data #mainDataComponent [periodId]="periodId" [readOnlyMode]="readOnlyMode" [editEnabledForcefuly]="editEnabledForcefuly"
            [isCompleted]="isCompleted" [canToggleEditMode]="canToggleEditMode" [activeSideSection]="activeSideSection"
            [permissionsForCurrentUser]="permissionsForCurrentUser" (editModeToggled)="toggleEditMode()"></app-main-data>
        <ng-container *ngIf="(activeSideSection.typeId !== workflowSideSections.StartConsultantPeriod) && (activeSideSection.typeId !== workflowSideSections.ChangeConsultantPeriod) && (activeSideSection.typeId !== workflowSideSections.ExtendConsultantPeriod)">
            <app-client-data #clientDataComponent [readOnlyMode]="readOnlyMode" (clientPeriodDatesChanged)="clientPeriodDatesChanged()" (onDirectClientSelected)="directClientSelected($event)">
            </app-client-data>
        </ng-container>
        <app-consultant-data #consutlantDataComponent [readOnlyMode]="readOnlyMode" [activeSideSection]="activeSideSection"
            [isCompleted]="isCompleted" [editEnabledForcefuly]="editEnabledForcefuly"
            [clientDataForm]="clientDataComponent?.salesClientDataForm" [mainDataForm]="mainDataComponent?.salesMainDataForm"
            [clientSpecialRateList]="clientSpecialRateList" [clientSpecialFeeList]=clientSpecialFeeList></app-consultant-data>
    </ng-container>
</div>
<ng-template #terminationTemplate>
    <form [formGroup]="salesTerminateConsultantForm" class="workflow-form--consultants workflow--termination u-mb--20 u-w--100">
        <div fxLayout="column" fxLayoutAlign="start start" class="workflow-sales--process-data u-w--100">
            <div fxLayout="column" fxLayoutAlign="start start" class="u-w--100">
                <h1 class="workflow-section--header-main">Termination data</h1>
                <div fxLayout="row" fxLayoutAlign="start center" class="u-mt--16 u-mb--16">
                    <span class="workflow-section--number">1</span>
                    <h2 class="workflow-section--header">
                        <ng-container *ngIf="activeSideSection.typeId === workflowSideSections.TerminateConsultant">
                            End of Consultant Contract
                        </ng-container>
                        <ng-container *ngIf="activeSideSection.typeId === workflowSideSections.TerminateWorkflow">
                            End of Client Contract
                        </ng-container>
                    </h2>
                </div>
                <div class="workflow-section--content">
                    <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100">
                        <mat-form-field appearance="outline" class="formFieldNoMarginPadding filter-select form-width-235">
                            <mat-label>
                                <ng-container *ngIf="activeSideSection.typeId === workflowSideSections.TerminateConsultant">
                                    End of Consultant Contract
                                </ng-container>
                                <ng-container *ngIf="activeSideSection.typeId === workflowSideSections.TerminateWorkflow">
                                    End of Client Contract
                                </ng-container>
                            </mat-label>
                            <mat-select [disabled]="readOnlyMode" required formControlName="terminationTime" [disableOptionCentering]="true">
                                <ng-container *ngFor="let item of nonStandartTerminationTimes | keyvalue">
                                    <mat-option [value]="+item.key">
                                        {{ item.value }}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                            <mat-error>
                                <app-validator [control]="salesTerminateConsultantForm.terminationTime"></app-validator>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <ng-container *ngIf="salesTerminateConsultantForm?.terminationTime?.value === 2">
                        <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100">
                            <mat-form-field appearance="outline" class="formFieldNoMarginPadding form-width-150" [ngClass]="{'disabled-input': readOnlyMode}">
                                <mat-label>End date</mat-label>
                                <input [disabled]="readOnlyMode" required autocomplete="off" matInput
                                        [matDatepicker]="endClientContractEndDatePicker"
                                        name="consultantEndDate" formControlName="endDate"
                                        (focus)="endClientContractEndDatePicker.open()"
                                        appPreventDoubleClick (throttledClick)="endClientContractEndDatePicker.open()" readonly>
                                <mat-icon class="calendar-icon" matSuffix svgIcon="calendar"></mat-icon>
                                <mat-datepicker #endClientContractEndDatePicker></mat-datepicker>
                                <mat-error>
                                    <app-validator [control]="salesTerminateConsultantForm.endDate"></app-validator>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="salesTerminateConsultantForm?.terminationTime?.value === 2 || salesTerminateConsultantForm?.terminationTime?.value === 3">
                        <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100">
                            <mat-form-field appearance="outline" class="formFieldNoMarginPadding filter-select form-width-235">
                                <mat-label>Termination reason</mat-label>
                                <mat-select [disabled]="readOnlyMode" required formControlName="terminationReason" [disableOptionCentering]="true">
                                    <ng-container *ngFor="let item of terminationReasons | keyvalue">
                                        <mat-option [value]="+item.key">
                                            {{ item.value }}
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                                <mat-error>
                                    <app-validator [control]="salesTerminateConsultantForm.terminationReason"></app-validator>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </ng-container>
                    <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100" [fxHide]="salesTerminateConsultantForm?.terminationTime?.value !== 2 && salesTerminateConsultantForm?.terminationTime?.value !== 3">
                        <mat-form-field appearance="outline" class="textarea-input formFieldNoMarginPadding form-width-564" [ngClass]="{'disabled-input': readOnlyMode}">
                            <mat-label>Cause</mat-label>
                            <textarea [disabled]="readOnlyMode" [required]="salesTerminateConsultantForm.terminationTime?.value === 2 || salesTerminateConsultantForm.terminationTime?.value === 3" matInput autocomplete="new-password" name="causeOfTerminationBeforeEndOfContract" formControlName="causeOfNonStandardTerminationTime" [cdkTextareaAutosize]="true" [cdkAutosizeMinRows]="2">
                            </textarea>
                            <mat-error>
                                <app-validator [control]="salesTerminateConsultantForm.causeOfNonStandardTerminationTime"></app-validator>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20 u-mt--10">
                        <mat-form-field appearance="outline" class="textarea-input formFieldNoMarginPadding form-width-564" [ngClass]="{'disabled-input': readOnlyMode}">
                            <mat-label>Additional comments</mat-label>
                            <textarea [disabled]="readOnlyMode" [readonly]="readOnlyMode" matInput autocomplete="new-password" name="additionalComments" formControlName="additionalComments" [cdkTextareaAutosize]="true" [cdkAutosizeMinRows]="2">
                            </textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="salesTerminateConsultantForm.terminationTime?.value === 1 || salesTerminateConsultantForm.terminationTime?.value === 2">
                <div fxLayout="column" fxLayoutAlign="start start" class="u-w--100">
                    <div fxLayout="row" fxLayoutAlign="start center" class="u-mt--16 u-mb--16">
                        <span class="workflow-section--number">2</span>
                        <h2 class="workflow-section--header">Final evaluation</h2>
                    </div>
                    <div class="workflow-section--content">
                        <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100">
                            <mat-form-field appearance="outline" class="formFieldNoMarginPadding filter-select form-width-235" [ngClass]="{'disabled-input': salesTerminateConsultantForm.noEvaluation?.value || readOnlyMode}">
                                <mat-label>Final Evaluation Reference Person</mat-label>
                                <input [disabled]="readOnlyMode" [readonly]="readOnlyMode" rqeuired #finalEvaluationReferencePersonInput type="text" matInput [matAutocomplete]="finalEvaluationReferencePersonAutocomplete" formControlName="finalEvaluationReferencePerson" appPreventDoubleClick (throttledClick)="$event.stopPropagation()" placeholder="Final Evaluation Reference Person">
                                <mat-autocomplete #finalEvaluationReferencePersonAutocomplete="matAutocomplete" [displayWith]="displayFullNameFn"
                                    (optionSelected)="focusToggleMethod('auto')" (opened)="focusToggleMethod('hidden')" (closed)="focusToggleMethod('auto')">
                                    <ng-container *ngFor="let contact of filteredFinalEvaluationReferencePersons; trackBy: trackById">
                                        <mat-option [value]="contact" [ngClass]="{ 'no-data': contact.id === 'no-data' }">
                                                <span class="autocopmlete-option-name">{{ contact.firstName + ' ' + contact.lastName }}</span>
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                                <mat-error>
                                    <app-validator [control]="salesTerminateConsultantForm.finalEvaluationReferencePerson"></app-validator>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100">
                            <ng-container *ngIf="!readOnlyMode || salesTerminateConsultantForm.noEvaluation?.value">
                                <mat-checkbox [disabled]="readOnlyMode" color="accent" formControlName="noEvaluation" name="noEvaluation" class="black-checkbox" (change)="disableOrEnableInput(salesTerminateConsultantForm.noEvaluation?.value, salesTerminateConsultantForm.finalEvaluationReferencePerson)">
                                    No evaluation
                                </mat-checkbox>
                            </ng-container>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="start start" class="u-w--100" [fxHide]="!salesTerminateConsultantForm.noEvaluation?.value">
                            <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100">
                                <mat-form-field appearance="outline" class="textarea-input formFieldNoMarginPadding form-width-564" [ngClass]="{'disabled-input': readOnlyMode}">
                                    <mat-label>Cause</mat-label>
                                    <textarea [disabled]="readOnlyMode" [required]="salesTerminateConsultantForm.noEvaluation?.value" matInput autocomplete="new-password" name="causeOfNoEvaluation" formControlName="causeOfNoEvaluation" [cdkTextareaAutosize]="true" [cdkAutosizeMinRows]="2">
                                    </textarea>
                                    <mat-error>
                                        <app-validator [control]="salesTerminateConsultantForm.causeOfNoEvaluation"></app-validator>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </form>
</ng-template>
