@import "/src/app/shared/styles/config/_colors";
@import "/src/app/shared/styles/config/_mixins";
@import "../workflow.component";

.workflow {
    &-form {
        &--main,
        &--client,
        &--consultants {
            border-bottom: 1px solid #E7E3E8;
            .workflow-gray--header {
                font-weight: 700;
                font-size: 14px;
                line-height: 140%;
                color: rgba(56, 72, 83, 0.87);
            }
        }
        &--consultants {
            &__name,
            &__period {
                @include fontOpenSans(14px, 600);
                line-height: 120%;
                color: $dark-grey-color;
            }
            &__payment-price-text {
                @include fontOpenSans(12px, 700);
                line-height: 14px;
                color: rgba(56, 72, 83, 0.87);
                margin-top: 0.3em;
            }
        }
    }
    &-section--header {
        @include fontOpenSans(16px, 'inherit');
        color: $light-grey-color;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 20px;

        &-main {
            @include fontOpenSans(18px, 700);
            line-height: 120%;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $dark-grey-color;
        }
    }
    &-sales {
        .rates-and-fees--btn {
            width: 180px;
        }
        &-inline {
            &--form {
                padding: 0;
                &__header {
                    font-weight: 600;
                    color: $medium-grey-color;
                    &-container {
                        padding: 8px;
                    }
                }
                &__row  {
                    background-color: $white-color;
                    padding: 0 8px;
                    height: 50px;
                    border: 1px solid $sand-color;
                    &:hover {
                        transition: box-shadow .7s ease;
                        box-shadow: 0px 0px 20px rgba(26, 35, 126, 0.15);
                    }
                    span {
                        color: rgba(56, 72, 83, 0.87);
                        font-weight: 700;
                    }
                }
            }
        }
        &--process-data {
            padding: 30px;
        }
        &--additional-address-hint {
            @include fontOpenSans(14px, 800);
            color: rgba(56, 72, 83, 0.87);
            line-height: 35px;
            &-label {
                @include fontOpenSans(14px, 700);
                color: #898785;
                line-height: 35px;
            }
        }
    }

    &-extension {
        &--consultant-data {
            &--consultant {
                &-text {
                    @include fontOpenSans(12px, 600);
                    line-height: 150%;
                    color: rgba(56, 72, 83, 0.87);
                }
                &-name {
                    @include fontOpenSans(14px, 800);
                    color: $dark-grey-color;
                }
            }
        }
    }
    &--termination {
        padding: 10px 24px;
    }
}


.link-to-client-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    &:not([disabled]):hover {
        background-color: rgba(139,209,203,0.22);
    }
}
