@import "/src/app/shared/styles/config/_colors";
@import "/src/app/shared/styles/config/_mixins";
@import "../workflow.component";

.workflow {
    &-form {
        &--main,
        &--client,
        &--consultants {
            border-bottom: 1px solid #E7E3E8;
            .workflow-gray--header {
                font-weight: 700 !important;
                font-size: 14px !important;
                line-height: 140%;
                color: rgba(56, 72, 83, 0.87);
            }
        }
        &--consultants {
            &__name,
            &__period {
                @include fontOpenSans(14px, 600);
                line-height: 120%;
                color: $dark-grey-color;
            }
            &__payment-price-text {
                @include fontOpenSans(12px, 700);
                line-height: 14px;
                color: rgba(56, 72, 83, 0.87);
                margin-top: 0.3em;
            }
        }
    }
    &-section {
        &--number {
            @include fontOpenSans(14px, 700);
            @include flexCentered;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            margin-right: 24px;
            background-color: $sand-color;
            color: $dark-grey-color;
        }
        &--header {
            @include fontOpenSans(16px, 700);
            color: $light-grey-color;
            letter-spacing: 1px;
            text-transform: uppercase;

            &-main {
                @include fontOpenSans(18px, 700);
                line-height: 120%;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: $dark-grey-color;
            }
        }
        &--content {
            border-left: 2px solid $sand-color;
            margin-left: 12px;
            padding: 5px 0 5px 35px;
            width: 100%;
        }
    }
    &-sales {
        .rates-and-fees--btn {
            width: 180px;
        }
        &-inline {
            &--form {
                padding: 0;
                &__header {
                    font-weight: 600;
                    font-size: 12px;
                    color: $medium-grey-color;
                    &-container {
                        padding: 0 16px 5px;
                    }
                }
                &__row  {
                    background-color: $white-color;
                    padding: 0 16px;
                    height: 50px;
                    border: 1px solid $sand-color;
                    &:hover {
                        transition: box-shadow .7s ease;
                        box-shadow: 0px 0px 20px rgba(26, 35, 126, 0.15);
                    }
                    span {
                        color: rgba(56, 72, 83, 0.87);
                        font-weight: 700;
                    }
                }
            }
        }
        &--process-data {
            padding: 30px 24px;
        }
        &--additional-address-hint {
            @include fontOpenSans(14px, 700);
            color: rgba(56, 72, 83, 0.87);
            &-label {
                @include fontOpenSans(14px, 700);
                color: #898785;
            }
        }
    }

    &-extension {
        &--consultant-data {
            &--consultant {
                &-text {
                    @include fontOpenSans(12px, 600);
                    line-height: 150%;
                    color: rgba(56, 72, 83, 0.87);
                }
                &-name {
                    @include fontOpenSans(14px, 800);
                    color: $dark-grey-color;
                }
            }
        }
    }
    &--termination {
        padding: 10px 24px;
    }
    &-documents {
        &--form {
            position: relative;
            &__header {
                @include fontOpenSans(12px, 600);
                min-height: 35px;
                color: $medium-grey-color !important;
            }
            &__row {
                @include fontOpenSans(14px, 400);
                background: $white-color;
                color: $dark-grey-color !important;
                height: 48px;
            }
        }
    }
}


.link-to-client-icon {
    // width: 35px;
    // height: 35px;
    // border-radius: 50%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // &:not([disabled]):hover {
    //     background-color: rgba(139,209,203,0.22);
    // }
}

.absolute-edit-toggle {
    border-radius: 50%;
    background-color: rgba($color: #72a0f8, $alpha: 0.2);
    color: #72a0f8;
    mat-icon {
        width: 20px;
        height: 20px;
        font-size: 20px;
        line-height: 20px;
    }
}
