<mat-dialog-content class="save-as-dialog">
	<div mat-dialog-title class="header">
		<h1>
			{{ data.title }}
		</h1>
		<button (click)="close()" mat-button>
			<mat-icon class="header-close-icon">close</mat-icon>
		</button>
	</div>

	<p class="subtitle">{{ data.body }}</p>
</mat-dialog-content>

<mat-dialog-actions class="actions flex-justify-between">
	<button [mat-dialog-close]="false" mat-button color="warn" class="dialog-btn dialog-btn__negative">
		{{ data.cancelBtnText || 'No' }}
	</button>
	<button (click)="submit()" mat-flat-button class="dialog-btn dialog-btn__positive">
		{{ data.confirmBtnText || 'Yes' }}
	</button>
</mat-dialog-actions>
