@import "/src/app/shared/styles/config/_colors";
@import "/src/app/shared/styles/config/_mixins";

.confirmation-dialog {
    padding-top: 0 !important;
    &--actions{
        justify-content: space-between;
        border-top: 1px solid $sand-color;
        position: sticky;
        bottom: 0;
        z-index: 99;
        background-color: #fff;
    }
    &--header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 32px 40px 0 !important;
        position: sticky;
        top: 0;
        z-index: 99;
        background-color: #fff;
        h1 {
            @include fontOpenSans(26px, 800);
            color: #4A4E60;
            line-height: 120% !important;
        }
    }
}

.sub-header {
    @include fontOpenSans(14px, 700);
    color: rgba($color: #384853, $alpha: 0.87) !important;
}

.fullDialogDivider {
   width: calc(100% + 80px); // dialog padding 40px * 2
   margin-left: -40px; // dialog padding 40px
}
