<div mat-dialog-title class="confirmation-dialog--header">
    <h1>
        {{data?.isEdit ? 'Edit Purchase Order' : 'Add Purchase Order'}}
    </h1>
    <button class="dialog-close--button" mat-icon-button (click)="reject()"><mat-icon
            svgIcon="dialog-close-icon"></mat-icon></button>
</div>
<mat-dialog-content class="confirmation-dialog">
    <form [formGroup]="purchaseOrderForm">
        <div fxLayout="column" fxLayoutAlign="start start" class="u-w--100">
            <div fxLayout="row" fxLayoutAlign="start start" class="u-mb--10">
                <ng-container *ngIf="!data?.isEdit">
                    <mat-button-toggle-group (change)="poSourceChange($event.value)"
                        [ngClass]="{'mat-form-field-invalid': !purchaseOrderForm.poSource?.valid}"
                        class="workflow-toggle-buttons" formControlName="poSource" required>
                        <ng-container *ngFor="let item of poSources; trackBy: trackById">
                            <mat-button-toggle [value]="item.id">
                                {{ item.name }}
                            </mat-button-toggle>
                        </ng-container>
                    </mat-button-toggle-group>
                    <mat-error>
                        <app-validator [withoutFormField]="true" *ngIf="purchaseOrderForm.poSource?.touched"
                            [control]="purchaseOrderForm.poSource"></app-validator>
                    </mat-error>
                </ng-container>
            </div>
            <ng-container *ngIf="purchaseOrderForm.poSource.value || data.isEdit">
                <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field appearance="outline"
                        [fxHide]="!(purchaseOrderForm.poSource.value === ePOSource.ExistingPO || purchaseOrderForm.poSource.value === ePOSource.DifferentWF)"
                        class="formFieldNoMarginPadding form-width-350 autocompleteWithShevron client-address-autocomplete"
                        [ngClass]="{'isPanelOpen': poAutocomplete.isOpen, 'is-empty': !purchaseOrderForm.existingPo.value?.id}">
                        <mat-label>PO number</mat-label>
                        <input
                            [required]="purchaseOrderForm.poSource.value === ePOSource.ExistingPO || purchaseOrderForm.poSource.value === ePOSource.DifferentWF"
                            type="text" matInput [matAutocomplete]="poAutocomplete" formControlName="existingPo"
                            appPreventDoubleClick (throttledClick)="$event.stopPropagation()"
                            placeholder="Type something..">
                        <ng-container *ngIf="purchaseOrderForm.existingPo?.value?.id" matPrefix>
                            <ng-container [ngTemplateOutlet]="poNumberInfo"
                                [ngTemplateOutletContext]="{order: purchaseOrderForm.existingPo?.value, isList: false}">
                            </ng-container>
                        </ng-container>
                        <span matSuffix class="shevron"></span>
                        <mat-autocomplete #poAutocomplete="matAutocomplete" [displayWith]="displayPOFn"
                            (optionSelected)="poSelected($event)">
                            <ng-container *ngIf="filteredPurchaseOrders | async as filteredPurchaseOrders">
                                <ng-container *ngFor="let item of filteredPurchaseOrders; trackBy: trackById">
                                    <mat-option [value]="item" class="multilineDropdown-option">
                                        <ng-container [ngTemplateOutlet]="poNumberInfo"
                                            [ngTemplateOutletContext]="{order: item, isList: true}"></ng-container>
                                    </mat-option>
                                </ng-container>
                                <ng-container *ngIf="filteredPurchaseOrders?.length === 0">
                                    <mat-option
                                        class="no-data multilineDropdown-option multilineDropdown-option--column-client-name">
                                        No purchase orders
                                    </mat-option>
                                </ng-container>
                            </ng-container>
                        </mat-autocomplete>
                        <mat-error>
                            <app-validator [control]="purchaseOrderForm.existingPo"></app-validator>
                        </mat-error>
                    </mat-form-field>
                </div>
                <mat-divider [ngClass]="{'u-mt--15': !data?.isEdit}" [fxHide]="purchaseOrderForm.poSource.value === ePOSource.NewPO" class="u-w--100 dark-grey-color u-mb--15"></mat-divider>
                <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-form-field
                        appearance="outline" class="formFieldNoMarginPadding form-width-235 u-mr--12"
                        [ngClass]="{'disabled-input': purchaseOrderForm.numberMissingButRequired.value}">
                        <mat-label>PO number</mat-label>
                        <input autocomplete="off" matInput name="poNumber" formControlName="number"
                            [required]="purchaseOrderForm.poSource.value === ePOSource.NewPO && !purchaseOrderForm.numberMissingButRequired.value">
                        <mat-error>
                            <app-validator [control]="purchaseOrderForm.number"></app-validator>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="formFieldNoMarginPadding form-width-150 u-mr--12"
                        [ngClass]="{'disabled-input': purchaseOrderForm.numberMissingButRequired.value}">
                        <mat-label>PO receive date</mat-label>
                        <input autocomplete="off" matInput [matDatepicker]="receiveDatePicker"
                            [disabled]="purchaseOrderForm.numberMissingButRequired.value" name="poReceiveDate"
                            formControlName="receiveDate" (focus)="receiveDatePicker.open()" appPreventDoubleClick
                            (throttledClick)="receiveDatePicker.open()" readonly>
                        <mat-icon class="calendar-icon" matSuffix svgIcon="calendar"></mat-icon>
                        <mat-datepicker #receiveDatePicker></mat-datepicker>
                        <mat-error>
                            <app-validator [control]="purchaseOrderForm.receiveDate"></app-validator>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="formFieldNoMarginPadding form-width-150 u-mr--12"
                        [ngClass]="{'disabled-input': purchaseOrderForm.numberMissingButRequired.value}">
                        <mat-label>PO start date</mat-label>
                        <input autocomplete="off" matInput [matDatepicker]="startDatePicker"
                            [disabled]="purchaseOrderForm.numberMissingButRequired.value" name="poStartDate"
                            formControlName="startDate" (focus)="startDatePicker.open()" appPreventDoubleClick
                            (throttledClick)="startDatePicker.open()" readonly>
                        <mat-icon class="calendar-icon" matSuffix svgIcon="calendar"></mat-icon>
                        <mat-datepicker #startDatePicker></mat-datepicker>
                        <mat-error>
                            <app-validator [control]="purchaseOrderForm.startDate"></app-validator>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="formFieldNoMarginPadding form-width-150"
                        [ngClass]="{'disabled-input': purchaseOrderForm.numberMissingButRequired.value}">
                        <mat-label>PO end date</mat-label>
                        <input autocomplete="off" matInput [matDatepicker]="endDatePicker"
                            [disabled]="purchaseOrderForm.numberMissingButRequired.value" name="poEndDate"
                            [min]="minEndDate"
                            formControlName="endDate" (focus)="endDatePicker.open()" appPreventDoubleClick
                            (throttledClick)="endDatePicker.open()" readonly>
                        <mat-icon class="calendar-icon" matSuffix svgIcon="calendar"></mat-icon>
                        <mat-datepicker #endDatePicker></mat-datepicker>
                        <mat-error>
                            <app-validator [control]="purchaseOrderForm.receiveDate"></app-validator>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-checkbox color="accent" formControlName="numberMissingButRequired" name="numberMissingButRequired"
                        class="black-checkbox u-mt--10 u-mr--12"
                        (change)="disableInputs(purchaseOrderForm.numberMissingButRequired.value)">
                        PO number missing, but required
                    </mat-checkbox>
                    <mat-checkbox color="accent" formControlName="isCompleted" name="isCompleted"
                        class="black-checkbox u-mt--10">
                        Mark as completed
                    </mat-checkbox>
                </div>
                <ng-container formGroupName="capForInvoicing">
                    <h3 class="sub-header u-mb--5 u-mt--20">Shared Cap for Invoicing</h3>
                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline"
                            class="formFieldNoMarginPadding filter-select form-width-140 u-mr--12">
                            <mat-label>Cap type</mat-label>
                            <mat-select required formControlName="type" [disableOptionCentering]="true"
                                (selectionChange)="sharedCapTypeChange($event.value)">
                                <ng-container *ngFor="let item of purchaseOrderCapTypes | keyvalue; trackBy: trackByKey">
                                    <mat-option [value]="+item.key">
                                        {{ item.value }}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                            <mat-error>
                                <app-validator [control]="purchaseOrderForm.capForInvoicing.type"></app-validator>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="formFieldNoMarginPadding form-width-120 u-mr--12"
                            [fxHide]="purchaseOrderForm.capForInvoicing.type.value === ePOCaps.NoCap">
                            <mat-label>Max value</mat-label>
                            <input type="number" autocomplete="off" matInput name="maxAmount" formControlName="maxAmount"
                                [required]="purchaseOrderForm.capForInvoicing.type.value !== ePOCaps.NoCap">
                            <mat-error>
                                <app-validator [control]="purchaseOrderForm.capForInvoicing.maxAmount"></app-validator>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field [fxHide]="purchaseOrderForm.capForInvoicing.type.value !== ePOCaps.CapOnUnits"
                            appearance="outline" class="formFieldNoMarginPadding filter-select form-width-120">
                            <mat-label>Unit</mat-label>
                            <mat-select [required]="purchaseOrderForm.capForInvoicing.type.value === ePOCaps.CapOnUnits"
                                formControlName="valueUnitTypeId" [disableOptionCentering]="true">
                                <ng-container *ngFor="let item of valueUnitTypes; trackBy: trackById">
                                    <mat-option [value]="item.id">
                                        {{ item.name }}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                            <mat-error>
                                <app-validator
                                    [control]="purchaseOrderForm.capForInvoicing.valueUnitTypeId"></app-validator>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field [fxHide]="purchaseOrderForm.capForInvoicing.type.value !== ePOCaps.CapOnValue"
                            appearance="outline" class="formFieldNoMarginPadding filter-select form-width-120">
                            <mat-label>Currency</mat-label>
                            <mat-select [required]="purchaseOrderForm.capForInvoicing.type.value === ePOCaps.CapOnValue"
                                formControlName="currencyId" [disableOptionCentering]="true">
                                <ng-container *ngFor="let item of currencies; trackBy: trackById">
                                    <mat-option [value]="item.id">
                                        {{ item.name }}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                            <mat-error>
                                <app-validator [control]="purchaseOrderForm.capForInvoicing.currencyId"></app-validator>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </ng-container>
                <ng-container *ngIf="data.directClientId">
                    <h3 class="sub-header u-mb--5 u-mt--20">Client contact responsible</h3>
                    <mat-form-field class="workflow-list--filter-manager-dropdown autocompleteWithShevron form-width-420" appearance="outline"
                        [ngClass]="{'isPanelOpen': contactAuto.isOpen}">
                        <input type="text" #trigger matInput [matAutocomplete]="contactAuto" formControlName="clientContactResponsible" appPreventDoubleClick
                            (click)="$event.stopPropagation()" placeholder="Assignee">
                        <span matSuffix class="shevron"></span>
                        <mat-autocomplete #contactAuto="matAutocomplete" [displayWith]="displayFullNameFn" (optionSelected)="focusToggleMethod('auto')" (opened)="focusToggleMethod('hidden')"
                        (closed)="onAutocompleteClosed(purchaseOrderForm.clientContactResponsible, 'id')">
                            <ng-container *ngFor="let option of filteredClientContacts$ | async; trackBy: trackById">
                                <mat-option [value]="option">
                                    <div class="multilineDropdown-option--row text-bold dark-grey-color flex-items-center" [matTooltip]="option.firstName + ' ' + option.lastName"
                                        matTooltipClass="white-tooltip" appShowIfTruncated>
                                        <span>{{ option.firstName + ' ' + option.lastName }}</span>
                                    </div>
                                </mat-option>
                            </ng-container>
                            <ng-container *ngIf="(filteredClientContacts$ | async)?.length === 0">
                                <mat-option (click)="$event.stopPropagation()" class="no-data">
                                    <span class="text-bold dark-grey-color">
                                        No contacts found
                                    </span>
                                </mat-option>
                            </ng-container>
                        </mat-autocomplete>
                        <mat-error>
                            <app-validator [control]="purchaseOrderForm.clientContactResponsible"></app-validator>
                        </mat-error>
                    </mat-form-field>
                </ng-container>

                <mat-divider class="u-w--100 dark-grey-color u-mt--15 u-mb--15"></mat-divider>
                <mat-form-field appearance="outline"
                    class="formFieldNoMarginPadding textarea-input u-mr--12 form-width-720">
                    <mat-label>Notes</mat-label>
                    <textarea matInput autocomplete="new-password"
                        name="notes" formControlName="notes"
                        [cdkTextareaAutosize]="true" [cdkAutosizeMinRows]="8" [cdkAutosizeMaxRows]="10">
                    </textarea>
                </mat-form-field>

                <app-documents class="u-w--100" #poDocuments [singleDocument]="true"></app-documents>
                <ng-container *ngIf="purchaseOrderForm.numberMissingButRequired.value">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-form-field appearance="outline" class="filter-select form-width-200 u-mr--16">
                            <mat-label> Chasing status</mat-label>
                            <mat-select formControlName="chasingStatus" [disableOptionCentering]="true">
                                <ng-container *ngFor="let item of chasingStatuses">
                                    <mat-option [value]="item.id">
                                        {{ item.name }}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                        <mat-checkbox color="accent" formControlName="notifyCM" name="notifyCM"
                            class="black-checkbox u-mr--16">
                            Notify CM
                        </mat-checkbox>
                        <mat-checkbox color="accent" formControlName="isUnread" name="isUnread"
                            class="black-checkbox">
                            Mark note as unread
                        </mat-checkbox>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="confirmation-dialog--actions">
    <button mat-flat-button class="dialog-btn dialog-btn__outlined" appPreventDoubleClick (throttledClick)="reject()">
        Cancel
    </button>
    <button mat-flat-button class="dialog-btn dialog-btn__positive" appPreventDoubleClick (throttledClick)="confirm()"
        [disabled]="purchaseOrderForm.invalid">
        Save
    </button>
</mat-dialog-actions>


<ng-template #poNumberInfo let-order="order" let-isList="isList">
    <div class="multilineDropdown-option--column text-truncate-ellipsis">
        <span class="multilineDropdown-option--column-client-name flex-items-center"
            [ngClass]="{'medium-grey-color': order?.numberMissingButRequired}">
            <ng-container *ngIf="order.purchaseOrderCurrentContextData?.existsInAnotherWorkflow && isList">
                <mat-icon class="shared-icon cursor-pointer u-mr--5" svgIcon="shared-icon"
                    [matTooltip]="'PO shared with another WF'" matTooltipClass="white-tooltip"></mat-icon>
            </ng-container>
            <ng-container *ngIf="isList">
                {{order?.number}}
            </ng-container>
        </span>
        <span class="multilineDropdown-option--column-client-info">
            {{order?.receiveDate !== null && order?.receiveDate !== undefined ? (order?.receiveDate | momentFormat) :
            '-'
            }}
            {{order?.receiveDate !== null && order?.receiveDate !== undefined ? '• ' : ''}}
            {{purchaseOrderCapTypes[order?.capForInvoicing?.type]}}
            <ng-container [ngSwitch]="order?.capForInvoicing?.type">
                <ng-container *ngSwitchCase="ePOCaps.CapOnUnits">
                    • {{eValueUnitType[order?.capForInvoicing?.valueUnitTypeId]}}
                </ng-container>
                <ng-container *ngSwitchCase="ePOCaps.CapOnValue">
                    • {{eCurrencies[order?.capForInvoicing?.currencyId]}}
                </ng-container>
                <ng-container *ngSwitchCase="ePOCaps.NoCap">
                </ng-container>
            </ng-container>
            <ng-container *ngIf="order?.capForInvoicing?.type !== ePOCaps.NoCap">
                • {{order?.capForInvoicing?.amountUsed ?? '0'}} / {{order?.capForInvoicing?.maxAmount}}
            </ng-container>
        </span>
    </div>
</ng-template>

<ng-template #noData>-</ng-template>
