@import 'variables';
@import 'mixins';

.top-filters-container {
	padding: 25px 50px 15px;
}
.search-and-header-container {
	display: flex;
	justify-content: space-between;
}
.right-filters,
.left-filters,
.icons-container {
	display: flex;
}
.left-filters {
    margin-top: -18px;
	gap: 12px;
	align-items: center;
}
.circle-counter {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	background-color: #4a4e60;
	border-radius: 50%;
	color: rgb(255, 255, 255);
	position: relative;
	z-index: 2;
}
.saleManager-icon {
	width: 32px;
	height: 32px;
	border-radius: 50%;
}
.vertical-divider {
	height: 25px;
}
.clear-filter {
	color: $secondary-3;
	cursor: pointer;
}
.table-header {
	@include table-header;
    height: 38px;
    line-height: 38px;
}
