<div class="workflow-overview" *ngIf="componentInitalized">
    <div *ngFor="let item of workflowProcesses">
        <div class="workflow-overview--team" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="60px">
            <!-- TODO: move each block to card component-->
            <div fxLayout="column" fxLayoutAlign="start start" fxFlex="15%">
                <span class="flex-row flex-items-center u-mb--10">
                    <mat-icon svgIcon="{{item.name}}"></mat-icon>
                    <span class="workflow-overview--process">
                        {{item.displayName}}
                    </span>
                </span>
                <span class="workflow-overview--process-daterange u-ml--5">{{item.dateRange}}</span>
            </div>
            <div *ngFor="let item of item.processSteps" fxFlex="20%">
                <div class="workflow-overview--team__user column">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <img class="workflow-overview--team__user-img" src="https://placekitten.com/64/64" alt="">
                        <div class="column">
                            <h2 class="workflow-overview--team__user-position">{{item.displayName}}</h2>
                            <p class="workflow-overview--team__user-name">{{item.assignedPerson}}</p>
                        </div>
                    </div>
                    <div class="workflow-overview--team__user-progress u-w--100" [ngClass]="{'finished': item.isCompleted, 'in-progress': item.isInProgress}" [matTooltip]="displayStepActionTooltip(item)">
                    </div>
                    <div fxLayout="row" fxLayoutAlign="end center" class="u-w--100">
                        <span class="icon-in-progress u-mr--5">
                            <mat-icon svgIcon="{{item.isCompleted ? 'completed-icon' : 'in-progress-icon'}}"></mat-icon>
                        </span>
                        <span class="workflow-overview--team__user-status" [ngClass]="{'finished': item.canStartSetup || item.isInProgress}">
                            {{displayStepAction(item)}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="workflow-overview--timeline" fxLayout="row" fxLayoutAlign="start start">
        <!-- TODO: move tiomeline to component-->
        // gantt chart (timeline)
    </div>
</div>
