<div class="workflow-overview">
    <div class="workflow-overview--team" fxLayout="row" fxLayoutAlign="start start">
        <div class="workflow-overview--team__user column u-mr--20" fxFlex="20%">
            <div fxLayout="column" fxLayoutAlign="start start" class="u-mb--20">
                <h2 class="workflow-overview--team__user-block">Sales</h2>
                <div class="workflow-overview--team__user-progress u-w--100" [ngClass]="{'finished': finished}" [matTooltip]="'Finished'">
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <img class="workflow-overview--team__user-img" src="https://placekitten.com/64/64" alt="">
                <div class="column">
                    <h2 class="workflow-overview--team__user-position">Sales</h2>
                    <p class="workflow-overview--team__user-name">Anna Kowalski</p>
                </div>
            </div>
        </div>
        <div class="workflow-overview--team__user column u-mr--20" fxFlex="20%">
            <div fxLayout="column" fxLayoutAlign="start start" class="u-mb--20">
                <h2 class="workflow-overview--team__user-block">Contracts</h2>
                <div class="workflow-overview--team__user-progress u-w--100" [ngClass]="{'in-progress': inPorgress}" [matTooltip]="'In progress'">
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <img class="workflow-overview--team__user-img" src="https://placekitten.com/64/64" alt="">
                <div class="column">
                    <h2 class="workflow-overview--team__user-position">Contracts</h2>
                    <p class="workflow-overview--team__user-name">Tim Robertsen</p>
                </div>
            </div>
        </div>
        <div class="workflow-overview--team__user column u-mr--20" fxFlex="20%">
            <div fxLayout="column" fxLayoutAlign="start start" class="u-mb--20">
                <h2 class="workflow-overview--team__user-block">Accounts</h2>
                <div class="workflow-overview--team__user-progress u-w--100" [ngClass]="{'not-started': notStarted}" [matTooltip]="'Not yet started'">
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <img class="workflow-overview--team__user-img" src="https://placekitten.com/64/64" alt="">
                <div class="column">
                    <h2 class="workflow-overview--team__user-position">Accounts</h2>
                    <p class="workflow-overview--team__user-name">Mia Van Trier</p>
                </div>
            </div>
        </div>
    </div>
    <div class="workflow-overview--timeline" fxLayout="row" fxLayoutAlign="start start">
        // gantt chart
    </div>
</div>
