<ng-container [ngSwitch]="agreementStatus">
	<ng-container *ngSwitchCase="envelopeStatuses.Created">
		<ng-container
			[ngTemplateOutlet]="dot"
			[ngTemplateOutletContext]="{
				color: statusEnum[envelopeStatuses.Created].color,
				name: statusEnum[envelopeStatuses.Created].name
			}"></ng-container>
	</ng-container>
	<ng-container *ngSwitchCase="envelopeStatuses.CreatedInDocuSign">
		<ng-container
			[ngTemplateOutlet]="dot"
			[ngTemplateOutletContext]="{
				color: statusEnum[envelopeStatuses.CreatedInDocuSign].color,
				name: statusEnum[envelopeStatuses.CreatedInDocuSign].name
			}"></ng-container>
	</ng-container>
	<ng-container *ngSwitchCase="envelopeStatuses.Sent">
		<ng-container
			[ngTemplateOutlet]="dot"
			[ngTemplateOutletContext]="{
				color: statusEnum[envelopeStatuses.Sent].color,
				name: statusEnum[envelopeStatuses.Sent].name
			}"></ng-container>
	</ng-container>
	<ng-container *ngSwitchCase="envelopeStatuses.DeliveryFailure">
		<ng-container
			[ngTemplateOutlet]="dot"
			[ngTemplateOutletContext]="{
				color: statusEnum[envelopeStatuses.DeliveryFailure].color,
				name: statusEnum[envelopeStatuses.DeliveryFailure].name
			}"></ng-container>
	</ng-container>
	<ng-container *ngSwitchCase="envelopeStatuses.Voided">
		<ng-container
			[ngTemplateOutlet]="dot"
			[ngTemplateOutletContext]="{
				color: statusEnum[envelopeStatuses.Voided].color,
				name: statusEnum[envelopeStatuses.Voided].name
			}"></ng-container>
	</ng-container>
	<ng-container *ngSwitchCase="envelopeStatuses.Declined">
		<ng-container
			[ngTemplateOutlet]="dot"
			[ngTemplateOutletContext]="{
				color: statusEnum[envelopeStatuses.Declined].color,
				name: statusEnum[envelopeStatuses.Declined].name
			}"></ng-container>
	</ng-container>
	<ng-container *ngSwitchCase="envelopeStatuses.WaitingForOthers">
		<ng-container
			[ngTemplateOutlet]="dot"
			[ngTemplateOutletContext]="{
				color: statusEnum[envelopeStatuses.WaitingForOthers].color,
				name: statusEnum[envelopeStatuses.WaitingForOthers].name
			}"></ng-container>
	</ng-container>
	<ng-container *ngSwitchCase="envelopeStatuses.Completed">
		<ng-container
			[ngTemplateOutlet]="dot"
			[ngTemplateOutletContext]="{
				color: statusEnum[envelopeStatuses.Completed].color,
				name: statusEnum[envelopeStatuses.Completed].name
			}"></ng-container>
	</ng-container>
	<ng-container *ngSwitchCase="envelopeStatuses.AboutToExpire">
		<ng-container
			[ngTemplateOutlet]="dot"
			[ngTemplateOutletContext]="{
				color: statusEnum[envelopeStatuses.AboutToExpire].color,
				name: statusEnum[envelopeStatuses.AboutToExpire].name
			}"></ng-container>
	</ng-container>
	<ng-container *ngSwitchCase="envelopeStatuses.Expired">
		<ng-container
			[ngTemplateOutlet]="dot"
			[ngTemplateOutletContext]="{
				color: statusEnum[envelopeStatuses.Expired].color,
				name: statusEnum[envelopeStatuses.Expired].name
			}"></ng-container>
	</ng-container>
	<ng-container *ngSwitchCase="envelopeStatuses.ReminderSent">
		<ng-container
			[ngTemplateOutlet]="icon"
			[ngTemplateOutletContext]="{
				icon: statusEnum[envelopeStatuses.ReminderSent].icon,
				name: statusEnum[envelopeStatuses.ReminderSent].name
			}"></ng-container>
	</ng-container>
	<ng-container *ngSwitchCase="envelopeStatuses.PartiallySigned">
		<ng-container
			[ngTemplateOutlet]="icon"
			[ngTemplateOutletContext]="{
				icon: statusEnum[envelopeStatuses.PartiallySigned].icon,
				name: statusEnum[envelopeStatuses.PartiallySigned].name
			}"></ng-container>
	</ng-container>
</ng-container>
<ng-template #dot let-color="color" let-name="name">
    <div class="icon-and-text">
        <svg
		width="8"
		height="8"
		viewBox="0 0 8 8"
		fill="none"
		xmlns="http://www.w3.org/2000/svg">
		<rect width="8" height="8" rx="4" [attr.fill]="color" />
	</svg>
    <ng-container *ngIf="displayText">
        <span> {{ name }}</span>
    </ng-container>
    </div>
</ng-template>
<ng-template #icon let-icon="icon" let-name="name">
	<div class="icon-and-text">
		<mat-icon [svgIcon]="icon" class="icon"></mat-icon>
		<ng-container *ngIf="displayText">
			<span> {{ name }}</span>
		</ng-container>
    </div>

</ng-template>
