

<ng-container [ngSwitch]="agreementStatus">
    <ng-container *ngSwitchCase="envelopeStatuses.Created">
        <ng-container [ngTemplateOutlet]="dot" [ngTemplateOutletContext]="{color:'#50BEE8'}"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="envelopeStatuses.CreatedInDocuSign">
        <ng-container [ngTemplateOutlet]="dot" [ngTemplateOutletContext]="{color:'#0052B4'}"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="envelopeStatuses.Sent">
        <ng-container [ngTemplateOutlet]="dot" [ngTemplateOutletContext]="{color:'#0052B4'}"></ng-container>
    </ng-container>
    <!-- FIXME: commented after proxies update -->
    <!-- <ng-container *ngSwitchCase="envelopeStatuses.Viewed">
        <ng-container [ngTemplateOutlet]="dot" [ngTemplateOutletContext]="{color:'#ED2939'}"></ng-container>
    </ng-container> -->
    <ng-container *ngSwitchCase="envelopeStatuses.DeliveryFailure">
        <ng-container [ngTemplateOutlet]="dot" [ngTemplateOutletContext]="{color:'#ED2939'}"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="envelopeStatuses.Voided">
        <ng-container [ngTemplateOutlet]="dot" [ngTemplateOutletContext]="{color:'#ED2939'}"></ng-container>
    </ng-container>
    <!-- FIXME: commented after proxies update -->
    <!-- <ng-container *ngSwitchCase="envelopeStatuses.Signed">
        <ng-container [ngTemplateOutlet]="dot" [ngTemplateOutletContext]="{color:'#ED2939'}"></ng-container>
    </ng-container> -->
    <ng-container *ngSwitchCase="envelopeStatuses.Declined">
        <ng-container [ngTemplateOutlet]="dot" [ngTemplateOutletContext]="{color:'#ED2939'}"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="envelopeStatuses.WaitingForOthers">
        <ng-container [ngTemplateOutlet]="dot" [ngTemplateOutletContext]="{color:'#9747FF'}"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="envelopeStatuses.Completed">
        <ng-container [ngTemplateOutlet]="dot" [ngTemplateOutletContext]="{color:'#17A297'}"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="envelopeStatuses.AboutToExpire">
        <ng-container [ngTemplateOutlet]="dot" [ngTemplateOutletContext]="{color:'#F3AB20'}"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="envelopeStatuses.Expired">
        <ng-container [ngTemplateOutlet]="dot" [ngTemplateOutletContext]="{color:'#ED2939'}"></ng-container>
    </ng-container>
</ng-container>
<ng-template #dot let-color="color">
<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
	<rect width="8" height="8" rx="4" [attr.fill]="color" />
</svg>
</ng-template>
