@import "/src/app/shared/styles/config/_colors";

.white-color {
    color: white !important;
}

.green-color {
    color: $green-color !important;
}

.main-black-color-text {
    color: rgba($color: #000000, $alpha: 0.6);
}

.color-black {
    color: black;
}

.bgc-white {
    background-color: white;
}

.orange-color {
    color: $orange-color !important;
}

.light-grey-color {
    color: $light-grey-color !important;
}

.medium-grey-color {
    color: $medium-grey-color !important;
}

.dark-grey-color {
    color: $dark-grey-color !important;
}

.sand-color {
    color: $sand-color !important;
}
