@import "/src/app/shared/styles/config/_mixins";
.full-height {
    height: 100%;
}

html {
    box-sizing: border-box;
    @include scrollbar;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1em;
    line-height: 1.5;
    background-color: #FFF;
    transition: background-color 0.24s ease-in;
}

html,
body {
    font-size: 14px !important;
}

#container {
    padding: 25px;
}

.full-width {
    width: 100% !important;
}

.full-height {
    height: 100%;
}

.auto-height {
    height: auto !important;
}

.none-flex {
    flex: initial;
}

.none-padding-left {
    padding-left: 0 !important;
}

.flex-initial {
    flex: 1 1 auto !important;
}

.flex-initial-noStrech {
    flex: 0 1 auto;
}

.flex-end {
    display: flex !important;
    justify-content: flex-end !important;
}

.shadow-block {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.column {
    display: flex;
    flex-direction: column;
    flex: unset;
    width: 100%;
}

p {
    font-size: 1em;
    color: black;
    line-height: 24px;
    letter-spacing: .5px;
}

.display-none {
    display: none;
}

.visible {
    visibility: visible;
}

.unvisible {
    visibility: hidden;
}

.cursor-pointer {
    cursor: pointer;
}

.none-select {
    user-select: none;
}

.no-data {
    pointer-events: none;
}

html {
    display: block !important;
    top: 0px !important;
    left: 0px !important;
    position: inherit !important;
}

.main {
    &-drawer {
        &-container {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        &-sidebar {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            max-width: 44px !important;
            width: 100%;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
        }
        &-content {
            flex: 1;
            width: 100%;
            background-color: #fff !important;
            >.full-height {
                overflow: hidden;
            }
        }
    }
    &-content {
        height: 100%;
    }
}

.mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden !important;
}

.flex-row {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.form-field-noPadding {
    margin-bottom: -1.25em;
}

.flex-items-center {
    display: flex;
    align-items: center;
}

.flex-items-end {
    display: flex;
    align-items: flex-end;
}

.flex-items-start {
    display: flex;
    align-items: flex-start;
}

.flex-justify-between {
    display: flex;
    justify-content: space-between;
}

.flex-justify-end {
    display: flex;
    justify-content: flex-end;
}

.flex-justify-center {
    display: flex;
    justify-content: center;
}

.flex-justify-start {
    display: flex;
    justify-content: flex-start;
}

.flex-row-gap--10 {
    row-gap: 10px !important;
}

.backdrop-modal--wrapper {
    background: rgba(23, 162, 151, .5);
        &~ .cdk-global-overlay-wrapper {
        pointer-events: auto !important;
        overflow: auto !important;
        &::before {
            content: '' !important;
            display: inline-block !important;
            height: 100% !important;
            white-space: nowrap !important;
            .cdk-overlay-pane {
                position: relative !important;
                text-align: left !important;
                white-space: normal !important;
            }
        }
    }
}

.pointerEventsNone {
    pointer-events: none;
}

.border-rounded-50 {
    border-radius: 50%;
}

.border-unset {
    border: 0 !important;
}

.hidden-option {
    display: none !important;
}

.text-end {
    text-align: end;
}

.disabled-autocomplete {
    pointer-events: none;
    opacity: .5;
}

.image-thumbnail {
    width: 50px;
    height: 50px;
    &-small {
        width: 35px;
        height: 35px;
    }
    &--logout {
        width: 20px;
        height: 20px;
        margin-left: 8px;
        margin-right: 12px;
        &-menu {
            width: 28px;
            height: 28px;
        }
    }
}

.image-settings {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    &--dropdown {
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }
}

.page-main-header {
    @include fontOpenSans(36px, 800);
    font-weight: 800 !important;
    color: $dark-grey-color;
    line-height: 30px !important;
}

.page-main-subheader {
    @include fontOpenSans(18px, 800);
    font-weight: 800 !important;
    color: $dark-grey-color;
    line-height: 120% !important;
    margin-bottom: 5px;
}

.is-loading {
    &-container {
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .07);

        mat-spinner {
            position: absolute;
            top: calc(50% - 12.5px);
            left: calc(50% - 12.5px);
        }
    }
}

.pos-relative {
    position: relative;
}

.width-fit-content {
    width: fit-content;
}

.emptyStateRow {
    height: 50px;
    width: 100%;
    padding: 0 16px;
    background-color: $white-color;
}

.rotate-90 {
    transform: rotate(90deg);
}

.rotate-180 {
    transform: rotate(180deg);
}

.hidden {
    display: none !important;
}


.overflow-y-auto {
    overflow-y: auto !important;
}

.bg-green {
    background-color: #50AF9B !important;
}

.opacity-50 {
    opacity: 0.5 !important;
}

.border-rounded-2px {
    border-radius: 2px;
}
.border-gray-50 {
    border: 1px solid #e6e6e5;
}
