.full-height {
    height: 100%;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1em;
    line-height: 1.5;
    background-color: #FFF;
    transition: background-color 0.24s ease-in;
}

html,
body {
    font-size: 16px !important;
}

#container {
    padding: 25px;
}

.full-width {
    width: 100% !important;
}

.full-height {
    height: 100%;
}

.auto-height {
    height: auto !important;
}

.none-flex {
    flex: initial;
}

.none-padding-left {
    padding-left: 0 !important;
}

.flex-initial {
    flex: 1 1 auto !important;
}

.flex-initial-noStrech {
    flex: 0 1 auto;
}

.flex-end {
    display: flex !important;
    justify-content: flex-end !important;
}

.shadow-block {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.column {
    display: flex;
    flex-direction: column;
    flex: unset;
    width: 100%;
}

p {
    font-size: 1em;
    color: black;
    line-height: 24px;
    letter-spacing: .5px;
}

.display-none {
    display: none;
}

.visible {
    visibility: visible;
}

.unvisible {
    visibility: hidden;
}

.cursor-pointer {
    cursor: pointer;
}

.none-select {
    user-select: none;
}

.no-data {
    pointer-events: none;
}

html {
    display: block !important;
    top: 0px !important;
    left: 0px !important;
    position: inherit !important;
}

.main {
    &-drawer {
        &-container {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        &-sidebar {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            max-width: 64px !important;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
            &:hover {
              max-width: 250px !important;
              .main-navigation--list-item__name {
                display: flex;
              }
            }
        }
        &-content {
            flex: 1;
            width: 100%;
            background-color: #fff !important;
            >.full-height {
                overflow: hidden;
            }
        }
    }
    &-content {
        height: 100%;
    }
}

.mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden !important;
}

.flex-row {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.form-field-noPadding {
    margin-bottom: -1.25em;
}

.flex-items-center {
    display: flex;
    align-items: center;
}

.flex-items-end {
    display: flex;
    align-items: flex-end;
}

.flex-items-start {
    display: flex;
    align-items: flex-start;
}

.flex-justify-between {
    display: flex;
    justify-content: space-between;
}

.flex-justify-end {
    display: flex;
    justify-content: flex-end;
}

.flex-justify-center {
    display: flex;
    justify-content: center;
}

.flex-justify-start {
    display: flex;
    justify-content: flex-start;
}

.backdrop-modal--wrapper {
    background: rgba(23, 162, 151, .5);
        &~ .cdk-global-overlay-wrapper {
        pointer-events: auto !important;
        // Commented out for dialog over dialog
        // position: relative !important;
        overflow: auto !important;
        &::before {
            content: '' !important;
            display: inline-block !important;
            height: 100% !important;
            white-space: nowrap !important;
            .cdk-overlay-pane {
                position: relative !important;
                text-align: left !important;
                white-space: normal !important;
            }
        }
    }
}

.pointerEventsNone {
    pointer-events: none;
}

.border-rounded-50 {
    border-radius: 50%;
}

.hidden-option {
    display: none !important;
}

.text-end {
    text-align: end;
}

.disabled-autocomplete {
    pointer-events: none;
    opacity: .5;
}

.image-thumbnail {
    width: 50px;
    height: 50px;
    &-small {
        width: 35px;
        height: 35px;
    }
}

.image-settings {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    &--dropdown {
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }
}

.page-main-header {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 800;
    color: $dark-grey-color;
    font-size: 48px;
    line-height: 120%;
    @media screen and (max-width: 1366px) {
        font-size: 36px;
    }
}
