$sizes: (
    0: 0px,
    3: 3px,
    5: 5px,
    6: 6px,
    7: 7px,
    8: 8px,
    10: 10px,
    12: 12px,
    14: 14px,
    15: 15px,
    16: 16px,
    18: 18px,
    20: 20px,
    24: 24px,
    25: 25px,
    30: 30px,
    32: 32px,
    35: 35px,
    36: 36px,
    40: 40px,
    44: 44px,
    50: 50px,
    55: 55px,
    60: 60px
);

@each $name, $value in $sizes {
  .u-pl--#{$name} {
    padding-left: $value !important;
  }
  .u-pr--#{$name} {
    padding-right: $value !important;
  }
  .u-pt--#{$name} {
    padding-top: $value !important;
  }
  .u-pb--#{$name} {
    padding-bottom: $value !important;
  }
  .u-pg--#{$name} {
    padding: $value !important;
  }
  .u-ml--#{$name} {
    margin-left: $value !important;
  }
  .u-mr--#{$name} {
    margin-right: $value !important;
  }
  .u-mt--#{$name} {
    margin-top: $value !important;
  }
  .u-mb--#{$name} {
    margin-bottom: $value !important;
  }
  .u-mg--#{$name} {
    margin: $value !important;
  }
}

.u-pmg--0 {
    padding: 0px !important;
    margin: 0px !important;
}

.u-border--0 {
    border-radius: 0 !important;
}

.u-w--50 {
    width: 50% !important;
}

.u-w--75 {
    width: 75% !important;
}

.u-w--100 {
    width: 100% !important;
}

.u-h--100 {
    height: 100% !important;
}

.u-gap--24 {
    gap: 24px;
}

.u-gap--36 {
    gap: 36px;
}
.u-gap--55 {
    gap: 55px;
}

.u-mt--5__reverse {
    margin-top: -5px !important;
}

.u-mt--10__reverse {
    margin-top: -10px !important;
}

.u-mt--a {
    margin-top: auto !important;
}

.u-h--50px {
    height: 50px !important;
}

.u-pl--1 {
    padding-left: 1px !important;
}

.u-bt--0 {
    border-top: 0 !important;
}

.pl-6 {
    padding-left: 1.5rem !important;
}
.pl-7 {
    padding-left: 1.75rem !important;
}

.mt-1 {
    margin-top: .25rem!important
}

.ml-2 {
    margin-left: .5rem!important
}

.ml-3 {
    margin-left: .75rem!important
}

.w-7 {
    width: 1.75rem !important;
}

.w-6 {
    width: 1.5rem !important;
}

.h-6 {
    height: 1.5rem !important;
}

.h-100 {
    height: 25rem !important;
}

.w-80 {
    width: 20rem !important;
}

.w-30px {
    width: 30px !important;
}

.h-30px {
    height: 30px !important;
}

.-mt-3px {
    margin-top: -3px !important;
}

.-ml-3 {
    margin-left: -0.75rem !important;
}
