<mat-dialog-content class="confiramtion-dialog">
    <div mat-dialog-title class="confiramtion-dialog--header" align="center">
        <ng-container [ngSwitch]="data.dialogType">
            <ng-container *ngSwitchCase="dialogType.Create">
                Create project line
            </ng-container>
            <ng-container *ngSwitchCase="dialogType.Edit">
                Edit project line
            </ng-container>
        </ng-container>
    </div>
    <form [formGroup]="projectLineForm">
        <div fxLayout="column" fxLayoutAlign="start start" class="u-w--100">
            <mat-form-field appearance="outline" class="u-w--100 textarea-input textarea-with-hint" fxFlex="100%" [hintLabel]="(projectLineForm.value.projectName?.length ?? 0 ) + '/250'">
                <mat-label>Project name</mat-label>
                <textarea matInput autocomplete="new-password" maxlength="250" [matTextareaAutosize]="true" [matAutosizeMinRows]="2" name="projectName" formControlName="projectName">
                </textarea>
                <mat-error>
                    {{getValidationMessage(projectLineForm.projectName)}}
                </mat-error>
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mt--10">
                <mat-form-field appearance="outline" class="u-mr--16" fxFlex="0 0 calc(50% - 8px)">
                    <mat-label>Start date</mat-label>
                    <input autocomplete="off" placeholder="New end date" matInput
                            [matDatepicker]="startDatePicker"
                            name="startDate"
                            formControlName="startDate"
                            (focus)="startDatePicker.open()"
                            (click)="startDatePicker.open()" readonly>
                    <mat-icon class="calendar-icon" matSuffix svgIcon="calendar"></mat-icon>
                    <mat-datepicker #startDatePicker></mat-datepicker>
                </mat-form-field>

                <div fxLayout="column" fxLayoutAlign="start start" fxFlex="0 0 calc(50% - 8px)">
                    <mat-form-field appearance="outline" class="u-w--100">
                        <mat-label>End date</mat-label>
                        <input autocomplete="off" placeholder="New end date" matInput
                                [matDatepicker]="endDatePicker"
                                name="saleDate"
                                formControlName="endDate"
                                (focus)="endDatePicker.open()"
                                (click)="endDatePicker.open()" readonly>
                        <mat-icon class="calendar-icon" matSuffix svgIcon="calendar"></mat-icon>
                        <mat-datepicker #endDatePicker></mat-datepicker>
                    </mat-form-field>
                    <mat-checkbox color="accent" formControlName="noEndDate" name="noEndDate" class="green-checkbox u-mr--10" (change)="disableOrEnableInput(projectLineForm.noEndDate!.value, projectLineForm.endDate)">
                        No end date
                    </mat-checkbox>
                </div>
            </div>
            <mat-form-field appearance="outline" class="u-w--100 u-mt--10 filter-select">
                <mat-label>Assignment ID / PO number</mat-label>
                <input matInput type="text" formControlName="invoicingReferenceNumber">
            </mat-form-field>
            <mat-checkbox color="accent" name="differentInvoicingReferenceNumber" formControlName="differentInvoicingReferenceNumber" class="green-checkbox" (change)="disableOrEnableInput(!projectLineForm.differentInvoicingReferenceNumber!.value, projectLineForm.invoicingReferenceNumber)">
                Different assignment ID / PO number
            </mat-checkbox>

            <mat-form-field appearance="outline" class="u-w--100 u-mt--10 filter-select">
                <mat-label>Invoice reference person</mat-label>
                <input #invoicingReferencePersonAutocompleteInput type="text" matInput [matAutocomplete]="invoicingReferencePersonAutocomplete" formControlName="invoicingReferencePersonId" (click)="$event.stopPropagation()" placeholder="Invoice reference person">
                <mat-autocomplete #invoicingReferencePersonAutocomplete="matAutocomplete" [displayWith]="displayFullNameFn">
                    <ng-container>
                        <mat-option *ngFor="let contact of filteredReferencePersons" [value]="contact" [ngClass]="{ 'no-data': contact.id === 'no-data' }">
                            <b>{{ contact.firstName + ' ' + contact.lastName }}</b>
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>
            <mat-checkbox color="accent" name="differentInvoicingReferencePerson" formControlName="differentInvoicingReferencePerson" class="green-checkbox" (change)="disableOrEnableInput(!projectLineForm.differentInvoicingReferencePerson!.value, projectLineForm.invoicingReferencePersonId)">
                Different invoicing reference person
            </mat-checkbox>

            <mat-form-field appearance="outline" class="u-w--100 u-mt--10 textarea-input">
                <mat-label>Optional invoicing info</mat-label>
                <textarea matInput autocomplete="new-password" [matAutosizeMinRows]="5" [matTextareaAutosize]="true" name="optionalInvoicingInfo" formControlName="optionalInvoicingInfo">
                </textarea>
            </mat-form-field>

            <mat-form-field appearance="outline" class="u-w--100 u-mt--10 formFieldNoMarginPadding">
                <mat-label>Debitor number</mat-label>
                <input matInput type="text" formControlName="debtorNumber">
            </mat-form-field>

            <mat-checkbox color="accent" name="differentDebtorNumber" formControlName="differentDebtorNumber" class="green-checkbox" (change)="disableOrEnableInput(!projectLineForm.differentDebtorNumber!.value, projectLineForm.debtorNumber)">
                Different debitor number
            </mat-checkbox>

            <mat-form-field appearance="outline" class="u-w--100 u-mt--10 formFieldNoMarginPadding">
                <mat-label>Invoice recipient</mat-label>
                <input #clientInvoicingRecipientInput type="text" matInput [matAutocomplete]="clientInvoicingRecipientAutocomplete" formControlName="invoiceRecipientId" (click)="$event.stopPropagation()" placeholder="Invoice recipient">
                <mat-autocomplete #clientInvoicingRecipientAutocomplete="matAutocomplete" [displayWith]="displayClientNameFn">
                    <ng-container>
                        <mat-option *ngFor="let client of filteredClientInvoicingRecipients" [value]="client" [ngClass]="{ 'no-data': client.id === 'no-data' }">
                            <div>
                                <b>{{ client.clientName }}</b>
                                <span *ngIf="client.id !== 'no-data'"> | {{client.address}} | {{client.address2}} | {{client.postCode}}</span>
                            </div>
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>
            <mat-checkbox color="accent" name="differentInvoiceRecipient" formControlName="differentInvoiceRecipient" class="green-checkbox" (change)="disableOrEnableInput(!projectLineForm.differentInvoiceRecipient!.value, projectLineForm.invoiceRecipientId)">
                Different invoice recipient
            </mat-checkbox>

            <mat-form-field appearance="outline" class="u-w--100 formFieldNoMarginPadding filter-select u-mt--10" fxFlex="20%">
                <mat-label>Insurance</mat-label>
                <mat-select formControlName="consultantInsuranceOptionId" placeholder="Insurance" [disableOptionCentering]="true">
                    <mat-option *ngFor="let item of consultantInsuranceOptions | keyvalue" [value]="+item.key">
                        {{ item.value }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="start" class="confiramtion-dialog--actions">
    <button mat-flat-button class="dialog-btn dialog-btn__outlined" (click)="reject()">
        Cancel
    </button>
    <button mat-flat-button class="dialog-btn dialog-btn__positive" (click)="confirm()">
        Save
    </button>
</mat-dialog-actions>

