<mat-dialog-content class="confirmation-dialog">
    <div mat-dialog-title class="confirmation-dialog--header" align="start">
        <span class="text-bold-800">
            <ng-container [ngSwitch]="data.dialogType">
                <ng-container *ngSwitchCase="dialogType.Create">
                    Create project line
                </ng-container>
                <ng-container *ngSwitchCase="dialogType.Edit">
                    Edit project line
                </ng-container>
            </ng-container>
        </span>
        <mat-icon class="confirmation-dialog--header-close-icon" svgIcon="dialog-close-icon" (click)="close()"></mat-icon>
    </div>
    <form [formGroup]="projectLineForm">
        <div fxLayout="column" fxLayoutAlign="start start" class="u-w--100">
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
                <div fxLayout="column" fxLayoutAlign="start start" class="u-w--100" fxFlex="50%">
                    <h2 class="section-header">Main data</h2>
                    <mat-form-field appearance="outline" class="form-width-340 formFieldNoMarginPadding u-mt--10">
                        <mat-label>Project name</mat-label>
                        <input matInput type="text" autocomplete="new-password" name="projectName" formControlName="projectName" />
                        <mat-error>
                            <app-validator [control]="projectLineForm.projectName"></app-validator>
                        </mat-error>
                    </mat-form-field>
                    <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mt--10">
                        <mat-form-field appearance="outline" class="u-mr--10 form-width-165">
                            <mat-label>Start date</mat-label>
                            <input autocomplete="off" placeholder="New end date" matInput [matDatepicker]="startDatePicker"
                                name="startDate" formControlName="startDate" (focus)="startDatePicker.open()"
                                appPreventDoubleClick (throttledClick)="startDatePicker.open()" readonly>
                            <mat-icon class="calendar-icon" matSuffix svgIcon="calendar"></mat-icon>
                            <mat-datepicker #startDatePicker></mat-datepicker>
                        </mat-form-field>

                        <div fxLayout="column" fxLayoutAlign="start start">
                            <mat-form-field appearance="outline" class="form-width-165">
                                <mat-label>End date</mat-label>
                                <input autocomplete="off" placeholder="New end date" matInput
                                    [matDatepicker]="endDatePicker" name="saleDate" formControlName="endDate"
                                    (focus)="endDatePicker.open()" appPreventDoubleClick
                                    (throttledClick)="endDatePicker.open()" readonly>
                                <mat-icon class="calendar-icon" matSuffix svgIcon="calendar"></mat-icon>
                                <mat-datepicker #endDatePicker></mat-datepicker>
                            </mat-form-field>
                            <mat-checkbox color="accent" formControlName="noEndDate" name="noEndDate"
                                class="black-checkbox u-mr--10"
                                (change)="disableOrEnableInput(projectLineForm.noEndDate!.value, projectLineForm.endDate)">
                                No end date
                            </mat-checkbox>
                        </div>
                    </div>

                    <mat-form-field appearance="outline" class="form-width-340 formFieldNoMarginPadding filter-select u-mt--10"
                        fxFlex="20%">
                        <mat-label>Insurance</mat-label>
                        <mat-select formControlName="consultantInsuranceOptionId" placeholder="Insurance"
                            [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of consultantInsuranceOptions | keyvalue" [value]="+item.key">
                                {{ item.value }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-checkbox color="accent" name="feesBilledWithThisProjectLine" formControlName="isLineForFees"
                        class="black-checkbox u-mt--20">
                        Fees billed with this Project line
                    </mat-checkbox>

                    <mat-form-field appearance="outline" class="form-width-340 u-mt--10 textarea-input textarea-with-hint">
                        <mat-label>Optional invoicing info</mat-label>
                        <textarea matInput autocomplete="new-password" maxlength="250" cdkAutosizeMinRows="2"
                            cdkTextareaAutosize name="optionalInvoicingInfo" formControlName="optionalInvoicingInfo"
                            class="u-pb--10">
                        </textarea>
                        <mat-hint
                            [ngClass]="{'hint-reached-maximum-characters': projectLineForm.value.optionalInvoicingInfo?.length === 250}">
                            {{(projectLineForm.value.optionalInvoicingInfo?.length ?? 0 ) + '/250'}}</mat-hint>
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxLayoutAlign="start start" class="u-w--100" fxFlex="50%">
                    <h2 class="section-header">Invoicing</h2>
                    <mat-form-field appearance="outline" class="form-width-340 u-mt--10 formFieldNoMarginPadding autocompleteWithShevron client-address-autocomplete" [ngClass]="{'isPanelOpen': clientInvoicingRecipientAutocomplete.isOpen}">
                        <mat-label>Invoice recipient</mat-label>
                        <input #clientInvoicingRecipientInput type="text" matInput
                            [matAutocomplete]="clientInvoicingRecipientAutocomplete" formControlName="invoiceRecipientId"
                            appPreventDoubleClick (throttledClick)="$event.stopPropagation()"
                            placeholder="Invoice recipient">
                            <ng-container *ngIf="projectLineForm.invoiceRecipientId?.value?.clientId" matPrefix>
                                <ng-container [ngTemplateOutlet]="clientPrefix"
                                    [ngTemplateOutletContext]="{client: projectLineForm.invoiceRecipientId?.value}">
                                </ng-container>
                            </ng-container>
                            <span matSuffix class="shevron"></span>
                        <mat-autocomplete #clientInvoicingRecipientAutocomplete="matAutocomplete"
                            (optionSelected)="recipientSelected($event)"
                            [displayWith]="displayClientNameFn">
                            <ng-container>
                                <mat-option *ngFor="let client of filteredClientInvoicingRecipients" [value]="client" [ngClass]="{ 'no-data': client.id === 'no-data' }">
                                    <div class="multilineDropdown-option--column">
                                        <span class="multilineDropdown-option--column-client-name">{{ client.clientName }}</span>
                                        <span *ngIf="client.id !== 'no-data'" class="multilineDropdown-option--column-client-info">
                                            #{{client.clientId}} | {{client.city ?? ''}} {{client.countryName ? ', ' + client.countryName : ''}}
                                        </span>
                                    </div>
                                </mat-option>
                            </ng-container>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field appearance="outline" [ngClass]="{'is-empty': !projectLineForm.invoiceRecipientAddress.value}"
                        class="formFieldNoMarginPadding filter-select form-width-340 client-address-autocomplete">
                        <mat-label>Client address</mat-label>
                        <mat-select formControlName="invoiceRecipientAddress"
                            [disableOptionCentering]="true" placeholder="Direct client address" [compareWith]="compareWithFn">
                            <mat-select-trigger>
                                <div class="multilineDropdown-option--column text-truncate-ellipsis">
                                    <span class="multilineDropdown-option--column-client-name">
                                        {{projectLineForm.invoiceRecipientAddress?.value?.displayValue }}</span>
                                    <span class="multilineDropdown-option--column-client-info text-truncate-ellipsis">
                                        {{projectLineForm.invoiceRecipientAddress?.value?.addressType}}
                                    </span>
                                </div>
                            </mat-select-trigger>
                            <ng-container *ngFor="let item of recipientAddresses; trackBy: trackById">
                                <mat-option [value]="item" [fxHide]="item.isHidden">
                                    <div class="multilineDropdown-option--column text-truncate-ellipsis">
                                        <span class="multilineDropdown-option--column-client-name">
                                            {{item.displayValue }}</span>
                                        <span class="multilineDropdown-option--column-client-info text-truncate-ellipsis">
                                            {{item.addressType}}
                                        </span>
                                    </div>
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                    <mat-checkbox color="accent" name="differentInvoiceRecipient"
                        formControlName="differentInvoiceRecipient" class="black-checkbox"
                        (change)="toggleDIsabledStateForInvoicing(!projectLineForm.differentInvoiceRecipient!.value)">
                        Different invoice recipient
                    </mat-checkbox>
                    <mat-form-field appearance="outline" class="form-width-340 u-mt--10 formFieldNoMarginPadding">
                        <mat-label>Debitor number</mat-label>
                        <input matInput type="text" formControlName="debtorNumber">
                    </mat-form-field>
                    <mat-checkbox color="accent" name="differentDebtorNumber" formControlName="differentDebtorNumber"
                        class="black-checkbox"
                        (change)="disableOrEnableInput(!projectLineForm.differentDebtorNumber!.value, projectLineForm.debtorNumber)">
                        Different debitor number
                    </mat-checkbox>

                    <ng-container *ngIf="!projectLineForm.value?.invoicingReferencePersonDontShowOnInvoice">
                        <mat-form-field appearance="outline" class="form-width-340 u-mt--10 filter-select autocompleteWithShevron" [ngClass]="{'isPanelOpen': invoicingReferencePersonAutocomplete.isOpen}">
                            <mat-label>Invoice reference person</mat-label>
                            <input #invoicingReferencePersonAutocompleteInput type="text" matInput
                                [matAutocomplete]="invoicingReferencePersonAutocomplete"
                                formControlName="invoicingReferencePersonId" appPreventDoubleClick
                                (throttledClick)="$event.stopPropagation()" placeholder="Invoice reference person">
                                <span matSuffix class="shevron"></span>
                            <mat-autocomplete #invoicingReferencePersonAutocomplete="matAutocomplete"
                                [displayWith]="displayFullNameFn">
                                <ng-container>
                                    <mat-option *ngFor="let contact of filteredReferencePersons" [value]="contact" [ngClass]="{ 'no-data': contact.id === 'no-data' }">
                                        <span class="autocopmlete-option-name">{{ contact.firstName + ' ' + contact.lastName }}</span>
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                        <mat-checkbox color="accent" name="differentInvoicingReferencePerson"
                            formControlName="differentInvoicingReferencePerson" class="black-checkbox"
                            (change)="disableOrEnableInput(!projectLineForm.differentInvoicingReferencePerson!.value, projectLineForm.invoicingReferencePersonId)">
                            Different invoicing reference person
                        </mat-checkbox>
                    </ng-container>
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="start start" class="u-w--100">
                <h2 class="section-header u-mb--15">Client Purchase Order (PO)</h2>
                <purchase-orders #poComponent [mode]="ePurchaseOrderMode.ProjectLine" [periodId]="data?.periodId" [directClientId]="data?.directClientId"></purchase-orders>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="start" class="confirmation-dialog--actions">
    <button mat-flat-button class="dialog-btn dialog-btn__outlined confirmation-dialog--actions-cancel" appPreventDoubleClick (throttledClick)="reject()">
        Cancel
    </button>
    <button mat-flat-button class="dialog-btn dialog-btn__positive" appPreventDoubleClick (throttledClick)="confirm()">
        Save
    </button>
</mat-dialog-actions>

<ng-template #clientPrefix let-client="client">
    <ng-container *ngIf="client?.clientId !== undefined && client?.clientAddresses?.length">
        <span
            class="multilineDropdown-option--column-client-info text-truncate-ellipsis">
            #{{client?.clientId}} | {{client?.clientAddresses[0]?.city ?? ''}} {{client?.clientAddresses[0]?.countryName ?
            ', ' + client?.clientAddresses[0]?.countryName : ''}}
        </span>
    </ng-container>
</ng-template>
