.option {
	font-size: 14px;
	font-weight: 600;
	width: fit-content;
}
.info-tip-icon {
	width: 16px;
	height: 16px;
}
.form-fields-container {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.mat-form-field {
	display: block;
	width: 100%;
}
.mat-radio-group {
	gap: 12px;
}
.mat-divider {
	margin: 24px 0px;
}
.template-settings-header {
	font-size: 16px;
	font-weight: 800;
	text-align: left;

	margin-bottom: 33px;
}
.long-row-cell {
	max-width: 100%;
}
.row-cell {
	max-width: calc(50% - 12px);
	flex: 0 0 calc(50% - 12px);
}
.form-row {
	display: flex;
	gap: 24px;
}

.page-container {
	padding: 24px 34px 100px 40px;
	display: block;
	background-color: #f9f9f9;
	display: flex;
	column-gap: 24px;
	justify-content: space-between;
}

.template-settings-section {
	flex: 1 0 50%;
	max-width: 50%;

	background: #ffffff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
	border-radius: 2px;
	padding: 24px;
	.template-settings-header {
		font-size: 16px;
		font-weight: 800;
		text-align: left;

		margin-bottom: 33px;
	}
}
.attachments-section {
	flex: 1 0 50%;
	max-width: 50%;

	background-color: #fff;
	padding: 24px 24px 24px 32px;
}
.radio-button-group {
	display: flex;
	flex-direction: column;
}

.status-header {
	margin-bottom: 17px;

	font-size: 16px;
	font-weight: 700;

	color: #898785;
}
.bottom-panel {
	display: flex;
	gap: 12px;
	align-items: center;
	justify-content: flex-end;
	margin-top: 0;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 0 40px;
	padding-left: 44px;
	background: white;
	width: 100%;
	height: 64px;
	z-index: 111;
	box-shadow: 0 0 22px -2px rgba(133, 133, 133, 0.53);
 
	button {
	   min-width: 120px;
	   box-shadow: none;
 
	   &:first-child {
		  color: #4a4e60;
		  margin-right: auto;
		  padding: 0;
	   }
	}
 }
.cancel-button {
	font-size: 14px;
	font-weight: 600;
}
.checkbox-text {
	font-size: 14px;
	font-weight: 600;
}
.selected-option {
	font-size: 12px;
	font-weight: 600;
	color: #b6b4b2;
}
