@import 'mixins';
@import 'variables';
.menu-component-wrapper {
	& .toggle-button {
		width: fit-content !important;
		line-height: unset !important;
		position: unset !important;
	}
	& .align-items {
		display: flex;
		align-items: center;
	}
}
.selected-filters {
	color: $primary-1;
}
.scrollbar-container {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 15px;
}
.option-name {
    font-weight: 600;
}