.label {
	font-size: 30px;
	line-height: 36px;
	font-weight: 800;

	padding-bottom: 0 !important;
}
.content {
	font-size: 14px;
	line-height: 22.4px;
	font-weight: 600;

	padding-top: 22px !important;
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.cancel-button {
	font-size: 16px;
	font-weight: 700;

	color: #17a297;
}
.discard-button {
	width: 130px;
	height: 40px;

	color: #fff;
	background-color: #ff7a78;
	border-radius: 5px;

	font-size: 16px;
	font-weight: 700;
}

.confirm-button {
	width: 130px;
	height: 40px;

	color: #fff;
	background-color: #17a297;
	border-radius: 5px;

	font-size: 16px;
	font-weight: 700;
	box-shadow: none;
}

.actions {
	justify-content: space-between;
}
