<mat-dialog-content class="save-as-dialog">
    <div mat-dialog-title class="header">
        <h1>
            {{config.title}}
        </h1>
        <button (click)="close()" mat-button>
            <mat-icon class="header-close-icon" >close</mat-icon>
        </button>
    </div>

    <ng-container *ngIf="config.subtitle">
        <p class="subtitle">{{config.subtitle}}</p>
    </ng-container>

    <form *ngIf="form" [formGroup]="form">
        <mat-form-field appearance="outline" class="textarea-form-field">
            <mat-label>Version description</mat-label>
            <textarea [formControlName]="'versionDescription'" [cdkTextareaAutosize]="false" matInput class="text-area"></textarea>
        </mat-form-field>

        <ng-container *ngIf="!data.isAgreement">
            <mat-checkbox [formControlName]="'propagateChangesToDerivedTemplates'" color="primary" class="u-w--100 u-mr--16">
                Propagate changes to all derived templates
            </mat-checkbox>
    
            <mat-checkbox [formControlName]="'markActiveAgreementsAsOutdated'" color="primary" class="u-w--100 u-mr--16">
                Mark active agreements based on this templates as outdated
            </mat-checkbox>
        </ng-container>

        <ng-container *ngIf="config.warning">
            <div class="warn">
                <mat-icon>warning</mat-icon>
                <p>Any significant changes should be promoted to a new version via Draft mode.</p>
            </div>
        </ng-container>
    </form>
</mat-dialog-content>

<mat-dialog-actions class="actions flex-justify-between">
    <button mat-button [mat-dialog-close]="false" class="dialog-btn dialog-btn__negative">Cancel</button>
    <button (click)="submit()" mat-flat-button class="dialog-btn dialog-btn__positive">Save</button>
</mat-dialog-actions>
