<ng-container [ngSwitch]="linkStateAccepted">
	<ng-container *ngSwitchCase="true">
		<mat-icon
			svgIcon="approved-icon"
			[customTooltip]="tooltip ? tooltip : approvalEnum.get(true)"
			[showAlways]="true"
			[style.width.px]="iconWidth"
			[style.height.px]="iconHeight"></mat-icon>
	</ng-container>
	<ng-container *ngSwitchCase="false">
		<mat-icon
			svgIcon="toApprove-icon"
			[customTooltip]="tooltip ? tooltip :approvalEnum.get(false)"
			[showAlways]="true"
			[style.width.px]="iconWidth"
			[style.height.px]="iconHeight"></mat-icon>
	</ng-container>
	<ng-container *ngSwitchCase="null">
		<mat-icon
			svgIcon="not-applicable-icon"
			[customTooltip]="tooltip ? tooltip :approvalEnum.get(null)"
			[showAlways]="true"
			[style.width.px]="iconWidth"
			[style.height.px]="iconHeight"></mat-icon>
	</ng-container>
</ng-container>
