<div class="client-consultants">
    <div fxLayout="column" fxLayoutAlign="start center" class="client-consultants--table u-w--100">
        <div fxLayout="column" fxFlexFill>
            <mat-table #table [dataSource]="consultantsDataSource" class="rounded-table u-w--100" matSort matSortStart="asc" (matSortChange)="sortChanged($event)">

                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="5%"> ID </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="5%">
                        <span class="text-truncate-ellipsis" [matTooltip]="row.id">
                            {{row.id}}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="contact">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="15%"> Contact </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="15%">
                        <span class="text-truncate-ellipsis" [matTooltip]="row.contact">
                            {{row.contact}}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="position">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="15%"> Position </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="15%">
                        <span class="text-truncate-ellipsis" [matTooltip]="row?.position">
                            {{row?.position}}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="15%"> Email </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="15%">
                        <span class="text-truncate-ellipsis" [matTooltip]="row.email">
                            {{row.email}}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="phone">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="15%"> Phone </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="15%">
                        <span class="text-truncate-ellipsis" [matTooltip]="row?.phone">
                            {{row?.phone}}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="relation">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="15%"> Relation </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="15%">
                        <span class="text-truncate-ellipsis" [matTooltip]="row?.relation">
                            {{row?.relation}}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="contactOwner">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="15%"> Contact owner </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="15%">
                        <span class="text-truncate-ellipsis" [matTooltip]="row.contactOwner">
                            {{row.contactOwner}}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="5%"></mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="5%">
                        actions..
                    </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="clientDisplayColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: clientDisplayColumns;" class="mat-elevation-z0"></mat-row>
            </mat-table>
            <div class="spinner-container" *ngIf="isDataLoading">
                <mat-spinner [diameter]="50"></mat-spinner>
            </div>
            <div class="results-not-found" *ngIf="totalCount === 0 && !isDataLoading">
                RESULTS NOT FOUND
            </div>
        </div>
        <div class="pagination-container u-w--100">
            <mat-paginator #clientsPaginator [length]="totalCount" [pageSize]="deafultPageSize"
                [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true" (page)="pageChanged($event)">
            </mat-paginator>
        </div>
    </div>
</div>
