<mat-dialog-content class="signers-preview--dialog">
    <div mat-dialog-title class="signers-preview--dialog--header">
        <h1 class="signers-preview--dialog--header-text">
            Sending agreement
        </h1>
        <mat-icon class="signers-preview--dialog--header-close-icon" (click)="close()">close</mat-icon>
    </div>
    <ng-scrollbar class="u-w--100 u-h--100">
        <div fxLayout="row" fxLayoutAlign="center start">
            <div class="signers-preview--dialog-content">
                <p class="signers-preview--dialog-content__header">
                    {{data.singleEmail ? 'You are sending group of agreements:' :
                    'You are sending seperate agreements:'}}
                </p>
                <ng-container *ngFor="let envelope of envelopePreviewList">
                    <div fxLayout="row" fxLayoutAlign="start center" class="envelope-title u-mb--16">
                        <mat-icon svgIcon="file" class="u-mr--12"></mat-icon>
                        <span>{{envelope.envelopeName}}</span>
                    </div>
                    <ng-container *ngIf="!data.singleEmail">
                        <ng-container [ngTemplateOutlet]="recipientsList"
                            [ngTemplateOutletContext]="{recipients: envelope.recipients}">
                        </ng-container>
                        <mat-divider class="u-w--100 u-mt--16 u-mb--24 sand-color"></mat-divider>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="data.singleEmail">
                    <ng-container [ngTemplateOutlet]="recipientsList"
                        [ngTemplateOutletContext]="{recipients: envelopePreviewList[0].recipients}">
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </ng-scrollbar>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center"
    class="signers-preview--dialog--actions u-w--100">
    <button mat-flat-button class="signers-preview--dialog--actions-btn dialog-btn dialog-btn__outlined"
        appPreventDoubleClick (throttledClick)="close()">
        Cancel
    </button>
    <div fxLayout="row" fxLayoutAlign="start start">
        <button mat-flat-button class="signers-preview--dialog--actions-btn dialog-btn dialog-btn__positive-outline"
            [matMenuTriggerFor]="emailMenu">
            Send via email
            <mat-icon class="green-color">arrow_drop_down</mat-icon>
            <mat-menu #emailMenu>
                <ng-container *ngFor="let item of emailMenuItems; trackBy: trackById">
                    <button class="menu-item green-color" mat-menu-item appPreventDoubleClick
                        (throttledClick)="sendViaEmail(item.option)">
                        <mat-icon [svgIcon]="item.icon"></mat-icon>
                        {{item.name}}
                    </button>
                </ng-container>
            </mat-menu>
        </button>
        <button mat-flat-button class="signers-preview--dialog--actions-btn dialog-btn dialog-btn__positive"
            [matMenuTriggerFor]="docuSignMenu">
            Send via DocuSign
            <mat-icon class="white-color">arrow_drop_down</mat-icon>
            <mat-menu #docuSignMenu>
                <ng-container *ngFor="let item of docuSignMenuItems; trackBy: trackById">
                    <button class="menu-item green-color" mat-menu-item appPreventDoubleClick
                        (throttledClick)="sendViaDocuSign(item.option)">
                        <mat-icon [svgIcon]="item.icon"></mat-icon>
                        {{item.name}}
                    </button>
                </ng-container>
            </mat-menu>
        </button>
    </div>
</mat-dialog-actions>

<ng-template #recipientsList let-recipients="recipients">
    <ng-container *ngIf="recipients?.length; else noRecipients">
        <div class="envelope-header u-pl--12 u-pr--12 u-mb--8" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px">
            <span fxFlex="35px" class="u-w--100"></span>
            <span fxFlex="auto" class="u-w--100">Name</span>
            <span fxFlex="130px" class="u-w--100">Signer type</span>
            <span fxFlex="180px" class="u-w--100">Signing role</span>
            <span fxFlex="80px" class="u-w--100">Sequence</span>
        </div>
        <ng-container *ngFor="let recipient of recipients">
            <div class="envelope-row u-pl--12 u-pr--12" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                <span fxFlex="35px" fxLayoutAlign="center center" class="u-w--100">
                    <ng-container
                        *ngIf="recipient.signerType === signerType.InternalEmagine || recipient.signerType === signerType.Consultant; then recipientImage; else noImage"></ng-container>
                    <ng-template #recipientImage>
                        <img class="border-rounded-50 image-thumbnail-small"
                            [ngClass]="recipient.signerType === signerType.InternalEmagine ? 'internal-emagin' : 'consutlant'"
                            [ngSrc]="(recipient.signerType === signerType.InternalEmagine ? employeePhotoUrl : consultantPhotoUrl) + recipient.externalId! + '.jpg'"
                            width="35" height="35" src (error)="setDefaultImage($event.target)" />
                    </ng-template>
                    <ng-template #noImage>
                        -
                    </ng-template>
                </span>
                <span fxFlex="auto" class="u-w--100">
                    {{recipient.name}}
                </span>
                <span fxFlex="130px" class="u-w--100">
                    {{signerTypeName[recipient.signerType]}}
                </span>
                <span fxFlex="180px" class="u-w--100">
                    {{signerRole[recipient.roleId]}}
                </span>
                <span fxFlex="80px" class="u-w--100">
                    {{recipient.signOrder}}
                </span>
            </div>
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #noRecipients>
    <div class="envelope-row u-pl--12 u-pr--12" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
        <span class="light-grey-color text-600">
            No recipients
        </span>
    </div>
</ng-template>

