<div class="login" fxLayout="row" fxLayoutAlign="start start" fxFlexFill>
    <div fxFlex fxLayout="column" fxLayoutAlign="center start" class="login-main u-h--100">
        <mat-icon class="login-icon" svgIcon="login-logo"></mat-icon>
        <div class="login-main--content">
            <div fxLayout="row" fxLayoutAlign="start end" class="login-main--content-header u-mb--20">
                <img src="assets/common/images/login-title.svg">
            </div>
            <p>Hope You have a good and productive day!</p>
            <button class="login-btn u-mt--25" color="primary" mat-flat-button appPreventDoubleClick (throttledClick)="loginPopup()">
                <mat-icon svgIcon="microsoft-icon" class="u-mr--5"></mat-icon>
                Sign in with Microsoft
            </button>
        </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="login-side u-h--100">
        <div class="login-values--container">
            <h2 class="u-mb--30">Our values</h2>
            <ng-container *ngFor="let value of pmValues; trackBy: trackById">
                <div fxLayout="row" fxLayoutAlign="start center" class="login-values">
                    <mat-icon class="login-values--icon" [svgIcon]="value.icon"></mat-icon>
                    <span class="login-values--name">{{value.name}}</span>
                </div>
            </ng-container>
        </div>
    </div>
</div>
