@import "/src/app/shared/styles/config/_colors";
@import "/src/app/shared/styles/config/_sizes";
@import "/src/app/shared/styles/config/_mixins";

.workflow-list {
    &--filter {
        padding: 32px 50px;
        background-color: $white-color;
        &__badge {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #4a4e60;
            font-weight: 700;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            color: #fff;
        }
        &-country__flag {
            line-height: 40px;
            height: 40px;
            width: 40px;
            font-size: 40px;
        }
        &__add-btn mat-icon {
            width: 34px;
            height: 34px;
        }
        &-type {
            @include flexCentered;
            height: 40px;
            padding: 8px 16px;
            border: 1px solid $light-grey-color;
            border-radius: 40px;
            line-height: 16px;
            white-space: nowrap;
            &__name {
                font-weight: 700;
                color: #384853;
                font-size: 14px;
            }
            &.selected-status {
                &.new-sales-status {
                    background-color: rgba($color: $green-color, $alpha: 0.13);
                    border-color: $green-color;
                }
                &.extensions-status {
                    background-color: rgba($color: $purple-color, $alpha: 0.13);
                    border-color: $purple-color;
                }
            }
            &-dropdown {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 40px;
                padding: 8px 10px 8px 16px;
                border: 1px solid $light-grey-color;
                border-radius: 40px;
                line-height: 16px;
                white-space: nowrap;
                .mat-menu-trigger {
                    position: absolute;
                    right: 0;
                }
                mat-icon {
                    font-size: 26px;
                    color: $dark-grey-color;
                }
                &__name {
                    font-weight: 700;
                    color: #384853;
                    font-size: 14px;
                    margin-right: 5px;
                }

                &__item {
                    @include fontOpenSans(14px, 700);
                    color: rgba($color: #384853, $alpha: 0.88);
                }
                &__reset {
                    border-top: 1px solid $sand-color;
                    @include fontOpenSans(14px, 700);
                    color: $light-grey-color;
                }
                &.selected-status {
                    background-color: #384853;
                    border-color: #384853;
                    mat-icon,
                    .workflow-list--filter-type-dropdown__name {
                        color: $white-color;
                    }
                }
            }
        }
        &-manager {
            width: 40px;
            height: 40px;
            img {
                width: 40px;
                height: 40px;
            }
        }
        &-additional {
            padding: 0 50px 32px 50px;
            background-color: #fff;
            position: absolute;
            z-index: 9999;
            box-shadow: 0 10px 10px 0 rgb(26, 35, 126, 15%);
            transition: all .3s ease-in-out;
        }
    }

    &--content {
        background-color: $sand-25-color;
        flex-grow: 1;
        padding: 32px 50px;
        position: relative;
    }
    &--table {
        position: relative;
        min-height: 120px;
    }
    &--process-name {
        margin-left: 5px;
    }
    &--search-button {
        min-width: 155px;
        &-text {
            font-size: 14px;
            font-weight: 700;
            line-height: 1.4;
            letter-spacing: normal;
            color: $green-color;
        }
    }

    &--step {
        display: flex;
        cursor: pointer;
        &:hover {
            background-color: rgba($color: $sand-color, $alpha: 0.5);
        }
    }
}

.workflow-flag {
    height: 16px;
    width: 16px;
    line-height: 16px;
    font-size: 16px;
    &--sales {
        color: rgba($color: $green-color, $alpha: .5);
    }
    &--extension {
        color: rgba($color: #6A47B8, $alpha: .5);
    }
}

.status-dot {
    width: 16px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    &.purple-dot {
        color: $purple-color;
        opacity: 0.5;
    }
    &.green-dot {
        color: $green-color;
        opacity: 0.5;
    }
}

.clear-all-button {
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    color: #B6B4B2;
}

.workflow-status {
    font-size: 16px;
    width: 16px;
    height: 16px;
    line-height: 16px;

    &.purple-dot {
        color: $purple-color;
        opacity: 0.5;
    }
    &.green-dot {
        color: $green-color;
        opacity: 0.5;
    }
    &.active-status {
        color: $green-color;
    }
    &.pending-status {
        color: #FBD344;
    }
    &.finished-status {
        color: $red-color;
    }
    &.deleted-status {
        color: $light-grey-color;
    }
}

.workflow-step-readonly {
    &--header {
        @include fontOpenSans(14px, 700);
        line-height: 1.2;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #b6b4b2;

        &-main {
            @include fontOpenSans(16px, 700);
            line-height: 1.2;
            letter-spacing: 1px;
            text-transform: uppercase;

            .process-name {
                font-weight: 800;
                color: $green-color;
            }
            .anchor-name {
                color: #4a4e60;
            }
        }
    }
    &--gray {
        &-header {
            @include fontOpenSans(12px, 700);
            color: #898785;
        }
    }
    &--blue {
        &-header {
            @include fontOpenSans(14px, 700);
            color: #4a4e60;
        }
        &-text {
            @include fontOpenSans(14px, 600);
            color: #4a4e60;
            &-bold {
                @include fontOpenSans(14px, 800);
                color: rgba(56, 72, 83, 0.87);
            }
        }
    }
}

.activeOrDeletedWorkflow {
    background-color: #FAF9FB;
}

.divider-height {
    height: 40px;
}
