<div class="workflow-list" fxFlexFill>
    <div fxLayout="column" fxLayoutAlign="start start" class="workflow-list--filter">
        <h2 class="page-main-header u-mb--20">Workflows</h2>
        <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--10">
            <div fxFlex fxLayout="row wrap" fxLayoutAlign="start center" class="u-w--100 flex-row-gap--10">
                <div class="workflow-list--filter-manager cursor-pointer u-mr--10" [matTooltip]="selectedAccountManagers.length ? mapListByProperty(selectedAccountManagers, 'name') : 'Select account manager(s)'" matTooltipClass="white-tooltip" [matMenuTriggerFor]="managerMenu" (menuOpened)="accountManagerFilterInput.click(); onOpenedMenu();" (click)="openMenu($event)">
                    <img *ngIf="selectedAccountManagers.length === 1" class="border-rounded-50 image-thumbnail-small" [src]="employeeProfileUrl(selectedAccountManagers[0].externalId!)" />
                    <img *ngIf="selectedAccountManagers.length === 0" class="border-rounded-50" src="../../../assets/common/images/no-img.jpg">
                    <div *ngIf="selectedAccountManagers.length > 1" class="workflow-list--filter__badge">
                        {{selectedAccountManagers.length}}
                    </div>
                    <mat-menu #managerMenu backdropClass="workflow-list--filter-manager-menu">
                        <div mat-menu-item (click)="$event.stopPropagation()" class="u-pg--0">
                            <mat-form-field class="workflow-list--filter-manager-dropdown" appearance="fill" (click)="$event.stopPropagation()">
                                <input #accountManagerFilterInput #trigger type="text" matInput [matAutocomplete]="managerAutocomplete" [formControl]="accountManagerFilter" (click)="$event.stopPropagation()" placeholder="Select account manager(s)">
                            </mat-form-field>
                            <mat-autocomplete #managerAutocomplete="matAutocomplete" [displayWith]="displayNameFn">
                                <mat-option *ngFor="let manager of selectedAccountManagers"
                                    class="u-pg--5"
                                    [value]="manager" (click)="optionClicked($event, manager, selectedAccountManagers)">
                                    <div class="u-w--100">
                                        <mat-checkbox [checked]="manager.selected"
                                            *ngIf="manager.id !== 'no-data'"
                                            color="primary"
                                            class="black-checkbox"
                                            (change)="toggleSelection(manager,selectedAccountManagers)"
                                            (click)="$event.stopPropagation()">
                                            <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100">
                                                <img class="border-rounded-50 image-settings--dropdown u-ml--10 u-mr--10" [src]="employeeProfileUrl(manager.externalId!)">
                                                <span>{{ manager.name }}</span>
                                            </div>
                                        </mat-checkbox>
                                        <span *ngIf="manager.id === 'no-data'"
                                            (click)="$event.stopPropagation()">
                                            {{ manager.name }}
                                        </span>
                                    </div>
                                </mat-option>
                                <mat-option *ngIf="isLoading" class="is-loading">
                                    <div class="is-loading-container">
                                        <mat-spinner diameter="25"></mat-spinner>
                                    </div>
                                </mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let manager of filteredAccountManagers"
                                        class="u-pg--5"
                                        [ngClass]="{ 'no-data': manager.id === 'no-data', 'hidden-option': selectedAccountManagers.includes(manager)}"
                                        [value]="selectedAccountManagers" (click)="optionClicked($event, manager, selectedAccountManagers)">
                                        <div class="u-w--100">
                                            <mat-checkbox [checked]="manager.selected"
                                                *ngIf="manager.id !== 'no-data'"
                                                color="primary"
                                                class="black-checkbox"
                                                (change)="toggleSelection(manager,selectedAccountManagers)"
                                                (click)="$event.stopPropagation()">
                                                <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100">
                                                    <img class="border-rounded-50 image-settings--dropdown u-ml--10 u-mr--10" [src]="employeeProfileUrl(manager.externalId!)">
                                                    <span>{{ manager.name }}</span>
                                                </div>
                                            </mat-checkbox>
                                            <span *ngIf="manager.id === 'no-data'"
                                                (click)="$event.stopPropagation()">{{ manager.name }}
                                            </span>
                                        </div>
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </div>
                    </mat-menu>
                </div>
                <span class="workflow-list--filter-type new-sales-status flex-items-center cursor-pointer u-mr--10" [ngClass]="{'selected-status': showOnlyWorkflowsWithNewSales}" appPreventDoubleClick (throttledClick)="showOnlyWorkflowsWithNewSales = !showOnlyWorkflowsWithNewSales; getWorkflowList(true)">
                    <mat-icon class="status-dot green-dot u-mr--5">fiber_manual_record</mat-icon>
                    <span class="workflow-list--filter-type__name">
                        New sales
                    </span>
                </span>
                <span class="workflow-list--filter-type extensions-status flex-items-center cursor-pointer u-mr--10" [ngClass]="{'selected-status': showOnlyWorkflowsWithExtensions}" appPreventDoubleClick (throttledClick)="showOnlyWorkflowsWithExtensions = !showOnlyWorkflowsWithExtensions; getWorkflowList(true)">
                    <mat-icon class="status-dot purple-dot u-mr--5">fiber_manual_record</mat-icon>
                    <span class="workflow-list--filter-type__name">
                        Extensions
                    </span>
                </span>
                <mat-divider class="divider-height u-mr--12" [vertical]="true"></mat-divider>
                <span class="workflow-list--filter-type-dropdown cursor-pointer u-mr--10" [matMenuTriggerFor]="pendingSteps" [ngClass]="{'selected-status': pendingStepType !== null && pendingStepType >= 0}">
                    <span class="workflow-list--filter-type-dropdown__name">
                        {{pendingStepType !== null && pendingStepType >= 0 ? stepTypes[pendingStepType].name + ' pending steps' : 'Pending steps'}}
                    </span>
                    <mat-icon>expand_more</mat-icon>
                </span>
                <mat-menu #pendingSteps backdropClass="step-filter--menu" xPosition="before">
                    <button class="workflow-list--filter-type-dropdown__item" *ngFor="let item of stepTypes; trackBy: filtersTrackBy" mat-menu-item (click)="selectPendingStep(item.id)">{{item.name}}</button>
                    <button class="workflow-list--filter-type-dropdown__reset" mat-menu-item (click)="selectPendingStep()">Reset</button>
                </mat-menu>
                <span class="workflow-list--filter-type-dropdown cursor-pointer u-mr--10" [matMenuTriggerFor]="upcomingSteps" [ngClass]="{'selected-status': upcomingStepType !== null && upcomingStepType >= 0}">
                    <span class="workflow-list--filter-type-dropdown__name">
                        {{upcomingStepType !== null && upcomingStepType >= 0 ? stepTypes[upcomingStepType].name + ' upcoming steps' : 'Upcoming steps'}}
                    </span>
                    <mat-icon>expand_more</mat-icon>
                </span>
                <mat-menu #upcomingSteps backdropClass="step-filter--menu" xPosition="before">
                    <button class="workflow-list--filter-type-dropdown__item" *ngFor="let item of stepTypes; trackBy: filtersTrackBy" mat-menu-item (click)="selectUpcomingStep(item.id)">{{item.name}}</button>
                    <button class="workflow-list--filter-type-dropdown__reset" mat-menu-item (click)="selectUpcomingStep()">Reset</button>
                </mat-menu>

                <span class="workflow-list--filter-type-dropdown cursor-pointer u-mr--10" [matMenuTriggerFor]="syncStatuses" [ngClass]="{'selected-status': selectedSyncStateStatuses !== undefined && selectedSyncStateStatuses!.length > 0}">
                    <span class="workflow-list--filter-type-dropdown__name" [ngSwitch]="selectedSyncStateStatuses.length">
                        <ng-container *ngSwitchCase="0">
                            All sync statuses
                        </ng-container>
                        <ng-container *ngSwitchCase="1">
                            {{selectedSyncStateStatuses[0].name}}
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            {{selectedSyncStateStatuses.length + ' statuses'}}
                        </ng-container>
                    </span>
                    <mat-icon>expand_more</mat-icon>
                </span>
                <mat-menu #syncStatuses backdropClass="step-filter--menu" xPosition="before">
                    <div *ngFor="let item of syncStateStatuses; trackBy: filtersTrackBy"
                        class="workflow-list--filter-type-dropdown__item" mat-menu-item
                        (click)="syncStatusClicked($event, item);">
                        <mat-checkbox #chb class="black-checkbox"
                            [checked]="item.selected"
                            (click)="$event.stopPropagation();" (change)="syncStatusFilterControl(item)">
                            {{item.name}}
                        </mat-checkbox>
                    </div>
                </mat-menu>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="10%">
                    <mat-divider class="divider-height" [vertical]="true"></mat-divider>
                    <button mat-button appPreventDoubleClick (throttledClick)="clearAllFilters()">
                        <span class="clear-all-button" >
                            Reset
                        </span>
                    </button>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between end" fxLayoutGap="16px" class="u-w--100" fxFlex="25%">
                <mat-form-field appearance="fill" class="search-filter-input u-w--100 mat-elevation-z0 formFieldNoMarginPadding">
                    <input autocomplete="off" matInput [formControl]="workflowFilter" placeholder="Search" type="text">
                    <mat-icon class="search-icon u-ml--10" matPrefix>search</mat-icon>
                </mat-form-field>
                <button mat-icon-button appPreventDoubleClick (throttledClick)="createWorkflow()" class="workflow-list--filter__add-btn" matTooltip="Create workflow" matTooltipClass="white-tooltip">
                    <mat-icon svgIcon="plus-button-icon"></mat-icon>
                </button>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="flex-end center" class="u-w--100">
            <button class="advanced-filterd--btn" mat-flat-button [ngClass]="{'active': isAdvancedFilters}" (click)="isAdvancedFilters = !isAdvancedFilters" matTooltip="Advanced filters" matTooltipClass="white-tooltip">
                <mat-icon svgIcon="filter-icon"></mat-icon>
                <span class="advanced-filterd--btn-text u-ml--5">Advanced filters</span>
            </button>
        </div>
        <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="25px" class="u-w--100 u-mt--a" [fxHide]="isAdvancedFilters">
            <mat-slide-toggle class="green-slide-toggle" color="primary" labelPosition="before" (change)="getWorkflowList()" [(ngModel)]="includeDeleted">Show deleted</mat-slide-toggle>
            <mat-slide-toggle class="green-slide-toggle" color="primary" labelPosition="before" (change)="getWorkflowList()" [(ngModel)]="includeTerminated">Show finished</mat-slide-toggle>
        </div>
    </div>
    <ng-container *ngIf="isAdvancedFilters">
        <div fxLayout="row" fxLayoutAlign="start center" class="workflow-list--filter-additional u-w--100 u-mb--20">
            <mat-form-field appearance="outline" class="filter-select u-mr--16" fxFlex="20%">
                <mat-label>Invoicing entity</mat-label>
                <mat-select [formControl]="invoicingEntityControl" [disableOptionCentering]="true">
                    <mat-option class="mat-select-clear-option" *ngIf="invoicingEntityControl.value">
                        Clear
                    </mat-option>
                    <mat-option *ngFor="let item of legalEntities" [value]="item.id">
                        {{ item.tenantName + ' ' + '(' + item.name + ')' }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="filter-select u-mr--16" fxFlex="20%">
                <mat-label> Payment entity</mat-label>
                <mat-select [formControl]="paymentEntityControl" [disableOptionCentering]="true">
                    <mat-option class="mat-select-clear-option" *ngIf="paymentEntityControl.value">
                        Clear
                    </mat-option>
                    <mat-option *ngFor="let item of legalEntities" [value]="item.id">
                        {{ item.tenantName + ' ' + '(' + item.name + ')' }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="filter-select u-mr--16" fxFlex="20%">
                <mat-label> Sales type</mat-label>
                <mat-select [formControl]="salesTypeControl" [disableOptionCentering]="true">
                    <mat-option class="mat-select-clear-option" *ngIf="salesTypeControl.value">
                        Clear
                    </mat-option>
                    <mat-option *ngFor="let item of saleTypes" [value]="item.id">
                        {{ item.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="filter-select u-mr--16" fxFlex="20%">
                <mat-label> Delivery type</mat-label>
                <mat-select [formControl]="deliveryTypesControl" [disableOptionCentering]="true">
                    <mat-option class="mat-select-clear-option" *ngIf="deliveryTypesControl.value">
                        Clear
                    </mat-option>
                    <mat-option *ngFor="let item of deliveryTypes" [value]="item.id">
                        {{ item.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="filter-select" fxFlex="20%">
                <mat-label> Workflow status</mat-label>
                <mat-select [formControl]="workflowStatusControl" [disableOptionCentering]="true">
                    <mat-option class="mat-select-clear-option" *ngIf="workflowStatusControl.value">
                        Clear
                    </mat-option>
                    <mat-option *ngFor="let item of workflowStatuses" [value]="item.id">
                        {{ item.disaplyName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </ng-container>
    <div fxLayout="column" fxLayoutAlign="start center" class="workflow-list--content u-w--100">
        <div fxLayout="column" class="u-w--100">
            <mat-table #table [dataSource]="workflowDataSource" class="workflow-list--table white-table u-w--100" matSort>
                <ng-container matColumnDef="flag">
                    <mat-header-cell *matHeaderCellDef fxFlex="4%"></mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="4%" fxLayoutAlign="center center" class="u-pr--5">
                        <mat-icon class="workflow-flag" [ngClass]="row?.isNewSale ? 'workflow-flag--sales' : 'workflow-flag--extension'" [matTooltip]="row?.isNewSale ? 'New Sales' : 'Has Extension'" matTooltipClass="white-tooltip">fiber_manual_record</mat-icon>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="WorkflowId">
                    <mat-header-cell *matHeaderCellDef matSort [matSortActive]="sortingValues['WorkflowId'] === '' ? '' : 'WorkflowId'" [matSortDirection]="sortingValues['WorkflowId']" (matSortChange)="sortChanged($event)" mat-sort-header="WorkflowId" fxFlex="5%">ID</mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="5%" fxLayoutAlign="center center">
                        <span class="text-truncate-ellipsis" [matTooltip]="row.workflowId" matTooltipClass="white-tooltip">
                            {{row.workflowId}}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="clientName">
                    <mat-header-cell *matHeaderCellDef matSort [matSortActive]="sortingValues['clientName'] === '' ? '' : 'clientName'" [matSortDirection]="sortingValues['clientName']" (matSortChange)="sortChanged($event)" mat-sort-header="clientName" fxFlex="10%">Client</mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="10%">
                        <span class="text-truncate-ellipsis text-bold-800" [matTooltip]="row.clientName ?? '-'" matTooltipClass="white-tooltip" appShowIfTruncated>
                            {{row.clientName ?? '-'}}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="SalesTypeId">
                    <mat-header-cell *matHeaderCellDef matSort [matSortActive]="sortingValues['SalesTypeId'] === '' ? '' : 'SalesTypeId'" [matSortDirection]="sortingValues['SalesTypeId']" (matSortChange)="sortChanged($event)" mat-sort-header="SalesTypeId" fxFlex="8%"> Sales type </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="8%">
                        <span class="text-truncate-ellipsis"  [matTooltip]="row.salesType?.name" matTooltipClass="white-tooltip" appShowIfTruncated>
                            {{row.salesType?.name ?? '-'}}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="DeliveryTypeId">
                    <mat-header-cell *matHeaderCellDef matSort [matSortActive]="sortingValues['DeliveryTypeId'] === '' ? '' : 'DeliveryTypeId'" [matSortDirection]="sortingValues['DeliveryTypeId']" (matSortChange)="sortChanged($event)" mat-sort-header="DeliveryTypeId" fxFlex="8%"> Delivery type </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="8%">
                        <span class="text-truncate-ellipsis" [matTooltip]="row.deliveryType?.name" matTooltipClass="white-tooltip" appShowIfTruncated>
                            {{row.deliveryType?.name ?? '-'}}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="StartDate">
                    <mat-header-cell *matHeaderCellDef matSort [matSortActive]="sortingValues['StartDate'] === '' ? '' : 'StartDate'" [matSortDirection]="sortingValues['StartDate']" (matSortChange)="sortChanged($event)" mat-sort-header="StartDate" fxFlex="6%"> Start </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="6%">
                        <span class="text-truncate-ellipsis" [matTooltip]="(row.startDate | date: 'dd.MM.YYYY') ?? '-'" matTooltipClass="white-tooltip" appShowIfTruncated>
                            {{(row.startDate | date: 'dd.MM.YYYY') ?? '-'}}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="ActualEndDate">
                    <mat-header-cell *matHeaderCellDef matSort [matSortActive]="sortingValues['ActualEndDate'] === '' ? '' : 'ActualEndDate'" [matSortDirection]="sortingValues['ActualEndDate']" (matSortChange)="sortChanged($event)" mat-sort-header="ActualEndDate" fxFlex="6%"> End </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="6%">
                        <span class="text-truncate-ellipsis" [matTooltip]="(row.endDate | date: 'dd.MM.YYYY') ?? '-'" matTooltipClass="white-tooltip" appShowIfTruncated>
                            {{(row.endDate | date: 'dd.MM.YYYY') ?? '-'}}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="ConsultantName">
                    <mat-header-cell *matHeaderCellDef matSort [matSortActive]="sortingValues['ConsultantName'] === '' ? '' : 'ConsultantName'" [matSortDirection]="sortingValues['ConsultantName']" (matSortChange)="sortChanged($event)" mat-sort-header="ConsultantName" fxFlex="10%"> Consultants </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="10%">
                        <ng-container *ngIf="row.consultants?.length > 1; else singleConsultantDisplay">
                            <span class="flex-items-center" fxFlex="100%">
                                <img class="border-rounded-50 image-settings--dropdown u-mr--10" src="../../assets/common/images/no-img.jpg" />
                                <span class="text-truncate-ellipsis" [matTooltip]="row.consultantNamesTooltip" matTooltipClass="white-tooltip" appShowIfTruncated>
                                    {{row.consultantName}}
                                </span>
                            </span>
                        </ng-container>
                        <ng-template #singleConsultantDisplay>
                            <span class="flex-items-center" fxFlex="100%">
                                <img *ngIf="row.consultants[0]?.name" class="border-rounded-50 image-settings--dropdown u-mr--10" [src]="consultantProfileUrl(row?.consultants[0]?.externalId)" />
                                <span class="text-truncate-ellipsis" [matTooltip]="row.consultantNamesTooltip" matTooltipClass="white-tooltip" appShowIfTruncated>
                                    {{row.consultantName && row.consultantName !== '' ? row.consultantName : '-'}}
                                </span>
                            </span>
                        </ng-template>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="WorkflowStatus">
                    <mat-header-cell *matHeaderCellDef fxFlex="5%" matSort [matSortActive]="sortingValues['WorkflowStatus'] === '' ? '' : 'WorkflowStatus'" [matSortDirection]="sortingValues['WorkflowStatus']" (matSortChange)="sortChanged($event)" mat-sort-header="WorkflowStatus" fxLayoutAlign="center center"> Status </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="5%" fxLayoutAlign="center center">
                        <ng-container *ngIf="row.status === workflowStatus.Pending || row.status === workflowStatus.PendingDataMissing; else readOnlyWorkflowStatusTemplate">
                            <mat-icon class="workflow-status" [matTooltip]="row.statusName" matTooltipClass="white-tooltip" [ngClass]="row?.statusIcon"
                                #menuWorkflowStatusesTrigger="matMenuTrigger" [matMenuTriggerFor]="workflowStatusesMenu" [matMenuTriggerData]="{selectedStatus: row.status}" appPreventDoubleClick (throttledClick)="$event.stopPropagation();">fiber_manual_record</mat-icon>
                            <mat-menu #workflowStatusesMenu backdropClass="workflow-list--workflow-status-menu">
                                <ng-template matMenuContent let-selectedStatus="selectedStatus">
                                        <ng-container *ngFor="let item of workflowStatusMenuList">
                                        <button mat-menu-item class="workflow-list--workflow-status--menu-item" [ngClass]="{'workflow-list--workflow-status--menu-item-selected': selectedStatus === item.code}" (click)="setWorkflowStatus(row?.workflowId, item.code)">
                                            <mat-icon class="workflow-status {{item.icon}}">fiber_manual_record</mat-icon>
                                            <span>{{item.name}}</span>
                                        </button>
                                    </ng-container>
                                </ng-template>
                            </mat-menu>
                        </ng-container>
                        <ng-template #readOnlyWorkflowStatusTemplate>
                            <mat-icon class="workflow-status" [matTooltip]="row.statusName" matTooltipClass="white-tooltip" [ngClass]="row?.statusIcon">fiber_manual_record</mat-icon>
                        </ng-template>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="openProcess">
                    <mat-header-cell *matHeaderCellDef fxFlex="12%"> Open process </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="12%">
                        <div class="column">
                            <div *ngFor="let item of row.openProcesses; last as last"
                                 style="height: 50px;"
                                 class="flex-justify-center column"
                                 [ngStyle]="{'border-bottom' : last ? '0' : '1px solid #E7E3E8'}">
                                <ng-container [ngSwitch]="item.typeId">
                                    <ng-container *ngSwitchCase="workflowProcess.StartClientPeriod">
                                        <span class="flex-row flex-items-center">
                                            <mat-icon svgIcon="workflowAdd"></mat-icon>
                                            <span class="workflow-list--process-name">
                                                Start WF
                                            </span>
                                        </span>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="workflowProcess.ExtendClientPeriod">
                                        <span class="flex-row flex-items-center">
                                            <mat-icon svgIcon="workflowStartOrExtend"></mat-icon>
                                            <span class="workflow-list--process-name">
                                                Extend WF
                                            </span>
                                        </span>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="workflowProcess.TerminateWorkflow">
                                        <span class="flex-row flex-items-center">
                                            <mat-icon svgIcon="workflowTerminate"></mat-icon>
                                            <span class="workflow-list--process-name">
                                                Terminate WF
                                            </span>
                                        </span>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="workflowProcess.ChangeClientPeriod">
                                        <span class="flex-row flex-items-center">
                                            <mat-icon svgIcon="workflowEdit"></mat-icon>
                                            <span class="workflow-list--process-name">
                                                Change WF
                                            </span>
                                        </span>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="workflowProcess.StartConsultantPeriod">
                                        <span class="flex-row flex-items-center">
                                            <mat-icon svgIcon="workflowAdd"></mat-icon>
                                            <span class="workflow-list--process-name">
                                                Add consultant
                                            </span>
                                        </span>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="workflowProcess.ChangeConsultantPeriod">
                                        <span class="flex-row flex-items-center">
                                            <mat-icon svgIcon="workflowEdit"></mat-icon>
                                            <span class="workflow-list--process-name">
                                                Change consultant
                                            </span>
                                        </span>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="workflowProcess.ExtendConsultantPeriod">
                                        <span class="flex-row flex-items-center">
                                            <mat-icon svgIcon="workflowStartOrExtend"></mat-icon>
                                            <span class="workflow-list--process-name">
                                                Extend consultant
                                            </span>
                                        </span>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="workflowProcess.TerminateConsultant">
                                        <span class="flex-row flex-items-center">
                                            <mat-icon svgIcon="workflowTerminate"></mat-icon>
                                            <span class="workflow-list--process-name">
                                                Terminate consultant
                                            </span>
                                        </span>
                                    </ng-container>
                                    <ng-container *ngSwitchDefault>
                                        -
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Steps">
                    <mat-header-cell *matHeaderCellDef fxFlex="10%"> Steps </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="10%">
                        <div class="column">
                            <div *ngFor="let item of row.openProcesses; last as last"
                                 style="height: 50px;"
                                 class="flex-items-center flex-row"
                                 [ngStyle]="{'border-bottom' : last ? '0' : '1px solid #E7E3E8'}">
                                <ng-container *ngFor="let step of item.steps; let i = index;">
                                    <div class="workflow-list--step u-mr--16" [ngClass]="{'completed-step': step.status === workflowStatus.Finished}">
                                        <app-manager-search
                                            appPreventDoubleClick (throttledClick)="$event.stopPropagation()"
                                            [formFieldLabel]="step.name + ' Manager'"
                                            [periodId]="item.processId!"
                                            [consultantPeriodId]="item.processId!"
                                            [stepType]="step.typeId!"
                                            [periodType]="item.typeId!"
                                            [workflowId]="row.workflowId"
                                            [managerStatus]="step.status!"
                                            [responsiblePerson]="step.responsiblePerson!"
                                            [readonly]="item.processId === null || item.processId === undefined"
                                            [width]="24"
                                            [height]="24">
                                        </app-manager-search>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="startDateOfOpenedPeriodOrLastClientPeriod">
                    <mat-header-cell *matHeaderCellDef matSort [matSortActive]="sortingValues['startDateOfOpenedPeriodOrLastClientPeriod'] === '' ? '' : 'startDateOfOpenedPeriodOrLastClientPeriod'" [matSortDirection]="sortingValues['startDateOfOpenedPeriodOrLastClientPeriod']" (matSortChange)="sortChanged($event)" mat-sort-header="startDateOfOpenedPeriodOrLastClientPeriod" fxFlex="8%"> Step start </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="8%">
                        <span class="text-truncate-ellipsis" [matTooltip]="(row.startDateOfOpenedPeriodOrLastClientPeriod | date: 'dd.MM.YYYY') ?? '-'" matTooltipClass="white-tooltip" appShowIfTruncated>
                            {{(row.startDateOfOpenedPeriodOrLastClientPeriod | date: 'dd.MM.YYYY') ?? '-'}}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="syncStateStatus">
                    <mat-header-cell *matHeaderCellDef matSort [matSortActive]="sortingValues['syncStateStatus'] === '' ? '' : 'syncStateStatus'" [matSortDirection]="sortingValues['syncStateStatus']" (matSortChange)="sortChanged($event)" mat-sort-header="syncStateStatus" fxFlex="5%" fxLayoutAlign="center center"> Sync </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="5%" fxLayoutAlign="center center">
                        <mat-icon class="sync-status-icon" svgIcon="{{row.syncStateStatusIcon}}" [matTooltip]="row.syncStateStatusName ?? '-'" matTooltipClass="white-tooltip"></mat-icon>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef fxFlex="3%"></mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="3%">
                        <button mat-icon-button class="three-dots-actions-btn" #menuDeleteTrigger="matMenuTrigger" [matMenuTriggerFor]="workflowActions" appPreventDoubleClick (throttledClick)="$event.stopPropagation();"><mat-icon svgIcon="3-dots"></mat-icon></button>
                        <mat-menu #workflowActions>
                            <button *ngIf="row.isDeleted" class="menu-item green-color" mat-menu-item (click)="confirmRestoreWorkflow(row?.workflowId)">
                                    <mat-icon svgIcon="restore-icon"></mat-icon>
                                    <span>Restore workflow</span>
                            </button>
                            <button *ngIf="!row.isDeleted" class="menu-item menu-item--cancel" mat-menu-item (click)="confirmDeleteWorkflow(row?.workflowId)">
                                <mat-icon svgIcon="close-icon"></mat-icon>
                                <span>Delete</span>
                        </button>
                        </mat-menu>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="workflowDisplayColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: workflowDisplayColumns;" class="mat-elevation-z0 cursor-pointer flex-items-start" [ngClass]="{'activeOrDeletedWorkflow': row.isActive || row.isDeleted}" (contextmenu)="onRightClick($event, {content: row})" appPreventDoubleClick (throttledClick)="navigateToWorkflowDetails(row.workflowId)"></mat-row>
            </mat-table>
            <div class="results-not-found" *ngIf="totalCount === 0 && !isDataLoading">
                RESULTS NOT FOUND
            </div>
        </div>
        <div class="pagination-container u-w--100">
            <mat-paginator #clientsPaginator [length]="totalCount" [pageSize]="deafultPageSize" [pageIndex]="pageNumber-1"
                [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true" (page)="pageChanged($event)">
            </mat-paginator>
        </div>
        <div class="spinner-container" *ngIf="isDataLoading">
            <mat-spinner [diameter]="50"></mat-spinner>
        </div>
    </div>
    <!-- an hidden div is created to set the position of appearance of the menu-->
    <div style="visibility: hidden; position: fixed;" [style.left.px]="menuTopLeftPosition.x"
        [style.top.px]="menuTopLeftPosition.y" [matMenuTriggerFor]="rightMenu"  #rightMenuTrigger="matMenuTrigger"></div>

    <!-- standar material menu -->
    <mat-menu #rightMenu="matMenu">
        <ng-template matMenuContent let-item="item">
            <button mat-menu-item appPreventDoubleClick (throttledClick)="openInNewTab(item?.content?.workflowId)">Open in new tab</button>
        </ng-template>
    </mat-menu>
</div>
<!-- <router-outlet></router-outlet> -->
