@import "/src/app/shared/styles/config/_colors";
@import "/src/app/shared/styles/config/_sizes";
@import "/src/app/shared/styles/config/_mixins";

.workflow-list {
    &--filter {
        padding: 32px 50px;
        // height: $white-header-height;
        background-color: $white-color;
        &__badge {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #4a4e60;
            font-weight: 700;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            color: #fff;
        }
        &-country__flag {
            line-height: 40px;
            height: 40px;
            width: 40px;
            font-size: 40px;
        }
        &__add-btn mat-icon {
            width: 34px;
            height: 34px;
        }
        &-type {
            @include flexCentered;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            height: 40px;
            padding: 8px 16px;
            border: 1px solid $light-grey-color;
            border-radius: 40px;
            &__name {
                font-weight: 700;
                color: #384853;
            }
            &.selected-status {
                background-color: rgba(42, 194, 167, 0.13);
                // color: $white-color;
                border-color: $green-color;
            }
        }
        &-manager {
            width: 40px;
            height: 40px;
            img {
                width: 40px;
                height: 40px;
            }
        }
        &-additional {
            padding: 0 50px 32px 50px;
            background-color: #fff;
            position: absolute;
            z-index: 9999;
            box-shadow: 0 10px 10px 0 rgb(26, 35, 126, 15%);
            transition: all .3s ease-in-out;
        }
    }

    &--header {
        font-family: 'Open Sans', sans-serif !important;
        font-weight: 800;
        color: $dark-grey-color;
        font-size: 36px;
        line-height: 120%;
    }
    &--content {
        background-color: $sand-25-color;
        flex-grow: 1;
        padding: 32px 50px;
        position: relative;
    }
    &--table {
        position: relative;
        min-height: 120px;
    }
    &--search-button {
        min-width: 155px;
        &-text {
            font-size: 14px;
            font-weight: 700;
            line-height: 1.4;
            letter-spacing: normal;
            color: $green-color;
        }
    }

    &--step {
        display: flex;
        cursor: pointer;
        &:hover {
            background-color: rgba($color: $sand-color, $alpha: 0.5);
        }
    }
}

.workflow-flag {
    height: 14px;
    width: 14px;
    line-height: 14px;
    font-size: 14px;
    &--sales {
        color: rgba($color: $green-color, $alpha: .5);
    }
    &--extension {
        color: rgba($color: #6A47B8, $alpha: .5);
    }
}

.status-dot {
    width: 24px;
    height: 24px;
    font-size: 24px;
    line-height: 24px;
    &.purple-dot {
        color: $purple-color;
        opacity: 0.5;
    }
    &.green-dot {
        color: $green-color;
        opacity: 0.5;
    }
}

.clear-all-button {
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    color: #B6B4B2;
}
