<app-master-template-filter-header> </app-master-template-filter-header>
<emg-mat-grid
	#table
	*ngIf="table$ | async as table"
	[displayedColumns]="displayedColumns"
	[actionsList]="actions"
	[tableConfig]="table"
	[cells]="cells"
	[selection]="false"
	(sortChange)="onSortChange($event)"
	(formControlChange)="onFormControlChange($event)"
	(pageChange)="onPageChange($event)"
	(tableRow)="onSelectTableRow($event)"
	(onAction)="onAction($event)">
	<ng-template let-cell="element" #customCells>
		<span class="fi fi-{{ cell.language | lowercase }} country-icon"></span>
	</ng-template>

	<ng-template let-cell="element" #customCells>
		<p>
			{{ cell.agreementTemplateId }}
		</p></ng-template
	>

	<ng-template let-cell="element" #customCells
		><p [customTooltip]="legalEntityIdsTooltip">{{ cell.legalEntityIds | truncateTextCustom : [10] }}</p>
		<ng-template #legalEntityIdsTooltip>
			<div class="tooltip-container">
				<ng-container *ngFor="let legalEntity of cell.legalEntityIds">
					<div class="tooltip-menu">
						<span>{{ legalEntity }}</span>
					</div>
				</ng-container>
			</div>
		</ng-template>
	</ng-template>

	<ng-template let-cell="element" #customCells
		><p [customTooltip]="salesTypeIdsTooltip">{{ cell.salesTypeIds | truncateTextCustom : [10] }}</p>
		<ng-template #salesTypeIdsTooltip>
			<div class="tooltip-container">
				<ng-container *ngFor="let saleType of cell.salesTypeIds">
					<div class="tooltip-menu">
						<span>{{ saleType }}</span>
					</div>
				</ng-container>
			</div>
		</ng-template></ng-template
	>
	<ng-template let-cell="element" #customCells
		><p [customTooltip]="deliveryTypeIdsTooltip">{{ cell.deliveryTypeIds | truncateTextCustom : [10] }}</p>
		<ng-template #deliveryTypeIdsTooltip>
			<div class="tooltip-container">
				<ng-container *ngFor="let deliveryType of cell.deliveryTypeIds">
					<div class="tooltip-menu">
						<span>{{ deliveryType }}</span>
					</div>
				</ng-container>
			</div>
		</ng-template>
	</ng-template>

	<ng-template let-cell="element" #customCells
		><p [customTooltip]="contractTypeIdsTooltip">{{ cell.contractTypeIds | truncateTextCustom : [10] }}</p>
		<ng-template #contractTypeIdsTooltip>
			<div class="tooltip-container">
				<ng-container *ngFor="let contractType of cell.contractTypeIds">
					<div class="tooltip-menu">
						<span>{{ contractType }}</span>
					</div>
				</ng-container>
			</div>
		</ng-template></ng-template
	>

	<ng-template let-cell="element" #customCells
		><p>{{ cell.lastUpdateDateUtc }}</p></ng-template
	>

	<ng-template let-cell="element" #customCells>
		<ng-container *ngIf="cell.isEnabled; else notEnabled">
			<mat-icon svgIcon="enabled" class="icon enable-icon"></mat-icon>
		</ng-container>
		<ng-template #notEnabled>
			<mat-icon svgIcon="disabled" class="icon disable-icon"></mat-icon>
		</ng-template>
	</ng-template>
</emg-mat-grid>
