<app-template-filter-header> </app-template-filter-header>
<main class="table-and-preview-container">
	<section class="table-container">
		<ng-container *ngIf="table$ | async as table">
			<emg-mat-grid
				[displayedColumns]="displayedColumns"
				[tableConfig]="table"
				[selectedRowId]="currentRowId$ | async"
				[cells]="cells"
				[selection]="false"
				(sortChange)="onSortChange($event)"
				(formControlChange)="onFormControlChange($event)"
				(pageChange)="onPageChange($event)"
				(selectedRowIdChange)="currentRowId$.next($event)"
				(onAction)="onAction($event)">
				<ng-template let-cell="element" #customCells>
					<span class="fi fi-{{ cell.language | lowercase }} country-icon"></span>
				</ng-template>

				<ng-template let-cell="element" #customCells>
					<p [customTooltip]="cell.agreementTemplateId.toString()">
						{{ cell.agreementTemplateId | truncateTextCustom : 7 }}
					</p>
				</ng-template>

				<ng-template let-cell="element" #customCells>
					<p [customTooltip]="cell.name">
						{{ cell.name | truncateTextCustom : 30 }}
					</p>
				</ng-template>

				<ng-template let-cell="element" #customCells>
					<p>
						{{ cell.agreementType }}
					</p></ng-template
				>

				<ng-template let-cell="element" #customCells>
					<p>
						{{ cell.recipientTypeId }}
					</p></ng-template
				>

				<ng-template let-cell="element" #customCells
					><p [customTooltip]="legalEntityIdsTooltip">{{ cell.legalEntityIds | truncateTextCustom : 10 }}</p>
					<ng-template #legalEntityIdsTooltip>
						<div>
							<ng-container *ngFor="let legalEntity of cell.legalEntityIds; trackBy: trackById">
								<div class="tooltip-menu">
									<span>{{ legalEntity }}</span>
								</div>
							</ng-container>
						</div>
					</ng-template>
				</ng-template>

				<ng-template let-cell="element" #customCells
					><p [customTooltip]="salesTypeIdsTooltip">{{ cell.salesTypeIds | truncateTextCustom : 10 }}</p>
					<ng-template #salesTypeIdsTooltip>
						<div>
							<ng-container *ngFor="let saleType of cell.salesTypeIds; trackBy: trackById">
								<div class="tooltip-menu">
									<span>{{ saleType }}</span>
								</div>
							</ng-container>
						</div>
					</ng-template></ng-template
				>
				<ng-template let-cell="element" #customCells
					><p [customTooltip]="deliveryTypeIdsTooltip">{{ cell.deliveryTypeIds | truncateTextCustom : 10 }}</p>
					<ng-template #deliveryTypeIdsTooltip>
						<div>
							<ng-container *ngFor="let deliveryType of cell.deliveryTypeIds; trackBy: trackById">
								<div class="tooltip-menu">
									<span>{{ deliveryType }}</span>
								</div>
							</ng-container>
						</div>
					</ng-template>
				</ng-template>

				<ng-template let-cell="element" #customCells
					><p [customTooltip]="contractTypeIdsTooltip">{{ cell.contractTypeIds | truncateTextCustom : 10 }}</p>
					<ng-template #contractTypeIdsTooltip>
						<div>
							<ng-container *ngFor="let contractType of cell.contractTypeIds; trackBy: trackById">
								<div class="tooltip-menu">
									<span>{{ contractType }}</span>
								</div>
							</ng-container>
						</div>
					</ng-template></ng-template
				>

				<ng-template let-cell="element" #customCells
					><p [customTooltip]="lastUpdateDateUtcTooltip">{{ cell.lastUpdateDateUtc }}</p>
					<ng-template #lastUpdateDateUtcTooltip>
						<div>
							<div class="date-row">
								<div>Created</div>
								<div>{{ cell.createdDateUtc }}</div>
							</div>
							<div class="date-row">
								<div>Last updated</div>
								<div>
									{{ cell.lastUpdateDateUtc }}
								</div>
							</div>
						</div>
					</ng-template>
				</ng-template>

				<ng-template let-cell="element" #customCells>
					<p>
						{{ cell.lastUpdatedByLowerCaseInitials }}
					</p></ng-template
				>

				<ng-template let-cell="element" #customCells>
					<emg-enabled
						[isEnabled]="cell.isEnabled"
						[customTooltip]="cell.isEnabled ? enabledTooltip : disabledTooltip"></emg-enabled>
					<ng-template #enabledTooltip>
						<div>Enabled</div>
					</ng-template>
					<ng-template #disabledTooltip>
						<div>Disabled</div>
					</ng-template>
				</ng-template>
			</emg-mat-grid>
		</ng-container>
	</section>
	<ng-container *ngIf="currentRowId$ | async as currentRowId">
		<app-preview-tabs [currentId]="currentRowId" (currentIdChange)="currentRowId$.next($event)"></app-preview-tabs>
	</ng-container>
</main>
