.table {
    max-height: calc(100vh - 300px);
    border-collapse: separate;
    overflow: hidden;
    flex: 1 1 0;
    padding: 0px 14px 14px 0px;
    max-width: 1300px;
}
@mixin table-cell($widthValue) {
    min-width: $widthValue;
    max-width: $widthValue;
}
.country-column {
    @include table-cell(18px);
}
.id-column {
    @include table-cell(60px);
    padding-left: 16px
}
.template-column {
    @include table-cell(326px);
    padding-left: 16px
}
.type-column {
    @include table-cell(56px);
    padding-left: 16px
}
.recipient-column {
    @include table-cell(109px);
    padding-left: 16px
}
.entity-column {
    @include table-cell(139px);
    padding-left: 16px
}
.sales-column {
    @include table-cell(139px);
    padding-left: 16px;
}
.delivery-column {
    @include table-cell(96px);
    padding-left: 16px;
}
.contract-column {
    @include table-cell(79px);
    padding-left: 16px;
}
.last-updated-column {
    @include table-cell(107px);
    padding-left: 32px
}
.modify-column {
    @include table-cell(46px);
    padding-left: 21px
}
.status-column {
    @include table-cell(55px);
    padding-left: 19px;
}
.more-column {
    @include table-cell(34px);
    padding-left: 16px;
}
.mat-cell:first-of-type {
    padding: 0px;
}
.mat-header-cell:first-of-type {
    padding: 0px;
}
.mat-header-cell:last-of-type {
    padding-right: 8px;
}
.mat-cell:last-of-type {
    padding-right: 8px;
}
.table-section {
    max-width: fit-content;
}
.mat-paginator {
    max-width: 1300px;
}
.icon {
    width: 8px;
    height: 8px;
}
