@import 'mixins';
@import 'variables';

app-master-templates {
	display: flex;
	height: calc(100vh - 49px);

	@include table-header-cell;
	.table {
		max-height: calc(100vh - 300px);
		border-collapse: separate;
		overflow: hidden;
		flex: 1 1 0;
		padding: 0px 14px 14px 0px;
		max-width: 1300px;
	}
	.table-and-preview-container {
		display: flex;
		position: relative;
		flex-grow: 1;
	}
	.page-container {
		flex-grow: 1;

		display: flex;
		flex-direction: column;

		margin-top: 20px;
		gap: 20px;
	}
	.table-cell {
		@include table-cell(600);
	}
	.template-name-cell {
		@include table-cell(700);
	}
	.language-column {
		@include table-cell-width(34px);
	}
	.id-column {
		@include table-cell-width(61px);
	}
	.template-name-column {
		@include responsive-table-cell(306, 860);
	}
	.agreementType-column {
		@include table-cell-width(56px);
	}
	.recipientTypeId-column {
		@include table-cell-width(109px);
	}
	.legalEntityId-column {
		@include table-cell-width(139px);
	}
	.salesType-column {
		@include table-cell-width(141px);
	}
	.deliveryType-column {
		@include table-cell-width(96px);
	}
	.contractType-column {
		@include table-cell-width(98px);
	}
	.last-updated-column {
		@include table-cell-width(96px);
	}
	.last-updated-by-employee-column {
		@include table-cell-width(44px);
	}
	.status-column {
		@include table-cell-width(47px);
		justify-content: center;
	}

	.mat-cell:first-of-type {
		padding: 0px;
	}
	.mat-header-cell:first-of-type {
		padding: 0px;
	}
	.mat-header-cell:last-of-type {
		padding-right: 0px;
	}
	.mat-cell:last-of-type {
		padding-right: 0px;
	}
	.icon {
		width: 8px;
	}
	.country-icon {
		@include medium-icon;
	}
	.tenant-menu {
		width: 213px;
		display: flex;
		align-items: center;
	}
	.profile-picture {
		@include profile-picture;
	}
}
.flex-grow-1 {
	flex-grow: 1;
}
.last-updated-label {
	font-size: 12px;
	font-weight: 600;
	color: $secondary-1;
	white-space: nowrap;
}
.last-updated-info {
	font-size: 12px;
	font-weight: 600;
}
.date-rows-container {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-row-gap: 4px;
	grid-column-gap: 12px;
}
