<mat-dialog-content class="confirmation-dialog">
    <div mat-dialog-title class="confirmation-dialog--header">
        <span class="text-bold-800">
            {{data?.showError ? 'Send agreement' : 'Envelope type'}}
        </span>
        <button class="dialog-close--button" mat-icon-button (click)="reject()"><mat-icon
                svgIcon="dialog-close-icon"></mat-icon></button>
    </div>
    <ng-container *ngIf="data?.showError; else chooseEnvelopeType">
        <p>
            Invalid documents were selected. You can send agreements with following statuses:
        </p>
        <ul>
            <li>Created</li>
            <li>DocuSign Draft</li>
        </ul>
    </ng-container>
    <ng-template #chooseEnvelopeType>
        <h3>Choose which type of the envelope you want to send:</h3>
        <div fxLayout="column" fxLayoutAlign="start start" class="u-w--100 u-mt--10">
            <mat-radio-group [formControl]="singleEmail" color="primary">
                <mat-radio-button [value]="false">Send each agreement in a Separate Envelope</mat-radio-button>
                <mat-radio-button [disabled]="data.disableSendAllButton" [value]="true">Send all agreements in Single
                    Envelope</mat-radio-button>
            </mat-radio-group>
            <ng-container *ngIf="data.disableSendAllButton">
                <div fxLayout="row" fxLayoutAlign="start start">
                    <mat-icon svgIcon="warning-icon"></mat-icon>
                    <span class="warning-message">
                        Can't send all agreements in Single Envelope. Signers for each agreement are different.
                    </span>
                </div>
            </ng-container>
        </div>
    </ng-template>
</mat-dialog-content>
<mat-dialog-actions class="confirmation-dialog--actions">
    <ng-container *ngIf="!data?.showError">
        <button mat-flat-button class="dialog-btn dialog-btn__outlined" appPreventDoubleClick
            (throttledClick)="reject()">
            Cancel
        </button>
    </ng-container>
    <button mat-flat-button class="dialog-btn dialog-btn__positive" appPreventDoubleClick
        (throttledClick)="data?.showError ? reject() : confirm()">
        {{data?.showError ? 'Close' : 'Next' }}
    </button>
</mat-dialog-actions>
