<div class="client-invoicing width-fit-content">
    <h2 class="dark-grey-color text-600 u-mb--20">Data shown on invoices</h2>
    <mat-radio-group [formControl]="invoicingDataShown" class="radio-button-group column" color="primary">
        <ng-container *ngFor="let radioButton of dataShowOnInvoceOptions">
            <mat-radio-button
                class="option width-fit-content"
                [value]="radioButton.value"
                (click)="onControlChange(radioButton.value)">
                {{ radioButton.label }}
            </mat-radio-button>
        </ng-container>
    </mat-radio-group>
</div>
