.merge-field-insert-popup {
	.dx-treeview {
		width: 100%;
		.dx-treeview-search {
			margin-bottom: 10px;
		}
		ul li.dx-state-focused > .dx-treeview-item {
			color: initial;
			background-color: #f1fcfb;
		}
		ul:first-child {
			& > li {
				padding-left: initial;
				padding-right: 30px;
				border-bottom: 1px solid #eaeaea;
				> .dx-treeview-item.dx-state-hover {
					background-color: initial;
				}
				&.dx-state-focused > .dx-treeview-item {
					color: initial;
					background-color: initial;
				}
				.dx-treeview-toggle-item-visibility {
					width: 40px;
					height: 40px;
					top: 0;
					right: 0;
					left: initial;

					&:before {
						content: '\f001';
					}
				}
				.dx-treeview-toggle-item-visibility-opened {
					&:before {
						content: '\f002';
					}
				}
			}
		}
		ul .dx-treeview-item {
			padding: 10px 6px;
		}
	}
	.button-group {
		gap: 16px;
		display: flex;
		justify-content: flex-end;
		margin-top: 20px;
	}
}
