<div class="container">
	<mat-chip-list>
		<mat-chip *ngFor="let chip of matChips" (click)="closeFilter(chip.formControl)">
			<mat-icon svgIcon="close-button-icon"> </mat-icon>
			<span>{{ chip.label }}</span>
		</mat-chip>
		<span *ngIf="matChips.length > 0">
			<mat-chip (click)="closeAllFilters()">
				<mat-icon svgIcon="close-button-icon"></mat-icon>
				<p>Reset all Filters</p>
			</mat-chip>
		</span>
	</mat-chip-list>
	<mat-table
		matSort
		[dataSource]="tableConfig.items"
		[matSortActive]="tableConfig.active"
		[matSortDirection]="tableConfig.direction"
		[formGroup]="formGroup"
		(matSortChange)="sortChange.emit($event)">
		<ng-container *ngIf="selection">
			<ng-container matColumnDef="select">
				<mat-header-cell *matHeaderCellDef>
					<mat-checkbox
						[checked]="selectionModel.hasValue() && isAllSelected()"
						[indeterminate]="selectionModel.hasValue() && !isAllSelected()"
						(change)="toggleAllRows()">
					</mat-checkbox>
				</mat-header-cell>
				<mat-cell *matCellDef="let row">
					<mat-checkbox
						[checked]="selectionModel.isSelected(row)"
						(click)="$event.stopPropagation()"
						(change)="selectionModel.toggle(row)"></mat-checkbox>
				</mat-cell>
			</ng-container>
		</ng-container>
		<ng-container *ngFor="let item of cells; let i = index; trackBy: trackByCellColumnDef" [matColumnDef]="item.matColumnDef">
			<ng-container [ngSwitch]="item.headerCell.type">
				<ng-container *ngSwitchCase="headerCellEnum.SORT">
					<mat-header-cell *matHeaderCellDef mat-sort-header class="column-filter">
						{{ item.headerCell.title }}
					</mat-header-cell>
				</ng-container>
				<ng-container *ngSwitchCase="headerCellEnum.FILTER">
					<mat-header-cell *matHeaderCellDef>
						<ng-container #filterContainer></ng-container>
						<span mat-sort-header></span>
					</mat-header-cell>
				</ng-container>
			</ng-container>
			<mat-cell *matCellDef="let element">
				<ng-container *ngIf="cellArr" [ngTemplateOutlet]="cellArr[i]" [ngTemplateOutletContext]="{ element: element }">
				</ng-container>
			</mat-cell>
		</ng-container>
		<ng-container *ngIf="actions">
			<ng-container matColumnDef="actions">
				<mat-header-cell *matHeaderCellDef=""></mat-header-cell>
				<mat-cell *matCellDef="let actionRow">
					<button mat-icon-button [matMenuTriggerFor]="menu">
						<mat-icon svgIcon="three-hor-dots"></mat-icon>
					</button>
					<mat-menu #menu="matMenu">
						<ng-container *ngFor="let action of actionsList; trackBy: trackByAction">
							<button mat-menu-item (click)="chooseAction(action.actionType, actionRow)">
								<span> {{ action.label }}</span>
							</button>
						</ng-container>
					</mat-menu>
				</mat-cell>
			</ng-container>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns" (click)="getTableRow(row)"></mat-row>
	</mat-table>
</div>
<mat-paginator
	[showFirstLastButtons]="true"
	[length]="tableConfig.totalCount"
	[pageSizeOptions]="pageSizeOptions"
	[pageSize]="tableConfig.pageSize"
	[pageIndex]="tableConfig.pageIndex"
	(page)="pageChange.emit($event)">
</mat-paginator>
