@import 'mixins';

emg-mat-grid {
	@include table-header-cell;
	display: block;
	padding-left: 50px;
	background-color: #faf9fb;
	.mat-chip-list-wrapper {
		justify-content: flex-end;
		align-items: center;
		margin: 0;
		padding-right: 37px;
	}
	.mat-table-container {
		max-width: calc(100vw - 94px);
		min-width: calc(100vw - 94px);
		max-height: calc(100vh - 248px);
		min-height: calc(100vh - 248px);
		overflow-y: auto;
	}
	.no-items-table-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
    .hidden-table {
        display: none;
    }
	.mat-table {
		width: fit-content;
		background-color: #faf9fb;
	}
	.highlight {
		background-color: #c5e8e5;
	}
	.bottom-panel {
		width: calc(100vw - 44px);

		display: flex;
		height: 48px;
		justify-content: space-between;
		align-items: center;

		position: fixed;
		right: 0;
		bottom: 0;
		z-index: 1;

		background-color: #fff;

		.bottom-actions {
			display: flex;
		}

		.selected-items-info {
			padding: 14px 24px 14px 50px;
			border-right: 1px solid #e7e3e8;
			font-weight: 700;
		}
		.bottom-action-item {
			cursor: pointer;
			padding-left: 60px;
			display: flex;
			gap: 6px;
			align-items: center;
			color: #17a297;
			.bottom-panel-label {
				@include bottom-panel-label;
			}
		}
		.paginator {
			flex-grow: 1;
			.mat-paginator-container {
				max-height: 48px !important;
				min-height: 48px !important;
			}
			.mat-paginator-page-size-select {
				margin: 0px 4px;
			}
		}
	}
	.small-icon {
		@include small-icon;
	}

	mat-chip.mat-chip.mat-standard-chip {
		background-color: #fff;
		border: 2px solid #17a297;
	}
	.no-items {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.empty-table-icon {
		width: 24px;
		height: 32px;
	}
	.no-items-text {
		max-width: 333px;
        text-align: center;
		margin-top: 16px;
		font-size: 14px;
		font-weight: 600;
		color: #b6b4b2;
		.highlighted-reset-filters {
			color: #17a297;
			cursor: pointer;
		}
	}
}
.custom {
	.small-icon {
		@include small-icon;
	}
}
