<div class="client-workflow-track">
    <div fxLayout="column" fxLayoutAlign="start center" class="client-workflow--table u-w--100">
        <div fxLayout="column" fxFlexFill>
            <mat-table #table [dataSource]="workflowTrackDataSource" class="white-table u-w--100" matSort matSortStart="asc" (matSortChange)="sortChanged($event)">
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="5%"> ID </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="5%">
                        {{row.id}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="consultant">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="30%"> Consultant </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="30%">
                        <span class="text-truncate-ellipsis text-bold" [matTooltip]="row.consultant">
                            {{row.consultant}}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="salesType">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="15%"> Sales Type </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="15%">
                        <span class="text-truncate-ellipsis" [matTooltip]="row?.salesType">
                            {{row?.salesType}}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="deliveryType">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="15%"> Delivery Type </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="15%">
                        <span class="text-truncate-ellipsis" matTooltipClass="white-bg-tooltip" [matTooltip]="row?.deliveryType">
                            {{row?.deliveryType}}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="dateStart">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%"> Start </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="10%">
                        <span class="text-truncate-ellipsis" [matTooltip]="row.dateStart | momentFormat: 'DD.MM.YYYY'">
                            {{row.dateStart | momentFormat: 'DD.MM.YYYY'}}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="dateEnd">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%"> End </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="10%">
                        <span class="text-truncate-ellipsis" [matTooltip]="row?.dateEnd | momentFormat: 'DD.MM.YYYY'">
                            {{row?.dateEnd | momentFormat: 'DD.MM.YYYY'}}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%"> Status </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="10%">
                        <span class="text-truncate-ellipsis flex-items-center" [matTooltip]="row?.status?.name">
                            <mat-icon [ngClass]="detectStatusColor(row?.status?.value)">fiber_manual_record</mat-icon>
                            {{row?.status?.name}}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="5%"></mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="5%">
                        <button mat-icon-button matTooltip="Go to workflow">
                            <mat-icon class="icon-arrow-rotate180" svgIcon="arrow"></mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="clientDisplayColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: clientDisplayColumns;" class="mat-elevation-z0"></mat-row>
            </mat-table>
            <div class="spinner-container" *ngIf="isDataLoading">
                <mat-spinner [diameter]="50"></mat-spinner>
            </div>
            <div class="results-not-found" *ngIf="totalCount === 0 && !isDataLoading">
                RESULTS NOT FOUND
            </div>
        </div>
        <div class="pagination-container">
            <mat-paginator #clientsPaginator [length]="totalCount" [pageSize]="deafultPageSize"
                [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true" (page)="pageChanged($event)">
            </mat-paginator>
        </div>
    </div>
</div>
