// .client-workflow-track {
//     padding: 10px 16px;
// }

.pending-status {
    color: #ffda44;
}

.active-status {
    color: #17a297;
}

.finished-status {
    color: rgba($color: #ff7a78, $alpha: .5);
}

.icon-arrow-rotate180 {
    transform: rotateY(180deg);
}