<div fxLayout="column" fxLayoutAlign="start start" class="test">
    <div style="padding: 20px 0; height: 150px;">
        test header
    </div>
    <div class="test-tabs">
        <mat-tab-group >
            <mat-tab label="tab.displayName">
                test
            </mat-tab>
            <mat-tab label="tab.displayName2">
                <div fxLayout="column wrap">
                    <span>
                        Started:
                    </span>
                    <span>
                        isExtensionAdded:
                    </span>
                    <span>
                        isExtensionCompleted:
                    </span>
                    <span>
                        isWorkflowSalesSaved:
                    </span>
                    <span>
                        isWorkflowContractsSaved:
                    </span>
                    <span>
                        isWorkflowAccountsSaved:
                    </span>
                    <span>
                        isPrimaryWorkflowCompleted:
                    </span>
                    <span>
                        currentlyActiveSection:
                    </span>
                    <span>
                        currentlyActiveStep:
                    </span>
                    <span>
                        currentlyActiveExtensionIndex:
                    </span>
                    <span>
                        currentlyActiveStep:
                    </span>
                    <span>
                        currentlyActiveExtensionIndex:
                    </span>
                    <span>
                        currentlyActiveStep:
                    </span>
                    <span>
                        currentlyActiveExtensionIndex:
                    </span>
                    <span>
                        currentlyActiveStep:
                    </span>
                    <span>
                        currentlyActiveExtensionIndex:
                    </span>
                    <span>
                        currentlyActiveStep:
                    </span>
                    <span>
                        currentlyActiveExtensionIndex:
                    </span>
                    v
                    <span>
                        currentlyActiveStep:
                    </span>
                    <span>
                        currentlyActiveExtensionIndex:
                    </span>
                    <span>
                        currentlyActiveStep:
                    </span>
                    <span>
                        currentlyActiveExtensionIndex:
                    </span>
                    <span>
                        currentlyActiveStep:
                    </span>
                    <span>
                        currentlyActiveExtensionIndex:
                    </span>
                    <span>
                        currentlyActiveStep:
                    </span>
                    <span>
                        currentlyActiveExtensionIndex:
                    </span>
                    <span>
                        currentlyActiveStep:
                    </span>
                    <span>
                        currentlyActiveExtensionIndex:
                    </span>
                    <span>
                        currentlyActiveStep:
                    </span>
                    <span>
                        currentlyActiveExtensionIndex:
                    </span>
                    <span>
                        currentlyActiveStep:
                    </span>
                    <span>
                        currentlyActiveExtensionIndex:
                    </span>
                    <span>
                        currentlyActiveStep:
                    </span>
                    <span>
                        currentlyActiveExtensionIndex:
                    </span>
                    <span>
                        currentlyActiveStep:
                    </span>
                    <span>
                        currentlyActiveExtensionIndex:
                    </span>
                    <span>
                        currentlyActiveStep:
                    </span>
                    <span>
                        currentlyActiveExtensionIndex:
                    </span>
                    <span>
                        currentlyActiveStep:
                    </span>
                    <span>
                        currentlyActiveExtensionIndex:
                    </span><span>
                        currentlyActiveStep:
                    </span>
                    <span>
                        currentlyActiveExtensionIndex:
                    </span>
                    <span>
                        currentlyActiveStep:
                    </span>
                    <span>
                        currentlyActiveExtensionIndex:
                    </span>
                    <span>
                        currentlyActiveStep:
                    </span>
                    <span>
                        currentlyActiveExtensionIndex:
                    </span>

                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div style="position: sticky; bottom: 0; background-color: rgb(62, 180, 46); padding: 10px 0;">
    </div>
</div>
