<div class="workflow-sales">
    <mat-accordion [multi]="true">
        <mat-expansion-panel id="mainData" class="mat-elevation-z0">
            <mat-expansion-panel-header [collapsedHeight]="'80px'" [expandedHeight]="'80px'">
                MAIN DATA
            </mat-expansion-panel-header>
            <form [formGroup]="salesMainDataForm" class="workflow-form workflow-form--main u-w--100">
                <h2 class="workflow-section--header">Project</h2>

                <h3 class="workflow-gray--header">Sales Type</h3>
                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-button-toggle-group class="workflow-toggle-buttons u-mt--10" formControlName="salesType" (change)="salesTypeChange($event.value)">
                        <mat-button-toggle [value]="item" *ngFor="let item of saleTypes">
                            {{ item.name }}
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>

                <h3 class="workflow-gray--header">Delivery Type</h3>
                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-button-toggle-group class="workflow-toggle-buttons u-mt--10" formControlName="deliveryType">
                        <mat-button-toggle
                            [value]="item"
                            *ngFor="let item of deliveryTypes"
                            [ngClass]="{'hide':
                                    item.name === 'ManagedService' && salesMainDataForm?.salesType?.value?.name !== 'ManagedService' ||
                                    item.name !== 'ManagedService' && salesMainDataForm?.salesType?.value?.name === 'ManagedService'
                            }">
                            {{ item.name }}
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>

                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="33%">
                        <mat-label>Margin</mat-label>
                        <mat-select formControlName="margin" [disableOptionCentering]="true" required>
                            <mat-option *ngFor="let item of margins" [value]="item.id">
                                {{ item.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="33%">
                        <mat-label>Project Category</mat-label>
                        <mat-select formControlName="projectCategory" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of [0,1,2,3]" [value]="item">
                                {{ item }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-form-field appearance="fill" class="u-w--100 textarea-input formFieldNoMarginPadding" fxFlex="0 0 calc(66% + 16px)">
                        <mat-label>Project Description</mat-label>
                        <textarea matInput autocomplete="new-password" name="projectDescription" formControlName="projectDescription">
                        </textarea>
                    </mat-form-field>
                </div>

                <h2 class="workflow-section--header">Invoicing</h2>

                <h3 class="workflow-gray--header">Discounts</h3>
                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-button-toggle-group class="workflow-toggle-buttons u-mt--10" formControlName="discounts">
                        <mat-button-toggle
                            [value]="item.value"
                            *ngFor="let item of [{name: 'None', value: null}, {name: 'SKI 02.17', value: 'SKI-02-17'}]">
                            {{ item.name }}
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>

                <h3 class="workflow-gray--header">Commission</h3>
                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <button color="primary" class="u-mt--10 button-outlined" mat-raised-button>Add commission</button>
                </div>

                <h2 class="workflow-section--header">Account manager</h2>

                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="33%">
                        <mat-label>Sales Account Manager</mat-label>
                        <mat-select formControlName="salesAccountManager" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of [0,1,2,3]" [value]="item">
                                {{ item }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select" fxFlex="33%">
                        <mat-label>Commission Account Manager</mat-label>
                        <mat-select formControlName="commissionAccountManager" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of [0,1,2,3]" [value]="item">
                                {{ item }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="33%">
                        <mat-label>Contract expiration notification</mat-label>
                        <mat-select formControlName="contractExpirationNotification" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of [0,1,2,3]" [value]="item">
                                {{ item }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-form-field appearance="fill" class="u-w--100 textarea-input formFieldNoMarginPadding" fxFlex="0 0 calc(66% + 16px)" [ngClass]="{'disabled-input': salesMainDataForm?.isRemarks?.value}">
                        <mat-label>Remarks</mat-label>
                        <textarea matInput autocomplete="new-password" name="remarks" [attr.disabled]="salesMainDataForm?.isRemarks?.value" formControlName="remarks">
                        </textarea>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100">
                    <mat-checkbox color="accent" formControlName="isRemarks" name="isRemarks" class="green-checkbox">
                        None
                    </mat-checkbox>
                </div>
            </form>
        </mat-expansion-panel>
        <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header [collapsedHeight]="'80px'" [expandedHeight]="'80px'">
                Client data
            </mat-expansion-panel-header>
            <form fxLayout="column" fxLayoutAlign="start start" [formGroup]="salesMainClientDataForm" class="workflow-form workflow-form--sales u-w--100">
                <h2 class="workflow-section--header">Client</h2>
                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-button-toggle-group class="workflow-toggle-buttons" formControlName="directClient">
                        <mat-button-toggle [value]="item" *ngFor="let item of ['Direct Client', 'Different end-client']">
                            {{ item }}
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select" fxFlex="0 0 calc(66% + 16px)">
                        <mat-label>Customer</mat-label>
                        <mat-select formControlName="сustomer" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of currencies" [value]="item.id">
                                {{ item.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20" *ngIf="salesMainClientDataForm?.directClient?.value === 'Different end-client'">
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select" fxFlex="0 0 calc(66% + 16px)">
                        <mat-label>End Customer</mat-label>
                        <mat-select formControlName="endCustomer" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of currencies" [value]="item.id">
                                {{ item.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <h2 class="workflow-section--header">Duration</h2>

                <h3 class="workflow-gray--header">Project Duration</h3>
                <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
                    <mat-form-field appearance="fill" class="formFieldNoMarginPadding u-mr--16" fxFlex="33%">
                        <mat-label>Start date</mat-label>
                        <input autocomplete="off" matInput
                                [matDatepicker]="clientContractStartDatePicker"
                                name="clientContractStartDate" formControlName="clientContractStartDate"
                                (focus)="clientContractStartDatePicker.open()"
                                (click)="clientContractStartDatePicker.open()" readonly>
                        <mat-icon class="calendar-icon" matSuffix svgIcon="calendar"></mat-icon>
                        <mat-datepicker #clientContractStartDatePicker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="formFieldNoMarginPadding" fxFlex="33%" [ngClass]="{'disabled-input': salesMainClientDataForm.clientContractNoEndDate?.value}">
                        <mat-label>End date</mat-label>
                        <input autocomplete="off" matInput
                                [matDatepicker]="clientContractEndDatePicker"
                                name="clientContractEndDate" formControlName="clientContractEndDate"
                                (focus)="clientContractEndDatePicker.open()"
                                [attr.disabled]="salesMainClientDataForm.clientContractNoEndDate?.value"
                                (click)="clientContractEndDatePicker.open()" readonly>
                        <mat-icon class="calendar-icon" matSuffix svgIcon="calendar"></mat-icon>
                        <mat-datepicker #clientContractEndDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-checkbox color="accent" formControlName="clientContractNoEndDate" name="clientContractNoEndDate" class="green-checkbox">
                        No end date
                    </mat-checkbox>
                </div>

                <h3 class="workflow-gray--header">Option to extend</h3>

                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-button-toggle-group class="workflow-toggle-buttons u-mt--10" formControlName="clientExtensionNoEndDate">
                        <mat-button-toggle [value]="true">
                            Option to extend
                        </mat-button-toggle>
                        <mat-button-toggle [value]="false">
                            No option
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20" *ngIf="salesMainClientDataForm?.clientExtensionNoEndDate?.value">
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="33%">
                        <mat-label> Duration</mat-label>
                        <mat-select formControlName="clientExtensionStartDate" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of invoicingTimes" [value]="item.id">
                                {{ item.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="formFieldNoMarginPadding u-mr--16" fxFlex="33%">
                        <mat-label> Deadline</mat-label>
                        <mat-select formControlName="clientExtensionDeadline" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of clientExtensionDeadlines" [value]="item.id">
                                {{ item.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!-- FIXME: change ngIf when real data will be available -->
                    <mat-form-field appearance="fill" class="formFieldNoMarginPadding" fxFlex="31%" *ngIf="salesMainClientDataForm?.clientExtensionDeadline?.value === 'Specific date'">
                        <mat-label>Specific date</mat-label>
                        <input autocomplete="off" matInput
                                [matDatepicker]="clientExtensionEndDatePicker"
                                name="clientExtensionEndDate" formControlName="clientExtensionEndDate"
                                (focus)="clientExtensionEndDatePicker.open()"
                                (click)="clientExtensionEndDatePicker.open()" readonly>
                        <mat-icon class="calendar-icon" matSuffix svgIcon="calendar"></mat-icon>
                        <mat-datepicker #clientExtensionEndDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>

                <h2 class="workflow-section--header">Project</h2>

                <h3 class="workflow-gray--header">Shared Cap on Time Reporting</h3>
                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-button-toggle-group class="workflow-toggle-buttons u-mt--10" formControlName="capOnTimeReporting">
                        <mat-button-toggle *ngFor="let item of ['Cap on units', 'Cap on value', 'Individual cap', 'No cap']" [value]="item">
                            {{ item }}
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>

                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding u-mr--16" fxFlex="0 0 calc(16.5% - 8px)">
                        <mat-label>Max value</mat-label>
                        <input autocomplete="off" matInput formControlName="capOnTimeReportingValue" type="text">
                    </mat-form-field>
                </div>

                <h2 class="workflow-section--header">Invoicing</h2>

                <h3 class="workflow-gray--header">Invoicing Entity</h3>
                <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select" fxFlex="33%">
                        <mat-label>ProData entity</mat-label>
                        <mat-select formControlName="invoicingProDataEntity" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of [0,1,2,3]" [value]="item">
                                {{ item }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <h3 class="workflow-gray--header">Price</h3>
                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-button-toggle-group class="workflow-toggle-buttons u-mt--10" formControlName="clientRateAndInvoicing" (change)="clientRateTypeChange($event.value)">
                        <mat-button-toggle [value]="item" *ngFor="let item of clientRateTypes">
                            {{ item.name }}
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                <div class="u-w--100" [ngSwitch]="salesMainClientDataForm.clientRateAndInvoicing?.value?.name">
                    <ng-container *ngSwitchCase="'Time based'">
                        <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                            <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding u-mr--16" fxFlex="0 0 calc(16.5% - 8px)">
                                <mat-label>Price</mat-label>
                                <input autocomplete="off" matInput formControlName="clientPrice" type="text">
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="0 0 calc(16.5% - 8px)">
                                <mat-label>Unit type</mat-label>
                                <mat-select formControlName="rateUnitTypeId" [disableOptionCentering]="true">
                                    <mat-option *ngFor="let item of rateUnitTypes" [value]="item.id">
                                        {{ item.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select" fxFlex="0 0 calc(16.5% - 8px)">
                                <mat-label>Currency</mat-label>
                                <mat-select formControlName="clientCurrency" [disableOptionCentering]="true">
                                    <mat-option *ngFor="let item of currencies" [value]="item.id">
                                        {{ item.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Fixed'">
                        <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                            <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding u-mr--16" fxFlex="33%">
                                <mat-label>Price</mat-label>
                                <input autocomplete="off" matInput formControlName="clientPrice" type="text">
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select" fxFlex="33%">
                                <mat-label>Currency</mat-label>
                                <mat-select formControlName="clientCurrency" [disableOptionCentering]="true">
                                    <mat-option *ngFor="let item of currencies" [value]="item.id">
                                        {{ item.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Milestones'">
                        Milestones
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                    </ng-container>
                </div>

                <h3 class="workflow-gray--header">Invoicing information</h3>

                <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="0 0 calc(16.5% - 8px)">
                        <mat-label>Invoicing currency</mat-label>
                        <mat-select formControlName="clientInvoiceCurrency" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of currencies" [value]="item.id">
                                {{ item.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select" fxFlex="33%" [ngClass]="{'u-mr--16': salesMainClientDataForm.clientInvoicingTime?.value?.name === 'ContractEndDate'}">
                        <mat-label>Invoicing frequency</mat-label>
                        <mat-select formControlName="clientInvoicingTime" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of invoicingTimes" [value]="item">
                                {{ item.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field *ngIf="salesMainClientDataForm.clientInvoicingTime?.value?.name === 'ContractEndDate'" appearance="fill" class="formFieldNoMarginPadding" fxFlex="33%">
                        <mat-label>Date</mat-label>
                        <input autocomplete="off" matInput
                                [matDatepicker]="clientInvoicingDateDatePicker"
                                name="clientInvoicingDate" formControlName="clientInvoicingDate"
                                (focus)="clientInvoicingDateDatePicker.open()"
                                (click)="clientInvoicingDateDatePicker.open()" readonly>
                        <mat-icon class="calendar-icon" matSuffix svgIcon="calendar"></mat-icon>
                        <mat-datepicker #clientInvoicingDateDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding" fxFlex="33%">
                        <mat-label>Invoicing Reference Number</mat-label>
                        <input autocomplete="off" matInput formControlName="clientInvoicingReferenceNumber" type="text">
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select" fxFlex="0 0 calc(66% + 16px)">
                        <mat-label>Client Invoicing Recipient</mat-label>
                        <mat-select formControlName="clientInvoicingRecipient" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of [0,1,2,3]" [value]="item">
                                {{ item }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
                    <mat-checkbox color="accent" formControlName="sameAsDirectClient" name="sameAsDirectClient" class="green-checkbox u-mr--10">
                        Same as direct client
                    </mat-checkbox>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select" fxFlex="33%">
                        <mat-label>Invoicing Reference Person</mat-label>
                        <mat-select formControlName="clientInvoicingReferencePerson" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of [0,1,2,3]" [value]="item">
                                {{ item }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
                    <mat-checkbox color="accent" formControlName="isClientInvoicingNone" name="isClientInvoicingNone" class="green-checkbox u-mr--10">
                        None
                    </mat-checkbox>
                </div>

                <h2 class="workflow-section--header">Rates and fees</h2>
                // rates and feees

                <h2 class="workflow-section--header">Evaluation</h2>

                <h3 class="workflow-gray--header">Client Evaluations</h3>
                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-button-toggle-group class="workflow-toggle-buttons u-mt--10" formControlName="disableEvaluations">
                        <mat-button-toggle [value]="false">
                            Enable
                        </mat-button-toggle>
                        <mat-button-toggle [value]="true">
                            Disable
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>

                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-form-field *ngIf="!salesMainClientDataForm?.value?.disableEvaluations" appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select" fxFlex="33%">
                        <mat-label>Evaluation Reference Person</mat-label>
                        <mat-select formControlName="evaluationReferencePerson" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of [0,1,2,3]" [value]="item">
                                {{ item }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field *ngIf="salesMainClientDataForm?.value?.disableEvaluations" appearance="fill" class="u-w--100 textarea-input formFieldNoMarginPadding" fxFlex="0 0 calc(66% + 16px)">
                        <mat-label>Disable Evaluations Reason</mat-label>
                        <textarea matInput autocomplete="new-password" name="disableEvaluationsReason" formControlName="disableEvaluationsReason">
                        </textarea>
                    </mat-form-field>
                </div>

                <h2 class="workflow-section--header">Evaluation</h2>

                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding textarea-input" fxFlex="0 0 calc(66% + 16px)">
                        <mat-label>Special Contract Terms</mat-label>
                        <textarea matInput autocomplete="new-password" name="specialContractTerms" formControlName="specialContractTerms">
                        </textarea>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-checkbox color="accent" formControlName="isSpecialContractTermsNone" name="isSpecialContractTermsNone" class="green-checkbox u-mt--10">
                        None
                    </mat-checkbox>
                </div>

                <h3 class="workflow-gray--header">Client Contract Signers</h3>
                <div formArrayName="clientSigners" class="u-w--100 u-mb--20">
                    <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--10" *ngFor="let signer of clientSigners.controls; let i = index" [formGroupName]="i">
                        <mat-form-field appearance="fill" class="u-w--100 mat-elevation-z0 formFieldNoMarginPadding u-mr--16"  fxFlex="33%">
                            <mat-label>Name</mat-label>
                            <input autocomplete="off" matInput formControlName="clientName" type="text">
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="33%">
                            <mat-label>Client Role</mat-label>
                            <mat-select formControlName="clientRole" [disableOptionCentering]="true">
                                <mat-option *ngFor="let item of [0,1,2,3]" [value]="item">
                                    {{ item }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="20%">
                            <mat-label>Sequence</mat-label>
                            <mat-select formControlName="clientSequence" [disableOptionCentering]="true">
                                <mat-option *ngFor="let item of [0,1,2,3]" [value]="item">
                                    {{ item }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button class="workflow-remove--btn" mat-icon-button (click)="removeSigner(i)"><mat-icon>delete</mat-icon></button>
                    </div>
                    <button class="button-add mat-elevation-z0" mat-flat-button (click)="addSignerToForm()">
                        <mat-icon>add</mat-icon>
                        Add Signer
                    </button>
                </div>

                <!-- <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20" *ngIf="clientSpecialRateActive">
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding u-mr--16" fxFlex="33%">
                        <mat-label>Client Special rates price</mat-label>
                        <input autocomplete="off" matInput formControlName="clientSpecialRatePrice" type="text">
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="33%">
                        <mat-label>Currency</mat-label>
                        <mat-select formControlName="clientSpecialRateCurrency" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of currencies" [value]="item.id">
                                {{ item.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
                    <button mat-raised-button color="primary" class="mat-elevation-z0" fxFlex="20%"
                            [ngClass]="clientSpecialRateActive ? 'button-outlined' : 'button-accept'"
                            (click)="toggleSpecialClientRates()">
                            {{clientSpecialRateActive ? 'Delete Client Special rates' : 'Add Client Special rates'}}
                    </button>
                </div>

                <h3 class="workflow-gray--header">Client Fees</h3>

                <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20" *ngIf="clientSpecialFeesActive">
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding u-mr--16" fxFlex="33%">
                        <mat-label>Client fees</mat-label>
                        <input autocomplete="off" matInput formControlName="clientFees" type="text">
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="33%">
                        <mat-label>Currency</mat-label>
                        <mat-select formControlName="clientFeesCurrency" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of currencies" [value]="item.id">
                                {{ item.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
                    <button mat-raised-button color="primary" class="mat-elevation-z0" fxFlex="20%"
                            [ngClass]="clientSpecialFeesActive ? 'button-outlined' : 'button-accept'"
                            (click)="toggleClientFees()">
                            {{clientSpecialFeesActive ? 'Delete client fees' : 'Add client fees'}}
                    </button>
                </div> -->
            </form>
        </mat-expansion-panel>

        <form [formGroup]="consultantsForm" class="workflow-form--consultants u-w--100" id="consultantData">
            <ng-container formArrayName="consultantData">
                <mat-expansion-panel *ngFor="let consultant of consultantsForm.consultantData.controls; let i = index" [formGroupName]="i" class="mat-elevation-z0">
                    <mat-expansion-panel-header  [collapsedHeight]="'80px'" [expandedHeight]="'80px'">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <span>
                                Consultants data
                            </span>
                            <button *ngIf="consultantsForm.consultantData?.controls?.length && consultantsForm.consultantData.controls.length > 1" mat-icon-button (click)="removeConsultant(i)"><mat-icon>delete</mat-icon></button>
                        </div>
                    </mat-expansion-panel-header>
                    <div class="workflow-form">

                        <h2 class="workflow-section--header">Consultant</h2>

                        <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                            <mat-button-toggle-group class="workflow-toggle-buttons u-mt--10" formControlName="consultantType">
                                <mat-button-toggle *ngFor="let item of consultantTypes" [value]="item.id">
                                    {{ item.name }}
                                </mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                            <!-- <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="33%">
                                <mat-label>Consultant Type</mat-label>
                                <mat-select formControlName="consultantType" [disableOptionCentering]="true">
                                    <mat-option *ngFor="let item of [0,1,2,3]" [value]="item">
                                        {{ item }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field> -->

                            <mat-form-field appearance="fill" class="u-w--100 mat-elevation-z0 formFieldNoMarginPadding" fxFlex="33%">
                                <mat-label>Consultant Name</mat-label>
                                <input autocomplete="off" matInput formControlName="consultantName" type="text">
                            </mat-form-field>
                        </div>

                        <h2 class="workflow-section--header">Duration</h2>

                        <h3 class="workflow-gray--header">Project duration</h3>
                        <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                            <mat-button-toggle-group class="workflow-toggle-buttons u-mt--10" formControlName="consultantProjectDuration">
                                <mat-button-toggle *ngFor="let item of ['Same as client', 'Different from client']" [value]="item">
                                    {{ item }}
                                </mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
                            <mat-form-field appearance="fill" class="formFieldNoMarginPadding u-mr--16" fxFlex="33%">
                                <mat-label>Start date</mat-label>
                                <input autocomplete="off" matInput
                                        [matDatepicker]="consultantProjectStartDatePicker"
                                        name="consultantProjectStartDate" formControlName="consultantProjectStartDate"
                                        (focus)="consultantProjectStartDatePicker.open()"
                                        (click)="consultantProjectStartDatePicker.open()" readonly>
                                <mat-icon class="calendar-icon" matSuffix svgIcon="calendar"></mat-icon>
                                <mat-datepicker #consultantProjectStartDatePicker></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="formFieldNoMarginPadding u-mr--16" fxFlex="33%" [ngClass]="{'disabled-input': consultantsForm.consultantData.at(i).get('consultantProjectNoEndDate')?.value}">
                                <mat-label>End date</mat-label>
                                <input autocomplete="off" matInput
                                        [matDatepicker]="consultantProjectEndDatePicker"
                                        name="consultantProjectEndDate" formControlName="consultantProjectEndDate"
                                        (focus)="consultantProjectEndDatePicker.open()"
                                        [attr.disabled]="consultantsForm.consultantData.at(i).get('consultantProjectNoEndDate')?.value"
                                        (click)="consultantProjectEndDatePicker.open()" readonly>
                                <mat-icon class="calendar-icon" matSuffix svgIcon="calendar"></mat-icon>
                                <mat-datepicker #consultantProjectEndDatePicker></mat-datepicker>
                            </mat-form-field>

                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
                            <mat-checkbox color="accent" formControlName="consultantProjectNoEndDate" name="consultantProjectNoEndDate" class="green-checkbox u-mr--16">
                                No end date
                            </mat-checkbox>
                        </div>

                        <h2 class="workflow-section--header">Project</h2>

                        <h3 class="workflow-gray--header">Consultant workplace</h3>
                        <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                            <mat-button-toggle-group class="workflow-toggle-buttons u-mt--10" formControlName="consultantWorkplace">
                                <mat-button-toggle *ngFor="let item of ['Onsite', 'Remote', 'Mix']" [value]="item">
                                    {{ item }}
                                </mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--10"
                            *ngIf="consultantsForm.consultantData.at(i).get('consultantWorkplace')?.value === 'Onsite' || consultantsForm.consultantData.at(i).get('consultantWorkplace')?.value === 'Mix'">
                            <mat-form-field appearance="fill" class="u-w--100 mat-elevation-z0 formFieldNoMarginPadding" fxFlex="0 0 calc(66% + 16px)">
                                <mat-label>Main onsite address</mat-label>
                                <input autocomplete="off" matInput formControlName="consultantWorkplaceOnsite" type="text">
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--10"
                            *ngIf="consultantsForm.consultantData.at(i).get('consultantWorkplace')?.value === 'Remote' || consultantsForm.consultantData.at(i).get('consultantWorkplace')?.value === 'Mix'">
                            <mat-form-field appearance="fill" class="u-w--100 mat-elevation-z0 formFieldNoMarginPadding"  fxFlex="0 0 calc(66% + 16px)">
                                <mat-label>Main remote country</mat-label>
                                <input autocomplete="off" matInput formControlName="consultantWorkplaceRemote" type="text">
                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--10"
                            *ngIf="consultantsForm.consultantData.at(i).get('consultantWorkplace')?.value === 'Mix'">
                            <mat-form-field appearance="fill" class="u-w--100 mat-elevation-z0 formFieldNoMarginPadding" fxFlex="0 0 calc(16% - 8px)">
                                <mat-label>Percentage onsite</mat-label>
                                <input autocomplete="off" matInput formControlName="consultantWorkplaceMixPercentage" type="text">
                            </mat-form-field>
                        </div>

                        <h3 class="workflow-gray--header">Consultant Expected Workload</h3>
                        <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
                            <mat-form-field appearance="fill" class="u-w--100 mat-elevation-z0 formFieldNoMarginPadding u-mr--16" fxFlex="33%">
                                <mat-label>Hours</mat-label>
                                <input autocomplete="off" matInput formControlName="consultantExpectedWorkloadHours" type="text">
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select" fxFlex="33%">
                                <mat-label>Period</mat-label>
                                <mat-select formControlName="consultantExpectedWorkloadPeriod" [disableOptionCentering]="true">
                                    <mat-option *ngFor="let item of [0,1,2,3]" [value]="item">
                                        {{ item }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <h3 class="workflow-gray--header">Consultant Cap on Time Reporting</h3>
                        <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                            <mat-button-toggle-group class="workflow-toggle-buttons u-mt--10" formControlName="consultantCapOnTimeReporting">
                                <mat-button-toggle *ngFor="let item of ['Cap on units', 'Cap on value', 'No cap']" [value]="false">
                                    {{ item }}
                                </mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                            <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding u-mr--16" fxFlex="0 0 calc(16.5% - 8px)">
                                <mat-label>Max value</mat-label>
                                <input autocomplete="off" matInput formControlName="consultantCapOnTimeReportingValue" type="text">
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select" fxFlex="0 0 calc(16.5% - 8px)">
                                <mat-label>Currency</mat-label>
                                <mat-select formControlName="consultantCapOnTimeReportingCurrency" [disableOptionCentering]="true">
                                    <mat-option *ngFor="let item of currencies" [value]="item.id">
                                        {{ item.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <h2 class="workflow-section--header">Payment</h2>

                        <h3 class="workflow-gray--header">Payment entity (consultant)</h3>
                        <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
                            <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding u-mr--16" fxFlex="0 0 calc(16.5% - 8px)">
                                <mat-label>Rate</mat-label>
                                <input autocomplete="off" matInput formControlName="consultantRate" type="text">
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="0 0 calc(16.5% - 8px)">
                                <mat-label>Unit type</mat-label>
                                <mat-select formControlName="consultantRateUnitType" [disableOptionCentering]="true">
                                    <mat-option *ngFor="let item of rateUnitTypes" [value]="item.id">
                                        {{ item.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="0 0 calc(16.5% - 8px)">
                                <mat-label>Currency</mat-label>
                                <mat-select formControlName="consultantRateCurrency" [disableOptionCentering]="true">
                                    <mat-option *ngFor="let item of currencies" [value]="item.id">
                                        {{ item.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div fxFlex="0 0 calc(16.5% - 8px)" fxLayoutAlign="start center">
                                Calculated margin (20%)
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
                            <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding u-mr--16" fxFlex="0 0 calc(16.5% - 8px)">
                                <mat-label>PDC-to-PDC rate</mat-label>
                                <input autocomplete="off" matInput formControlName="consultantPDCRate" type="text">
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="0 0 calc(16.5% - 8px)">
                                <mat-label>Unit type</mat-label>
                                <mat-select formControlName="consultantPDCRateUnitType" [disableOptionCentering]="true">
                                    <mat-option *ngFor="let item of rateUnitTypes" [value]="item.id">
                                        {{ item.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="0 0 calc(16.5% - 8px)">
                                <mat-label>Currency</mat-label>
                                <mat-select formControlName="consultantPDCRateCurrency" [disableOptionCentering]="true">
                                    <mat-option *ngFor="let item of currencies" [value]="item.id">
                                        {{ item.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div fxFlex="0 0 calc(16.5% - 8px)" fxLayoutAlign="start center">
                                Calculated margin (%)
                            </div>
                        </div>

                        <h2 class="workflow-section--header">Contract</h2>

                        <h3 class="workflow-gray--header">Consultant Special Contract Terms</h3>
                        <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
                            <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding textarea-input u-mr--16" fxFlex="0 0 calc(66% + 16px)">
                                <mat-label>Consultant Special Contract Terms</mat-label>
                                <textarea matInput autocomplete="new-password" name="consultantSpecialContractTerms" formControlName="consultantSpecialContractTerms">
                                </textarea>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
                            <mat-checkbox color="accent" formControlName="consultantSpecialContractTermsNone" name="consultantSpecialContractTermsNone" class="green-checkbox u-mr--16">
                                None
                            </mat-checkbox>
                        </div>

                        <h2 class="workflow-section--header">Account manager</h2>
                        <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
                            <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select" fxFlex="33%">
                                <mat-label>Account manager</mat-label>
                                <mat-select formControlName="consultantAccountManager" [disableOptionCentering]="true">
                                    <mat-option *ngFor="let item of currencies" [value]="item.id">
                                        {{ item.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                    </div>
                </mat-expansion-panel>
                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100">
                    <button class="button-add mat-elevation-z0 u-mt--10 u-mb--20" mat-flat-button (click)="addConsultantForm()">
                        <mat-icon>add</mat-icon>
                        Add consultant
                    </button>
                </div>
            </ng-container>
        </form>

    </mat-accordion>
</div>
