@import "/src/app/shared/styles/config/_colors";

.workflow {
    &-form {
        // margin: 0 145px;
        &--main,
        &--client,
        &--consultants,
        &--summary {
            border-bottom: 1px solid #E7E3E8;

            .workflow-gray--header {
                // margin-bottom: 8px !important;
                font-weight: bold;
                font-size: 16px;
                line-height: 16px;
                color: rgba(56, 72, 83, 0.87);
            }
        }
        &--consultants {
            &__name,
            &__period {
                font-weight: 600;
                font-size: 16px;
                font-family: 'Open Sans';
                line-height: 120%;
                color: #4A4E60;
            }
            &__payment-price-text {
                font-family: 'Open Sans';
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                color: rgba(56, 72, 83, 0.87);
            }
        }
    }
    &-section--header {
        color: $light-grey-color;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 18px;
        margin-bottom: 20px;
        font-family: "Open Sans", sans-serif;

        &-main {
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            font-size: 20px;
            line-height: 120%;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #4A4E60;
        }
    }
    // &-controls {
    //     position: sticky;
    //     bottom: 0;
    //     background-color: #fff;
    //     height: 60px;
    //     padding: 0 75px;
    //     box-shadow: 0px 0px 20px rgba(26, 35, 126, 0.15);
    //     button {
    //         width: 150px;
    //     }
    // }
    &-sales {
        // padding-left: 8px;
        &--process-data {
            padding: 30px;
        }
    }

    &-extension {
        &--gray-header {
            margin-bottom: 8px !important;
            font-weight: bold;
            font-size: 14px;
            line-height: 14px;
            color: #B6B4B2
        }
        &--blue-text {
            font-weight: bold;
            font-size: 16px;
            line-height: 16px;
            color: rgba(56, 72, 83, 0.87);
        }

        &--consultant-data {
            &--consultant {
                &-text {
                    font-family: 'Open Sans';
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 150%;
                    color: rgba(56, 72, 83, 0.87);
                }
                &-name {
                    font-weight: 800;
                    font-size: 16px;
                    color: $dark-grey-color;
                }
                &-img {
                    border-radius: 50%;
                }
            }

        }
    }
    &--termination {
        padding: 10px 24px;
    }

    &-readonly {
        &--header {
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.2;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #b6b4b2;

            &-main {
                font-family: "Open Sans", sans-serif;
                font-size: 18px;
                font-weight: 700;
                line-height: 1.2;
                letter-spacing: 1px;
                text-transform: uppercase;

                .process-name {
                    font-weight: 800;
                    color: #17a297;
                }
                .anchor-name {
                    color: #4a4e60;
                }
            }
        }
        &--gray {
            &-header {
                font-family: "Open Sans", sans-serif;
                font-size: 12px;
                font-weight: 700;
                color: #898785;
            }
        }
        &--blue {
            &-header {
                font-family: "Open Sans", sans-serif;
                font-size: 12px;
                font-weight: 700;
                color: #4a4e60;
            }
            &-text {
                font-family: "Open Sans", sans-serif;
                font-size: 14px;
                font-weight: 600;
                color: #4a4e60;
                &-bold {
                    font-family: "Open Sans", sans-serif;
                    font-size: 14px;
                    font-weight: 800;
                    color: rgba(56, 72, 83, 0.87);
                }
            }
        }
    }
}

.hide {
    display: none;
}

.section-header {
    &--page {
        font-family: 'IBM Plex Sans', sans-serif !important;
        font-weight: 700;
        font-size: 50px;
        color: #546E7A;
        line-height: 65px;
        margin-left: 70px;
    }
    &--main {
        font-family: 'IBM Plex Mono', monospace !important;
        font-weight: 700;
        font-size: 30px;
        color: #C7CFD3;
        margin-right: 32px;
    }
    &--top {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: #546E7A;
        margin-left: 70px;
        margin-bottom: 0;
    }
    &--block {
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 700;
        font-size: 14px;
        color: #A1AFB6;
        text-transform: uppercase;
        margin-right: 16px;
        line-height: 18px;
    }
}

.workflow-toggle-buttons--showMore {
    border: 1px solid $light-grey-color;
}
