.workflow {
    &-form {
        // margin: 0 145px;
        &--main,
        &--sales,
        &--consultants,
        &--summary {
            .workflow-gray--header {
                margin-bottom: 8px !important;
                font-weight: bold;
                font-size: 16px;
                line-height: 16px;
                color: rgba(56, 72, 83, 0.87);
            }
        }
    }
}

.hide {
    display: none;
}

.section-header {
    &--page {
        font-family: 'IBM Plex Sans', sans-serif !important;
        font-weight: 700;
        font-size: 50px;
        color: #546E7A;
        line-height: 65px;
        margin-left: 70px;
    }
    &--main {
        font-family: 'IBM Plex Mono', monospace !important;
        font-weight: 700;
        font-size: 30px;
        color: #C7CFD3;
        margin-right: 32px;
    }
    &--top {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: #546E7A;
        margin-left: 70px;
        margin-bottom: 0;
    }
    &--block {
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 700;
        font-size: 14px;
        color: #A1AFB6;
        text-transform: uppercase;
        margin-right: 16px;
        line-height: 18px;
    }
}
