<div class="workflow-sales">

    <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mt--10">
        <div fxFlex="20%" fxLayoutAlign="end center">
        </div>
        <div fxFlex="80%">
            <h1 class="section-header--page">Sales</h1>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mt--20">
        <div fxFlex="20%" fxLayoutAlign="end center">
            <h1 class="section-header--main">Main data</h1>
        </div>
        <div fxFlex="80%">
            <h2 class="section-header--top">Main data</h2>
        </div>
    </div>
    <form fxLayout="column" fxLayoutAlign="start start" [formGroup]="salesMainDataForm" class="workflow-form--main u-w--100">
        <div fxLayout="row" fxLayoutAlign="center center" class="u-w--100 u-mt--40">
            <div fxFlex="20%" fxLayoutAlign="end center">
                <h3 class="section-header--block">Project</h3>
            </div>
            <div fxFlex="80%" class="workflow-form__border-left u-w--100">
                <h2 class="workflow-gray--header">Sales Type</h2>
                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-button-toggle-group class="workflow-toggle-buttons u-mt--10" formControlName="salesType" (change)="salesTypeChange($event.value)">
                        <mat-button-toggle [value]="item" *ngFor="let item of saleTypes">
                            {{ item.name }}
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>

                <h2 class="workflow-gray--header">Delivery Type</h2>
                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-button-toggle-group class="workflow-toggle-buttons u-mt--10" formControlName="nearshoreOffshore">
                        <mat-button-toggle
                            [value]="item"
                            *ngFor="let item of deliveryTypes"
                            [ngClass]="{'hide':
                                    item.name === 'ManagedService' && salesMainDataForm?.salesType?.value?.name !== 'ManagedService' ||
                                    item.name !== 'ManagedService' && salesMainDataForm?.salesType?.value?.name === 'ManagedService'
                            }">
                            {{ item.name }}
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </div>
        </div>
        <!-- <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
            <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="33%">
                <mat-label>Sales type</mat-label>
                <mat-select formControlName="salesType" placeholder="Sales type">
                    <mat-option *ngFor="let item of saleTypes" [value]="item.id">
                        {{ item.name }}
                    </mat-option>
                </mat-select>
                <mat-error>
                    {{getValidationMessage(salesMainDataForm.salesType!)}}
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="33%">
                <mat-label>Nearshore/Offshore</mat-label>
                <mat-select formControlName="nearshoreOffshore" placeholder="Nearshore/Offshore">
                    <mat-option *ngFor="let item of deliveryTypes" [value]="item.id">
                        {{ item.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div fxFLex="33%" fxLayout="row" fxLayoutAlign="start start" class="u-w--100">
                <button mat-raised-button class="u-mr--16 u-w--100 workflow-company--btn" fxFlex="50%" (click)="intracompanyActive = true" [ngClass]="{'active-btn': intracompanyActive}">
                    <mat-icon svgIcon="workflow-intracompany" class="u-mr--16"></mat-icon>
                    Intracompany
                </button>
                <button mat-raised-button class="u-w--100 workflow-company--btn" fxFlex="50%"  (click)="intracompanyActive = false" [ngClass]="{'active-btn': !intracompanyActive}">
                    <mat-icon svgIcon="workflow-direct-company" class="u-mr--16"></mat-icon>
                    Direct
                </button>
            </div>
        </div> -->
        <div fxLayout="row" fxLayoutAlign="center center" class="u-w--100 u-mt--40">
            <div fxFlex="20%" fxLayoutAlign="end center">
                <h3 class="section-header--block">Project</h3>
            </div>
            <div fxFlex="80%" class="workflow-form__border-left u-w--100">
                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100">
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="33%">
                        <mat-label>Sales Account Manager</mat-label>
                        <mat-select formControlName="salesAccountManager" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of [0,1,2,3]" [value]="item">
                                {{ item }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select" fxFlex="33%">
                        <mat-label>Commission Account Manager</mat-label>
                        <mat-select formControlName="commissionAccountManager" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of [0,1,2,3]" [value]="item">
                                {{ item }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- <mat-form-field *ngIf="intracompanyActive" appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select" fxFlex="33%">
                        <mat-label>Intracompany Account Manager</mat-label>
                        <mat-select formControlName="intracompanyAccountManager" placeholder="Intracompany Account Manager">
                            <mat-option *ngFor="let item of [0,1,2,3]" [value]="item">
                                {{ item }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field> -->
                    <!-- <div fxFlex="33%" *ngIf="!intracompanyActive"></div> -->
                </div>
            </div>
        </div>
    </form>

    <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mt--60">
        <div fxFlex="20%" fxLayoutAlign="end center">
            <h1 class="section-header--main">Client data</h1>
        </div>
        <div fxFlex="80%">
            <h2 class="section-header--top">Client data</h2>
        </div>
    </div>
    <form fxLayout="column" fxLayoutAlign="start start" [formGroup]="salesMainClientDataForm" class="workflow-form--sales u-w--100">
        <div fxLayout="row" fxLayoutAlign="center center" class="u-w--100 u-mt--30">
            <div fxFlex="20%" fxLayoutAlign="end center">
                <h3 class="section-header--block">Project</h3>
            </div>
            <div fxFlex="80%" class="workflow-form__border-left">
                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-button-toggle-group class="workflow-toggle-buttons" formControlName="directClient">
                        <mat-button-toggle [value]="item" *ngFor="let item of ['Direct Client', 'Different end-client']">
                            {{ item }}
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100" [ngClass]="{'u-mb--20': salesMainClientDataForm?.directClient?.value === 'Different end-client'}">
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select" fxFlex="calc(66% + 16px)">
                        <mat-label>Customer</mat-label>
                        <mat-select formControlName="сustomer" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of currencies" [value]="item.id">
                                {{ item.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100" *ngIf="salesMainClientDataForm?.directClient?.value === 'Different end-client'">
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select" fxFlex="calc(66% + 16px)">
                        <mat-label>End Customer</mat-label>
                        <mat-select formControlName="endCustomer" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of currencies" [value]="item.id">
                                {{ item.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" class="u-w--100 u-mt--30">
            <div fxFlex="20%" fxLayoutAlign="end center">
                <h3 class="section-header--block">Duration</h3>
            </div>
            <div fxFlex="80%" class="workflow-form__border-left">
                <h2 class="workflow-gray--header">Project Duration</h2>
                <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
                    <mat-form-field appearance="fill" class="formFieldNoMarginPadding u-mr--16" fxFlex="33%">
                        <mat-label>Start date</mat-label>
                        <input autocomplete="off" placeholder="" matInput
                                [matDatepicker]="clientContractStartDatePicker"
                                name="saleDate" formControlName="clientContractStartDate"
                                (focus)="clientContractStartDatePicker.open()"
                                (click)="clientContractStartDatePicker.open()" readonly>
                        <mat-icon class="calendar-icon" matSuffix svgIcon="calendar"></mat-icon>
                        <mat-datepicker #clientContractStartDatePicker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="formFieldNoMarginPadding u-mr--16" fxFlex="33%">
                        <mat-label>End date</mat-label>
                        <input autocomplete="off" placeholder="" matInput
                                [matDatepicker]="clientContractEndDatePicker"
                                name="saleDate" formControlName="clientContractEndDate"
                                (focus)="clientContractEndDatePicker.open()"
                                [disabled]="salesMainClientDataForm.clientContractNoEndDate?.value"
                                (click)="clientContractEndDatePicker.open()" readonly>
                        <mat-icon class="calendar-icon" matSuffix svgIcon="calendar"></mat-icon>
                        <mat-datepicker #clientContractEndDatePicker></mat-datepicker>
                    </mat-form-field>

                    <mat-checkbox color="accent" formControlName="clientContractNoEndDate" name="clientContractNoEndDate" class="green-checkbox">
                        No end date
                    </mat-checkbox>
                </div>

                <h2 class="workflow-gray--header">Option to extend</h2>

                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-button-toggle-group class="workflow-toggle-buttons u-mt--10" formControlName="clientExtensionNoEndDate">
                        <mat-button-toggle [value]="true">
                            Option to extend
                        </mat-button-toggle>
                        <mat-button-toggle [value]="false">
                            No option
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20" *ngIf="salesMainClientDataForm?.clientExtensionNoEndDate?.value">
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="33%">
                        <mat-label> Duration</mat-label>
                        <mat-select formControlName="clientExtensionStartDate" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of invoicingTimes" [value]="item.id">
                                {{ item.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="formFieldNoMarginPadding u-mr--16" fxFlex="33%">
                        <mat-label> Deadline</mat-label>
                        <mat-select formControlName="clientExtensionDeadline" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of ['1-3 months', 'Specific date']" [value]="item">
                                {{ item }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="formFieldNoMarginPadding" fxFlex="31%" *ngIf="">
                        <mat-label>Specific date</mat-label>
                        <input autocomplete="off" placeholder="" matInput
                                [matDatepicker]="clientExtensionEndDatePicker"
                                name="saleDate" formControlName="clientExtensionEndDate"
                                (focus)="clientExtensionEndDatePicker.open()"
                                (click)="clientExtensionEndDatePicker.open()" readonly>
                        <mat-icon class="calendar-icon" matSuffix svgIcon="calendar"></mat-icon>
                        <mat-datepicker #clientExtensionEndDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" class="u-w--100 u-mt--30">
            <div fxFlex="20%" fxLayoutAlign="end center">
                <h3 class="section-header--block">Invoicing</h3>
            </div>
            <div fxFlex="80%" class="workflow-form__border-left">
                <h2 class="workflow-gray--header">Invoicing Entity</h2>
                <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select" fxFlex="33%">
                        <mat-label>ProData entity</mat-label>
                        <mat-select formControlName="invoicingProDataEntity" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of [0,1,2,3]" [value]="item">
                                {{ item }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <h2 class="workflow-gray--header">Price</h2>
                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-button-toggle-group class="workflow-toggle-buttons u-mt--10" formControlName="clientRateAndInvoicing" (change)="clientRateTypeChange($event.value)">
                        <mat-button-toggle [value]="item" *ngFor="let item of clientRateTypes">
                            {{ item.name }}
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                <span [ngSwitch]="salesMainClientDataForm.clientRateAndInvoicing?.value?.name">
                    <ng-container *ngSwitchCase="'Time based'">
                        <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                            <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding u-mr--16" fxFlex="0 0 calc(16.5% - 8px)">
                                <mat-label>Price</mat-label>
                                <input autocomplete="off" matInput formControlName="clientPrice" placeholder="Price" type="text">
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="0 0 calc(16.5% - 8px)">
                                <mat-label>Unit type</mat-label>
                                <mat-select formControlName="rateUnitTypeId" [disableOptionCentering]="true">
                                    <mat-option *ngFor="let item of rateUnitTypes" [value]="item.id">
                                        {{ item.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select" fxFlex="0 0 calc(16.5% - 8px)">
                                <mat-label>Currency</mat-label>
                                <mat-select formControlName="clientCurrency" [disableOptionCentering]="true">
                                    <mat-option *ngFor="let item of currencies" [value]="item.id">
                                        {{ item.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Fixed'">
                        <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                            <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding u-mr--16" fxFlex="33%">
                                <mat-label>Price</mat-label>
                                <input autocomplete="off" matInput formControlName="clientPrice" placeholder="Price" type="text">
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select" fxFlex="33%">
                                <mat-label>Currency</mat-label>
                                <mat-select formControlName="clientCurrency" [disableOptionCentering]="true">
                                    <mat-option *ngFor="let item of currencies" [value]="item.id">
                                        {{ item.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Milestones'">
                        Milestones
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                    </ng-container>
                </span>

                <h2 class="workflow-gray--header">Client Invoicing Reference Person</h2>
                <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="33%">
                        <mat-label>Invoicing Reference Person</mat-label>
                        <mat-select formControlName="clientInvoicingReferencePerson" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of [0,1,2,3]" [value]="item">
                                {{ item }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-checkbox color="accent" formControlName="isClientInvoicingNone" name="isClientInvoicingNone" class="green-checkbox u-mr--10">
                        None
                    </mat-checkbox>
                </div>

                <h2 class="workflow-gray--header">Client Evaluations - Consultant</h2>
                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="33%">
                        <mat-label>Evaluation Reference Person</mat-label>
                        <mat-select formControlName="evaluationReferencePerson" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of [0,1,2,3]" [value]="item">
                                {{ item }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-checkbox color="accent" formControlName="disableEvaluations" name="disableEvaluations" fxFlex="auto" class="green-checkbox u-mt--10 u-mr--10">
                        Disable Evaluations
                    </mat-checkbox>

                    <mat-form-field *ngIf="salesMainClientDataForm.value.disableEvaluations" appearance="fill" class="u-w--100 textarea-input formFieldNoMarginPadding">
                        <mat-label>Disable Evaluations Reason</mat-label>
                        <textarea matInput autocomplete="new-password" name="disableEvaluationsReason" formControlName="disableEvaluationsReason">
                        </textarea>
                    </mat-form-field>
                </div>

                <h2 class="workflow-gray--header">Client Contract Signers</h2>
                <div formArrayName="clientSigners" class="u-w--100 u-mb--20">
                    <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--10" *ngFor="let signer of clientSigners.controls; let i = index" [formGroupName]="i">
                        <mat-form-field appearance="fill" class="u-w--100 mat-elevation-z0 formFieldNoMarginPadding u-mr--16"  fxFlex="33%">
                            <mat-label>Name</mat-label>
                            <input autocomplete="off" matInput formControlName="clientName" placeholder="Name" type="text">
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="33%">
                            <mat-label>Client Role</mat-label>
                            <mat-select formControlName="clientRole" [disableOptionCentering]="true">
                                <mat-option *ngFor="let item of [0,1,2,3]" [value]="item">
                                    {{ item }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="20%">
                            <mat-label>Client Sigvens</mat-label>
                            <mat-select formControlName="clientSigvens" [disableOptionCentering]="true">
                                <mat-option *ngFor="let item of [0,1,2,3]" [value]="item">
                                    {{ item }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button class="workflow-remove--btn" mat-icon-button (click)="removeSigner(i)"><mat-icon>delete</mat-icon></button>
                    </div>
                    <button color="primary" class="button-accept mat-elevation-z0" mat-raised-button (click)="addSignerToForm()">
                        Add signer
                    </button>
                </div>

                <h2 class="workflow-gray--header">Client Special Contract Terms</h2>
                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding textarea-input u-mr--16" fxFlex="0 0 calc(66% + 16px)">
                        <mat-label>Special Contract Terms</mat-label>
                        <textarea matInput autocomplete="new-password" name="specialContractTerms" formControlName="specialContractTerms">
                        </textarea>
                    </mat-form-field>

                    <mat-checkbox color="accent" formControlName="isSpecialContractTermsNone" name="isSpecialContractTermsNone" class="green-checkbox u-mt--10">
                        None
                    </mat-checkbox>
                </div>

                <h2 class="workflow-gray--header">Invoicing Reference Number</h2>
                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-form-field appearance="fill" class="u-w--100 mat-elevation-z0 formFieldNoMarginPadding" fxFlex="33%">
                        <mat-label>Invoicing Reference Number</mat-label>
                        <input autocomplete="off" matInput formControlName="invoicingReferenceNumber" placeholder="Invoicing Reference Number" type="text">
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="33%">
                        <mat-label>Invoicing time</mat-label>
                        <mat-select formControlName="clientInvoicingTime" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of invoicingTimes" [value]="item">
                                {{ item.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field *ngIf="salesMainClientDataForm.clientInvoicingTime?.value?.name === 'ContractEndDate'" appearance="fill" class="formFieldNoMarginPadding u-mr--16" fxFlex="33%">
                        <mat-label>Date</mat-label>
                        <input autocomplete="off" placeholder="Date" matInput
                                [matDatepicker]="clientInvoicingDateDatePicker"
                                name="clientInvoicingDate" formControlName="clientInvoicingDate"
                                (focus)="clientInvoicingDateDatePicker.open()"
                                (click)="clientInvoicingDateDatePicker.open()" readonly>
                        <mat-icon class="calendar-icon" matSuffix svgIcon="calendar"></mat-icon>
                        <mat-datepicker #clientInvoicingDateDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20" *ngIf="clientSpecialRateActive">
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding u-mr--16" fxFlex="33%">
                        <mat-label>Client Special rates price</mat-label>
                        <input autocomplete="off" matInput formControlName="clientSpecialRatePrice" placeholder="Client Special rates price" type="text">
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="33%">
                        <mat-label>Currency</mat-label>
                        <mat-select formControlName="clientSpecialRateCurrency" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of currencies" [value]="item.id">
                                {{ item.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
                    <button mat-raised-button color="primary" class="mat-elevation-z0" fxFlex="20%"
                            [ngClass]="clientSpecialRateActive ? 'button-outlined' : 'button-accept'"
                            (click)="toggleSpecialClientRates()">
                            {{clientSpecialRateActive ? 'Delete Client Special rates' : 'Add Client Special rates'}}
                    </button>
                </div>

                <h2 class="workflow-gray--header">Client Fees</h2>

                <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20" *ngIf="clientSpecialFeesActive">
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding u-mr--16" fxFlex="33%">
                        <mat-label>Client fees</mat-label>
                        <input autocomplete="off" matInput formControlName="clientFees" placeholder="Client fees" type="text">
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="33%">
                        <mat-label>Currency</mat-label>
                        <mat-select formControlName="clientFeesCurrency" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of currencies" [value]="item.id">
                                {{ item.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
                    <button mat-raised-button color="primary" class="mat-elevation-z0" fxFlex="20%"
                            [ngClass]="clientSpecialFeesActive ? 'button-outlined' : 'button-accept'"
                            (click)="toggleClientFees()">
                            {{clientSpecialFeesActive ? 'Delete client fees' : 'Add client fees'}}
                    </button>
                </div>

            </div>
        </div>
    </form>

    <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mt--60">
        <div fxFlex="20%" fxLayoutAlign="end center">
            <h1 class="section-header--main">Additional data</h1>
        </div>
        <div fxFlex="80%">
            <h2 class="section-header--top">Additional data</h2>
        </div>
    </div>
    <form fxLayout="column" fxLayoutAlign="start start" [formGroup]="additionalDataForm" class="workflow-form--sales u-w--100">
        <div fxLayout="row" fxLayoutAlign="center center" class="u-w--100 u-mt--30">
            <div fxFlex="20%" fxLayoutAlign="end center">
                <h3 class="section-header--block">Additional data</h3>
            </div>
            <div fxFlex="80%" class="workflow-form__border-left">
                <h2 class="workflow-gray--header">Internal Notice, Contract Expires</h2>
                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select" fxFlex="33%">
                        <mat-label>Notification</mat-label>
                        <mat-select formControlName="notification" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of [0,1,2,3]" [value]="item">
                                {{ item }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <h2 class="workflow-gray--header">Project Category</h2>
                <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="33%">
                        <mat-label>Project Category</mat-label>
                        <mat-select formControlName="projectCategory" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of [0,1,2,3]" [value]="item">
                                {{ item }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <h2 class="workflow-gray--header">Project Description</h2>
                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-form-field appearance="fill" class="u-w--100 textarea-input formFieldNoMarginPadding u-mr--16" fxFlex="100%">
                        <mat-label>Project Description</mat-label>
                        <textarea matInput autocomplete="new-password" name="projectDescription" formControlName="projectDescription">
                        </textarea>
                    </mat-form-field>
                </div>

                <h2 class="workflow-gray--header">Workplace</h2>
                <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="33%">
                        <mat-label>Project</mat-label>
                        <mat-select formControlName="workplace" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of [0,1,2,3]" [value]="item">
                                {{ item }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <h2 class="workflow-gray--header">Expected Workload</h2>
                <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
                    <mat-form-field appearance="fill" class="u-w--100 mat-elevation-z0 formFieldNoMarginPadding u-mr--16" fxFlex="33%">
                        <mat-label>Hours</mat-label>
                        <input autocomplete="off" matInput formControlName="expectedWorkloadHours" placeholder="Hours" type="text">
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="33%">
                        <mat-label>Period</mat-label>
                        <mat-select formControlName="expectedWorkloadPeriod" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of [0,1,2,3]" [value]="item">
                                {{ item }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-checkbox color="accent" formControlName="expectedWorkloadNA" name="expectedWorkloadNA" class="green-checkbox">
                        N / A
                    </mat-checkbox>
                </div>

                <h2 class="workflow-gray--header">Time Reporting</h2>
                <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="33%">
                        <mat-label>Cap</mat-label>
                        <mat-select formControlName="timeReportingCap" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of [0,1,2,3]" [value]="item">
                                {{ item }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-checkbox color="accent" formControlName="timeReportingNoCap" name="timeReportingNoCap" class="green-checkbox">
                        No cap
                    </mat-checkbox>
                </div>

                <h2 class="workflow-gray--header">Margin</h2>
                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select" fxFlex="33%">
                        <mat-label>High/Low Margin</mat-label>
                        <mat-select formControlName="highLowMargin" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of margins" [value]="item.id">
                                {{ item.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <h2 class="workflow-gray--header">Discounts</h2>
                <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="33%">
                        <mat-label>Discounts</mat-label>
                        <mat-select formControlName="discounts" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of [0,1,2,3]" [value]="item">
                                {{ item }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-checkbox color="accent" formControlName="isDiscounts" name="isDiscounts" class="green-checkbox">
                        None
                    </mat-checkbox>
                </div>

                <h2 class="workflow-gray--header">Fees</h2>
                <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="33%">
                        <mat-label>Fees</mat-label>
                        <mat-select formControlName="fees" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of [0,1,2,3]" [value]="item">
                                {{ item }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-checkbox color="accent" formControlName="isFees" name="isFees" class="green-checkbox">
                        None
                    </mat-checkbox>
                </div>

                <h2 class="workflow-gray--header">Commision</h2>
                <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="33%">
                        <mat-label>Commision</mat-label>
                        <mat-select formControlName="comission" [disableOptionCentering]="true">
                            <mat-option *ngFor="let item of [0,1,2,3]" [value]="item">
                                {{ item }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-checkbox color="accent" formControlName="isComission" name="isComission" class="green-checkbox">
                        None
                    </mat-checkbox>
                </div>

                <h2 class="workflow-gray--header">Remarks</h2>
                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding textarea-input u-mr--16" fxFlex="0 0 calc(66% + 16px)">
                        <mat-label>Remarks</mat-label>
                        <textarea matInput autocomplete="new-password" name="remarks" formControlName="remarks">
                        </textarea>
                    </mat-form-field>

                    <mat-checkbox color="accent" formControlName="isRemarks" name="isRemarks" class="green-checkbox u-mt--10">
                        None
                    </mat-checkbox>
                </div>
            </div>
        </div>

    </form>

    <form fxLayout="column" fxLayoutAlign="start start" [formGroup]="consultantsForm" class="workflow-form--consultants u-w--100" id="consultantData">
        <ng-container formArrayName="consultantData">
            <ng-container *ngFor="let consultant of consultantsForm.consultantData.controls; let i = index" [formGroupName]="i">
                <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mt--60">
                    <div fxFlex="20%" fxLayoutAlign="end center">
                        <h1 class="section-header--main">Consultants data</h1>
                    </div>
                    <div fxFlex="80%" fxLayout="row" fxLayoutAlign="start center">
                        <h2 class="section-header--top">Consultants data {{i}}</h2>
                        <button *ngIf="consultantsForm.consultantData?.controls?.length && consultantsForm.consultantData.controls.length > 1" mat-icon-button (click)="removeConsultant(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
                <!-- <span>
                    CONSULTANT DATA
                </span> -->

                <div fxLayout="row" fxLayoutAlign="center center" class="u-w--100 u-mt--30">
                    <div fxFlex="20%" fxLayoutAlign="end center">
                        <h3 class="section-header--block">Consultant</h3>
                    </div>
                    <div fxFlex="80%" class="workflow-form__border-left">
                        <h2 class="workflow-gray--header">Consultant</h2>
                        <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                            <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="33%">
                                <mat-label>Consultant Type</mat-label>
                                <mat-select formControlName="consultantType" [disableOptionCentering]="true">
                                    <mat-option *ngFor="let item of [0,1,2,3]" [value]="item">
                                        {{ item }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="u-w--100 mat-elevation-z0 formFieldNoMarginPadding"  fxFlex="33%">
                                <mat-label>Consultant Name</mat-label>
                                <input autocomplete="off" matInput formControlName="consultantName" placeholder="Consultant Name" type="text">
                            </mat-form-field>
                        </div>

                        <h2 class="workflow-gray--header">Consultant Evaluations - ProData</h2>
                        <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
                            <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="33%">
                                <mat-label>Consultant Evaluations - ProData</mat-label>
                                <mat-select formControlName="consultantEvaluationsProData" [disableOptionCentering]="true">
                                    <mat-option *ngFor="let item of [0,1,2,3]" [value]="item">
                                        {{ item }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-checkbox color="accent" formControlName="disableEvaluations" name="disableEvaluations" class="green-checkbox u-mr--10">
                                Disable Evaluations
                            </mat-checkbox>
                        </div>

                        <h2 class="workflow-gray--header">Consultant Contract Signers</h2>
                        <div formArrayName="consultantContractSigners" class="u-w--100 u-mb--20">
                            <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--10" *ngFor="let signer of getConsultantContractSignersControls(i); let j = index" [formGroupName]="j">
                                <mat-form-field appearance="fill" class="u-w--100 mat-elevation-z0 formFieldNoMarginPadding u-mr--16"  fxFlex="33%">
                                    <mat-label>Name</mat-label>
                                    <input autocomplete="off" matInput formControlName="clientName" placeholder="Name" type="text">
                                </mat-form-field>

                                <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="33%">
                                    <mat-label>Role</mat-label>
                                    <mat-select formControlName="clientRole" [disableOptionCentering]="true">
                                        <mat-option *ngFor="let item of signerRoles" [value]="item.id">
                                            {{ item.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--16" fxFlex="20%">
                                    <mat-label>Client Sigvens</mat-label>
                                    <mat-select formControlName="clientSigvens" [disableOptionCentering]="true">
                                        <mat-option *ngFor="let item of [0,1,2,3]" [value]="item">
                                            {{ item }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <button class="workflow-remove--btn" mat-icon-button (click)="removeConsultantSigner(i, j)"><mat-icon>delete</mat-icon></button>
                            </div>
                            <button color="primary" class="button-outlined mat-elevation-z0" mat-raised-button (click)="addConsultantSigner(i)">
                                Add signer
                            </button>
                        </div>

                        <h2 class="workflow-gray--header">Consultant Special Contract Terms</h2>
                        <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
                            <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding textarea-input u-mr--16" fxFlex="100%">
                                <mat-label>Consultant Special Contract Terms</mat-label>
                                <textarea matInput autocomplete="new-password" name="consultantSpecialContractTerms" formControlName="consultantSpecialContractTerms">
                                </textarea>
                            </mat-form-field>
                        </div>

                        <h2 class="workflow-gray--header">Consultant Rate</h2>
                        <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
                            <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select" fxFlex="33%">
                                <mat-label>Consultant Rate</mat-label>
                                <mat-select formControlName="consultantRate" [disableOptionCentering]="true">
                                    <mat-option *ngFor="let item of [0,1,2,3]" [value]="item">
                                        {{ item }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <h2 class="workflow-gray--header">Consultant Project Duration</h2>
                        <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
                            <mat-form-field appearance="fill" class="formFieldNoMarginPadding u-mr--16" fxFlex="33%">
                                <mat-label>Start date</mat-label>
                                <input autocomplete="off" placeholder="Start date" matInput
                                        [matDatepicker]="consultantProjectStartDatePicker"
                                        name="saleDate" formControlName="consultantProjectStartDate"
                                        (focus)="consultantProjectStartDatePicker.open()"
                                        (click)="consultantProjectStartDatePicker.open()" readonly>
                                <mat-icon class="calendar-icon" matSuffix svgIcon="calendar"></mat-icon>
                                <mat-datepicker #consultantProjectStartDatePicker></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field appearance="fill" class="formFieldNoMarginPadding u-mr--16" fxFlex="33%">
                                <mat-label>End date</mat-label>
                                <input autocomplete="off" placeholder="End date" matInput
                                        [matDatepicker]="consultantProjectEndDatePicker"
                                        name="saleDate" formControlName="consultantProjectEndDate"
                                        (focus)="consultantProjectEndDatePicker.open()"
                                        (click)="consultantProjectEndDatePicker.open()" readonly>
                                <mat-icon class="calendar-icon" matSuffix svgIcon="calendar"></mat-icon>
                                <mat-datepicker #consultantProjectEndDatePicker></mat-datepicker>
                            </mat-form-field>

                            <mat-checkbox color="accent" formControlName="consultantProjectNoEndDate" name="consultantProjectNoEndDate" class="green-checkbox u-mr--16">
                                No end date
                            </mat-checkbox>

                            <mat-checkbox color="accent" formControlName="consultantProjectSameAsClientDuration" name="consultantProjectSameAsClientDuration" class="green-checkbox">
                                Same as Client Project Duration
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div fxLayout="row" fxLayoutAlign="center center" class="u-w--100">
                <button color="primary" class="button-outlined mat-elevation-z0 u-mt--10 u-mb--20" mat-raised-button (click)="addConsultantForm()">Add consultant</button>
            </div>
        </ng-container>
    </form>

</div>
