@import "/src/app/shared/styles/config/_colors";

.workflow {
    &-change {
        &-dialog {
            &--actions {
                display: flex;
                justify-content: space-between;
                border-top: 1px solid $sand-color;
                // button {
                //     width: 150px;
                //     font-weight: 700;
                // }
                // &-btn {
                //     &__outlined {
                //         color: $green-color !important;
                //         background-color: transparent;
                //         // border: 2px solid #CDFF96;
                //         border: 0;
                //         border-radius: 5px;
                //     }
                //     &__positive {
                //         color: $white-color !important;
                //         background: $green-color;
                //         border-radius: 5px;
                //     }
                // }
            }

            &--header {
                font-size: 26px;
                font-weight: 700;
                line-height: 32px
            }

            &--label {
                font-weight: 600;
            }
            &--consultant {
                &-name {
                    font-weight: 800;
                    font-size: 16px;
                    color: $dark-grey-color;
                }
                &-img {
                    border-radius: 50%;
                    width: 35px;
                    height: 35px;
                }

            }
            &--checkbox {
                font-size: 14px;
                font-weight: 600px;
            }
        }
    }
}
