<ng-container [ngSwitch]="agreementValidityState">
	<ng-container *ngSwitchCase="0">
		<mat-icon
			svgIcon="agreement-active-icon"
			[customTooltip]="modeEnum[0]"
			[showAlways]="true"
			[style.width.px]="iconWidth"
			[style.height.px]="iconHeight"></mat-icon>
	</ng-container>
	<ng-container *ngSwitchCase="1">
		<mat-icon
			svgIcon="agreement-active-outdated-icon"
			[customTooltip]="modeEnum[1]"
			[showAlways]="true"
			[style.width.px]="iconWidth"
			[style.height.px]="iconHeight"></mat-icon>
	</ng-container>
	<ng-container *ngSwitchCase="2">
		<mat-icon
			svgIcon="agreement-inactive-icon"
			[customTooltip]="modeEnum[2]"
			[showAlways]="true"
			[style.width.px]="iconWidth"
			[style.height.px]="iconHeight"></mat-icon>
	</ng-container>
</ng-container>
