<form [formGroup]="clientLegalContractsForm" class="u-w--100">
	<ng-container *ngIf="clientLegalContractsForm.legalContracts?.controls?.length">
		<div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="5px" class="u-w--100 u-pl--16 u-pr--16 u-pb--5">
			<span fxFlex="20px" class="legal-contract--list-header text-truncate-ellipsis u-w--100"> </span>
			<span fxFlex="auto" class="legal-contract--list-header text-truncate-ellipsis u-w--100"> Agreement name </span>
			<span fxFlex="35px" fxLayoutAlign="center start" class="legal-contract--list-header text-truncate-ellipsis u-w--100">
				Mode
			</span>
			<span fxFlex="35px" fxLayoutAlign="center start" class="legal-contract--list-header text-truncate-ellipsis u-w--100">
				Via
			</span>
			<span
				fxFlex="160px"
				fxFlex.lt-xl="50px"
				fxLayoutAlign.lx-xl="center start"
				class="legal-contract--list-header text-truncate-ellipsis u-w--100">
				Status
			</span>
			<span fxFlex="80px" class="legal-contract--list-header text-truncate-ellipsis u-w--100"> Last updated </span>
			<span fxFlex="35px" fxLayoutAlign="center start" class="legal-contract--list-header text-truncate-ellipsis u-w--100">
				By
			</span>
			<ng-container *ngIf="!readOnlyMode">
				<span fxFlex="40px" class="legal-contract--list-header text-truncate-ellipsis u-w--100"> </span>
			</ng-container>
		</div>
		<ng-container formArrayName="legalContracts" class="u-w--100">
			<ng-container
				*ngFor="let contract of clientLegalContractsForm.legalContracts?.controls; index as i; first as first"
				[formArrayName]="i">
                <legal-contract [contract]="contract" [first]="first" [isClientContracts]="isClientContracts" [clientPeriodId]="clientPeriodId" [consultantPeriodId]="consultantPeriodId" [readOnlyMode]="readOnlyMode"></legal-contract>

			</ng-container>
		</ng-container>
	</ng-container>
	<ng-container *ngIf="clientLegalContractsForm.legalContracts?.controls?.length === 0 && readOnlyMode">
		<div
			fxLayout="row"
			fxLayoutAlign="space-between center"
			class="legal-contract--list u-w--100 u-pl--16 u-pr--16 border-unset">
			<span class="light-grey-color text-600"> No client legal contracts </span>
		</div>
	</ng-container>
	<div
		fxLayout="row"
		[fxLayoutAlign]="readOnlyMode ? 'end start' : 'space-between start'"
		[ngClass]="{ 'u-mt--16': clientLegalContractsForm.legalContracts?.controls?.length }">
		<ng-container *ngIf="!readOnlyMode">
			<button class="rates-and-fees--btn button-add" mat-flat-button (click)="redirectToCreateAgreement()">
				<mat-icon>add</mat-icon>
				Add agreement
			</button>
		</ng-container>
		<ng-container *ngIf="clientLegalContractsForm.legalContracts?.controls?.length > 0">
			<div fxLayout="row" fxLayoutAlign="start start">
				<div
					[matTooltip]="downloadEnvelopeAvailable ? '' : 'Select at least 1 agreement, which has a signed contract'"
					matTooltipClass="white-tooltip">
					<button
						mat-flat-button
						class="button-outlined mat-elevation-z0 u-mr--12"
						[disabled]="!downloadEnvelopeAvailable"
						appPreventDoubleClick
						(throttledClick)="downloadEnvelopes()">
						Download envelope
					</button>
				</div>
				<ng-container *ngIf="!readOnlyMode">
					<div
						[matTooltip]="sendAgreementAvailable ? '' : 'Selected agreement has no signed document'"
						matTooltipClass="white-tooltip">
						<button
							color="primary"
							class="button-accept mat-elevation-z0"
							mat-flat-button
							[disabled]="!sendAgreementAvailable"
							appPreventDoubleClick
							(throttledClick)="sendAgreement()">
							Send agreement
						</button>
					</div>
				</ng-container>
			</div>
		</ng-container>
	</div>
</form>
<ng-template #noDataTemplate> - </ng-template>
