<div class="workflow-overview" *ngIf="componentInitalized">
    <div *ngFor="let item of workflowProcesses">
        <div class="workflow-overview--team" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="60px">
            <!-- TODO: move each block to card component-->
            <div fxLayout="column" fxLayoutAlign="start start" fxFlex="15%">
                <span class="flex-row flex-items-center u-mb--10">
                    <mat-icon svgIcon="{{item.name}}"></mat-icon>
                    <span class="workflow-overview--process">
                        {{item.displayName}}
                    </span>
                </span>
                <span class="workflow-overview--process-daterange u-ml--5">{{item.dateRange}}</span>
            </div>
            <div *ngFor="let item of item.processSteps" fxFlex="20%">
                <div class="workflow-overview--team__user column">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <img class="workflow-overview--team__user-img" src="https://placekitten.com/64/64" alt="">
                        <div class="column">
                            <h2 class="workflow-overview--team__user-position">{{item.displayName}}</h2>
                            <p class="workflow-overview--team__user-name">{{item.assignedPerson}}</p>
                        </div>
                    </div>
                    <div class="workflow-overview--team__user-progress u-w--100" [ngClass]="{'finished': item.isCompleted, 'in-progress': item.isInProgress}" [matTooltip]="displayStepActionTooltip(item)">
                    </div>
                    <div fxLayout="row" fxLayoutAlign="end center" class="u-w--100">
                        <span class="icon-in-progress u-mr--5">
                            <mat-icon svgIcon="{{item.isCompleted ? 'completed-icon' : 'in-progress-icon'}}"></mat-icon>
                        </span>
                        <span class="workflow-overview--team__user-status" [ngClass]="{'finished': item.canStartSetup || item.isInProgress}">
                            {{displayStepAction(item)}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FIXME: hidden for the 1st release -->
    <div class="workflow-overview--timeline" fxLayout="row" fxLayoutAlign="start start" [fxHide]="true">
        <div fxLayout="row" fxLayoutAlign="start center" class="workflow-overview--chart-container" fxFlexFill>
            <ngx-gantt #gantt [items]="items" [viewOptions]="viewOptions" [viewType]="viewType">
                <ngx-gantt-table>
                    <ngx-gantt-column name="" width="250px">
                        <ng-template #cell let-item="item">
                            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px" class="u-w-100">
                                <ng-container *ngIf="item.title !== ''; else childTemplate">
                                    <img class="manager-search--photo" src="../../../../assets/common/images/no-img.svg"/>
                                    <span class="text-truncate-ellipsis workflow-overview--client-name" [matTooltip]="item?.title">
                                        {{item?.title}}
                                    </span>
                                </ng-container>
                                <ng-template #childTemplate>
                                    <img class="manager-search--photo" src="../../../../assets/common/images/no-img.svg"/>
                                    <span>
                                        {{item?.origin?.firstName + ' ' + item?.origin?.lastName}}
                                    </span>
                                </ng-template>
                            </div>
                        </ng-template>
                    </ngx-gantt-column>
                </ngx-gantt-table>
            </ngx-gantt>
        </div>
    </div>
</div>
