<div class="workflow-overview" *ngIf="componentInitalized">
    <div *ngFor="let item of workflowProcesses">
        <div class="workflow-overview--team" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="60px">
            <div fxLayout="column" fxLayoutAlign="start start" fxFlex="15%">
                <span class="flex-row flex-items-center u-mb--10">
                    <ng-container [ngSwitch]="item.typeId">
                        <ng-container *ngSwitchCase="workflowProcessType.StartClientPeriod">
                            <mat-icon svgIcon="workflowAdd"></mat-icon>
                        </ng-container>
                        <ng-container *ngSwitchCase="workflowProcessType.ExtendClientPeriod">
                            <mat-icon svgIcon="workflowStartOrExtend"></mat-icon>
                        </ng-container>
                        <ng-container *ngSwitchCase="workflowProcessType.TerminateWorkflow">
                            <mat-icon svgIcon="workflowTerminate"></mat-icon>
                        </ng-container>
                        <ng-container *ngSwitchCase="workflowProcessType.ChangeClientPeriod">
                            <mat-icon svgIcon="workflowEdit"></mat-icon>
                        </ng-container>
                        <ng-container *ngSwitchCase="workflowProcessType.StartConsultantPeriod">
                            <mat-icon svgIcon="workflowAdd"></mat-icon>
                        </ng-container>
                        <ng-container *ngSwitchCase="workflowProcessType.ChangeConsultantPeriod">
                            <mat-icon svgIcon="workflowEdit"></mat-icon>
                        </ng-container>
                        <ng-container *ngSwitchCase="workflowProcessType.ExtendConsultantPeriod">
                            <mat-icon svgIcon="workflowStartOrExtend"></mat-icon>
                        </ng-container>
                        <ng-container *ngSwitchCase="workflowProcessType.TerminateConsultant">
                            <mat-icon svgIcon="workflowTerminate"></mat-icon>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            -
                        </ng-container>
                    </ng-container>
                    <span class="workflow-overview--process">
                        {{item.name}}
                    </span>
                </span>
                <span class="workflow-overview--process-daterange u-ml--5">{{item.periodStartDate | momentFormat: 'DD.MM.YYYY' + ' - ' + (item.periodEndDate ? (item.periodEndDate | momentFormat: 'DD.MM.YYYY') : '...')}}</span>
            </div>
            <div *ngFor="let item of item.steps" fxFlex="20%">
                <div class="workflow-overview--team__user column">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <img class="workflow-overview--team__user-img" [src]="employeeProfileUrl(item.responsiblePerson?.externalId!)" alt="">
                        <div class="column">
                            <h2 class="workflow-overview--team__user-position">{{item.name}}</h2>
                            <p class="workflow-overview--team__user-name">{{item.responsiblePerson?.name}}</p>
                        </div>
                    </div>
                    <div class="workflow-overview--team__user-progress u-w--100" [ngClass]="{'finished': item.status === workflowStepStatus.Completed, 'in-progress': item.status === workflowStepStatus.Pending}" [matTooltip]="displayStepActionTooltip(item)" matTooltipClass="white-tooltip">
                    </div>
                    <div fxLayout="row" fxLayoutAlign="end center" class="u-w--100">
                        <span class="icon-in-progress u-mr--5">
                            <mat-icon svgIcon="{{item.status === workflowStepStatus.Completed ? 'completed-icon' : 'in-progress-icon'}}"></mat-icon>
                        </span>
                        <span class="workflow-overview--team__user-status" [ngClass]="{'finished': item.status !== workflowStepStatus.Completed}">
                            {{displayStepAction(item)}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="workflow-overview--timeline" fxLayout="row" fxLayoutAlign="start start" [fxHide]="overviewGroups.length === 0 && overviewItems.length === 0" fxFlexFill>
        <app-gantt-chart *ngIf="overviewGroups.length && overviewItems.length"
            #gantt
            [items]="overviewItems"
            [groups]="overviewGroups"
            [viewOptions]="viewOptions"
            [viewType]="viewType"
            [draggable]="false"
            [showTodayLine]="false">
            <ng-template #group let-group="group">
                <!-- {{ group.title }} -->
            </ng-template>
            <ng-template #bar let-item="item">
                <!-- <span style="color: #fff">&nbsp;&nbsp;{{ item.title }}</span> -->
            </ng-template>
        </app-gantt-chart>

        <div fxFlex="3%" fxLayout="column" class="u-mt--44">
            <ng-container *ngIf="individualConsultantActionsAvailable">
                <div *ngFor="let item of overviewGroups" class="workflow-overview--timeline-actions">
                    <button  mat-icon-button appPreventDoubleClick (throttledClick)="$event.stopPropagation();" type="button" [matMenuTriggerFor]="consultantMenu" class="three-dots-actions-btn workflow-overview--three-dots">
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #consultantMenu>
                        <button
                            class="menu-item menu-item--edit"
                            mat-menu-item
                            appPreventDoubleClick (throttledClick)="changeConsultantData(item.origin)">
                            <mat-icon>create</mat-icon>
                            Change consultant data
                        </button>
                        <button
                            class="menu-item menu-item--edit"
                            mat-menu-item
                            appPreventDoubleClick (throttledClick)="extendConsultant(item.origin)">
                            <mat-icon>add</mat-icon>
                            Extend consultant
                        </button>
                        <!-- FIXME: uncomment when BE will return cons id -->
                        <!-- <button
                            class="menu-item menu-item--cancel"
                            mat-menu-item
                            appPreventDoubleClick (throttledClick)="terminateConsultant(item.origin)">
                            <mat-icon>clear</mat-icon>
                            Terminate consultant
                        </button> -->
                    </mat-menu>
                </div>
            </ng-container>
        </div>
    </div>
    <ng-container *ngIf="workflowHistory.length">
        <mat-divider class="u-w--100 u-mb--30"></mat-divider>
        <h2 class="workflow-overview--history-header u-mb--30">Latest changes</h2>
        <div fxLayout="row" fxLayoutAlign="start start" class="workflow-overview--history">
            <div fxLayout="column" fxLayoutAlign="start start" fxFlex="40%">
                <div fxlayout="row" fxLayoutAlign="start center" class="u-mb--15 u-w--100" *ngFor="let item of workflowHistory" >
                    <span class="workflow-overview--history-grey-text" fxFlex="20%">
                        {{item.occurredAtUtc | momentFormat: 'DD.MM.YYYY HH:mm'}}
                    </span>
                    <img class="workflow-overview--history-img u-mr--16" [src]="employeeProfileUrl(item.initiatedBy?.externalId!)" alt="">
                    <span class="workflow-overview--history-event-name text-truncate-ellipsis"  [matTooltip]="item.eventName!" matTooltipClass="white-tooltip" fxFlex="40%" appShowIfTruncated>
                        {{item.eventName}}
                    </span>
                    <span class="workflow-overview--history-grey-text text-truncate-ellipsis" [matTooltip]="item.initiatedBy?.name!" matTooltipClass="white-tooltip" fxFlex="30%" appShowIfTruncated>
                        {{item.initiatedBy?.name}}
                    </span>
                </div>
            </div>
        </div>
        <div class="pagination-container u-w--100">
            <mat-paginator #historyPaginator [length]="historyTotalCount" [pageSize]="historyDeafultPageSize" [pageIndex]="historyPageNumber-1"
                [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true" (page)="historyPageChanged($event)">
            </mat-paginator>
        </div>
    </ng-container>
</div>
