<div class="menu-component-wrapper">
	<button
		mat-icon-button
		[matMenuTriggerFor]="menu"
		class="toggle-button"
		(menuOpened)="isOpened = true"
		(menuClosed)="onMenuClosed()">
		<div class="align-items">
			<span
				[ngClass]="{
					'selected-filters': selectedItems.length || isOpened
				}"
				><ng-container
					*ngIf="triggerButton"
					[ngTemplateOutlet]="triggerButton"
					[ngTemplateOutletContext]="{ $implicit: selectedItems }"></ng-container>
			</span>
		</div>
	</button>
	<mat-menu
		#menu="matMenu"
		(closed)="isOpened = false"
		backdropClass="mat-menu-content-wrapper"
		backdropClass="app-contract-backdrop">
		<div class="scrollbar-container">
			<ng-container *ngFor="let option of options; trackBy: trackById.bind(this)">
				<mat-checkbox
					(click)="$event.stopPropagation()"
					[value]="option"
					(change)="toggleSelect(option)"
					[checked]="option.selected">
					<ng-container
						*ngIf="optionPrefix"
						[ngTemplateOutlet]="optionPrefix"
						[ngTemplateOutletContext]="{ $implicit: option }">
					</ng-container>
					<span class="option-name"> {{ option[displayedProperty] }} </span>
				</mat-checkbox>
			</ng-container>
		</div>
	</mat-menu>
</div>
