@import "/src/app/shared/styles/config/_colors";
@import "/src/app/shared/styles/config/_mixins";

.confirmation-dialog {
    &--header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1 {
            @include fontOpenSans(30px, 800);
            line-height: 120%;
        }
    }
    &--content {
        color: $dark-grey-color;
        font-weight: 600;
    }
    &--actions{
        justify-content: space-between;
        border-top: 1px solid $sand-color;
    }
}
