<mat-dialog-content class="confiramtion-dialog">
    <!-- <div class="confiramtion-dialog--content"> -->
        <div mat-dialog-title class="confiramtion-dialog--header">
            <h1>
                {{ data.confirmationMessageTitle }}
            </h1>
        </div>
        <p>
            {{ data.confirmationMessage }}
        </p>
    <!-- </div> -->
</mat-dialog-content>
<mat-dialog-actions align="start" class="confiramtion-dialog--actions">
    <button mat-flat-button class="confiramtion-dialog--actions-btn-outlined mat-elevation-z0" (click)="reject()">
        {{ data.rejectButtonText }}
    </button>
    <button mat-flat-button class="mat-elevation-z0" [ngClass]="data.isNegative ? 'confiramtion-dialog--actions-btn-negative' : 'confiramtion-dialog--actions-btn-positive'" (click)="confirm()">
        {{ data.confirmButtonText }}
    </button>
</mat-dialog-actions>

