<mat-dialog-content class="confirmation-dialog">
    <div mat-dialog-title class="confirmation-dialog--header">
        <h1>
            {{ data.confirmationMessageTitle }}
        </h1>
        <button class="dialog-close--button" mat-icon-button (click)="close()"><mat-icon svgIcon="dialog-close-icon"></mat-icon></button>
    </div>
    <p class="confirmation-dialog--content text-wrap--pre-line">
        {{ data.confirmationMessage }}
    </p>
</mat-dialog-content>
<mat-dialog-actions class="confirmation-dialog--actions flex-justify-between">
    <button mat-flat-button class="confirmation-dialog--actions-btn dialog-btn dialog-btn__outlined" appPreventDoubleClick (throttledClick)="reject()">
        {{ data.rejectButtonText }}
    </button>
    <button mat-flat-button class="dialog-btn" [ngClass]="data.isNegative ? 'dialog-btn__negative' : 'dialog-btn__positive'" appPreventDoubleClick (throttledClick)="confirm()">
        {{ data.confirmButtonText }}
    </button>
</mat-dialog-actions>

