<div class="workflow" fxLayout="column" fxLayoutAlign="start start" #scroller>

    <div fxLayout="row" fxLayoutAlign="start start" class="workflow-header u-w--100">
        <div fxFlex="40%" fxLayout="column">
            <h2 class="workflow-header--title u-mb--10">Workflow</h2>
            <p class="workflow-header--client u-mb--20">Flack Danmark A/S</p>
            <div class="flex-row">
                <span class="workflow-header--status__icon"></span>
                <span class="workflow-header--status__icon"></span>
                <span class="workflow-header--status__icon"></span>
                <span class="workflow-header--status u-ml--10">
                    New workflow
                </span>
            </div>
        </div>

        <div fxFlex="50%" fxLayout="row">
            <div fxFlex="50%" fxLayout="column wrap" style="font-size: 12px;">
                <span>
                    Started: {{_workflowDataService.getWorkflowProgress?.started}}
                </span>
                <span>
                    isExtensionAdded: {{_workflowDataService.getWorkflowProgress?.isExtensionAdded}}
                </span>
                <span>
                    isExtensionCompleted: {{_workflowDataService.getWorkflowProgress?.isExtensionCompleted}}
                </span>
                <span>
                    isWorkflowSalesSaved: {{_workflowDataService.getWorkflowProgress?.isWorkflowSalesSaved}}
                </span>
                <span>
                    isWorkflowContractsSaved: {{_workflowDataService.getWorkflowProgress?.isWorkflowContractsSaved}}
                </span>
                <span>
                    isWorkflowAccountsSaved: {{_workflowDataService.getWorkflowProgress?.isWorkflowAccountsSaved}}
                </span>
            </div>
            <div fxFlex="50%" fxLayout="column wrap" style="font-size: 12px;">
                <span>
                    isPrimaryWorkflowCompleted: {{_workflowDataService.getWorkflowProgress?.isPrimaryWorkflowCompleted}}
                </span>
                <span>
                    currentlyActiveSection: {{mapSectionName(_workflowDataService.getWorkflowProgress?.currentlyActiveSection)}}
                </span>
                <span>
                    currentlyActiveStep: {{mapStepName(_workflowDataService.getWorkflowProgress?.currentlyActiveStep)}}
                </span>
                <span>
                    currentlyActiveSideSection: {{mapSideSectionName(_workflowDataService.getWorkflowProgress?.currentlyActiveSideSection)}}
                </span>
                <span>
                    currentlyActiveExtensionIndex: {{_workflowDataService.getWorkflowProgress?.currentlyActiveExtensionIndex}}
                </span>
            </div>
        </div>
        <div fxFlex="10%" fxLayoutAlign="end center">
            <button mat-icon-button [matMenuTriggerFor]="workflowMenu" class="workflow-icon--actions"><mat-icon>add</mat-icon></button>
            <mat-menu #workflowMenu>
                <button
                    class="menu-item menu-item--edit"
                    mat-menu-item
                    [disabled]="false"
                    (click)="changeWorkflow()">
                    <mat-icon>create</mat-icon>
                    Edit Workflow
                </button>
                <button
                    class="menu-item menu-item--add"
                    mat-menu-item
                    [disabled]="disableAddExtension()"
                    (click)="addExtension()">
                    <mat-icon>add</mat-icon>
                    Extend Workflow
                </button>
                <button
                    class="menu-item menu-item--cancel"
                    mat-menu-item
                    [disabled]="_workflowDataService.getWorkflowProgress?.isTerminationAdded"
                    (click)="addTermination()">
                    <mat-icon>clear</mat-icon>
                    Terminate Workflow
                </button>
            </mat-menu>
        </div>
    </div>

    <div *ngIf="showToolbar" fxLayout="row" fxLayoutAlign="start center" class="workflow-toolbar u-w--100">
        <h2 class="workflow-toolbar--title u-mr--10">Workflow ID: 1234</h2>
        <p class="workflow-toolbar--client u-mr--20">Flack Danmark A/S</p>
    </div>

    <div class="workflow-content u-w--100" id="workflowDetails">
        <mat-tab-group class="workflow-content--tabs u-w--100" (selectedTabChange)="tabChanged($event)" [(selectedIndex)]="selectedIndex">
            <mat-tab *ngFor="let tab of menuTabs; let i = index;" [label]="tab.displayName">
                <ng-template mat-tab-label>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <mat-icon *ngIf="tab.displayName === 'Overview'" class="u-mr--5" svgIcon="overview-icon"></mat-icon>
                        <span class="tab-header">{{tab.displayName}}</span>
                    </div>
                    <span class="tab-subheader">{{tab.additionalInfo}}</span>
                </ng-template>
                <!-- <div class="workflow-form--panel u-w--100" [ngStyle]="{'height': isExpandedAndToolbarVisible()}"> -->
                <div class="workflow-form--panel u-w--100">
                    <!-- <ng-scrollbar #salesScrollbar> -->
                        <dynamic-component-loader
                            *ngIf="componentInitalized"
                            [type]="detectComponentToRender(tab)"
                            [index]="detectExtensionIndex(tab)">
                        </dynamic-component-loader>
                    <!-- </ng-scrollbar> -->
                </div>
            </mat-tab>
        </mat-tab-group>
        <div fxLayout="row" fxLayoutAlign="end center" class="workflow-controls" *ngIf="selectedTabName !== 'Overview'">
            <button mat-flat-button class="button-outlined mat-elevation-z0 u-mr--16" (click)="saveDraft()">Save draft</button>
            <button color="primary" class="button-accept mat-elevation-z0" mat-flat-button  (click)="completeStep()">Complete step</button>
        </div>
    </div>
</div>
