.workflow {
    min-height: 100%;
    &-toolbar {
        height: 50px;
        width: 100%;
        background-color: #fff;
        position: sticky;
        top: 0;
        z-index: 999;
        padding: 0 75px;
        &--title {
            color: rgba(56, 72, 83, 0.87);
            font-size: 16px;
            line-height: 16px;
            font-weight: 700;
        }
        &--client {
            color: rgba(56, 72, 83, 0.87);
            font-size: 16px;
            line-height: 16px;
            font-weight: 700;
        }
    }
    &-header {
        padding: 32px 75px;
        height: 120px;
        // height: 15vh;
        background-color: #fff;
        &--title {
            font-family: 'Open Sans', sans-serif !important;
            color: rgba(56, 72, 83, 0.87);
            font-size: 18px;
            line-height: 18px;
        }
        &--client {
            font-family: 'Open Sans', sans-serif !important;
            font-weight: 700;
            color: rgba(56, 72, 83, 0.87);
            font-size: 36px;
            line-height: 120%;
        }
        &--status {
            font-family: 'Open Sans', sans-serif !important;
            color: rgba(56, 72, 83, 0.87);
            font-size: 14px;
            line-height: 14px;
            &__icon {
                border: 1px solid;
                border-radius: 50%;
                width: 14px;
                height: 14px;
                margin-right: 5px;
            }
        }
    }
    // &-content {
    //     background-color: #FAF9FB;
    //     // position: sticky;
    // }

    &-form {
        // &--sales,
        // &--consultants,
        // &--summary {
        //     h2:not(.workflow-green--header) {
        //         margin-bottom: 8px !important;
        //         font-weight: bold;
        //         font-size: 16px;
        //         line-height: 16px;
        //         color: rgba(56, 72, 83, 0.87);
        //     }
        // }
        &--panel {
            background: #FAF9FB;
            // padding: 16px 75px;
            // padding-bottom: 32px;
            // height: calc(80vh - 50px);
            // h2:not(.workflow-green--header) {
            //     margin-bottom: 8px !important;
            //     font-weight: bold;
            //     font-size: 16px;
            //     line-height: 16px;
            //     color: rgba(56, 72, 83, 0.87);
            // }
        }
    }
    &-content {
        background-color: #FAF9FB;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;
        // height: 80vh;
        // position: relative;
        // overflow-y: hidden;
        &--expand {
            position: absolute;
            right: 0;
            color: rgba(56, 72, 83, 0.87);
            z-index: 999;
            mat-icon {
                width: 36px;
                height: 36px;
                line-height: 36px;
                font-size: 36px;
            }
        }
    }
    &-panel {
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 0px 20px rgba(26, 35, 126, 0.15);
        border-radius: 5px;
        padding: 16px;
        h2:not(.workflow-green--header) {
            margin-bottom: 8px !important;
            font-weight: bold;
            font-size: 16px;
            line-height: 16px;
            color: rgba(56, 72, 83, 0.87);
        }
    }
    &-green--header {
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        color: #17A297;
    }

    &-controls {
        position: sticky;
        bottom: 0;
        z-index: 999;
        background-color: #fff;
        height: 60px;
        width: 100%;
        padding: 0 75px;
        box-shadow: 0px 0px 20px rgba(26, 35, 126, 0.15);
        button {
            width: 150px;
        }
    }
}
