<div class="workflow-responsible">
    <div fxLayout="column" fxLayoutAlign="start start" class="workflow-responsible--content u-w--100" fxFlexFill>
        <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
            <span class="workflow-responsible--header u-mt--8 u-mr--20" fxFlex="200px">
                Client-specific overrides:
            </span>
            <mat-form-field appearance="outline"
                class="formFieldNoMarginPadding filter-select wf-responsible-person-autocomplete autocompleteWithShevron u-mr--20"
                [ngClass]="{
                    'selected-person': contractStepResponsible.value?.id,
                    'empty-input': !contractStepResponsible.value || contractStepResponsible.value?.length === 0,
                    'isPanelOpen': contractResponsibleAutocomplete.isOpen
                }">
                <mat-label>Contract step responsible</mat-label>
                <ng-container *ngIf="contractStepResponsible.value?.id" matPrefix>
                    <img class="border-rounded-50 image-settings--dropdown"
                        [ngSrc]="employeePhotoUrl + contractStepResponsible.value.externalId + '.jpg'"  width="35" height="35" src (error)="setDefaultImage($event.target)" />
                </ng-container>
                <input #contractResponsibleInput type="text" matInput
                    [matAutocomplete]="contractResponsibleAutocomplete" [formControl]="contractStepResponsible"
                    appPreventDoubleClick (throttledClick)="$event.stopPropagation()" placeholder="Type something..">
                <div matSuffix>
                    <ng-container *ngIf="contractStepResponsible.value?.id">
                        <button (click)="contractStepResponsible.setValue(''); setResponsiblePerson()" class="cancel-invoicing-entitity" mat-icon-button><mat-icon>close</mat-icon></button>
                    </ng-container>
                </div>
                <ng-container matSuffix *ngIf="!contractStepResponsible.value?.id">
                    <span class="shevron"></span>
                </ng-container>
                <mat-autocomplete (optionSelected)="setResponsiblePerson()"
                    (closed)="onAutocompleteClosed(contractStepResponsible, 'id')"
                    #contractResponsibleAutocomplete="matAutocomplete" [displayWith]="displayNameFn">
                    <ng-container *ngFor="let manager of filteredAccountManagers; trackBy: trackById">
                        <mat-option [value]="manager" [ngClass]="{ 'no-data': manager.id === undefined }">
                            <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100">
                                <ng-container *ngIf=" manager.id !== undefined">
                                    <img class="border-rounded-50 image-settings--dropdown u-mr--5"
                                        [ngSrc]="employeePhotoUrl + manager?.externalId + '.jpg'"  width="35" height="35" src (error)="setDefaultImage($event.target)" />
                                </ng-container>
                                <span class="autocopmlete-option-name">{{ manager.name }}</span>
                            </div>
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
                <mat-error>
                    <app-validator [control]="contractStepResponsible"></app-validator>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline"
                class="formFieldNoMarginPadding filter-select wf-responsible-person-autocomplete autocompleteWithShevron"
                [ngClass]="{
                    'selected-person': financeStepResponsible.value?.id,
                    'empty-input': !financeStepResponsible.value || financeStepResponsible.value?.length === 0,
                    'isPanelOpen': financeResponsibleAutocomplete.isOpen
                }">
                <mat-label>Finance step responsible</mat-label>

                <ng-container *ngIf="financeStepResponsible.value?.id" matPrefix>
                    <img class="border-rounded-50 image-settings--dropdown"
                    [ngSrc]="employeePhotoUrl + financeStepResponsible.value.externalId + '.jpg'"  width="35" height="35" src (error)="setDefaultImage($event.target)" />
                </ng-container>
                <input #financeResponsibleInput type="text" matInput [matAutocomplete]="financeResponsibleAutocomplete"
                    [formControl]="financeStepResponsible" appPreventDoubleClick
                    (throttledClick)="$event.stopPropagation()" placeholder="Type something..">
                <div matSuffix>
                    <ng-container *ngIf="financeStepResponsible.value?.id">
                        <button (click)="financeStepResponsible.setValue(''); setResponsiblePerson()" class="cancel-invoicing-entitity" mat-icon-button><mat-icon>close</mat-icon></button>
                    </ng-container>
                </div>
                <ng-container matSuffix *ngIf="!financeStepResponsible.value?.id">
                    <span class="shevron"></span>
                </ng-container>

                <mat-autocomplete (optionSelected)="setResponsiblePerson()"
                    (closed)="onAutocompleteClosed(financeStepResponsible, 'id')"
                    #financeResponsibleAutocomplete="matAutocomplete" [displayWith]="displayNameFn">
                    <ng-container *ngFor="let manager of filteredFinanceManagers; trackBy: trackById">
                        <mat-option [value]="manager" [ngClass]="{ 'no-data': manager.id === undefined }">
                            <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100">
                                <ng-container *ngIf=" manager.id !== undefined">
                                    <img class="border-rounded-50 image-settings--dropdown u-mr--5"
                                        [ngSrc]="employeePhotoUrl + manager?.externalId + '.jpg'"  width="35" height="35" src (error)="setDefaultImage($event.target)"/>
                                </ng-container>
                                <span class="autocopmlete-option-name">{{ manager.name }}</span>
                            </div>
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
                <mat-error>
                    <app-validator [control]="financeStepResponsible"></app-validator>
                </mat-error>
            </mat-form-field>
        </div>
        <mat-table class="u-w--100 white-table" #table [dataSource]="stepEmployeesDataSource">
            <ng-container matColumnDef="tenantFlag">
                <mat-header-cell *matHeaderCellDef fxFlex="60px"> </mat-header-cell>
                <mat-cell *matCellDef="let row" fxFlex="60px">
                    <span class="tenant-flag fi fi-{{row?.tenantFlag | lowercase }} fis border-rounded-50"></span>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="tenant">
                <mat-header-cell *matHeaderCellDef fxFlex="160px"> Tenant </mat-header-cell>
                <mat-cell *matCellDef="let row" fxFlex="160px">
                    {{row.tenantName}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="contractStep">
                <mat-header-cell *matHeaderCellDef fxFlex="470px"> Default Contracts step responsible </mat-header-cell>
                <mat-cell *matCellDef="let row" fxFlex="470px">
                    <div fxLayout="row" fxLayoutAlign="start center" [matTooltip]="row.contractStepResponsible?.name ? '' : 'User not assigned'" matTooltipClass="white-tooltip">
                        <img class="border-rounded-50 image-settings--dropdown u-mr--10"
                            [ngClass]="{'placeholder-manager': !row.contractStepResponsible?.id}"
                            [ngSrc]="employeePhotoUrl + row?.contractStepResponsible?.externalId + '.jpg'"  width="35" height="35" src (error)="setDefaultImage($event.target)" />
                        <span>
                            {{row.contractStepResponsible?.name ?? '-'}}
                        </span>
                    </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="financeStep">
                <mat-header-cell *matHeaderCellDef fxFlex="470px"> Default Finance step responsible </mat-header-cell>
                <mat-cell *matCellDef="let row" fxFlex="470px">
                    <div fxLayout="row" fxLayoutAlign="start center" [matTooltip]="row.financeStepResponsible?.name ? '' : 'User not assigned'" matTooltipClass="white-tooltip">
                        <img class="border-rounded-50 image-settings--dropdown u-mr--10"
                            [ngClass]="{'placeholder-manager': !row.financeStepResponsible?.id}"
                            [ngSrc]="employeePhotoUrl + row?.financeStepResponsible?.externalId + '.jpg'"  width="35" height="35" src (error)="setDefaultImage($event.target)" />
                        <span>
                            {{row.financeStepResponsible?.name ?? '-'}}
                        </span>
                    </div>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</div>
