<div class="workflow-responsible">
    <div fxLayout="column" fxLayoutAlign="start start" class="workflow-responsible--content u-w--100" fxFlexFill>
        <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
            <span class="workflow-responsible--header u-mt--8 u-mr--20" fxFlex="200px">
                Client-specific overrides:
            </span>
            <mat-form-field appearance="outline"
                class="formFieldNoMarginPadding filter-select wf-responsible-person-autocomplete u-mr--20"
                [ngClass]="{'selected-person': contractStepResponsible.value?.id}">
                <mat-label>Contract step responsible</mat-label>
                <ng-container *ngIf="contractStepResponsible.value?.id" matPrefix>
                    <img class="border-rounded-50 image-settings--dropdown"
                        [src]="employeeProfileUrl(contractStepResponsible.value?.externalId!)" />
                </ng-container>
                <input #contractResponsibleInput type="text" matInput
                    [matAutocomplete]="contractResponsibleAutocomplete" [formControl]="contractStepResponsible"
                    appPreventDoubleClick (throttledClick)="$event.stopPropagation()"
                    placeholder="Select contract responsible">
                <mat-autocomplete (optionSelected)="setResponsiblePerson()"
                    #contractResponsibleAutocomplete="matAutocomplete" [displayWith]="displayNameFn">
                    <ng-container *ngFor="let manager of filteredAccountManagers; trackBy: trackById">
                        <mat-option [value]="manager" [ngClass]="{ 'no-data': manager.id === undefined }">
                            <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100">
                                <img class="border-rounded-50 image-settings--dropdown u-mr--5"
                                    [src]="employeeProfileUrl(manager?.externalId!)" />
                                <span class="autocopmlete-option-name">{{ manager.name }}</span>
                            </div>
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
                <mat-error>
                    <app-validator [control]="contractStepResponsible"></app-validator>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline"
                class="formFieldNoMarginPadding filter-select wf-responsible-person-autocomplete"
                [ngClass]="{'selected-person': financeStepResponsible.value?.id}">
                <mat-label>Finance step responsible</mat-label>
                <ng-container *ngIf="financeStepResponsible.value?.id" matPrefix>
                    <img class="border-rounded-50 image-settings--dropdown"
                        [src]="employeeProfileUrl(financeStepResponsible.value?.externalId!)" />
                </ng-container>
                <input #financeResponsibleInput type="text" matInput [matAutocomplete]="financeResponsibleAutocomplete"
                    [formControl]="financeStepResponsible" appPreventDoubleClick
                    (throttledClick)="$event.stopPropagation()" placeholder="Select finance responsible">
                <mat-autocomplete (optionSelected)="setResponsiblePerson()"
                    #financeResponsibleAutocomplete="matAutocomplete" [displayWith]="displayNameFn">
                    <ng-container *ngFor="let manager of filteredAccountManagers; trackBy: trackById">
                        <mat-option [value]="manager" [ngClass]="{ 'no-data': manager.id === undefined }">
                            <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100">
                                <img class="border-rounded-50 image-settings--dropdown u-mr--5"
                                    [src]="employeeProfileUrl(manager?.externalId!)" />
                                <span class="autocopmlete-option-name">{{ manager.name }}</span>
                            </div>
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
                <mat-error>
                    <app-validator [control]="financeStepResponsible"></app-validator>
                </mat-error>
            </mat-form-field>
        </div>
        <mat-table class="u-w--100 white-table" #table [dataSource]="stepEmployeesDataSource">
            <ng-container matColumnDef="tenantFlag">
                <mat-header-cell *matHeaderCellDef fxFlex="60px"> </mat-header-cell>
                <mat-cell *matCellDef="let row" fxFlex="60px">
                    <span class="tenant-flag fi fi-{{row?.tenantFlag | lowercase }} fis border-rounded-50"></span>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="tenant">
                <mat-header-cell *matHeaderCellDef fxFlex="160px"> Tenant </mat-header-cell>
                <mat-cell *matCellDef="let row" fxFlex="160px">
                    {{row.tenantName}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="contractStep">
                <mat-header-cell *matHeaderCellDef fxFlex="470px"> Default Contracts step responsible </mat-header-cell>
                <mat-cell *matCellDef="let row" fxFlex="470px">
                    <img class="border-rounded-50 image-settings--dropdown u-mr--10"
                        [ngClass]="{'placeholder-manager': !row.contractStepResponsible?.id}"
                        [src]="employeeProfileUrl(row.contractStepResponsible?.externalId!)" />
                        <span [matTooltip]="row.contractStepResponsible?.name ?? 'User not assigner'" matTooltipClass="white-tooltip">
                            {{row.contractStepResponsible?.name ?? '-'}}
                        </span>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="financeStep">
                <mat-header-cell *matHeaderCellDef fxFlex="470px"> Default Finance step responsible </mat-header-cell>
                <mat-cell *matCellDef="let row" fxFlex="470px">
                    <img class="border-rounded-50 image-settings--dropdown u-mr--10"
                        [ngClass]="{'placeholder-manager': !row.financeStepResponsible?.id}"
                        [src]="employeeProfileUrl(row.financeStepResponsible?.externalId!)" />
                        <span [matTooltip]="row.contractStepResponsible?.name ?? 'User not assigned'" matTooltipClass="white-tooltip">
                            {{row.financeStepResponsible?.name ?? '-'}}
                        </span>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</div>
