@import "/src/app/shared/styles/config/_colors";
@import "/src/app/shared/styles/config/_sizes";
@import "/src/app/shared/styles/config/_mixins";
@import '~@worktile/gantt/main.bundle.scss';

.main-overview {
    &--filter {
        padding: 32px 24px 0 50px;
        background-color: $white-color;
        &__badge {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #4a4e60;
            font-weight: 700;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            color: $white-color;
        }
        &-country__flag {
            line-height: 40px;
            height: 40px;
            width: 40px;
            font-size: 40px;
        }
        &__add-btn mat-icon {
            width: 34px;
            height: 34px;
        }
        &-type {
            @include flexCentered;
            height: 40px;
            padding: 6px 10px;
            border: 1px solid $light-grey-color;
            border-radius: 40px;
            @media screen and (max-width: 1366px) {
                height: 30px;
            }
            &__name {
                font-weight: 700;
                color: #384853;
                font-size: 14px;
                @media screen and (max-width: 1366px) {
                    font-size: 11px;
                }
            }
            &__quantity {
                font-weight: 800;
                color: #384853;
                font-size: 14px;
            }
            &.selected-status {
                background-color: rgba(42, 194, 167, 0.13);
                border-color: $green-color;
            }
        }
        &-manager {
            display: flex;
            align-items: center;
            img {
                width: 40px;
                height: 40px;

                @media screen and (max-width: 1366px) {
                    width: 30px;
                    height: 30px;
                }
            }
        }
        &-additional {
            padding: 0 24px 32px 50px;
            background-color: $white-color;
            position: absolute;
            z-index: 101;
            box-shadow: 0 10px 10px 0 rgb(26, 35, 126, 15%);
            transition: all .3s ease-in-out;
        }
        &-leftside {
            @media screen and (max-width: 1366px) {
                margin-top: 5px;
            }
        }
    }
    &--content {
        background-color: $sand-25-color;
        padding: 20px 20px 32px 50px;
        position: relative;
    }
    &--table {
        position: relative;
        min-height: 120px;
    }
    &-icon {
        line-height: 40px;
        &-type {
            line-height: 40px;
            @media screen and (max-width: 1366px) {
                transform: scale(0.8);
            }

        }
    }
    &-search-button {
        min-width: 155px;
        &-text {
            font-size: 14px;
            font-weight: 700;
            line-height: 1.4;
            letter-spacing: normal;
            color: $green-color;
        }
    }
}

.workflow-flag {
    height: 14px;
    width: 14px;
    line-height: 14px;
    font-size: 14px;
    &--sales {
        color: rgba($color: $green-color, $alpha: .5);
    }
    &--extension {
        color: rgba($color: #6A47B8, $alpha: .5);
    }
}

.overview-extensions-icon {
    color: #6bc87a;
}

.overview-termination-icon {
    color: $red-color;
}

.overview-negotiation-icon {
    color: #2d9cdb
}

.overview-attention-icon {
    color: #f8b025;
}

.icon-arrow-rotate180 {
    transform: rotateY(180deg);
    height: 16px;
    width: 16px;
    line-height: 16px;
}

.clear-all-button {
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    color: #B6B4B2;

    @media screen and (max-width: 1366px) {
        font-size: 11px;
    }
}

.reset-button {
    @media screen and (max-width: 1366px) {
        line-height: 30px !important;
        padding: 0 8px !important;
    }
}

.manager-search--photo {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.divider-height {
    height: 40px;
    @media screen and (max-width: 1366px) {
        height: 30px;
    }
}
