<div class="main-overview" fxFlexFill>
    <div fxLayout="column" fxLayoutAlign="start start" class="main-overview--filter">
        <h2 class="page-main-header u-mb--20">Overview</h2>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="u-w--100">
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px" class="u-w--100" class="main-overview--filter-leftside">
                <button
                    mat-icon-button
                    [matTooltip]="invoicingEntityControl.value?.name ?? 'Select invoicing entity'"
                    matTooltipClass="white-tooltip"
                    appPreventDoubleClick (throttledClick)="select.open()"
                    type="button"
                    class="select-button main-overview--filter-country">
                    <span class="country-flag--big fi fi-{{invoicingEntityControl.value?.code | lowercase }} fis border-rounded-50" *ngIf="invoicingEntityControl.value; else iconCountry"></span>
                    <ng-template #iconCountry>
                        <mat-icon class="main-overview--filter-country u-mr--16" svgIcon="Country-filter-flag">
                        </mat-icon>
                    </ng-template>
                    <mat-select #select [compareWith]="compareWithFn" [disableOptionCentering]="true"
                        panelClass="main-overview-dropdowns country-filter-dropdown"
                        [formControl]="invoicingEntityControl">
                        <mat-option *ngIf="invoicingEntityControl.value" class="selected-option">
                            <div class="u-w--100">
                                <span class="country-flag fi fi-{{invoicingEntityControl.value.code | lowercase }} fis border-rounded-50 u-mr--16" *ngIf="invoicingEntityControl.value.id !== 0"></span>
                                <span class="tenant-name">{{invoicingEntityControl.value.tenantName}}</span>
                                {{' (' + invoicingEntityControl.value.name + ')' }}
                            </div>
                            <button (click)="resetInvoicingEntity()" class="cancel-invoicing-entitity" mat-icon-button><mat-icon>close</mat-icon></button>
                        </mat-option>
                        <ng-container *ngFor="let item of legalEntities">
                            <mat-option [fxHide]="invoicingEntityControl.value?.id === item.id" [value]="item">
                                <div class="u-w--100" [ngStyle]="{'display: none': invoicingEntityControl.value?.id === item.id}">
                                    <span class="country-flag fi fi-{{item.code | lowercase }} fis border-rounded-50 u-mr--16" *ngIf="item.id !== 0"></span>
                                    <span class="tenant-name">{{item.tenantName}}</span>
                                    {{' (' + item.name + ')' }}
                                </div>
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </button>
                <manager-multiselect [initialOptions]="selectedAccountManagers" (selectionChanged)="managersChanged($event)"></manager-multiselect>
                <span class="wf-statuses cursor-pointer u-mr--10" [matMenuTriggerFor]="syncStatuses" [ngClass]="{'selected-status': selectedWFStatuses !== undefined && selectedWFStatuses!.length > 0}">
                    <span class="wf-statuses__name" [ngSwitch]="selectedWFStatuses.length">
                        <ng-container *ngSwitchCase="0">
                            All WF statuses
                        </ng-container>
                        <ng-container *ngSwitchCase="1">
                            {{selectedWFStatuses[0].name}}
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            {{selectedWFStatuses.length + ' statuses'}}
                        </ng-container>
                    </span>
                    <mat-icon>expand_more</mat-icon>
                </span>
                <mat-menu #syncStatuses backdropClass="step-filter--menu" xPosition="before">
                    <div *ngFor="let status of filteredMainOverviewStatuses; trackBy: statusesTrackBy"
                        class="wf-statuses__item" mat-menu-item
                        (click)="wfStatusClicked($event, status);">
                        <mat-checkbox #chb class="black-checkbox"
                            [checked]="status.selected"
                            (click)="$event.stopPropagation();" (change)="wfStatusFilterControl(status)">
                            <mat-icon class="main-overview-icon-type u-mr--5" [svgIcon]="status.flag"
                            [ngClass]="overviewProcessColors[status.id]"></mat-icon>
                            <span class="main-overview--filter-type__name">
                                {{status.name}}
                            </span>
                        </mat-checkbox>
                    </div>
                </mat-menu>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-divider [vertical]="true" class="divider-height"></mat-divider>
                    <button mat-button appPreventDoubleClick (throttledClick)="clearAllFilters()" class="reset-button">
                        <span class="clear-all-button">
                            Reset
                        </span>
                    </button>
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-between end" class="u-w--100" fxFlex="200px">
                <mat-form-field appearance="fill" class="search-filter-input u-w--100 mat-elevation-z0 formFieldNoMarginPadding">
                    <input autocomplete="off" matInput [formControl]="workflowFilter" placeholder="Search" type="text">
                    <mat-icon matPrefix class="search-icon u-ml--10">search</mat-icon>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="flex-end center" class="u-w--100">
            <button class="advanced-filterd--btn u-mt--10 u-mb--10" [ngClass]="{'active': advancedFiltersCounter > 0}" mat-flat-button (click)="isAdvancedFilters = !isAdvancedFilters" matTooltip="Advanced filters" matTooltipClass="white-tooltip">
                <mat-icon svgIcon="filter-icon"></mat-icon>
                <span class="advanced-filterd--btn-text u-ml--5">{{advancedFiltersCounter > 0 ? advancedFiltersCounter : ''}} Advanced filters</span>
                <mat-icon class="advanced-filterd--btn-chevron u-ml--8" [ngClass]="{'should-rotate': isAdvancedFilters}" svgIcon="chevron-green"></mat-icon>
            </button>
        </div>
    </div>
    <ng-container *ngIf="isAdvancedFilters">
        <div fxLayout="row" fxLayoutAlign="start center" class="main-overview--filter-additional u-w--100">
            <mat-form-field appearance="outline" class="filter-select u-mr--16" fxFlex="20%">
                <mat-label> Payment entity</mat-label>
                <mat-select [formControl]="paymentEntityControl" [disableOptionCentering]="true">
                    <mat-option class="mat-select-clear-option" *ngIf="paymentEntityControl.value">
                        Clear
                    </mat-option>
                    <ng-container *ngFor="let item of legalEntities">
                        <mat-option [value]="item.id">
                            {{ item.tenantName + ' ' + '(' + item.name + ')' }}
                        </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="filter-select u-mr--16" fxFlex="20%">
                <mat-label> Sales types</mat-label>
                <mat-select [formControl]="salesTypeControl" [disableOptionCentering]="true" [multiple]="true">
                    <ng-container *ngFor="let item of saleTypes">
                        <mat-option [value]="item.id">
                            {{ item.name }}
                        </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="filter-select u-mr--16" fxFlex="20%">
                <mat-label> Delivery types</mat-label>
                <mat-select [formControl]="deliveryTypesControl" [disableOptionCentering]="true" [multiple]="true">
                    <ng-container *ngFor="let item of deliveryTypes">
                        <mat-option [value]="item.id">
                            {{ item.name }}
                        </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="filter-select" fxFlex="20%">
                <mat-label> Margins</mat-label>
                <mat-select [formControl]="marginsControl" [disableOptionCentering]="true" [multiple]="true">
                    <ng-container *ngFor="let item of margins">
                        <mat-option [value]="item.id">
                            {{ item.name }}
                        </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </div>
    </ng-container>
    <div fxLayout="column" fxLayoutAlign="start start" class="main-overview--content">
        <div fxLayout="row" fxLayoutAlign="flex-end start" class="u-w--100 u-mr--10 u-mb--20">
            <mat-form-field appearance="fill" class="main-overview--filter-select formFieldNoMarginPadding u-mr--20">
                <mat-select [formControl]="overviewViewTypeControl" name="overviewViewType"
                    [disableOptionCentering]="true" panelClass="main-overview-dropdowns">
                    <ng-container *ngFor="let view of overviewViewTypes | keyvalue">
                        <mat-option [value]="+view.key">
                            {{view.value}}
                        </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="main-overview--filter-select formFieldNoMarginPadding">
                <mat-select [formControl]="viewType" name="viewType" [disableOptionCentering]="true"
                    panelClass="main-overview-dropdowns">
                    <ng-container *ngFor="let view of views">
                        <mat-option [class.active]="view.value === viewType.value"
                            appPreventDoubleClick (throttledClick)="changeViewType()" [value]="view.value">
                            {{view.name}}
                        </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- WORKFLOWS -->
        <div fxLayout="column" fxLayoutAlign="start center" class="gant-chart-container"
            [fxHide]="workflowGroups.length === 0 && workflowItems.length === 0" fxFlexFill>
            <div class="gant-chart--group-container">
                <app-gantt-flat *ngIf="workflowGroups.length || workflowItems.length"
                    #gantt
                    [items]="workflowItems"
                    [groups]="workflowGroups"
                    [viewOptions]="viewOptions"
                    [viewType]="viewType.value"
                    [draggable]="false"
                    [isWorkflow]="true"
                    [start]="startDateOfChart"
                    [sortingFromParent]="workflowSorting"
                    [userSelectedStatuses]="userSelectedStatuses"
                    (userSelectedStatusForWorflow)="setUserSelectedStatusForWorflow($event)"
                    (sortUpdated)="workflowSortChanged($event)">
                    <ng-template #group let-group="group">
                    </ng-template>
                    <ng-template #bar let-item="item">
                    </ng-template>
                </app-gantt-flat>
            </div>
            <div class="pagination-container u-w--100">
                <mat-paginator #workflowsPaginator [length]="workflowsTotalCount" [pageSize]="workflowsDeafultPageSize"
                    [pageIndex]="workflowsPageNumber-1" [pageSizeOptions]="pageSizeOptions"
                    [showFirstLastButtons]="true" (page)="workflowsPageChanged($event)">
                </mat-paginator>
            </div>
        </div>
        <!-- CONSULTANTS -->
        <div fxLayout="column" fxLayoutAlign="start center" class="gant-chart-container"
            [fxHide]="consultantsGroups.length === 0 && consultantsItems.length === 0" fxFlexFill>
            <div class="gant-chart--group-container">
                <app-gantt-flat *ngIf="consultantsGroups.length || consultantsItems.length"
                    #gantt
                    [items]="consultantsItems"
                    [groups]="consultantsGroups"
                    [viewOptions]="viewOptions"
                    [viewType]="viewType.value"
                    [draggable]="false"
                    [isConsultants]="true"
                    [start]="startDateOfChart"
                    [sortingFromParent]="consultantSorting"
                    [userSelectedStatuses]="userSelectedStatuses"
                    (userSelectedStatusForConsultant)="setUserSelectedStatusForConsultant($event)"
                    (sortUpdated)="consultantSortChanged($event)">
                    <ng-template #group let-group="group">
                    </ng-template>
                    <ng-template #bar let-item="item">
                    </ng-template>
                </app-gantt-flat>
            </div>
            <div class="pagination-container u-w--100">
                <mat-paginator #consultantsPaginator [length]="consultantsTotalCount"
                    [pageSize]="consultantsDeafultPageSize" [pageIndex]="consultantsPageNumber-1"
                    [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true"
                    (page)="consultantsPageChanged($event)">
                </mat-paginator>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="start center" class="gant-chart-container"
            *ngIf="consultantsGroups?.length === 0 && workflowGroups?.length === 0" fxFlexFill>
            <div class="results-not-found">
                No data
            </div>
        </div>
        <div class="spinner-container" *ngIf="isDataLoading">
            <mat-spinner [diameter]="50"></mat-spinner>
        </div>
    </div>
</div>
