<div class="main-overview" fxFlexFill>
    <div fxLayout="column" fxLayoutAlign="start start" class="main-overview--filter">
        <h2 class="page-main-header u-mb--20">Overview</h2>
        <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100">
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="6px" class="u-w--100" fxFlex="80%" class="main-overview--filter-leftside">
                <div class="main-overview--filter-manager cursor-pointer u-mb--10" [matTooltip]="mapListByProperty(selectedAccountManagers, 'name')" matTooltipClass="white-tooltip" [matMenuTriggerFor]="managerMenu" (menuOpened)="accountManagerFilterInput.click(); onOpenedMenu();" (click)="openMenu($event)">
                    <img *ngIf="selectedAccountManagers.length === 1" class="border-rounded-50 image-thumbnail-small" [src]="employeeProfileUrl(selectedAccountManagers[0]?.externalId!)" />
                    <img *ngIf="selectedAccountManagers.length === 0" src="../../../assets/common/images/no-img.svg">
                    <div *ngIf="selectedAccountManagers.length > 1" class="main-overview--filter__badge">
                        {{selectedAccountManagers.length}}
                    </div>
                    <mat-menu #managerMenu backdropClass="main-overview--filter-manager-menu">
                        <div mat-menu-item (click)="$event.stopPropagation()" class="u-pg--0">
                            <mat-form-field class="main-overview--filter-manager-dropdown" appearance="fill" (click)="$event.stopPropagation()">
                                <input #accountManagerFilterInput #trigger type="text" matInput [matAutocomplete]="managerAutocomplete" [formControl]="accountManagerFilter" (click)="$event.stopPropagation();" placeholder="Filter by account manager/s">
                            </mat-form-field>
                            <mat-autocomplete #managerAutocomplete="matAutocomplete">
                                <mat-option *ngFor="let manager of selectedAccountManagers"
                                    class="u-pg--5"
                                    [value]="manager">
                                    <div class="u-w--100"
                                        (click)="optionClicked($event, manager, selectedAccountManagers)">
                                        <mat-checkbox [checked]="manager.selected"
                                            *ngIf="manager.id !== 'no-data'"
                                            color="primary"
                                            (change)="toggleSelection(manager,selectedAccountManagers)"
                                            (click)="$event.stopPropagation()">
                                            <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100">
                                                <img class="border-rounded-50 image-settings--dropdown u-mr--10" [src]="employeeProfileUrl(manager.externalId!)">
                                                <span>{{ manager.name }}</span>
                                            </div>
                                        </mat-checkbox>
                                        <span *ngIf="manager.id === 'no-data'"
                                            (click)="$event.stopPropagation()">
                                            {{ manager.name }}
                                        </span>
                                    </div>
                                </mat-option>
                                <mat-option *ngIf="isLoading" class="is-loading">
                                    <div class="is-loading-container">
                                        <mat-spinner diameter="25"></mat-spinner>
                                    </div>
                                </mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let manager of filteredAccountManagers"
                                        class="u-pg--5"
                                        [ngClass]="{ 'no-data': manager.id === 'no-data', 'hidden-option': selectedAccountManagers.includes(manager)}"
                                        [value]="selectedAccountManagers">
                                        <div
                                            (click)="optionClicked($event, manager, selectedAccountManagers)">
                                            <mat-checkbox [checked]="manager.selected"
                                                *ngIf="manager.id !== 'no-data'"
                                                color="primary"
                                                (change)="toggleSelection(manager,selectedAccountManagers)"
                                                (click)="$event.stopPropagation()">
                                                <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100">
                                                    <img class="border-rounded-50 image-settings--dropdown u-mr--10" [src]="employeeProfileUrl(manager.externalId!)">
                                                    <span>{{ manager.name }}</span>
                                                </div>
                                            </mat-checkbox>
                                            <span *ngIf="manager.id === 'no-data'"
                                                (click)="$event.stopPropagation()">{{ manager.name }}
                                            </span>
                                        </div>
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </div>
                    </mat-menu>
                </div>
                <div class="main-overview--filter-type cursor-pointer u-mb--10" [ngClass]="{'selected-status': status.selected}" *ngFor="let status of filteredMainOverviewStatuses; trackBy: statusesTrackBy"
                    (click)="changeOverviewStatus(status)">
                    <mat-icon class="main-overview-icon-type" svgIcon="{{status.flag}}" [ngClass]="detectProcessColor(status.id)"></mat-icon>
                    <!-- <span class="main-overview--filter-type__quantity u-mr--5">
                        {{status.quantity}}
                    </span> -->
                    <span class="main-overview--filter-type__name">
                        {{status.name}}
                    </span>
                </div>
                <div class="flex-row u-mb--10">
                    <mat-divider [vertical]="true" class="divider-height"></mat-divider>
                    <button mat-button (click)="clearAllFilters()" class="reset-button">
                        <span class="clear-all-button" >
                            Reset
                        </span>
                    </button>
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="start end" fxFlex>
                <div fxLayout="column" fxLayoutAlign="space-between end" fxLayoutGap="16px" class="u-w--100">
                    <mat-form-field appearance="fill" class="search-filter-input u-w--100 mat-elevation-z0 formFieldNoMarginPadding">
                        <input autocomplete="off" matInput [formControl]="workflowFilter" placeholder="Search" type="text">
                        <mat-icon matPrefix class="search-icon u-ml--10">search</mat-icon>
                    </mat-form-field>
                    <button class="advanced-filterd--btn u-mt--10 u-mb--10" [ngClass]="{'active': isAdvancedFilters}" mat-flat-button (click)="isAdvancedFilters = !isAdvancedFilters" matTooltip="Advanced filters" matTooltipClass="white-tooltip">
                        <mat-icon svgIcon="filter-icon"></mat-icon>
                        <span class="advanced-filterd--btn-text u-ml--5">Advanced filters</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="main-overview--filter-additional u-w--100 u-mb--20" *ngIf="isAdvancedFilters">
        <mat-form-field appearance="outline" class="filter-select u-mr--16" fxFlex="20%">
            <mat-label>Invoicing entity</mat-label>
            <mat-select [formControl]="invoicingEntityControl" [disableOptionCentering]="true">
                <mat-option class="mat-select-clear-option" *ngIf="invoicingEntityControl.value">
                    Clear
                </mat-option>
                <mat-option *ngFor="let item of tenants" [value]="item.id">
                    {{ item.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="filter-select u-mr--16" fxFlex="20%">
            <mat-label> Payment entity</mat-label>
            <mat-select [formControl]="paymentEntityControl" [disableOptionCentering]="true">
                <mat-option class="mat-select-clear-option" *ngIf="paymentEntityControl.value">
                    Clear
                </mat-option>
                <mat-option *ngFor="let item of tenants" [value]="item.id">
                    {{ item.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="filter-select u-mr--16" fxFlex="20%">
            <mat-label> Sales types</mat-label>
            <mat-select [formControl]="salesTypeControl" [disableOptionCentering]="true" [multiple]="true">
                <mat-option *ngFor="let item of saleTypes" [value]="item.id">
                    {{ item.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="filter-select u-mr--16" fxFlex="20%">
            <mat-label> Delivery types</mat-label>
            <mat-select [formControl]="deliveryTypesControl" [disableOptionCentering]="true" [multiple]="true">
                <mat-option *ngFor="let item of deliveryTypes" [value]="item.id">
                    {{ item.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="filter-select" fxFlex="20%">
            <mat-label> Margins</mat-label>
            <mat-select [formControl]="marginsControl" [disableOptionCentering]="true" [multiple]="true">
                <mat-option *ngFor="let item of margins" [value]="item.id">
                    {{ item.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div fxLayout="column" fxLayoutAlign="start start" class="main-overview--content">
        <div fxLayout="row" fxLayoutAlign="flex-end start" class="u-w--100 u-mr--10 u-mb--20">
            <mat-form-field appearance="fill" class="main-overview--filter-select formFieldNoMarginPadding u-mr--20">
                <mat-select [formControl]="overviewViewTypeControl" name="item" [disableOptionCentering]="true" panelClass="main-overview-dropdowns">
                    <mat-option *ngFor="let view of overviewViewTypes | keyvalue"
                        [value]="+view.key">
                        {{view.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="main-overview--filter-select formFieldNoMarginPadding">
                <mat-select [formControl]="viewType" name="item" [disableOptionCentering]="true"  panelClass="main-overview-dropdowns">
                    <mat-option *ngFor="let view of views" [class.active]="view.value === viewType.value"
                        (click)="changeViewType()" [value]="view.value">
                        {{view.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- WORKFLOWS -->
        <div fxLayout="column" fxLayoutAlign="start center" class="gant-chart-container" [fxHide]="workflowGroups?.length === 0 && workflowItems?.length === 0" fxFlexFill>
            <div class="gant-chart--group-container">
                <app-gantt-flat *ngIf="workflowGroups.length && workflowItems.length"
                    #gantt
                    [items]="workflowItems"
                    [groups]="workflowGroups"
                    [viewOptions]="viewOptions"
                    [viewType]="viewType.value"
                    [draggable]="false"
                    [isWorkflow]="true"
                    [start]="startDateOfChart"
                    (userSelectedStatusForWorflow)="setUserSelectedStatusForWorflow($event)">
                    <ng-template #group let-group="group">
                        <!-- {{ group.title }} -->
                    </ng-template>
                    <ng-template #bar let-item="item">
                        <!-- <span style="color: #fff">&nbsp;&nbsp;{{ item.title }}</span> -->
                    </ng-template>
                </app-gantt-flat>
            </div>
            <div class="pagination-container u-w--100">
                <mat-paginator #workflowsPaginator [length]="workflowsTotalCount" [pageSize]="workflowsDeafultPageSize" [pageIndex]="workflowsPageNumber-1"
                    [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true" (page)="workflowsPageChanged($event)">
                </mat-paginator>
            </div>
        </div>
        <!-- CONSULTANTS -->
        <div fxLayout="column" fxLayoutAlign="start center" class="gant-chart-container" [fxHide]="consultantsGroups?.length === 0 && consultantsItems?.length === 0" fxFlexFill>
            <div class="gant-chart--group-container">
                <app-gantt-flat *ngIf="consultantsGroups.length && consultantsItems.length"
                    #gantt
                    [items]="consultantsItems"
                    [groups]="consultantsGroups"
                    [viewOptions]="viewOptions"
                    [viewType]="viewType.value"
                    [draggable]="false"
                    [isConsultants]="true"
                    [start]="startDateOfChart"
                    (userSelectedStatusForConsultant)="setUserSelectedStatusForConsultant($event)">
                    <ng-template #group let-group="group">
                        <!-- {{ group.title }} -->
                    </ng-template>
                    <ng-template #bar let-item="item">
                        <!-- <span style="color: #fff">&nbsp;&nbsp;{{ item.title }}</span> -->
                    </ng-template>
                </app-gantt-flat>
            </div>
            <div class="pagination-container u-w--100">
                <mat-paginator #consultantsPaginator [length]="consultantsTotalCount" [pageSize]="consultantsDeafultPageSize" [pageIndex]="consultantsPageNumber-1"
                    [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true" (page)="consultantsPageChanged($event)">
                </mat-paginator>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="start center" class="gant-chart-container" *ngIf="consultantsGroups?.length === 0 && workflowGroups?.length === 0" fxFlexFill>
            <div class="results-not-found">
                No data
            </div>
        </div>
        <div class="spinner-container" *ngIf="isDataLoading">
            <mat-spinner [diameter]="50"></mat-spinner>
        </div>
    </div>
</div>
