<div class="main-overview" fxFlexFill>
    <div fxLayout="column" fxLayoutAlign="start start" class="main-overview--filter">
        <h2 class="main-overview--header u-mb--20">Overview</h2>
        <div fxLayout="row" fxLayoutAlign="space-between start" class="u-w--100">
            <div fxFlex fxLayout="row" fxLayoutAlign="start center" class="u-w--100" fxFlex="75%">
                <div class="main-overview--filter-manager cursor-pointer u-mr--16" [matTooltip]="mapListByProperty(selectedAccountManagers, 'name')" [matMenuTriggerFor]="managerMenu" (menuOpened)="accountManagerFilter.setValue(''); accountManagerFilterInput.click()">
                    <img *ngIf="selectedAccountManagers.length === 1" class="border-rounded-50 image-thumbnail-small" [src]="employeeProfileUrl(selectedAccountManagers[0]?.externalId!)" />
                    <img *ngIf="selectedAccountManagers.length === 0" src="../../../assets/common/images/no-img.svg">
                    <div *ngIf="selectedAccountManagers.length > 1" class="main-overview--filter__badge">
                        {{selectedAccountManagers.length}}
                    </div>
                    <mat-menu #managerMenu>
                        <div mat-menu-item (click)="$event.stopPropagation()" class="u-pg--0">
                            <mat-form-field appearance="outline" (click)="$event.stopPropagation()">
                                <input #accountManagerFilterInput type="text" matInput [matAutocomplete]="managerAutocomplete" [formControl]="accountManagerFilter" (click)="$event.stopPropagation()" placeholder="Select account manager(s)">
                            </mat-form-field>
                            <mat-autocomplete #managerAutocomplete="matAutocomplete">
                                <mat-option *ngFor="let manager of selectedAccountManagers"
                                    class="u-pg--5"
                                    [value]="manager">
                                    <div class="u-w--100"
                                        (click)="optionClicked($event, manager, selectedAccountManagers)">
                                        <mat-checkbox [checked]="manager.selected"
                                            *ngIf="manager.id !== 'no-data'"
                                            color="primary"
                                            (change)="toggleSelection(manager,selectedAccountManagers)"
                                            (click)="$event.stopPropagation()">
                                            <span>{{ manager.name }}</span>
                                        </mat-checkbox>
                                        <span *ngIf="manager.id === 'no-data'"
                                            (click)="$event.stopPropagation()">
                                            {{ manager.name }}
                                        </span>
                                    </div>
                                </mat-option>
                                <mat-option *ngFor="let manager of filteredAccountManagers"
                                    class="u-pg--5"
                                    [ngClass]="{ 'no-data': manager.id === 'no-data', 'hidden-option': selectedAccountManagers.includes(manager)}"
                                    [value]="selectedAccountManagers">
                                    <div
                                        (click)="optionClicked($event, manager, selectedAccountManagers)">
                                        <mat-checkbox [checked]="manager.selected"
                                            *ngIf="manager.id !== 'no-data'"
                                            color="primary"
                                            (change)="toggleSelection(manager,selectedAccountManagers)"
                                            (click)="$event.stopPropagation()">
                                            <span>{{ manager.name }}</span>
                                        </mat-checkbox>
                                        <span *ngIf="manager.id === 'no-data'"
                                            (click)="$event.stopPropagation()">{{ manager.name }}
                                        </span>
                                    </div>
                                </mat-option>
                            </mat-autocomplete>
                        </div>
                    </mat-menu>
                </div>
                <div class="main-overview--filter-type cursor-pointer u-mr--10" [ngClass]="{'selected-status': status.selected}" *ngFor="let status of filteredMainOverviewStatuses; trackBy: statusesTrackBy"
                    (click)="changeOverviewStatus(status)">
                    <mat-icon class="main-overview-icon-type" svgIcon="{{status.flag}}" [ngClass]="detectProcessColor(status.id)"></mat-icon>
                    <!-- <span class="main-overview--filter-type__quantity u-mr--5">
                        {{status.quantity}}
                    </span> -->
                    <span class="main-overview--filter-type__name">
                        {{status.name}}
                    </span>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="10%">
                <mat-divider class="u-mr--10" [vertical]="true" style="height: 46px;"></mat-divider>
                <button mat-button (click)="clearAllFilters()">
                    <span class="clear-all-button" >
                        Clear all
                    </span>
                </button>
            </div>
            <div fxLayout="column" fxLayoutAlign="start end" fxFlex="15%">
                <div fxLayout="column" fxLayoutAlign="space-between end" fxLayoutGap="16px" class="u-w--100">
                    <mat-form-field appearance="fill" class="search-filter-input u-w--100 mat-elevation-z0 formFieldNoMarginPadding">
                        <input autocomplete="off" matInput [formControl]="workflowFilter" placeholder="Search" type="text">
                        <mat-icon matPrefix class="search-icon u-ml--10">search</mat-icon>
                    </mat-form-field>
                    <button class="main-overview-search-button" mat-flat-button (click)="isAdvancedFilters = !isAdvancedFilters">
                        <mat-icon svgIcon="filter-icon"></mat-icon>
                        <span class="main-overview-search-button-text u-ml--5">Advanced filters</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="main-overview--filter-additional u-w--100 u-mb--20" *ngIf="isAdvancedFilters">
        <mat-form-field appearance="outline" class="filter-select u-mr--16" fxFlex="20%">
            <mat-label>Invoicing entity</mat-label>
            <mat-select [formControl]="invoicingEntityControl" [disableOptionCentering]="true">
                <mat-option class="mat-select-clear-option">
                    Clear
                </mat-option>
                <mat-option *ngFor="let item of tenants" [value]="item.id">
                    {{ item.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="filter-select u-mr--16" fxFlex="20%">
            <mat-label> Payment entity</mat-label>
            <mat-select [formControl]="paymentEntityControl" [disableOptionCentering]="true">
                <mat-option class="mat-select-clear-option">
                    Clear
                </mat-option>
                <mat-option *ngFor="let item of tenants" [value]="item.id">
                    {{ item.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="filter-select u-mr--16" fxFlex="20%">
            <mat-label> Sales types</mat-label>
            <mat-select [formControl]="salesTypeControl" [disableOptionCentering]="true" [multiple]="true">
                <mat-option *ngFor="let item of saleTypes" [value]="item.id">
                    {{ item.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="filter-select u-mr--16" fxFlex="20%">
            <mat-label> Delivery types</mat-label>
            <mat-select [formControl]="deliveryTypesControl" [disableOptionCentering]="true" [multiple]="true">
                <mat-option *ngFor="let item of deliveryTypes" [value]="item.id">
                    {{ item.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="filter-select u-mr--16" fxFlex="20%">
            <mat-label> Margins</mat-label>
            <mat-select [formControl]="marginsControl" [disableOptionCentering]="true" [multiple]="true">
                <mat-option *ngFor="let item of margins" [value]="item.id">
                    {{ item.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div fxLayout="column" fxLayoutAlign="start start" class="main-overview--content">
        <div fxLayout="row" fxLayoutAlign="flex-end start" class="u-w--100 u-mr--10">
            <mat-form-field appearance="fill" class="main-overview--filter-select formFieldNoMarginPadding filter-select u-mr--10">
                <mat-select [formControl]="overviewViewTypeControl" name="item">
                    <mat-option *ngFor="let view of overviewViewTypes | keyvalue"
                        [value]="+view.key">
                        {{view.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="main-overview--filter-select formFieldNoMarginPadding filter-select">
                <mat-select [formControl]="viewType" name="item">
                    <mat-option *ngFor="let view of views" [class.active]="view.value === viewType.value"
                        (click)="changeViewType()" [value]="view.value">
                        {{view.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- WORKFLOWS -->
        <div fxLayout="column" fxLayoutAlign="start center" class="gant-chart-container" [fxHide]="workflowsData?.length === 0" fxFlexFill>
            <ngx-gantt #ganttWorkflows [items]="workflowsData" [viewOptions]="viewOptions" [async]="true" [viewType]="viewType.value">
                <ngx-gantt-table>
                    <ngx-gantt-column name="" width="30px">
                        <ng-template #cell let-item="item">
                            <span class="text-bold-800">
                                <div fxLayout="row" fxLayoutAlign="start center" class="u-w-100">
                                    <mat-icon class="main-overview-icon" [matMenuTriggerFor]="workflowMenu" svgIcon="{{detectIcon(item?.origin?.mainOverviewStatusOfWorkflowForSales)}}" [ngClass]="detectProcessColor(item?.origin?.mainOverviewStatusOfWorkflowForSales)"></mat-icon>
                                    <mat-menu #workflowMenu>
                                        <button *ngFor="let status of userSelectedStatuses"
                                            class="menu-item"
                                            mat-menu-item
                                            (click)="setUserSelectedStatusForWorflow(item?.id, status?.id)">
                                            <mat-icon class="main-overview-icon" svgIcon="{{detectIcon(status?.id)}}" [ngClass]="detectProcessColor(status?.id)"></mat-icon>
                                            {{status?.name}}
                                        </button>
                                    </mat-menu>
                                </div>
                            </span>
                        </ng-template>
                    </ngx-gantt-column>
                    <ngx-gantt-column name="Client" width="375px">
                        <ng-template #cell let-item="item">
                            <span class="text-bold-800">
                                {{ item?.title }}
                            </span>
                        </ng-template>
                    </ngx-gantt-column>
                    <ngx-gantt-column name="Consultants" width="325px">
                        <ng-template #cell let-item="item">
                            <span class="text-truncate-ellipsis text-bold" [matTooltip]="mapListByProperty(item?.origin?.consultants, 'name')">
                                <ng-container *ngIf="item?.origin?.consultants?.length > 1; else singleConsultantDisplay">
                                    {{item?.origin?.consultants?.length + 'Consultants'}}
                                </ng-container>
                                <ng-template #singleConsultantDisplay>
                                    {{item?.origin?.consultants[0]?.name}}
                                </ng-template>
                            </span>
                        </ng-template>
                    </ngx-gantt-column>
                    <ngx-gantt-column name="Sales manager" width="110px">
                        <ng-template #cell let-item="item">
                            <div fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="15px" class="u-w-100">
                                <img class="manager-search--photo" [matTooltip]="item?.origin?.salesManager?.name" [src]="employeeProfileUrl(item?.origin?.salesManager?.externalId)"/>
                                <button mat-icon-button matTooltip="Go to workflow" (click)="redirectToWorkflow(item?.origin?.workflowId)">
                                    <mat-icon class="icon-arrow-rotate180" svgIcon="arrow"></mat-icon>
                                </button>
                            </div>
                        </ng-template>
                    </ngx-gantt-column>
                </ngx-gantt-table>
            </ngx-gantt>
            <div class="pagination-container u-w--100">
                <mat-paginator #workflowsPaginator [length]="totalCount" [pageSize]="deafultPageSize"
                    [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true" (page)="workflowsPageChanged($event)">
                </mat-paginator>
            </div>
        </div>
        <!-- CONSULTANTS -->
        <div fxLayout="column" fxLayoutAlign="start center" class="gant-chart-container" [fxHide]="consultantsData?.length === 0" fxFlexFill>
            <ngx-gantt #ganttConsultants [items]="consultantsData" [viewOptions]="viewOptions" [viewType]="viewType.value">
                <ngx-gantt-table>
                    <ngx-gantt-column name="" width="30px">
                        <ng-template #cell let-item="item">
                            <span class="text-bold">
                                <div fxLayout="row" fxLayoutAlign="start center" class="u-w-100">
                                    <mat-icon class="main-overview-icon" [matMenuTriggerFor]="consultantsMenu" svgIcon="{{detectIcon(item?.origin?.mainOverviewStatusOfWorkflowForSales)}}" [ngClass]="detectProcessColor(item?.origin?.mainOverviewStatusOfWorkflowForSales)"></mat-icon>
                                    <mat-menu #consultantsMenu>
                                        <button *ngFor="let status of userSelectedStatuses"
                                            class="menu-item"
                                            mat-menu-item
                                            (click)="setUserSelectedStatusForConsultant(item?.origin?.workflowId, item?.origin?.consultant?.id, status?.id)">
                                            <mat-icon class="main-overview-icon" svgIcon="{{detectIcon(status?.id)}}" [ngClass]="detectProcessColor(status?.id)"></mat-icon>
                                            {{status?.name}}
                                        </button>
                                    </mat-menu>
                                </div>
                            </span>
                        </ng-template>
                    </ngx-gantt-column>
                    <ngx-gantt-column name="Client" width="375px">
                        <ng-template #cell let-item="item">
                            <span class="text-bold">
                                {{ item?.title }}
                            </span>
                        </ng-template>
                    </ngx-gantt-column>
                    <ngx-gantt-column name="Consultants" width="325px">
                        <ng-template #cell let-item="item">
                            {{item?.origin?.consultant?.name}}
                        </ng-template>
                    </ngx-gantt-column>
                    <ngx-gantt-column name="Sales manager" width="110px">
                        <ng-template #cell let-item="item">
                            <div fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="15px" class="u-w-100">
                                <img class="manager-search--photo" [matTooltip]="item?.origin?.salesManager?.name" [src]="employeeProfileUrl(item?.origin?.salesManager?.externalId)"/>
                                <button mat-icon-button matTooltip="Go to workflow" (click)="redirectToWorkflow(item?.origin?.workflowId)">
                                    <mat-icon class="icon-arrow-rotate180" svgIcon="arrow"></mat-icon>
                                </button>
                            </div>
                        </ng-template>
                    </ngx-gantt-column>
                </ngx-gantt-table>
            </ngx-gantt>
            <div class="pagination-container u-w--100">
                <mat-paginator #consultantsPaginator [length]="totalCount" [pageSize]="deafultPageSize"
                    [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true" (page)="consultantsPageChanged($event)">
                </mat-paginator>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="start center" class="gant-chart-container" *ngIf="consultantsData?.length === 0 && workflowsData?.length === 0" fxFlexFill>
            <div class="results-not-found">
                No data
            </div>
        </div>
        <div class="spinner-container" *ngIf="isDataLoading">
            <mat-spinner [diameter]="50"></mat-spinner>
        </div>
    </div>
</div>
