.manager-search {
    &--image-wrapper {
        position: relative;
        height: 24px;
    }
    &--status {
        position: absolute;
        top: -3px;
        right: -9px;
        height: 16px;
        width: 16px;
    }
    &--photo {
        height: 24px;
        width: 24px;
    }
}
