@import "/src/app/shared/styles/config/_colors";
@import "/src/app/shared/styles/config/_mixins";

.validator {
    margin-left: -8px;
    padding: 8px 0;
    p {
        @include fontOpenSans(75%, 600);
        color: $red-message-color;
    }
    &.withoutPadding {
        padding-top: 0 !important;
        margin: 0 !important;
    }
}
