@import "/src/app/shared/styles/config/_colors";

.mat-menu-panel {
    min-height: 40px !important;
    min-width: unset !important;
    .mat-menu-content:not(:empty) {
        padding: 0;
        .mat-menu-item {
            display: flex;
            align-items: center;
            height: 40px;
            line-height: 40px;
            padding: 0 12px;
            &:hover:not([disabled]) {
                background: transparent !important;
            }
        }
    }
}

.menu-item {
    padding: 0 12px;
    @include fontOpenSans(14px, 700);
    display: flex;
    align-items: center;
    &.returnToSalesIcon {
        mat-icon {
            transform: scale(1.25);
        }
    }
    &.menu-item--big-icon {
        mat-icon {
            @include fontLineHeightAndSize(20px, 20px, 20px, 20px);
        }
    }
    mat-icon {
        margin-right: 8px !important;
        border-radius: 50%;
        @include fontLineHeightAndSize(16px, 16px, 16px, 16px);
    }
    &--cancel {
        color: $dark-red-color;
        mat-icon {
            color: $dark-red-color !important;
        }
    }
    &--edit {
        color: $green-color;
        mat-icon {
            background: rgba($color: $green-color, $alpha: 0.2);
            color: $green-color !important;
        }
        &[disabled] {
            color: $light-grey-color !important;
            mat-icon {
                background: rgba($color: $light-grey-color, $alpha: 0.2) !important;
                color: $light-grey-color !important;
                path {
                    fill: $light-grey-color !important;
                }
            }
        }
        &.contract-manager-action {
            color: #5B8EEF;
            mat-icon {
                background: unset !important;
            }
            &:hover {
                color: #3363BE;
                mat-icon {
                    path {
                        fill: #3363BE !important;
                    }
                }
            }
        }
    }
    &--add {
        color: $green-color;
        mat-icon {
            background: rgba($color: $green-color, $alpha: 0.2);
            color: $green-color !important;
        }
    }

    &--delete {
        color: $dark-red-color !important;
        mat-icon {
            color: $dark-red-color !important;
        }
    }
}

.autocomplete-menu {
    width: 100%;
}

.workflow-list--filter-manager-menu + * .cdk-overlay-pane,
.client-list--filter-manager-menu + * .cdk-overlay-pane,
.client-list--filter-country-menu + * .cdk-overlay-pane,
.main-overview--filter-manager-menu + * .cdk-overlay-pane,
.main-overview--filter-country-menu + * .cdk-overlay-pane,
.filter-manager--menu + * .cdk-overlay-pane {
    .mat-menu-panel, .mat-select-panel {
        min-height: 40px !important;
        border-radius: unset !important;
        min-width: 300px !important;
        .mat-menu-content {
            padding: 0 !important;
        }
    }
}

.workflow-list--workflow-status-menu + * .cdk-overlay-pane {
    .mat-menu-panel, .mat-select-panel {
        min-height: 35px !important;
        border-radius: unset !important;
        transform: translateX(-12px);
        .mat-menu-content {
            padding: 0 !important;
            .mat-menu-item {
                @include fontOpenSans(12px, 700);
                color: rgba(56, 72, 83, 0.8);
                height: 35px !important;
                line-height: 35px !important;
                mat-icon {
                    margin-right: 12px !important;
                }
            }
        }
    }
}

.main-navigation--logout-menu + * .cdk-overlay-pane {
    .mat-menu-panel {
        min-height: 48px !important;
        border-radius: unset !important;
        min-width: 200px !important;
        overflow: hidden;
        .mat-menu-content {
            padding: 0 !important;
        }
    }
}

.workflow-list--filter-manager-menu + * + * .cdk-overlay-pane,
.client-list--filter-manager-menu + * + * .cdk-overlay-pane,
.client-list--filter-country-menu + * + * .cdk-overlay-pane,
.main-overview--filter-manager-menu + * + * .cdk-overlay-pane,
.main-overview--filter-country-menu + * + * .cdk-overlay-pane,
.filter-manager--menu + * + * .cdk-overlay-pane {
    .mat-autocomplete-panel, .mat-select-panel {
        min-width: 300px !important;
        border-top: 1px solid #E7E3E8;
        clip-path: inset(0px -20px -20px -20px);
        &::-webkit-scrollbar {
            width: 15px;
        }

        &::-webkit-scrollbar-thumb {
            box-shadow: inset 0 0 5px 5px #E7E3E8;
            border: solid 5px transparent;
            border-radius: 9999px;
        }

        .mat-option {
            height: 40px;
            padding: 8px 10px 8px 8px !important;
            .mat-option-text {
                font-weight: 700;
                font-size: 14px;
                line-height: 140%;
                color: rgba(56, 72, 83, 0.8);
                padding-left: 5px;
                .mat-checkbox-inner-container {
                    margin-right: 0 !important;
                }
            }
            &:hover {
                background: rgba($color: $green-color-25, $alpha: 0.33) !important;
            }
        }
    }

    .mat-checkbox-layout .mat-checkbox-label {
        display: flex;
        align-items: center;
    }
}



.main-overview--user-status-menu + * .cdk-overlay-pane {
    .mat-menu-panel {
        min-height: 48px !important;
        border-radius: unset !important;
        min-width: 167px !important;
        .mat-menu-content {
            padding: 10px 0 !important;
            button {
                display: flex;
                height: 30px !important;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 140%;
                color: #4A4E60;
            }
        }
    }
}

.step-filter--menu + * .cdk-overlay-pane {
    .mat-menu-panel {
        .mat-menu-content:not(:empty) {
            .mat-menu-item:hover:not([disabled]) {
                background: rgba($color: $green-color-25, $alpha: 0.33) !important;
            }
        }
    }
}
