@import "/src/app/shared/styles/config/_colors";

.green-checkbox {
    font-size: 14px;
    .mat-checkbox-frame {
        border-color: $green-color !important;
        border-radius: 2px;
        transform: scale(1.1);
    }
    .mat-checkbox-ripple {
        left: calc(50% - 14px);
        top: calc(50% - 14px);
        height: 32px;
        width: 32px;
    }
    &.mat-checkbox-checked .mat-checkbox-background {
        background-color: $green-color !important;
        svg path {
            stroke: $white-color !important;
        }
    }
}

.black-checkbox {
    font-size: 14px;
    .mat-checkbox-frame {
        border: 2px solid $light-grey-color !important;
        border-radius: 2px;
        transform: scale(1.1);
    }
    .mat-checkbox-ripple {
        left: calc(50% - 14px);
        top: calc(50% - 14px);
        height: 32px;
        width: 32px;
        .mat-ripple-element {
            background: $dark-grey-color !important;
        }
    }
    .mat-checkbox-label {
        color: #384853DE;
        font-weight: 700;
    }
    &.mat-checkbox-checked,
    &.mat-checkbox-indeterminate {
        .mat-checkbox-frame {
            border: 2px solid $dark-grey-color !important;
        }
        .mat-checkbox-background {
            background-color: $dark-grey-color !important;
            svg path {
                stroke:  $white-color !important;
            }
        }
    }
}
