@import "/src/app/shared/styles/config/_colors";

mat-tab-group.client-details--tabs {
    .mat-tab-body-wrapper {
        box-shadow: 0px 0px 20px rgba(26, 35, 126, 0.15);
    }
    mat-ink-bar {
        display: none;
    }

    .mat-tab-header {
        border: 0 !important;
    }

    .mat-tab-label-container {
        padding-top: 25px;
    }
    .mat-tab-label {
        min-width: 115px;
        font-weight: 400;
        font-size: 12px;
        background-color: #00000005;
        box-shadow: 0px 0px 20px rgb(26 35 126 / 15%);
        border-radius: 5px 5px 0px 0px;
        opacity: 1;
        height: 27px;
        margin-right: 5px;

        &-active,
        &:hover {
            background-color: #ffffff;
            box-shadow: 0px 0px 20px rgba(26, 35, 126, 0.15);
        }

        &:last-of-type {
            margin-left: auto;
            margin-right: 0;
        }
    }
}

.client-documents {
    .mat-tab-body-wrapper {
        box-shadow: unset !important;
    }
    mat-ink-bar {
        display: unset !important;
    }

    .mat-tab-header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgba(0, 0, 0, 0.12);
    }

    .mat-tab-label-container {
        padding-top: 0 !important;
    }
    .mat-tab-label {
        height: 48px !important;
        padding: 0 24px !important;
        min-width: 160px !important;
        font-weight: 700 !important;
        font-size: 12px !important;
        line-height: 16px !important;
        color: #384853 !important;
        box-shadow: unset !important;
        background-color: #ffffff !important;
        &-active,
        &:hover {
            background-color: #ffffff;
            box-shadow: unset !important;
        }

        &:last-of-type {
            margin-left: 0 !important;
        }
    }
}


.header-less-tabs.mat-tab-group .mat-tab-header {
    display: none;
}

.workflow-content--tabs {
    .mat-tab-header {
        // border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        // border-bottom-width: 1px;
        // border-bottom-style: solid;
        // border-bottom-color: rgba(0, 0, 0, 0.12);
        border-bottom: 0;
        background-color: #fff;
    }

    .mat-tab-label-container {
        padding-top: 0 !important;
    }

    mat-ink-bar {
        background-color: #17A297 !important;
        height: 4px;
        top: 0;
    }

    .mat-tab-body-wrapper {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    }

    .mat-tab-labels {
        // padding-top: 15px;
    }

    .mat-tab-label {
        position: relative;
        font-family: 'IBM Plex Mono', monospace !important;
        opacity: 1 !important;
        height: 60px;
        padding: 8px 24px 0 24px;
        min-width: 150px;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        color: $dark-grey-color;
        box-shadow: unset;
        background-color: #fff;
        margin-right: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
        .mat-tab-label-content {
            flex-direction: column;
            align-items: flex-start;
        }
        .tab-header {
            font-size: 16px;
            line-height: 16px;
        }
        .tab-subheader {
            font-size: 14px;
            line-height: 14px;
            color: $medium-grey-color;
        }
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 60px;
            right: 0px;
            height: 30px;
            width: 100%;
            padding: 0;
            background-color: #fff;
            box-shadow: 1px -6px 20px rgb(0 0 0 / 15%);
        }
        &-active,
        &:hover {
            background-color: #FAF9FB;
            color: $dark-grey-color;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
            &::before {
                content: unset;
            }
        }

        &:first-of-type {
            margin-left: 75px !important;
        }

        // &:last-of-type {
        //     margin-left: 0 !important;
        // }
    }

    .mat-tab-body-content {
        overflow: hidden;
    }
}
