@import "/src/app/shared/styles/config/_colors";

.mat-menu-panel {
    min-height: 40px !important;
    .mat-menu-content:not(:empty) {
        padding: 0;
        .mat-menu-item {
            height: 40px;
            line-height: 40px;
            &:hover:not([disabled]) {
                background: unset !important;
            }
        }
    }
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 0 16px;
    font-weight: 700;
    mat-icon {
        margin-right: 8px !important;
        border-radius: 50%;
        line-height: 20px;
        font-size: 20px;
        align-items: center;
        display: inline-flex;
        justify-content: center;
    }
    &--cancel {
        color: $dark-red-color;
        mat-icon {
            color: $dark-red-color !important;
        }
    }
    &--edit {
        color: $green-color;
        mat-icon {
            background: rgba($color: $green-color, $alpha: 0.2);
            color: $green-color !important;
        }
        &[disabled] {
            color: $medium-grey-color !important;
            mat-icon {
                background: rgba($color: $medium-grey-color, $alpha: 0.2) !important;
                color: $medium-grey-color !important;
                path {
                    fill: $medium-grey-color !important;
                }
            }
        }
        &.contract-manager-action {
            display: flex;
            color: #5B8EEF;
            font-size: 12px;
            mat-icon {
                background: unset !important;
                height: 18px;
                width: 18px;
                font-size: 18px;
                line-height: 18px;
            }
            &:hover {
                color: #3363BE;
                mat-icon {
                    path {
                        fill: #3363BE !important;
                    }
                }
            }
        }
    }
    &--add {
        color: $green-color;
        mat-icon {
            background: rgba($color: $green-color, $alpha: 0.2);
            color: $green-color !important;
        }
    }

    &--delete {
        color: $dark-red-color !important;
        mat-icon {
            color: $dark-red-color !important;
        }
    }
}

.autocomplete-menu {
    width: 100%;
}

.workflow-list--filter-manager-menu + * .cdk-overlay-pane,
.client-list--filter-manager-menu + * .cdk-overlay-pane,
.client-list--filter-country-menu + * .cdk-overlay-pane,
.main-overview--filter-manager-menu + * .cdk-overlay-pane,
.main-overview--filter-country-menu + * .cdk-overlay-pane,
.filter-manager--menu + * .cdk-overlay-pane {
    .mat-menu-panel, .mat-select-panel {
        min-height: 40px !important;
        border-radius: unset !important;
        min-width: 300px !important;
        .mat-menu-content {
            padding: 0 !important;
        }
    }
}

.workflow-list--filter-manager-menu + * + * .cdk-overlay-pane,
.client-list--filter-manager-menu + * + * .cdk-overlay-pane,
.client-list--filter-country-menu + * + * .cdk-overlay-pane,
.main-overview--filter-manager-menu + * + * .cdk-overlay-pane,
.main-overview--filter-country-menu + * + * .cdk-overlay-pane,
.filter-manager--menu + * + * .cdk-overlay-pane {
    .mat-autocomplete-panel, .mat-select-panel {
        min-width: 300px !important;
        border-top: 1px solid #E7E3E8;

        &::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #fff;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #888;
            border-right: 5px #fff solid;
            background-clip: padding-box
        }

        .mat-option {
            padding: 8px 10px 8px 8px !important;
            .mat-option-text {
                font-weight: 700;
                font-size: 14px;
                line-height: 140%;
                color: rgba(56, 72, 83, 0.8);
                padding-left: 5px;
            }
        }
    }

    .mat-checkbox-layout .mat-checkbox-label {
        display: flex;
        align-items: center;
    }
}



.main-overview--user-status-menu + * .cdk-overlay-pane {
    .mat-menu-panel {
        min-height: 48px !important;
        border-radius: unset !important;
        min-width: 167px !important;
        .mat-menu-content {
            padding: 10px 0 !important;
            button {
                display: flex;
                height: 30px !important;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 140%;
                color: #4A4E60;
                // @media screen and (max-width: 1366px) {
                //     font-size: 10px;
                // }
            }
        }
    }
}
