.client-documents--contract__action-btn {
    width: 24px !important;
    height: 24px !important;
    line-height: 24px !important;
    border-radius: 50%;
    background: #E8F6F5;
    mat-icon {
        color: #17A297;
        line-height: 20px !important;
    }
}

.button-outlined {
    background-color: #fff !important;
    border: 2px solid #17A297 !important;
    color: #17A297 !important;
    // text-transform: uppercase;
    font-weight: 700;
}

.button-accept {
    background-color: #17A297 !important;
    border: 2px solid #17A297 !important;
    color: #fff !important;
    // text-transform: uppercase;
    font-weight: 700;
}

.button-add {
    background-color: transparent !important;
    color: #17A297 !important;
    font-weight: 700;
    padding-left: 0px !important;
    font-size: 16px;
    .mat-button-wrapper {
        display: flex;
        align-items: center;
    }
    mat-icon {
        background-color: rgba($color: #17A297, $alpha: .2) !important;
        border-radius: 50% !important;
        margin-right: 5px;
    }
}

.workflow-company--btn {
    // height: 45px;
    height: 55px;
    background-color: #17A297;
    border-radius: 5px;
    opacity: .6;
    color: #fff;
    &.active-btn {
        opacity: 1;
    }
    .mat-button-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.workflow-remove--btn {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #E8F6F5;
    color: #17A297;
    mat-icon {
        line-height: 20px
    }
}

.workflow-content--expand {
    width: 50px;
    height: 50px;
    mat-icon {
        width: 36px;
        height: 36px;
        line-height: 36px;
        font-size: 36px;
    }
}

.workflow-toggle-buttons {
    &.mat-button-toggle-group-appearance-standard {
        border: 0 !important;
        border-radius: 0;
        display: flex;
        flex-flow: wrap;
        gap: 16px 0;
        .mat-button-toggle {
            margin-right: 16px;
            color: #384853;
            font-weight: 700;
            background-color: #fff;
            border: 1px solid #B6B4B2;
            border-radius: 5px;
            height: 55px;
            min-width: 125px;
        }
        .mat-button-toggle-label-content {
            line-height: 55px;
            padding: 0 16px;
        }

        .mat-button-toggle.mat-button-toggle-checked {
            color: #FFF;
            font-weight: 700;
            background-color: #4A4E60;
            border: 1px solid #4A4E60;
            .mat-button-toggle-focus-overlay {
                border-bottom: solid 55px;
            }
        }

        // .mat-button-toggle + .mat-button-toggle {

        // }
    }
}
