@import "/src/app/shared/styles/config/_colors";
.green-slide-toggle {
    box-sizing: content-box;
    .mat-slide-toggle {
        &-thumb {
            background-color: #CCCBC9;
            @media screen and (max-width: 1366px) {
                height: 16px;
                width: 16px;
            }
            &-container {
                @media screen and (max-width: 1366px) {
                    height: 16px;
                    width: 16px;
                    left: -4px;
                    top: -2px;
                }
                .mat-ripple.mat-slide-toggle-ripple.mat-focus-indicator {
                    @media screen and (max-width: 1366px) {
                        top: calc(50% - 16px);
                        left: calc(50% - 16px);
                        height: 32px;
                        width: 32px;
                    }
                }
            }
        }
        &-bar {
            background-color: $white-color;
            border: 1px solid #E5E5E5;
            @media screen and (max-width: 1366px) {
                height: 12px;
                width: 26px;
            }
        }
        &-content {
            color: $medium-grey-color;
            font-weight: 600;
            font-size: 14px;
            @media screen and (max-width: 1366px) {
                font-size: 10px;
            }
        }
        @media screen and (max-width: 1366px) {
            &-thumb {
                height: 16px;
                width: 16px;
                &-container {
                    height: 16px;
                    width: 16px;
                    left: -4px;
                    top: -2px;
                    .mat-ripple.mat-slide-toggle-ripple.mat-focus-indicator {
                        top: calc(50% - 16px);
                        left: calc(50% - 16px);
                        height: 32px;
                        width: 32px;
                    }
                }
            }
            &-bar {
                height: 12px;
                width: 26px;
            }
            &-content {
                font-size: 10px;
            }
        }
    }
    &.mat-checked {
        .mat-slide-toggle {
            &-thumb {
                background-color: $green-color;
            }
            &-bar {
                background-color: rgba($color: $green-color, $alpha: 0.22);
                border: 1px solid rgba($color: $green-color, $alpha: 0.22);
            }
            &-content {
                color: $medium-grey-color;
            }
        }    
    }
}