@import "/src/app/shared/styles/config/_colors";

.menu-item {
    display: flex;
    align-items: center;
    padding: 0 16px;
    font-weight: 700;
    mat-icon {
        margin-right: 8px !important;
        border-radius: 50%;
        line-height: 20px;
        font-size: 20px;
        align-items: center;
        display: inline-flex;
        justify-content: center;
    }
    &--cancel {
        color: $dark-red-color;
        mat-icon {
            color: $dark-red-color !important;
        }
    }
    &--edit {
        color: $green-color;
        mat-icon {
            background: rgba($color: $green-color, $alpha: 0.2);
            color: $green-color !important;
        }
    }
    &--add {
        color: $green-color;
        mat-icon {
            background: rgba($color: $green-color, $alpha: 0.2);
            color: $green-color !important;
        }
    }

    &--delete {
        color: $dark-red-color !important;
        mat-icon {
            color: $dark-red-color !important;
        }
    }
}

.autocomplete-menu {
    width: 100%;
}

.mat-menu-panel {
    min-height: 48px !important;
    border-radius: unset !important;
    // border: 1px solid #E7E3E8 !important;
    min-width: 234px !important;
    .mat-menu-content {
        padding: 0 !important;
    }
}

.mat-autocomplete-panel {
    // border: 1px solid #E7E3E8;
    min-width: 234px !important;

    &::-webkit-scrollbar {
        width: 10px;
      }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #fff;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #888;
        border-right: 5px #fff solid;
        background-clip: padding-box
    }

    .mat-option {
        padding: 8px 14px !important;
        .mat-option-text {
            font-weight: 700;
            font-size: 14px;
            line-height: 140%;
            color: rgba(56, 72, 83, 0.8);
            @media screen and (max-width: 1366px) {
                font-size: 12px;
            }
        }
    }
}
