mat-sidenav-container.main-sidenav-container,
mat-drawer-container.main-drawer-container {
  height: 100%;
}

mat-drawer-container.main-sidenav-container {
  background-color: inherit !important;
}

mat-drawer.main-drawer-sidebar {
  background-color: #FFF !important;
  box-shadow: 0px 0px 20px rgba(26, 35, 126, 0.15) !important;
}
