.workflow-sidebar--stepper {
    font-family: 'Open Sans', sans-serif !important;
    background: transparent !important;
    box-shadow: none;
    border-radius: 0;
    .mat-vertical-stepper-header {
        padding: 8px 24px;
        height: 36px;
        cursor: pointer !important;
    }
    .mat-step-text-label {
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        color: rgba(56, 72, 83, 0.87);
    }
    .mat-step {
        cursor: pointer;
    }
    .mat-step-icon {
        height: 36px;
        width: 36px;
        background-color: #17A297;
    }
    .mat-vertical-content {
        padding: 0 16px;
    }
    .mat-vertical-content-container {
        margin-left: 42px;
    }
    .mat-stepper-vertical-line::before {
        top: 0px;
        bottom: 0px;
    }
}
