.mat-form-field {
    font-size: 1em !important;
    margin-bottom: .5rem;
    .mat-input-element {
        caret-color: #17A297 !important;
    }

    &.mat-form-field-invalid {
        border-radius: 5px !important;
        border: 1px solid #FF7A78 !important;
        .mat-input-element {
            caret-color: #FF7A78 !important;
        }

    }

}

.formFieldNoMarginPadding {
    margin: 0 !important;
    margin-bottom: 0 !important;

    .mat-form-field-wrapper {
        padding-bottom: 0 !important;
    }
}

.greenFilterInput {
    &.mat-form-field-appearance-outline {
        .mat-form-field-flex {
            background-color: rgba(23, 162, 151, .1) !important;
            border-radius: 5px !important;
            min-height: 45px;
            margin-top: 0 !important;
        }
        .mat-form-field-wrapper {
            margin: 0 !important;
        }
        .mat-form-field-outline {
            top: 0 !important;
            opacity: 0 !important;
        }

        .mat-form-field-outline .mat-form-field-outline-thick {
            color: transparent !important;
            opacity: 0 !important;
        }

        .mat-form-field-flex>.mat-form-field-infix {
            padding: 0.2em 0px 0.4em !important;
        }

        .mat-form-field-label-wrapper {
            top: -1.5em !important;
        }

        &.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
            transform: translateY(-1.1em) scale(.75) !important;
            width: 133.33333% !important;
        }
        &.mat-focused {
            .mat-form-field-outline .mat-form-field-outline-thick {
                color: transparent !important;
                opacity: 1 !important;
            }
            .mat-form-field-label {
                color: rgba(0, 0, 0, 0.87) !important;
                &-wrapper {
                    top: -1.5em !important;
                }
            }
        }
    }
}

.client-invoicing,
.add-folder--modal {
    .mat-form-field-appearance-outline {
        .mat-form-field-flex {
            background-color: rgba(0, 0, 0, .07) !important;
            border-radius: 5px !important;
            min-height: 45px;
            margin-top: 0 !important;
        }

        .mat-form-field-wrapper {
            margin: 0 !important;
        }

        .mat-form-field-outline {
            top: 0 !important;
            opacity: 0 !important;
        }

        .mat-form-field-outline .mat-form-field-outline-thick {
            color: transparent;
            opacity: 0 !important;
        }

        .mat-form-field-flex>.mat-form-field-infix {
            padding: 0.2em 0px 0.4em !important;
        }

        .mat-form-field-label-wrapper {
            top: -1.5em !important;
        }

        &.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
            transform: translateY(-1.1em) scale(.75) !important;
            width: 133.33333% !important;
        }
        &.mat-form-field-invalid {
            .mat-form-field-outline {
                opacity: 1 !important;
                .mat-form-field-outline-thick {
                    opacity: 1 !important;
                }
            }
        }
        &.mat-focused {
            .mat-form-field-outline {
                opacity: 1 !important;
                color: rgba(0, 0, 0, 0.07) !important;
                .mat-form-field-outline-thick {
                    opacity: 1 !important;
                }
            }
            .mat-form-field-label {
                color: rgba(0, 0, 0, 0.87) !important;
                &-wrapper {
                    top: -1.5em !important;
                }
            }
        }
    }
}

.workflow {
    .mat-form-field-appearance-outline {
        .mat-form-field-flex {
            background-color: rgba(0, 0, 0, .07) !important;
            border-radius: 5px !important;
            min-height: 45px;
            margin-top: 0 !important;
        }

        .mat-form-field-wrapper {
            margin: 0 !important;
        }

        .mat-form-field-outline {
            top: 0 !important;
            opacity: 0 !important;
        }

        .mat-form-field-outline .mat-form-field-outline-thick {
            color: transparent;
            opacity: 0 !important;
        }

        .mat-form-field-flex>.mat-form-field-infix {
            padding: 0.2em 0px 0.4em !important;
        }

        .mat-form-field-label-wrapper {
            top: -1.5em !important;
        }

        &.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
            transform: translateY(-1.1em) scale(.75) !important;
            width: 133.33333% !important;
        }
        &.mat-form-field-invalid {
            .mat-form-field-outline {
                opacity: 1 !important;
                .mat-form-field-outline-thick {
                    opacity: 1 !important;
                }
            }
        }
        &.mat-focused {
            .mat-form-field-outline {
                opacity: 1 !important;
                color: rgba(0, 0, 0, 0.07) !important;
                .mat-form-field-outline-thick {
                    opacity: 1 !important;
                }
            }
            .mat-form-field-label {
                color: rgba(0, 0, 0, 0.87) !important;
                &-wrapper {
                    top: -1.5em !important;
                }
            }
        }
    }
}

.workflow {
    .mat-form-field-appearance-fill {
        &.textarea-input {
            .mat-form-field-flex {
                // min-height: 45px;
                min-height: 55px;
                height: unset !important;
            }
        }
        .mat-form-field-flex {
            background-color: #fff !important;
            border-radius: 5px !important;
            border: 1px solid #B6B4B2;
            // height: 45px;
            height: 55px;
            margin-top: 0 !important;
            // padding: 0.2em 0.4em 0.2em 0.4em !important;
            padding: 0.8em 0.8em 0.5em 0.8em !important;
            .mat-input-element {
                color: rgba(56, 72, 83, 0.87);
                font-weight: 700
            }
        }

        .mat-form-field-wrapper {
            margin: 0 !important;
        }

        .mat-form-field-outline {
            top: 0 !important;
            opacity: 0 !important;
        }

        .mat-form-field-label-wrapper {
            top: -1.2em !important;
            padding-top: 1.2em !important;
        }

        .mat-form-field-flex>.mat-form-field-infix {
            // padding: 0.2em 0px 0.4em !important;
            padding: 0em 0px 0.2em !important;
        }

        &.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
            // transform: translateY(-1.1em) scale(.75) !important;
            width: 133.33333% !important;
        }

        .mat-form-field-underline {
            bottom: 0 !important;
            display: none !important;
        }
        &.mat-focused:not(.mat-form-field-invalid) {
            .mat-form-field-flex {
                border: 1px solid #17A297 !important;
            }
            .mat-form-field-underline {
                bottom: 0 !important;
                display: none !important;
            }
        }
        .mat-form-field-label {
            color: #939BA0 !important;
            font-weight: 600;
            line-height: 20px !important;
        }
        .mat-form-field-subscript-wrapper {
            padding: 0 !important;
            top: calc(100% - 0.5em) !important;
        }

        &.disabled-input {
            .mat-form-field-flex {
                background-color: transparent !important;
            }
        }

        &.mat-form-field-invalid {
            .mat-input-element {
                color: #FF7A78 !important;
            }
            .mat-form-field-label {
                color: #FF7A78 !important;
            }
        }

    }
}
