@import "/src/app/shared/styles/config/_colors";

mat-table.rounded-table {
    background: transparent !important;
    box-shadow: none;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 19px;
    font-size: 14px;
    mat-header-row {
        border-bottom-color: $white-color !important;
        color: rgba($color: #384853, $alpha: 0.87) !important;
        font-size: 12px;
        min-height: 35px;
        mat-header-cell {
            font-family: 'Open Sans', sans-serif !important;
            color: rgba($color: #384853, $alpha: 0.87) !important;
            font-weight: 700;
            padding-right: 15px;
            &:first-of-type {
                padding-left: 0;
            }
        }
        padding: 0 16px;
    }
    mat-row {
        height: 35px;
        min-height: 35px;
        border-radius: 5px;
        margin-bottom: 4px;
        padding: 0 16px;
        background-color: #F8F8F8;
        &:hover {
            transition: background-color .7s ease;
            background-color: rgba(102, 140, 164, .17);
        }
        mat-cell {
            color: rgba(56, 72, 83, 0.6) !important;
            font-size: 14px;
            padding-right: 15px;

            &:first-of-type {
                padding-left: 0;
            }

            &:last-of-type {
                padding-right: 0;
            }
        }
    }
}

.pagination-container {
    .mat-paginator {
        background-color: transparent;
        // @media screen and (max-width: 1366px) {
        //     font-size: 10px !important;
        //     mat-form-field {
        //         .mat-select-value-text {
        //             font-size: 10px !important;
        //         }
        //     }
        //     .mat-paginator-range-actions {
        //         .mat-icon-button {
        //             height: 30px;
        //             width: 30px;
        //             line-height: 30px;
        //         }
        //     }
        // }
    }
}

.mat-paginator-container {
    .mat-focus-indicator.mat-paginator-navigation-previous.mat-icon-button.mat-button-base:not([disabled]),
    .mat-focus-indicator.mat-paginator-navigation-next.mat-icon-button.mat-button-base:not([disabled]) {
        color: rgba(0, 0, 0, .6) !important;
    }
}

.spinner-container {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .18);

    mat-spinner {
        position: absolute;
        top: calc(50% - 25px);
        left: calc(50% - 25px);
    }
}

.results-not-found {
    display: flex;
    justify-content: center;
    padding: 24px;
    color: rgba(0, 0, 0, 0.38);
}


mat-table.white-table {
    background: transparent !important;
    box-shadow: none;
    font-weight: 400;
    line-height: 19px;
    font-size: 14px;
    mat-header-row {
        border: 0 !important;
        font-size: 12px;
        min-height: 35px;
        mat-header-cell {
            font-size: 12px;
            font-family: 'Open Sans', sans-serif !important;
            color: $medium-grey-color !important;
            font-weight: 600;
            &:first-of-type {
                padding-left: 16px;
            }
            &:last-of-type {
                padding-right: 16px;
            }
        }
        padding: 0 16px;
    }
    mat-row {
        height: 50px;
        border-radius: 0;
        border: 1px solid $sand-color;
        margin-bottom: 0;
        padding: 0 16px;
        background-color: $white-color;
        &:hover {
            transition: box-shadow .7s ease;
            box-shadow: 0px 0px 20px rgba(26, 35, 126, 0.15);
        }
        mat-cell {
            color: $dark-grey-color !important;
            font-size: 14px;
            padding-right: 15px;
            font-weight: 600;

            &:first-of-type {
                padding-left: 16px;
            }

            &:last-of-type {
                padding-right: 16px;
            }
        }
    }
    &.workflow-list--table {
        mat-row {
            min-height: 50px;
            height: auto;
        }
    }

    // @media screen and (max-width: 1440px) {
    //     line-height: 19px;
    //     font-size: 14px;
    //     mat-header-row {
    //         font-size: 10px;
    //         line-height: 14px;
    //         mat-header-cell {
    //             font-size: 10px;
    //             line-height: 14px;
    //         }
    //     }
    //     mat-row {
    //         mat-cell {
    //             font-size: 12px;
    //             line-height: 140%;
    //         }
    //     }
    // }
}

.main-overview--consultants-table {
    mat-table {
        mat-row {
            mat-cell.mat-column-salesManager {
                justify-content: center;
            }
        }
    }
}

.gant-chart-container {
    .gantt {
        background: transparent !important;
        &-side {
            border-right: none !important;
            box-shadow: none !important;
            margin-right: 30px;
            padding-bottom: 17px;
            &-container {
                background: transparent !important;

                gantt-table.gantt-table {
                    background: transparent !important;
                    box-shadow: none !important;
                    font-weight: 400 !important;
                    line-height: 19px !important;
                    font-size: 14px !important;
                    .gantt-table-header {
                        border: 0 !important;
                        font-size: 18px;
                        padding: 0 16px;
                        background: transparent !important;
                        .gantt-table-column {
                            font-family: 'Open Sans', sans-serif !important;
                            color: $medium-grey-color !important;
                            font-weight: 600;
                            font-size: 12px;
                            display: flex;
                            justify-content: flex-start;
                            &:last-of-type {
                                padding-right: 16px;
                            }
                        }
                    }
                    .gantt-table-body {
                        .gantt-table-item {
                            border-radius: 0;
                            border: 1px solid $sand-color;
                            margin-bottom: 0;
                            padding-left: 16px;
                            background-color: $white-color;
                            display: flex;
                            align-items: center;
                            width: 100%;
                            &:hover {
                                transition: background-color .7s ease;
                                background-color: rgba(102, 140, 164, .17);
                            }
                            .gantt-table-column {
                                border-right: none;
                                padding: 0 !important;
                                &:first-of-type {
                                    padding-left: 16px;
                                }

                                &:last-of-type {
                                    padding-right: 16px;
                                }
                                .gantt-table-column-content {
                                    color: $dark-grey-color !important;
                                    font-size: 16px;
                                }
                            }
                            .gantt-expand-icon {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        &-container {
            .gantt-main .gantt-main-container {
                overflow-y: hidden;
                .gantt-main-items .gantt-item {
                    border: none !important;
                }
            }
            .gantt-calendar-overlay {
                .gantt-calendar-overlay-main {
                    background-color: transparent !important;
                    .primary-text {
                        display: none;
                    }
                    .secondary-text {
                        font-family: 'Open Sans', sans-serif !important;
                        fill: $medium-grey-color !important;
                        font-weight: 600;
                        font-size: 12px;
                        transform: translateY(-10px);
                    }

                    .primary-line {
                        stroke: #ddd !important;
                    }
                    .line {
                        shape-rendering: crispEdges !important;
                    }
                    .secondary-line {
                        stroke-dasharray: none !important;
                        stroke: #ddd !important;
                        transform: translateY(-44px);
                        height: calc(100% + 44px);
                    }
                    .header-line {
                        stroke: none !important;
                    }
                }
                .today-line {
                    top: 0 !important;
                    background: #8bd1cb !important;
                    width: 5px;
                }
            }
        }
    }
    gantt-bar {
        .gantt-bar-content {
            border-radius: 10px;
        }
    }
}

.workflow-overview--chart-container {
    .gantt {
        background: transparent !important;
        &-side {
            border-right: none !important;
            box-shadow: none !important;
            margin-right: 30px;
            &-container {
                background: transparent !important;

                gantt-table.gantt-table {
                    background: transparent !important;
                    box-shadow: none !important;
                    font-weight: 400 !important;
                    line-height: 19px !important;
                    font-size: 16px !important;
                    .gantt-table-header {
                        border: 0 !important;
                        font-size: 18px;
                        padding: 0 16px;
                        background: transparent !important;
                        .gantt-table-column {
                            font-family: 'Open Sans', sans-serif !important;
                            color: #4a4e60 !important;
                            font-weight: 800;
                            font-size: 16px;
                            display: flex;
                            justify-content: flex-start;
                            &:last-of-type {
                                padding-right: 16px;
                            }
                        }
                    }
                    .gantt-table-body {
                        .gantt-table-item {
                            padding-left: 16px;
                            border: 0;
                            display: flex;
                            align-items: center;
                            width: 100%;
                            &:hover {
                                transition: background-color .7s ease;
                                background-color: rgba(102, 140, 164, .17);
                            }
                            .gantt-table-column {
                                border-right: none;
                                padding: 0 !important;
                                &:first-of-type {
                                    padding-left: 16px;
                                }

                                &:last-of-type {
                                    padding-right: 16px;
                                }
                                .gantt-table-column-content {
                                    color: $dark-grey-color !important;
                                    font-size: 16px;
                                }
                            }
                            .gantt-expand-icon {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        &-container {
            .gantt-main .gantt-main-container .gantt-main-items .gantt-item {
                border: none !important;
            }
            .gantt-calendar-overlay {
                .gantt-calendar-overlay-main {
                    background-color: transparent !important;
                    .primary-text {
                        display: none;
                    }
                    .secondary-text {
                        font-family: 'Open Sans', sans-serif !important;
                        fill: $medium-grey-color !important;
                        font-weight: 600;
                        font-size: 12px;
                        transform: translateY(-10px);
                    }

                    .primary-line {
                        stroke: #ddd !important;
                    }
                    .line {
                        shape-rendering: crispEdges !important;
                    }
                    .secondary-line {
                        stroke-dasharray: none !important;
                        stroke: #ddd !important;
                        transform: translateY(-44px);
                        height: calc(100% + 44px);
                    }
                    .header-line {
                        stroke: none !important;
                    }
                }
                .today-line {
                    top: 0 !important;
                    background: #8bd1cb !important;
                    width: 5px;
                }
            }
        }
    }
    gantt-bar {
        .gantt-bar-content {
            border-radius: 10px;
        }
    }
}

.gant-chart--group-container {
    width: 100%;
    .gantt {
        background: transparent !important;
        &-side {
            width: 45%;
            border-right: none !important;
            box-shadow: none !important;
            margin-right: 30px;
            padding-bottom: 17px;
            &-container {
                background: transparent !important;
                    .gantt-flat-side-header {
                        border: 0 !important;
                        padding-left: 16px;
                        background: transparent !important;
                        z-index: 2;
                        height: 44px;
                        line-height: 44px;
                        .gantt-flat-side-column {
                            font-family: 'Open Sans', sans-serif !important;
                            color: $medium-grey-color !important;
                            font-weight: 600;
                            font-size: 12px;
                            display: flex;
                            justify-content: flex-start;
                            &:last-of-type {
                                padding-right: 32px;
                            }
                        }
                    }
                    .gantt-flat-side-body {
                        .gantt-group {
                            border-radius: 0;
                            border: 1px solid $sand-color;
                            margin-bottom: 0;
                            padding-left: 16px;
                            background-color: $white-color;
                            display: flex;
                            align-items: center;
                            width: 100%;
                            &:hover {
                                transition: background-color .7s ease;
                                background-color: rgba(102, 140, 164, .17);
                            }
                            .gantt-group-content {
                                border-right: none;
                                padding: 0 !important;
                                color: $dark-grey-color !important;
                                font-size: 14px;
                                font-weight: 600;
                                &:first-of-type {
                                    padding-left: 16px;
                                }

                                &:last-of-type {
                                    padding-right: 16px;
                                }

                             
                            }
                        }
                    }
                // }
            }
        }
        &-container {
            .gantt-main .gantt-main-container {
                overflow-y: hidden;
                .gantt-main-groups .gantt-main-group {
                    border: none !important;
                }
            }
            .gantt-calendar-overlay {
                .gantt-calendar-overlay-main {
                    background-color: transparent !important;
                    .primary-text {
                        display: none;
                    }
                    .secondary-text {
                        font-family: 'Open Sans', sans-serif !important;
                        fill: $medium-grey-color !important;
                        font-weight: 600;
                        font-size: 12px;
                        transform: translateY(-10px);
                    }

                    .primary-line {
                        stroke: #ddd !important;
                    }
                    .line {
                        shape-rendering: crispEdges !important;
                    }
                    .secondary-line {
                        stroke-dasharray: none !important;
                        stroke: #ddd !important;
                        transform: translateY(-44px);
                        height: calc(100% + 44px);
                    }
                    .header-line {
                        stroke: none !important;
                    }
                }
                .today-line {
                    top: 0 !important;
                    background: #8bd1cb !important;
                    width: 5px;
                }
            }
        }
    }
    ngx-gantt-bar {
        .gantt-bar-content {
            border-radius: 10px;
        }
    }
}
