.rate-warning-dialog {
    &--header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &-text {
            font-style: normal;
            font-weight: 800;
            font-size: 30px;
            line-height: 36px;
            color: #4A4E60;
        }

        &-close-icon {
            cursor: pointer;
        }
    }
    &--content {
        &-text {
            font-style: normal;
            font-size: 12px;
            font-weight: 400;
            line-height: 24px;
            color: #4A4E60;
        }
        &-header {
            font-weight: 800;
            font-size: 12px;
            line-height: 24px;
        }
    }
    &--actions{
        &-btn {
            width: 64px;
            padding: 0 !important;
        }
    }
}