@import "/src/app/shared/styles/config/_colors";
@import "/src/app/shared/styles/config/_mixins";

.rate-warning-dialog {
    &--header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &-text {
            @include fontOpenSans(30px, 800);
            line-height: 36px;
            color: #4A4E60;
        }

        &-close-icon {
            cursor: pointer;
        }
    }
    &--content {
        &-text {
            @include fontOpenSans(12px, 400);
            line-height: 24px;
            color: #4A4E60;
        }
        &-header {
            @include fontOpenSans(12px, 800);
            line-height: 24px;
        }
    }
    &--actions{
        justify-content: flex-end;
        border-top: 1px solid $sand-color;
        padding: 8px 30px 8px 0;
        &-btn {
            padding: 0 !important;
            width: 100px;
        }
    }
}
