<form [formGroup]="contractsMainForm" id="mainDataAnchor" class="workflow-form workflow-form--main u-w--100">
    <div fxLayout="column" fxLayoutAlign="start start" class="workflow-contracts--process-data u-w--100">
        <div fxLayout="column" fxLayoutAlign="start start" class="u-w--100">
            <h1 class="workflow-section--header-main">Main data</h1>
            <div fxLayout="row" fxLayoutAlign="start center" class="u-mt--16 u-mb--16">
                <span class="workflow-section--number">1</span>
                <h2 class="workflow-section--header">Project</h2>
            </div>
            <div class="workflow-section--content">
                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100">
                    <mat-form-field appearance="outline"
                        class="formFieldNoMarginPadding filter-select u-mr--12 form-width-235">
                        <mat-label>Project Type (Legacy)</mat-label>
                        <mat-select [disabled]="true" formControlName="projectType" [disableOptionCentering]="true"
                            [compareWith]="compareWithFn">
                            <ng-container *ngFor="let item of projectTypes; trackBy: trackById">
                                <mat-option [value]="item">
                                    {{ item?.name }}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                        <mat-error>
                            <app-validator [control]="contractsMainForm.projectType"></app-validator>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline"
                        class="formFieldNoMarginPadding filter-select u-mr--12 form-width-150">
                        <mat-label>Sales Type</mat-label>
                        <mat-select [disabled]="true" formControlName="salesType" [disableOptionCentering]="true"
                            [compareWith]="compareWithFn">
                            <ng-container *ngFor="let item of saleTypes; trackBy: trackById">
                                <mat-option [value]="item">
                                    {{ item?.name }}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                        <mat-error>
                            <app-validator [control]="contractsMainForm.salesType"></app-validator>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="formFieldNoMarginPadding filter-select form-width-150">
                        <mat-label>Delivery Type</mat-label>
                        <mat-select [disabled]="true" formControlName="deliveryType" [disableOptionCentering]="true"
                            [compareWith]="compareWithFn">
                            <ng-container *ngFor="let item of deliveryTypes; trackBy: trackById">
                                <ng-container
                                    *ngIf="(item?.id === deliveryTypesEnum.ManagedService && contractsMainForm.salesType?.value?.id === salesTypesEnum.ManagedService) || (item?.id !== deliveryTypesEnum.ManagedService && contractsMainForm.salesType?.value?.id !== salesTypesEnum.ManagedService)">
                                    <mat-option [value]="item">
                                        {{ item?.name }}
                                    </mat-option>
                                </ng-container>
                            </ng-container>
                        </mat-select>
                        <mat-error>
                            <app-validator [control]="contractsMainForm.deliveryType"></app-validator>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100">
                    <mat-form-field appearance="outline"
                        class="formFieldNoMarginPadding filter-select u-mr--12 form-width-235">
                        <mat-label>Project Category</mat-label>
                        <mat-select [disabled]="true" formControlName="projectCategory" [disableOptionCentering]="true"
                            [compareWith]="compareWithFn">
                            <ng-container *ngFor="let item of projectCategories; trackBy: trackById">
                                <mat-option [value]="item">
                                    {{ item?.name }}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                        <mat-error>
                            <app-validator [control]="contractsMainForm.projectCategory"></app-validator>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="formFieldNoMarginPadding filter-select form-width-150">
                        <mat-label>Margin</mat-label>
                        <mat-select [disabled]="true" formControlName="margin" [disableOptionCentering]="true"
                            [compareWith]="compareWithFn">
                            <mat-option class="mat-select-clear-option">
                                Clear
                            </mat-option>
                            <ng-container *ngFor="let item of margins; trackBy: trackById">
                                <mat-option [value]="item">
                                    {{ item?.name }}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                        <mat-error>
                            <app-validator [control]="contractsMainForm.margin"></app-validator>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100">
                    <mat-form-field appearance="outline" class="textarea-input formFieldNoMarginPadding form-width-559"
                        [ngClass]="{'disabled-input': readOnlyMode}">
                        <mat-label>Project Name</mat-label>
                        <textarea [disabled]="readOnlyMode" matInput autocomplete="new-password" name="projectName"
                            formControlName="projectName" [cdkTextareaAutosize]="true" [cdkAutosizeMinRows]="2">
                                    </textarea>
                        <mat-error>
                            <app-validator [control]="contractsMainForm.projectName"></app-validator>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100">
                    <mat-form-field appearance="outline" class="textarea-input formFieldNoMarginPadding form-width-559"
                        [ngClass]="{'disabled-input': readOnlyMode}">
                        <mat-label>Project Description</mat-label>
                        <textarea [disabled]="readOnlyMode" matInput autocomplete="new-password"
                            name="projectDescription" formControlName="projectDescription" [cdkTextareaAutosize]="true"
                            [cdkAutosizeMinRows]="2">
                                    </textarea>
                        <mat-error>
                            <app-validator [control]="contractsMainForm.projectDescription"></app-validator>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="start start" class="u-w--100">
            <div fxLayout="row" fxLayoutAlign="start center" class="u-mt--16 u-mb--16">
                <span class="workflow-section--number">2</span>
                <h2 class="workflow-section--header">Additional data</h2>
            </div>
            <div class="workflow-section--content">
                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100">
                    <mat-form-field appearance="outline" class="formFieldNoMarginPadding filter-select form-width-150">
                        <mat-label>Discounts</mat-label>
                        <mat-select [disabled]="true" formControlName="discounts" [disableOptionCentering]="true"
                            [compareWith]="compareWithFn">
                            <mat-option class="mat-select-clear-option">
                                Clear
                            </mat-option>
                            <ng-container *ngFor="let item of discounts; trackBy: trackById">
                                <mat-option [value]="item">
                                    {{ item?.name }}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                        <mat-error>
                            <app-validator [control]="contractsMainForm.discounts"></app-validator>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100">
                    <mat-form-field appearance="outline"
                        class="textarea-input formFieldNoMarginPadding disabled-input u-mr--12 form-width-559">
                        <mat-label>Remarks</mat-label>
                        <textarea [disabled]="true" matInput autocomplete="new-password" name="remarks"
                            formControlName="remarks" [cdkTextareaAutosize]="true" [cdkAutosizeMinRows]="2">
                                    </textarea>
                        <mat-error>
                            <app-validator [control]="contractsMainForm.remarks"></app-validator>
                        </mat-error>
                    </mat-form-field>
                    <ng-container *ngIf="contractsMainForm.noRemarks?.value">
                        <mat-checkbox [disabled]="true" color="accent" formControlName="noRemarks" name="noRemarks"
                            class="black-checkbox u-mt--8"
                            (change)="disableOrEnableInput(contractsMainForm.noRemarks?.value, contractsMainForm.remarks)">
                            None
                        </mat-checkbox>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</form>
