:host {
    .gantt-flat-items {
        position: relative;
    }
}

.manager-search--photo {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.icon-arrow-rotate180 {
    transform: rotateY(180deg);
    height: 16px;
    width: 16px;
    line-height: 16px;
}

.overview-extensions-icon {
    color: #6bc87a;
}

.overview-termination-icon {
    color: #ff7a78;
}

.overview-negotiation-icon {
    color: #2d9cdb
}

.overview-attention-icon {
    color: #f8b025;
}

.main-overview {
    &-icon {
        font-size: 12px;
        &-type {
            line-height: 40px;
        }
    }
}
