<ngx-gantt-root>
    <ng-template #sideTemplate>
        <div class="gantt-flat-side-header" fxLayout="row" fxLayoutAlign="start center">
            <div class="gantt-flat-side-column" fxFlex="5%">

            </div>
            <div class="gantt-flat-side-column" fxFlex="40%">
                Client
            </div>
            <div class="gantt-flat-side-column" fxFlex="30%">
                Consultants
            </div>
            <div class="gantt-flat-side-column text-truncate-ellipsis" fxLayoutAlign="flex-end center" fxFlex="25%">
                Sales manager
            </div>
        </div>
        <div class="gantt-flat-side-body">
            <div class="gantt-group" *ngFor="let group of groups; trackBy: trackBy" [style.height.px]="group.mergedItems?.length! * (styles.lineHeight + 10) - 10">
                <div class="gantt-group-content" fxFlex="5%">
                    <span class="text-bold-800" *ngIf="isWorkflow">
                        <div fxLayout="row" fxLayoutAlign="start center" class="u-w-100" [matTooltip]="overviewFlagNames[group?.origin?.origin?.mainOverviewStatusOfWorkflowForSales!]" matTooltipClass="white-tooltip">
                            <mat-icon class="main-overview-icon cursor-pointer" [matMenuTriggerFor]="workflowMenu" svgIcon="{{detectIcon(group?.origin?.origin?.mainOverviewStatusOfWorkflowForSales!)}}" [ngClass]="detectProcessColor(group?.origin?.origin?.mainOverviewStatusOfWorkflowForSales!)"></mat-icon>
                            <mat-menu #workflowMenu>
                                <button *ngFor="let status of userSelectedStatuses"
                                    class="menu-item"
                                    mat-menu-item
                                    (click)="setUserSelectedStatusForWorflow(group?.origin?.id!, status?.id)">
                                    <mat-icon class="main-overview-icon" svgIcon="{{detectIcon(status?.id)}}" [ngClass]="detectProcessColor(status?.id)"></mat-icon>
                                    {{status?.name}}
                                </button>
                            </mat-menu>
                        </div>
                    </span>
                    <span class="text-bold" *ngIf="isConsultants">
                        <div fxLayout="row" fxLayoutAlign="start center" class="u-w-100" [matTooltip]="overviewFlagNames[group?.origin?.origin?.mainOverviewStatusOfWorkflowConsultantForSales!]" matTooltipClass="white-tooltip">
                            <mat-icon class="main-overview-icon cursor-pointer" [matMenuTriggerFor]="consultantsMenu" svgIcon="{{detectIcon(group?.origin?.origin?.mainOverviewStatusOfWorkflowConsultantForSales)}}" [ngClass]="detectProcessColor(group?.origin?.origin?.mainOverviewStatusOfWorkflowConsultantForSales)"></mat-icon>
                            <mat-menu #consultantsMenu>
                                <button *ngFor="let status of userSelectedStatuses"
                                    class="menu-item"
                                    mat-menu-item
                                    (click)="setUserSelectedStatusForConsultant(group?.origin?.origin?.workflowId, group?.origin?.origin?.consultant?.id, status?.id)">
                                    <mat-icon class="main-overview-icon" svgIcon="{{detectIcon(status?.id)}}" [ngClass]="detectProcessColor(status?.id)"></mat-icon>
                                    {{status?.name}}
                                </button>
                            </mat-menu>
                        </div>
                    </span>
                </div>
                <div class="gantt-group-content text-truncate-ellipsis" fxFlex="40%">
                    <span class="text-truncate-ellipsis text-bold-800" [matTooltip]="group?.origin?.origin?.clientDisplayName!" matTooltipClass="white-tooltip">
                        {{group!.origin!.origin!.clientDisplayName}}
                    </span>
                </div>
                <div class="gantt-group-content text-truncate-ellipsis" fxFlex="30%">
                    <span class="text-truncate-ellipsis" [matTooltip]="mapListByProperty(group?.origin?.origin?.consultants!, 'name')" matTooltipClass="white-tooltip" *ngIf="isWorkflow">
                        <ng-container *ngIf="group?.origin?.origin?.consultants!.length > 1; else singleConsultantDisplay">
                            {{group?.origin?.origin?.consultants?.length + 'Consultants'}}
                        </ng-container>
                        <ng-template #singleConsultantDisplay>
                            {{group?.origin?.origin?.consultants![0]?.name}}
                        </ng-template>
                    </span>
                    <span class="text-truncate-ellipsis" *ngIf="isConsultants">
                        {{group?.origin?.origin?.consultant?.name}}
                    </span>
                </div>
                <div class="gantt-group-content" fxFlex="25%">
                    <div fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="15px" class="u-w-100">
                        <img class="manager-search--photo" [matTooltip]="group?.origin?.origin?.salesManager?.name!" matTooltipClass="white-tooltip" [src]="employeeProfileUrl(group?.origin?.origin?.salesManager?.externalId!)" />
                        <button mat-icon-button matTooltip="Go to workflow" matTooltipClass="white-tooltip" (click)="redirectToWorkflow(group?.origin?.origin?.workflowId!)">
                            <mat-icon class="icon-arrow-rotate180" svgIcon="arrow"></mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #mainTemplate>
        <div class="gantt-main-container">
            <div class="gantt-main-groups" *ngIf="groups && groups.length > 0" [style.width.px]="view.width">
                <ng-container *ngFor="let group of groups; trackBy: trackBy">
                    <div class="gantt-main-group" [style.height.px]="group.mergedItems?.length! * (styles.lineHeight + 10) - 10">
                        <ng-container *ngFor="let items of group.mergedItems">
                            <div class="gantt-flat-items" [style.height.px]="styles.lineHeight">
                                <ng-container *ngFor="let item of items; trackBy: trackBy">
                                    <ngx-gantt-bar [item]="item" [template]="barTemplate"
                                        (barClick)="barClick.emit($event)" (mouseenter)="setPosition($event, item)" class="period-item--bar">
                                    </ngx-gantt-bar>
                                    <div class="tooltip" [style.left.px]="menuTopLeftPosition.x"[style.top.px]="menuTopLeftPosition.y">
                                        <span><b>{{item?.origin?.title!}}</b></span>
                                        <span>{{tooltipStartDate | momentFormat: 'DD.MM.YYYY'}} - {{tooltipEndDate | momentFormat: 'DD.MM.YYYY'}}</span>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </div>
    </ng-template>
</ngx-gantt-root>
