<ngx-gantt-root>
    <ng-template #sideTemplate>
        <div class="gantt-flat-side-header" fxLayout="row" fxLayoutAlign="start center">
            <div class="gantt-flat-side-column" fxFlex="5%"></div>
            <div class="gantt-flat-side-column sort-container pos-relative" [ngClass]="{'active': sortName === 'clientDisplayName', 'desc': sortName === 'clientDisplayName' && sortDirection === sortDirections.Desc }"  fxFlex="35%" fxLayoutAlign="start center" (click)="sortChanged('clientDisplayName')">
                Client
                <ng-container *ngTemplateOutlet="sortArrow"></ng-container>
            </div>
            <div class="gantt-flat-side-column" fxFlex="30%" fxLayoutAlign="start center">
                Consultants
            </div>
            <div class="gantt-flat-side-column sort-container pos-relative" [ngClass]="{'active': sortName === 'actualEndDate', 'desc': sortName === 'actualEndDate' && sortDirection === sortDirections.Desc}" fxFlex="14%" fxLayoutAlign="start center" (click)="sortChanged('actualEndDate')">
                End date
                <ng-container *ngTemplateOutlet="sortArrow"></ng-container>
            </div>
            <div class="gantt-flat-side-column text-truncate-ellipsis" fxLayoutAlign="flex-end center" fxFlex="16%">
                Sales manager
            </div>
        </div>
        <div class="gantt-flat-side-body">
            <div class="gantt-group" *ngFor="let group of groups; trackBy: trackBy" [style.height.px]="group.mergedItems?.length! * (styles.lineHeight + 10) - 10">
                <div class="gantt-group-content" fxFlex="5%">
                    <span class="text-bold-800" *ngIf="isWorkflow">
                        <div fxLayout="row" fxLayoutAlign="start center" class="u-w-100" [matTooltip]="overviewFlagNames[group?.origin?.origin?.mainOverviewStatusOfWorkflowForSales!]" matTooltipClass="white-tooltip">
                            <mat-icon class="main-overview-icon cursor-pointer" [matMenuTriggerFor]="workflowMenu" [matMenuTriggerData]="{selectedStatus: group?.origin?.origin?.mainOverviewStatusOfWorkflowForSales!}" svgIcon="{{detectIcon(group?.origin?.origin?.mainOverviewStatusOfWorkflowForSales!)}}" [ngClass]="detectProcessColor(group?.origin?.origin?.mainOverviewStatusOfWorkflowForSales!)"></mat-icon>
                            <mat-menu #workflowMenu backdropClass="main-overview--user-status-menu">
                                <ng-template matMenuContent let-selectedStatus="selectedStatus">
                                    <button *ngFor="let status of userSelectedStatuses"
                                        class="menu-item"
                                        mat-menu-item
                                        appPreventDoubleClick (throttledClick)="setUserSelectedStatusForWorflow(group?.origin?.id!, status?.id)">
                                        <mat-icon class="main-overview-icon-status" svgIcon="{{detectIcon(status?.id)}}" [ngClass]="detectProcessColor(status?.id)"></mat-icon>
                                        <span [ngClass]="{'text-bold-800': selectedStatus === status.id}">
                                            {{status?.name}}
                                        </span>
                                    </button>
                                </ng-template>
                            </mat-menu>
                        </div>
                    </span>
                    <span class="text-bold" *ngIf="isConsultants">
                        <div fxLayout="row" fxLayoutAlign="start center" class="u-w-100" [matTooltip]="overviewFlagNames[group?.origin?.origin?.mainOverviewStatusOfWorkflowConsultantForSales!]" matTooltipClass="white-tooltip">
                            <mat-icon class="main-overview-icon cursor-pointer" [matMenuTriggerFor]="consultantsMenu" [matMenuTriggerData]="{selectedStatus: group?.origin?.origin?.mainOverviewStatusOfWorkflowConsultantForSales!}" svgIcon="{{detectIcon(group?.origin?.origin?.mainOverviewStatusOfWorkflowConsultantForSales)}}" [ngClass]="detectProcessColor(group?.origin?.origin?.mainOverviewStatusOfWorkflowConsultantForSales)"></mat-icon>
                            <mat-menu #consultantsMenu backdropClass="main-overview--user-status-menu">
                                <ng-template matMenuContent let-selectedStatus="selectedStatus">
                                    <button *ngFor="let status of userSelectedStatuses"
                                        class="menu-item"
                                        mat-menu-item
                                        appPreventDoubleClick (throttledClick)="setUserSelectedStatusForConsultant(group?.origin?.origin?.workflowId, group?.origin?.origin?.consultant?.id, status?.id)">
                                        <mat-icon class="main-overview-icon-status" svgIcon="{{detectIcon(status?.id)}}" [ngClass]="detectProcessColor(status?.id)"></mat-icon>
                                        <span [ngClass]="{'text-bold-800': selectedStatus === status.id}">
                                            {{status?.name}}
                                        </span>
                                    </button>
                                </ng-template>
                            </mat-menu>
                        </div>
                    </span>
                </div>
                <div class="gantt-group-content text-truncate-ellipsis" fxFlex="35%" [matTooltip]="group?.origin?.origin?.clientDisplayName!" matTooltipClass="white-tooltip" appShowIfTruncated>
                    <span class="text-bold-800">
                        {{group!.origin!.origin!.clientDisplayName}}
                    </span>
                </div>
                <div class="gantt-group-content text-truncate-ellipsis" fxFlex="30%">
                    <span class="text-truncate-ellipsis" [matTooltip]="mapListByProperty(group?.origin?.origin?.consultants!, 'name')" matTooltipClass="white-tooltip" *ngIf="isWorkflow" appShowIfTruncated>
                        <ng-container *ngIf="group?.origin?.origin?.consultants!.length > 1; else singleConsultantDisplay">
                            {{group?.origin?.origin?.consultants?.length + 'Consultants'}}
                        </ng-container>
                        <ng-template #singleConsultantDisplay>
                            {{group?.origin?.origin?.consultants![0]?.name}}
                        </ng-template>
                    </span>
                    <span class="text-truncate-ellipsis" *ngIf="isConsultants">
                        {{group?.origin?.origin?.consultant?.name}}
                    </span>
                </div>
                <div class="gantt-group-content text-truncate-ellipsis" fxFlex="14%" fxLayoutAlign="start center">
                    <span>
                        <ng-container *ngIf="isWorkflow">
                            {{group!.origin!.origin!.lastClientPeriodEndDate ? (group!.origin!.origin!.lastClientPeriodEndDate | momentFormat: momentFormatType) : '-'}}
                        </ng-container>
                        <ng-container *ngIf="isConsultants">
                            {{group!.origin!.origin!.lastConsultantPeriodEndDate ? (group!.origin!.origin!.lastConsultantPeriodEndDate | momentFormat: momentFormatType) : '-'}}
                        </ng-container>
                    </span>
                </div>
                <div class="gantt-group-content" fxFlex="16%">
                    <div fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="15px" class="u-w-100">
                        <img class="manager-search--photo" [matTooltip]="group?.origin?.origin?.salesManager?.name!" matTooltipClass="white-tooltip" [src]="employeeProfileUrl(group?.origin?.origin?.salesManager?.externalId!)" />
                        <button mat-icon-button matTooltip="Go to workflow" matTooltipClass="white-tooltip" class="gantt-group-content--redirect-button u-mr--15" appPreventDoubleClick (throttledClick)="redirectToWorkflow(group?.origin?.origin?.workflowId!)">
                            <mat-icon class="icon-arrow-rotate180" svgIcon="arrow"></mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #mainTemplate>
        <div class="gantt-main-container">
            <div class="gantt-main-groups" *ngIf="groups && groups.length > 0" [style.width.px]="view.width">
                <ng-container *ngFor="let group of groups; trackBy: trackBy">
                    <div class="gantt-main-group" [style.height.px]="group.mergedItems?.length! * (styles.lineHeight + 10) - 10">
                        <ng-container *ngFor="let items of group.mergedItems">
                            <div class="gantt-flat-items" [style.height.px]="styles.lineHeight">
                                <ng-container *ngFor="let item of items; trackBy: trackBy">
                                    <ngx-gantt-bar [item]="item" [template]="barTemplate"
                                        (barClick)="barClick.emit($event)" (mouseenter)="setPosition($event, item)" class="period-item--bar">
                                    </ngx-gantt-bar>
                                    <div class="tooltip" [style.left.px]="menuTopLeftPosition.x"[style.top.px]="menuTopLeftPosition.y">
                                        <span><b>{{item?.origin?.title!}}</b></span>
                                        <span>{{tooltipStartDate | momentFormat: momentFormatType}} - {{tooltipEndDate ? (tooltipEndDate | momentFormat: momentFormatType) : '...'}}</span>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </div>
    </ng-template>
</ngx-gantt-root>

<ng-template #sortArrow>
    <div class="sort-arrow">
        <div class="sort-stem"></div>
        <div class="sort-indicator">
            <div class="sort-pointer-left"></div>
            <div class="sort-pointer-right"></div>
            <div class="sort-pointer-middle"></div>
        </div>
    </div>

    <div class="mat-sort-header-arrow">
        <div class="mat-sort-header-stem"></div>
        <div class="mat-sort-header-indicator">
            <div class="mat-sort-header-pointer-left"></div>
            <div class="mat-sort-header-pointer-right"></div>
            <div class="mat-sort-header-pointer-middle"></div>
        </div>
    </div>
</ng-template>
