<div class="workflow-finances u-w--100">
    <ng-container *ngIf="activeSideSection !== workflowSideSections.AddConsultant">
        <form fxLayout="column" fxLayoutAlign="start start" [formGroup]="financesClientForm" class="workflow-form u-w--100">
            <div class="workflow-finances--block">
                <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
                    <div class="text-end" fxFlex="20%">
                        <h2 class="workflow-section--header">Client</h2>
                    </div>
                    <div fxFlex="80%">
                        <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
                            <mat-checkbox color="accent" formControlName="clientCreatedInNavision" name="clientCreatedInNavision" class="black-checkbox u-mr--10">
                                Client (debitor) created in Navision
                            </mat-checkbox>
                        </div>
    
                        <h3 class="workflow-gray--header">Client (debitor) number for invoicing</h3>
                        <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                            <mat-button-toggle-group class="workflow-toggle-buttons u-mt--10" formControlName="clientNumberTypeForInvoicing">
                                <mat-button-toggle [value]="item" *ngFor="let item of ['Same as client', 'Custom']">
                                    {{ item }}
                                </mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
    
                        <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100" *ngIf="financesClientForm?.clientNumberTypeForInvoicing?.value === 'Custom'">
                            <mat-form-field appearance="outline" class="u-w--100  u-mr--16" fxFlex="33%">
                                <mat-label>Debitor number</mat-label>
                                <input autocomplete="off" matInput formControlName="clientNumberForInvoicing" type="text">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ng-container>

    <form fxLayout="column" fxLayoutAlign="start start" [formGroup]="financesConsultantsForm" class="workflow-form u-w--100" id="consultantData">
        <ng-container formArrayName="consultants">
            <div class="workflow-finances--block">
                <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
                    <div class="text-end" fxFlex="20%">
                        <h2 class="workflow-section--header">Consultants</h2>
                    </div>
                    <div fxFlex="80%">
                        <div *ngFor="let consultant of financesConsultantsForm.consultants.controls; let i = index; last as last" [formGroupName]="i" class="workflow-finances--block-consultants" [ngClass]="{'last-block': last}">
                            <div fxLayout="row" fxLayoutAlign="start center" class="u-mb--20">
                                <img class="workflow-finances--consultant-img u-mr--16" src="https://placekitten.com/50/50">
                                <p class="workflow-finances--consultant-name">
                                    {{financesConsultantsForm.consultants.at(i).get('consultantName')?.value}}
                                </p>
                            </div>
    
                            <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--10">
                                <mat-checkbox color="accent" formControlName="checkConsualtantInvoicingSettings" name="checkConsualtantInvoicingSettings" class="black-checkbox u-mr--10">
                                    Check invoicing settings on consultant
                                </mat-checkbox>
                            </div>
    
                            <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--20">
                                <mat-checkbox color="accent" formControlName="consultantCreatedInNavision" name="consultantCreatedInNavision" class="black-checkbox u-mr--10">
                                    Consultant company (creditor) created in Navision
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </form>
</div>
