@import "/src/app/shared/styles/config/_sizes";
@import "/src/app/shared/styles/config/_colors";

.client-details {
    &--header {
        height: $white-header-height;
        padding: 32px 50px 32px 40px;
    }
    .absolute-filter {
        position: absolute;
        right: 60px;
        z-index: 999;
    }
    &--content {
        height: calc(100vh - 150px);
        .nav-tab--content {
            padding: 32px 50px;
            &-wrapper {
                height: calc(100vh - 200px);
                overflow: hidden;
                background-color: $sand-25-color;
            }
        }
    }
    &--search {
        mat-icon {
            line-height: 40px;
            width: 40px;
            height: 40px;
        }
    }
    &--client-info {
            margin-left: 40px;
        &__header {
            display: flex;
            align-items: center;
            margin-right: 10px;
            font-weight: 700;
            color: $dark-grey-color;
            &.client-id {
                color: rgba($color: $dark-grey-color, $alpha: 0.44);
            }
            &.headerWithDot {
                &::before {
                    content:"\A";
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background: $dark-grey-color;
                    display: inline-block;
                    margin: 0 8px;
                }
            }
        }
    }

}
