<div class="client-details">
    <div fxLayout="column" fxLayoutAlign="space-between center" class="client-details--header">
        <div fxLayout="row" fxLayoutAlign="space-between start" class="u-w--100">
            <div fxLayout="column" fxLayoutAlign="start start">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <button class="back-arrow--btn u-pl--0" appPreventDoubleClick (throttledClick)="navigateBack()" mat-icon-button><mat-icon svgIcon="arrow"></mat-icon></button>
                    <span class="page-main-header">{{client.name}}</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" class="client-details--client-info u-mt--10">
                    <span class="client-details--client-info__header client-id">
                        #{{client.clientId}}
                    </span>
                    <!-- FIXME: add country flag after mapping countryName -> countryCode -->
                    <!-- <span class="flag-icon flag-icon-{{selectedClient.countryCode | lowercase }} u-mr--10"></span> -->
                    <span class="client-details--client-info__header" *ngIf="client?.address?.length">
                        {{client.address}}
                    </span>
                    <span class="client-details--client-info__header" *ngIf="client?.address2?.length">
                        {{client.address2}}
                    </span>
                    <span class="client-details--client-info__header headerWithDot" *ngIf="client?.phone?.length">
                        {{client.phone}}
                    </span>
                    <span class="client-details--client-info__header headerWithDot" *ngIf="client?.website?.length">
                        {{client.website}}
                    </span>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="end center" class="client-details--search">
                <button mat-icon-button color="primary" matTooltip="Sync from HubSpot" matTooltipClass="white-tooltip" class="u-mr--10 mat-elevation-z0 hubspot-icon" appPreventDoubleClick (throttledClick)="syncFromHubspot()"><mat-icon svgIcon="hubspot-sync-icon"></mat-icon></button>
                <button mat-icon-button color="primary" matTooltip="Log into HubSpot" matTooltipClass="white-tooltip" class="u-mr--10 mat-elevation-z0" appPreventDoubleClick (throttledClick)="impersonateHubspot()"><mat-icon svgIcon="HUBSPOT-icon"></mat-icon></button>
                <button mat-icon-button color="primary" matTooltip="Log into CAM" matTooltipClass="white-tooltip" class="mat-elevation-z0" appPreventDoubleClick (throttledClick)="impersonateCAM()"><mat-icon svgIcon="CAM-icon"></mat-icon></button>
            </div>
        </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="start start" class="client-details--content u-w--100">
        <nav mat-tab-nav-bar mat-align-tabs="start" class="client-details--tabs u-w--100">
            <a mat-tab-link routerLink="request-track" [active]="rlaRequestTrack.isActive" routerLinkActive
                #rlaRequestTrack="routerLinkActive">
                Request track
            </a>
            <a mat-tab-link routerLink="workflow-track" [active]="rlaWorkflowTrack.isActive" routerLinkActive
                #rlaWorkflowTrack="routerLinkActive">
                Workflow track
            </a>
            <a mat-tab-link routerLink="rates-and-fees" [active]="rlaRatesFees.isActive" routerLinkActive
                #rlaRatesFees="routerLinkActive">
                Rates and Fees
            </a>
            <a mat-tab-link routerLink="documents" [active]="rlaDocuments.isActive" routerLinkActive
                #rlaDocuments="routerLinkActive">
                Documents
            </a>
            <a mat-tab-link routerLink="contacts" [active]="rlaContacts.isActive" routerLinkActive
                #rlaContacts="routerLinkActive">
                Contacts
            </a>
        </nav>
        <div class="u-w--100 nav-tab--content-wrapper">
            <ng-scrollbar>
                <div class="nav-tab--content full-height">
                    <router-outlet></router-outlet>
                </div>
            </ng-scrollbar>
        </div>
    </div>
</div>
