<form fxLayout="column" fxLayoutAlign="start start" [formGroup]="sourcingConsultantsDataForm" class="workflow-sourcing u-w--100" id="consultantData">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="u-w--100">
        <h1 class="workflow-section--header-main">Sourcing data</h1>
        <ng-container *ngIf="readOnlyMode">
            <div fxLayout="row" fxLayoutAlign="start start">
                <toggle-edit-mode [canToggleEditMode]="canToggleEditMode" (editModeToggled)="toggleEditMode()"></toggle-edit-mode>
            </div>
        </ng-container>
    </div>
    <ng-container formArrayName="consultantTerminationSourcingData">
        <ng-container *ngFor="let consultant of sourcingConsultantsDataForm.consultantTerminationSourcingData.controls; trackBy: trackByItem; let i = index; last as last" [formGroupName]="i">
            <div class="workflow-contracts--block-consultants u-mt--20" [ngClass]="{'last-block': last}">
                <div fxLayout="row" fxLayoutAlign="start center" class="u-mb--20">
                    <ng-container *ngIf="consultant.value?.consultantData?.id">
                        <img class="border-rounded-50 image-thumbnail-responsive u-mr--16" [src]="consultantProfileUrl(consultant.value.consultantData?.externalId)">
                    </ng-container>
                    <p class="workflow-sourcing--consultant-name">
                        {{sourcingConsultantsDataForm.consultantTerminationSourcingData.at(i).get('consultantData')?.value?.name}}
                    </p>
                    <ng-container *ngIf="consultant.value?.consultantData?.id">
                        <button mat-icon-button class="consultant-deeplink--btn" appPreventDoubleClick (throttledClick)="$event.stopPropagation(); deepLinkToSourcing(consultant.value?.consultantData?.id)" matTooltip="Preview in Sourcing" matTooltipClass="white-tooltip">
                            <mat-icon svgIcon="sourcing-deeplink"></mat-icon>
                        </button>
                    </ng-container>
                </div>
                <ng-container *ngIf="!readOnlyMode || consultant.get('cvUpdated')?.value">
                    <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100">
                        <mat-checkbox [disabled]="readOnlyMode" color="accent" name="isCvUpdated" formControlName="cvUpdated" class="black-checkbox">
                            CV Updated
                        </mat-checkbox>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </ng-container>
</form>
