<form fxLayout="column" fxLayoutAlign="start start" [formGroup]="sourcingConsultantsDataForm" class="workflow-sourcing u-w--100" id="consultantData">
    <ng-container formArrayName="consultantTerminationSourcingData">
        <div *ngFor="let consultant of sourcingConsultantsDataForm.consultantTerminationSourcingData.controls; let i = index; last as last" [formGroupName]="i" class="workflow-contracts--block-consultants u-mt--20" [ngClass]="{'last-block': last}">
            <div fxLayout="row" fxLayoutAlign="start center" class="u-mb--20">
                <img class="workflow-sourcing--consultant-img u-mr--16" src="https://placekitten.com/50/50">
                <p class="workflow-sourcing--consultant-name">
                    {{sourcingConsultantsDataForm.consultantTerminationSourcingData.at(i).get('consultantData')?.value?.name}}
                </p>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--10">
                <mat-checkbox color="accent" name="isCvUpdated" formControlName="cvUpdated" class="black-checkbox u-mr--10">
                    CV Updated
                </mat-checkbox>
            </div>
        </div>
    </ng-container>
</form>
