<mat-sidenav-container fxFlexFill>
  <mat-drawer-container class="main-drawer-container" fxLayout="row">
      <mat-drawer mode="side" opened class="main-drawer-sidebar" fxLayout="column" fxLayoutAlign="end center">
          <nav class="main-navigation">
              <ul class="main-navigation--list">
                  <li class="main-navigation--list-item" routerLink="/app/main/dashboard" routerLinkActive="active" >
                      <mat-icon>home</mat-icon>
                  </li>
                  <li class="main-navigation--list-item" routerLink="/app/main/request-hub" routerLinkActive="active" >
                    <mat-icon>home</mat-icon>
                  </li>
                  <li class="main-navigation--list-item" routerLink="/app/main/overview" routerLinkActive="active">
                    <mat-icon>home</mat-icon>
                  </li>
                  <li class="main-navigation--list-item" routerLink="/app/main/cv-production" routerLinkActive="active">
                    <mat-icon>home</mat-icon>
                  </li>
                  <!-- <li class="u-mb--55">
                      <mat-divider class="main-navigation--list-item--divider">
                      </mat-divider>
                  </li> -->
                  <li class="main-navigation--list-item" routerLink="/app/main/wizard" routerLinkActive="active">
                    <mat-icon>home</mat-icon>
                  </li>
              </ul>
          </nav>
          <nav class="main-navigation">
              <ul class="main-navigation--list bottom-nav--list">
                  <li class="main-navigation--list-item bottom-nav--list-item" routerLink="/app/main/scout-add"
                      routerLinkActive="active">
                      <mat-icon>home</mat-icon>
                  </li>
              </ul>
          </nav>
      </mat-drawer>
      <mat-drawer-content class="main-drawer-content" fxLayout="column">
          <div class="main-content">
              <div class="full-height router-content">
                  <router-outlet></router-outlet>
              </div>
          </div>
      </mat-drawer-content>
  </mat-drawer-container>
</mat-sidenav-container>
