<!-- <mat-sidenav-container fxFlexFill>
    <mat-drawer-container class="main-drawer-container" fxLayout="row">
        <mat-drawer mode="side" opened class="main-drawer-sidebar" fxLayout="column" fxLayoutAlign="end center">
            <nav class="main-navigation">
                <ul class="main-navigation--list">
                    <li class="main-navigation--list-item" routerLink="/dashboard" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">
                        <mat-icon svgIcon="dashboard-menu"></mat-icon>
                        <span class="main-navigation--list-item__name">
                            Home
                        </span>
                    </li>
                    <li class="main-navigation--list-item" routerLink="/overview" routerLinkActive="active">
                        <mat-icon svgIcon="overview-menu"></mat-icon>
                        <span class="main-navigation--list-item__name">
                            Main overview
                        </span>
                    </li>
                    <li class="main-navigation--list-item" routerLink="/clients" routerLinkActive="active">
                        <mat-icon svgIcon="client-list-menu"></mat-icon>
                        <span class="main-navigation--list-item__name">
                            Client list
                        </span>
                    </li>
                    <li class="main-navigation--list-item" routerLink="/sourcing-shortcut" routerLinkActive="active">
                        <mat-icon svgIcon="sourcing-shortcut-menu"></mat-icon>
                        <span class="main-navigation--list-item__name">
                            Sourcing 3.0 shortcut
                        </span>
                    </li>
                    <li class="main-navigation--list-item" routerLink="/workflow" routerLinkActive="active">
                        <mat-icon svgIcon="workflow-menu"></mat-icon>
                        <span class="main-navigation--list-item__name">
                            Workflow / RF
                        </span>
                    </li>
                    <li class="main-navigation--list-item" routerLink="/statistics" routerLinkActive="active">
                        <mat-icon svgIcon="statistic-menu"></mat-icon>
                        <span class="main-navigation--list-item__name">
                            Statistics
                        </span>
                    </li>
                    <li class="main-navigation--list-item" routerLink="/time-tracking" routerLinkActive="active">
                        <mat-icon svgIcon="time-tracking-menu"></mat-icon>
                        <span class="main-navigation--list-item__name">
                            Time tracking
                        </span>
                    </li>
                    <li class="main-navigation--list-item" routerLink="/evaluation" routerLinkActive="active">
                        <mat-icon svgIcon="evaluation-menu"></mat-icon>
                        <span class="main-navigation--list-item__name">
                            QA / Eval
                        </span>
                    </li>
                    <li class="main-navigation--list-item" routerLink="/invoicing" routerLinkActive="active">
                        <mat-icon svgIcon="invoicing-menu"></mat-icon>
                        <span class="main-navigation--list-item__name">
                            Invoicing
                        </span>
                    </li>
                    <li class="main-navigation--list-item" routerLink="/contracts" routerLinkActive="active">
                        <mat-icon svgIcon="contracts-menu"></mat-icon>
                        <span class="main-navigation--list-item__name">
                            Contracts
                        </span>
                    </li>
                </ul>
            </nav>
        </mat-drawer>
        <mat-drawer-content class="main-drawer-content" fxLayout="column">
            <div class="main-content">
                <div class="full-height router-content">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</mat-sidenav-container> -->

<router-outlet></router-outlet>
