<mat-sidenav-container class="main-sidenav-container" fxFlexFill fixedInViewport="true">
    <mat-drawer-container class="main-drawer-container" fxLayout="row">
        <mat-drawer mode="side" opened class="main-drawer-sidebar" fxLayout="column" fxLayoutAlign="end center"
            [disableClose]="true">
            <emg-widget [tenantId]="currentEmployee?.tenantId"></emg-widget>
            <ul class="main-navigation--list">
                <div class="main-navigation--list-top">
                    <li class="main-navigation--list-item" routerLinkActive="active" matTooltip="Overview"
                        matTooltipClass="white-tooltip" matTooltipPosition="right">
                        <a class="main-navigation--list-item__link" href="" routerLink="/app/overview">
                            <mat-icon svgIcon="overview-menu"></mat-icon>
                            <span class="main-navigation--list-item__name">
                                Overview
                            </span>
                        </a>
                    </li>
                    <li class="main-navigation--list-item" routerLinkActive="active" matTooltip="Workflows / RF"
                        matTooltipClass="white-tooltip" matTooltipPosition="right">
                        <a class="main-navigation--list-item__link" href="" routerLink="/app/workflow">
                            <mat-icon svgIcon="workflow-menu"></mat-icon>
                            <span class="main-navigation--list-item__name">
                                Workflows / RF
                            </span>
                        </a>
                    </li>
                    <li class="main-navigation--list-item" routerLinkActive="active" matTooltip="Client list"
                        matTooltipClass="white-tooltip" matTooltipPosition="right">
                        <a class="main-navigation--list-item__link" href="" routerLink="/app/clients">
                            <mat-icon svgIcon="client-list-menu"></mat-icon>
                            <span class="main-navigation--list-item__name">
                                Client list
                            </span>
                        </a>
                    </li>
                    <li class="main-navigation--list-item" routerLinkActive="active" *ngIf="contractsEnabled"
                        matTooltip="Contracts" matTooltipClass="white-tooltip" matTooltipPosition="right">
                        <a class="main-navigation--list-item__link" href="" routerLink="/app/contracts">
                            <mat-icon svgIcon="contracts-icon"></mat-icon>
                            <span class="main-navigation--list-item__name">
                                Contracts
                            </span>
                        </a>
                    </li>
                    <li class="main-navigation--list-item" routerLinkActive="active"
                        matTooltip="BI Reports" matTooltipClass="white-tooltip" matTooltipPosition="right">
                        <a class="main-navigation--list-item__link" href="" routerLink="/app/bi-reports">
                            <mat-icon svgIcon="bi-report-icon"></mat-icon>
                            <span class="main-navigation--list-item__name">
                                BI Reports
                            </span>
                        </a>
                    </li>
                </div>
                <div class="main-navigation--list-bottom">
                    <li class="main-navigation--list-item" routerLinkActive="active" matTooltip="Notifications"
                        matTooltipClass="white-tooltip" matTooltipPosition="right">
                        <a class="main-navigation--list-item__link" href="" routerLink="/app/notifications">
                            <mat-icon svgIcon="notification-menu"></mat-icon>
                            <span class="main-navigation--list-item__name">
                                Notifications
                            </span>
                        </a>
                    </li>
                    <li class="main-navigation--list-item" [matMenuTriggerFor]="menu" #trigger="matMenuTrigger"
                        [matTooltip]="'User profile'" matTooltipClass="white-tooltip">
                        <ng-container *ngIf="currentEmployee?.externalId">
                            <img class="border-rounded-50 image-thumbnail--logout"
                                [ngSrc]="employeePhotoUrl + currentEmployee?.externalId + '.jpg'" width="20" height="20"
                                src (error)="setDefaultImage($event.target)" />
                        </ng-container>
                        <mat-menu #menu="matMenu" backdropClass="main-navigation--logout-menu">
                            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px"
                                class="main-navigation--list-item-logout">
                                <ng-container *ngIf="currentEmployee?.externalId">
                                    <img class="border-rounded-50 image-thumbnail--logout"
                                        [ngSrc]="employeePhotoUrl + currentEmployee?.externalId + '.jpg'" width="20"
                                        height="20" src (error)="setDefaultImage($event.target)" />
                                </ng-container>
                                <div fxLayout="column">
                                    <span
                                        class="main-navigation--list-item-logout-username u-mb--5">{{currentEmployee?.name}}</span>
                                    <span
                                        class="main-navigation--list-item-logout-name">{{accountInfo?.username}}</span>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start start" class="u-pt--10 u-pb--10">
                                <button class="logout-button" mat-flat-button appPreventDoubleClick
                                    (throttledClick)="logout()"><mat-icon svgIcon="logout-icon"
                                        class="u-mr--5"></mat-icon>Log out</button>
                            </div>
                        </mat-menu>
                    </li>
                </div>
                <!-- FIXME: COMMENTED OUT FOR PRESENTATION -->
                <!-- <li class="main-navigation--list-item" routerLink="/main/statistics" routerLinkActive="active">
                    <mat-icon svgIcon="statistic-menu"></mat-icon>
                    <span class="main-navigation--list-item__name">
                        Statistics
                    </span>
                </li>
                <li class="main-navigation--list-item" routerLink="/main/time-tracking" routerLinkActive="active">
                    <mat-icon svgIcon="time-tracking-menu"></mat-icon>
                    <span class="main-navigation--list-item__name">
                        Time tracking
                    </span>
                </li>
                <li class="main-navigation--list-item" routerLink="/main/evaluation" routerLinkActive="active">
                    <mat-icon svgIcon="evaluation-menu"></mat-icon>
                    <span class="main-navigation--list-item__name">
                        QA / Eval
                    </span>
                </li>
                <li class="main-navigation--list-item" routerLink="/main/invoicing" routerLinkActive="active">
                    <mat-icon svgIcon="invoicing-menu"></mat-icon>
                    <span class="main-navigation--list-item__name">
                        Invoicing
                    </span>
                </li>
                <li class="main-navigation--list-item" routerLink="/main/contracts" routerLinkActive="active">
                    <mat-icon svgIcon="contracts-menu"></mat-icon>
                    <span class="main-navigation--list-item__name">
                        Contracts
                    </span>
                </li> -->
            </ul>
        </mat-drawer>
        <mat-drawer-content class="main-drawer-content" fxLayout="column">
            <div class="main-content">
                <div class="full-height router-content">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</mat-sidenav-container>

<ngx-spinner type="ball-clip-rotate" size="medium" color="#17A297">
</ngx-spinner>
