<mat-dialog-content class="add-folder--modal">
    <div mat-dialog-title class="add-folder--modal-header">
        <h1>
            Add folder
        </h1>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field appearance="outline"
            class="u-w--100 formFieldNoMarginPadding mat-elevation-z0">
            <mat-label>Search</mat-label>
            <input autocomplete="off" matInput [formControl]="folderName" placeholder="Folder name" type="text">
        </mat-form-field>
    </div>
    <mat-dialog-actions align="center" class="add-folder--actions">
        <button [mat-dialog-close]="true" mat-raised-button color="primary" class="add-folder--actions-btn__outlined">
            Cancel
        </button>
        <button mat-raised-button color="primary" class="add-folder--actions-btn" (click)="save()">
            Add
        </button>
    </mat-dialog-actions>
</mat-dialog-content>

