<div [formGroup]="topFiltersFormGroup" class="top-filters">
	<div class="left-panel">
		<ng-container *ngIf="tenantFilter$ | async as tenants">
			<emg-multi-select [options]="tenants" formControlName="tenantIds">
				<ng-template #triggerButton let-selectedItems>
					<ng-container *ngIf="selectedItems.length; else noItems">
						<div class="icons-container">
							<emg-tenants [tenants]="selectedItems"></emg-tenants></div
					></ng-container>
					<ng-template #noItems>
						<mat-icon
							svgIcon="euro-union-icon"
							class="default-tenant-icon">
						</mat-icon>
					</ng-template>
				</ng-template>
				<ng-template #optionPrefix let-option>
					<span matPrefix class="fi fi-{{ option.code | lowercase }} flag"></span>
				</ng-template>
				<ng-template #optionPrefix let-option>
					<span matPrefix class="fi fi-{{ option.code | lowercase }} flag"></span>
				</ng-template>
			</emg-multi-select>
		</ng-container>
		<h4 class="page-header">{{ pageHeader }}</h4>
	</div>
	<div class="right-panel">
		<div class="search-block">
			<mat-form-field appearance="outline">
				<div class="input">
					<mat-icon svgIcon="loop-icon" class="loop-icon"></mat-icon>
					<input matInput formControlName="search" placeholder="Search" />
				</div>
			</mat-form-field>
		</div>
		<mat-icon svgIcon="create-icon" class="create-icon" (click)="navigateTo()"></mat-icon>
	</div>
</div>
