@import 'mixins';
@import 'variables';

.top-filters {
	width: 100%;
	padding: 0 50px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}
.left-panel {
	display: flex;
	align-items: center;

	gap: 16px;
}
.country-filter {
	margin-right: 15px;
	.country-filter-icon {
		width: 32px;
		height: 32px;
	}
}
.page-header {
	@include page-header;
}
.right-panel {
	display: flex;
	align-items: center;

	gap: 16px;
}
.flag {
	@include medium-icon;
}
.icons-container {
	display: flex;
}
.create-icon {
	width: 38px !important;
	height: 38px !important;
    cursor: pointer;
}
.left-panel emg-multi-select {
	.default-tenant-icon {
		@include big-icon;
        width: 32px !important;
        height: 32px !important;
	}
}
