@import "/src/app/shared/styles/config/_colors";

.client-rates {
    // padding: 0 15px;
    &--header {
        font-size: 18px;
        line-height: 120%;
        font-weight: 800;
        color: $dark-grey-color;
    }
    &--hint {
        font-weight: 400;
        font-size: 14px;
        line-height: 150% !important;
        letter-spacing: 0;
        color: rgba($color: #384853, $alpha: 0.87);
    }
    &--section__header {
        font-weight: 800;
        font-size: 14px;
        color: $dark-grey-color;
    }
    &--form {
        padding: 0;
        &__header {
            font-weight: 600;
            color: $medium-grey-color;
            &:first-of-type {
                padding-left: 20px;
            }
            &-container {
                padding: 12px 0;
            }
        }
        &__row  {
            background-color: $white-color;
            border: 1px solid $sand-color;
            height: 50px;
            &:hover {
                transition: box-shadow .7s ease;
                box-shadow: 0px 0px 20px rgba(26, 35, 126, 0.15);
            }
            // @media screen and (max-width: 1440px) {
            //     height: 50px;
            // }
            span {
                color: rgba(56, 72, 83, 0.87);
                font-weight: 700;
            }
        }
    }
    &-icon--actions {
        &:hover {
            background: rgba($color: $green-color, $alpha: .2);
        }
        mat-icon {
            // color: $green-color;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            line-height: 24px;
            font-size: 24px;
            border-radius: 50%;
            height: 36px;
            width: 36px;
        }
    }
}
