$green-color: #17A297;
$green-tech-color: #CDFF96;
$purple-color: #6A47B8;
$red-color: #FF7A78;
$dark-grey-color: #4A4E60;
$medium-grey-color: #898785;
$light-grey-color: #B6B4B2;
$sand-color: #E7E3E8;
$sand-25-color: #faf9fb;
$sand-10-color: #fdfdfd;
$white-color: #fff;
$darkred-color: #D0021B;
$yellow-color: #fac107;

