@mixin flexCentered() {
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin opacityActions() {
    opacity: 1;
    transition: opacity .4s ease-in;
}

@mixin fontOpenSans($font-size, $font-weight) {
    font-family: "Open Sans", sans-serif !important;
    font-size: $font-size !important;
    font-weight: $font-weight !important;
}

@mixin fontLineHeightAndSize($font-size, $line-height, $width, $height) {
    font-size: $font-size !important;
    line-height: $line-height !important;
    width: $width !important;
    height: $height !important;
}

@mixin fontAtyp($font-size, $font-weight) {
    font-family: 'Atyp' !important;
    font-size: $font-size;
    font-weight: $font-weight;
}

@mixin fontAtypDisplayBold($font-size, $font-weight) {
    font-family: 'AtypDisplayBold' !important;
    font-size: $font-size;
    font-weight: $font-weight;
}

@mixin scrollbar {
	::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}

	::-webkit-scrollbar-track {
		background-color: transparent;
		border-radius: 50px;
	}

	::-webkit-scrollbar-thumb {
		background-color: #b6b4b2;
		border-radius: 50px;

		&:hover {
			border: 0;
			background: rgba(109, 109, 109, 1);
		}
	}
}
