@mixin flexCentered() {
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin opacityActions() {
    opacity: 1;
    transition: opacity .4s ease-in;
}

@mixin fontOpenSans($font-size, $font-weight) {
    font-family: "Open Sans", sans-serif;
    font-size: $font-size;
    font-weight: $font-weight;
}

@mixin fontLineHeightAndSize($font-size, $line-height, $width, $height) {
    font-size: $font-size !important;
    line-height: $line-height !important;
    width: $width !important;
    height: $height !important;
}
