<!-- Extension start -->
<div fxLayout="row" fxLayoutAlign="start start" class="workflow">
    <div fxFlex="20%" class="workflow-navigation--wrapper">
        <mat-accordion class="workflow-sidenav--expansion" [togglePosition]="'before'">
            <mat-expansion-panel class="mat-elevation-z0" *ngFor="let item of extensionSideNav">
                <mat-expansion-panel-header [collapsedHeight]="'80px'" [expandedHeight]="'80px'">
                    <div class="sidenav-expansion--header">
                        <span class="flex-row">
                            <mat-icon [svgIcon]="item.name"></mat-icon>
                             <span class="sidenav-expansion--header__name">
                                 {{item.displayName}}
                             </span>
                        </span>
                        <span class="sidenav-expansion--header__person">
                            {{item.responsiblePerson}}
                        </span>
                        <span class="sidenav-expansion--header__date">
                            {{item.dateRange}}
                        </span>
                    </div>
                </mat-expansion-panel-header>
                <mat-list class="workflow-navigation">
                    <mat-list-item class="workflow-navigation--step" *ngFor="let step of item.subItems; let i = index;"
                        (click)="changeStepSelection(step.name, step.id)"
                        [ngClass]="{'active-step': step.name === selectedStep, 'completed-step': step.isCompleted}">
                        <span class="workflow-navigation--step__number">
                            {{step.id}}
                        </span>
                        <span class="workflow-navigation--step__name">
                            {{step.displayName}}
                        </span>
                    </mat-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div fxFlex="80%">
        <ng-container [ngSwitch]="selectedStep">
            <!-- EDIT WORKFLOW -->
            <!-- TODO: add isExtension param -->
            <ng-container *ngSwitchCase="'ExtendSales'">
                <app-workflow-sales #workflowSales [workflowId]="workflowId" [extendWorkflow]="true"></app-workflow-sales>
            </ng-container>
            <ng-container *ngSwitchCase="'ExtendContracts'">
                <app-workflow-contracts #workflowContracts [workflowId]="workflowId" [extendWorkflow]="true"></app-workflow-contracts>
            </ng-container>
            <!-- <ng-container *ngSwitchCase="'Finance'">
                <app-workflow-finances #workflowFinances [workflowId]="workflowId"></app-workflow-finances>
            </ng-container> -->
            <!-- EDIT WORKFLOW -->
            <ng-container *ngSwitchCase="'EditSales'">
                <app-workflow-sales #workflowEditSales [workflowId]="workflowId" [changeWorkflow]="true"></app-workflow-sales>
            </ng-container>
            <ng-container *ngSwitchCase="'EditContracts'">
                <app-workflow-contracts #workflowEditContracts [workflowId]="workflowId" [changeWorkflow]="true"></app-workflow-contracts>
            </ng-container>
            <!-- <ng-container *ngSwitchCase="'EditFinance'">
                <app-workflow-finances #workflowEditFinances [workflowId]="workflowId" [editWorfklow]="true"></app-workflow-finances>
            </ng-container> -->

            <!-- ADD CONSULTANT -->

            <ng-container *ngSwitchCase="'AddConsultantSales'">
                <app-workflow-sales #workflowAddConsultantSales [workflowId]="workflowId" [addConsultant]="true"></app-workflow-sales>
            </ng-container>
            <ng-container *ngSwitchCase="'AddConsultantContracts'">
                <app-workflow-contracts #workflowAddConsultantContracts [workflowId]="workflowId" [addConsultant]="true"></app-workflow-contracts>
            </ng-container>
            <ng-container *ngSwitchCase="'AddConsultantFinance'">
                <app-workflow-finances #workflowAddConsultantFinances [workflowId]="workflowId" [addConsultant]="true"></app-workflow-finances>
            </ng-container>

            <ng-container *ngSwitchDefault>
            </ng-container>
        </ng-container>
    </div>
</div>
