<!-- Extension start -->
<div fxLayout="row" fxLayoutAlign="start start" class="workflow">
    <div fxFlex="20%" class="workflow-navigation--wrapper">
        <mat-accordion class="workflow-sidenav--expansion" [togglePosition]="'before'">
            <mat-expansion-panel class="mat-elevation-z0" *ngFor="let item of extensionSideNav; index as i" [expanded]="sectionIndex === i" (opened)="changeSideSection(item, i)">
                <mat-expansion-panel-header [collapsedHeight]="'80px'" [expandedHeight]="'80px'">
                    <div class="sidenav-expansion--header">
                        <span class="flex-row">
                            <mat-icon [svgIcon]="item.name"></mat-icon>
                             <span class="sidenav-expansion--header__name">
                                 {{item.displayName}}
                             </span>
                        </span>
                        <span class="sidenav-expansion--header__person">
                            {{item.responsiblePerson}}
                        </span>
                        <span class="sidenav-expansion--header__date">
                            {{item.dateRange}}
                        </span>
                    </div>
                </mat-expansion-panel-header>
                <mat-list class="workflow-navigation">
                    <mat-list-item class="workflow-navigation--step" *ngFor="let step of item.subItems; let i = index;"
                        (click)="changeStepSelection(step.name, step.id, step.enumStepValue)"
                        [ngClass]="{'active-step': step.name === selectedStep, 'completed-step': step.isCompleted}">
                        <span class="workflow-navigation--step__number">
                            {{step.id}}
                        </span>
                        <span class="workflow-navigation--step__name">
                            {{step.displayName}}
                        </span>
                    </mat-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div fxFlex="80%">
        <ng-container [ngSwitch]="selectedStep">
            <ng-container [ngSwitch]="selectedStepEnum">
                <ng-container *ngSwitchCase="workflowSteps.Sales">
                    <app-workflow-sales #workflowSales [workflowId]="workflowId" [activeSideSection]="selectedSideSection"></app-workflow-sales>
                </ng-container>
                <ng-container *ngSwitchCase="workflowSteps.Contracts">
                    <app-workflow-contracts #workflowContracts [workflowId]="workflowId" [activeSideSection]="selectedSideSection"></app-workflow-contracts>
                </ng-container>
                <ng-container *ngSwitchCase="workflowSteps.Finance">
                    <app-workflow-finances #workflowFinances [workflowId]="workflowId" [activeSideSection]="selectedSideSection"></app-workflow-finances>
                </ng-container>
                <ng-container *ngSwitchCase="workflowSteps.Sourcing">
                    <app-workflow-sourcing #workflowSourcing [workflowId]="workflowId" [activeSideSection]="selectedSideSection"></app-workflow-sourcing>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
</div>
