.hide {
    display: none;
}


@import "/src/app/shared/styles/config/_colors";

.workflow-navigation {
    width: 80%;
    &--wrapper {
        position: sticky;
        top: 0;
    }
    &--step {
        cursor: pointer;
        &:hover {
            background-color: rgba($color: $sand-color, $alpha: 0.5);
        }
        &__number {
            color: $medium-grey-color;
            background-color: $sand-color;
            border-radius: 50%;
            font-weight: 700;
            font-size: 15px;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__name {
            font-weight: 700;
            font-size: 16px;
            color: $light-grey-color;
            text-transform: uppercase;
            margin-left: 10px;
        }
        &.active-step:not(.completed-step) {
            .workflow-navigation--step__number {
                background-color: rgba($color: $green-color, $alpha: 0.3);
                color: $green-color;
            }
            .workflow-navigation--step__name {
                color: $green-color;
                font-weight: 700;
            }
        }
        &.completed-step:not(.active-step) {
            .workflow-navigation--step__number {
                background-color: $green-color;
                color: $white-color;
            }
            .workflow-navigation--step__name {
                color: $dark-grey-color;
                font-weight: 700;
            }
        }
        &.active-step.completed-step {
            .workflow-navigation--step__number {
                color: $white-color;
                background-color: $green-color;
            }
            .workflow-navigation--step__name {
                color: $green-color;
                font-weight: 700;
            }
        }
    }
}
