@import "/src/app/shared/styles/config/_colors";

.client-rates {
    // padding: 0 15px;
    &--header {
        font-size: 21px;
        line-height: 21px;
        font-weight: 800;
        color: $dark-grey-color;
    }
    &--hint {
        font-weight: 400;
        font-size: 14px;
        color: rgba($color: #384853, $alpha: 0.87);
    }
    &--section__header {
        font-weight: 800;
        color: $dark-grey-color;
    }
    &--form {
        padding: 0;
        &__header {
            font-weight: 600;
            color: $medium-grey-color;
            &-container {
                padding: 8px;
            }
        }
        &__row  {
            background-color: #fff;
            padding: 8px;
            box-shadow: 0px 0px 20px rgba(26, 35, 126, 0.15);
            margin-bottom: 10px;
        }
    }
    &-icon--actions {
        &:hover {
            background: rgba($color: $green-color, $alpha: .2);
        }
        mat-icon {
            // color: $green-color;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            line-height: 24px;
            font-size: 24px;
            border-radius: 50%;
            height: 36px;
            width: 36px;
        }
    }
}
