<div class="workflow-list">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="workflow-list--filter">
        <div fxFlex="20%">
            <mat-form-field appearance="outline" class="u-w--100 formFieldNoMarginPadding greenFilterInput mat-elevation-z0">
                <mat-label>Search</mat-label>
                <input autocomplete="off" matInput [formControl]="workflowFilter" placeholder="Search" type="text">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <button mat-icon-button><mat-icon>tune</mat-icon></button>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="workflow-list--filter">
        <button mat-raised-button (click)="createWorkflow()">CREATE</button>
    </div>
    <div fxLayout="column" fxLayoutAlign="start center" class="workflow-list--table u-w--100">
        <div fxLayout="column" fxFlexFill>
            <mat-table #table [dataSource]="workflowDataSource" class="rounded-table u-w--100" matSort matSortStart="asc" (matSortChange)="sortChanged($event)">
                <ng-container matColumnDef="Client">
                    <mat-header-cell *matHeaderCellDef fxFlex="20%">Client</mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="20%">
                        <span class="text-truncate-ellipsis" [matTooltip]="row.client">
                            {{row.client}}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Supplier">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="20%"> Supplier </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="20%">
                        <span class="text-truncate-ellipsis" [matTooltip]="row.supplier">
                            {{row.supplier}}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Step">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="15%"> Step </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="15%">
                        <span class="text-truncate-ellipsis" [matTooltip]="row.step">
                            {{row.step}}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%"> Status </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="10%">
                        <span class="text-truncate-ellipsis" [matTooltip]="row.status">
                            {{row.status}}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Type">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%"> Type </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="10%">
                        <span class="text-truncate-ellipsis" [matTooltip]="row.type">
                            {{row.type}}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Managers">
                    <mat-header-cell *matHeaderCellDef fxFlex="15%"> Managers </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="15%">
                        <span class="text-truncate-ellipsis">
                            {{row.managers.join(', ')}}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef fxFlex="10%"></mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="10%">
                        <span class="text-truncate-ellipsis">
                            {{row.isDeleted ? 'restore' : 'delete'}}
                        </span>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="workflowDisplayColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: workflowDisplayColumns;" class="mat-elevation-z0 cursor-pointer" (click)="navigateToWorkflowDetails(row.id)"></mat-row>
            </mat-table>
            <div class="spinner-container" *ngIf="isDataLoading">
                <mat-spinner [diameter]="50"></mat-spinner>
            </div>
            <div class="results-not-found" *ngIf="totalCount === 0 && !isDataLoading">
                RESULTS NOT FOUND
            </div>
        </div>
        <div class="pagination-contaier">
            <mat-paginator #clientsPaginator [length]="totalCount" [pageSize]="deafultPageSize"
                [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true" (page)="pageChanged($event)">
            </mat-paginator>
        </div>
    </div>
</div>
