<div class="workflow-list" fxFlexFill>
    <div fxLayout="column" fxLayoutAlign="start start" class="workflow-list--filter">
        <!-- <div fxLayout="row" fxLayoutAlign="start start"> -->
            <h2 class="workflow-list--header">Workflows</h2>
        <!-- </div> -->
        <div fxLayout="row" fxLayoutAlign="space-between center" class="u-w--100">
            <div fxFlex fxLayout="row" fxLayoutAlign="start center" class="u-w--100">
                <mat-icon class="workflow-list--filter-country__flag u-mr--16" svgIcon="International-flag"></mat-icon>
                <div class="workflow-list--filter-type u-mr--16" *ngFor="let type of selectedTypes">
                    <mat-icon class="workflow-flag" [ngClass]="getFlagColor(type.flag)" [matTooltip]="mapFlagTooltip(type.flag)">fiber_manual_record</mat-icon>
                    <span class="workflow-list--filter-type__name">
                        {{type.name}}
                    </span>
                </div>
                <span class="workflow-list--filter-manager">
                    <img src="../../../assets/common/images/no-img.svg">
                </span>
            </div>
            <div fxFlex="25%" fxLayout="column" fxLayoutAlign="start end">
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px" class="u-w--100 u-mb--20">
                    <button mat-icon-button><mat-icon svgIcon="filter-icon"></mat-icon></button>

                    <mat-form-field appearance="outline" class="u-w--100 mat-elevation-z0 formFieldNoMarginPadding">
                        <mat-label>Search</mat-label>
                        <input autocomplete="off" matInput [formControl]="workflowFilter" placeholder="Search" type="text">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                    <button mat-icon-button (click)="createWorkflow()" class="workflow-list--filter__add-btn">
                        <mat-icon svgIcon="plus-button-icon"></mat-icon>
                    </button>
                </div>
                <mat-slide-toggle color="primary" labelPosition="before">Show terminated</mat-slide-toggle>
            </div>
        </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="start center" class="workflow-list--content u-w--100">
        <div fxLayout="column" class="u-w--100">
            <mat-table #table [dataSource]="workflowDataSource" class="workflow-list--table white-table u-w--100" matSort matSortStart="asc" (matSortChange)="sortChanged($event)">
                <ng-container matColumnDef="flag">
                    <mat-header-cell *matHeaderCellDef fxFlex="3%"></mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="3%">
                        <mat-icon class="workflow-flag" [ngClass]="getFlagColor(row.flag)" [matTooltip]="mapFlagTooltip(row.flag)">fiber_manual_record</mat-icon>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef fxFlex="3%">ID</mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="3%">
                        <span class="text-truncate-ellipsis" [matTooltip]="row.id">
                            {{row.id}}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Client">
                    <mat-header-cell *matHeaderCellDef fxFlex="10%">Client</mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="10%">
                        <span class="text-truncate-ellipsis text-bold" [matTooltip]="row.client">
                            {{row.client}}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Consultants">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%"> Consultants </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="10%">
                        <span class="text-truncate-ellipsis" [matTooltip]="mapListByProperty(row.consultants, 'name')">
                            {{mapListByProperty(row.consultants, 'name')}}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="SalesType">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%"> Sales type </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="10%">
                        <span class="text-truncate-ellipsis" [matTooltip]="row.salesType">
                            {{row.salesType}}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="DeliveryType">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%"> Delivery type </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="10%">
                        <span class="text-truncate-ellipsis" [matTooltip]="row.deliveryType">
                            {{row.deliveryType}}
                        </span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="startDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="7%"> Start </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="7%">
                        <span class="text-truncate-ellipsis" [matTooltip]="(row.startDate | date: 'dd.MM.YYYY') ?? '-'">
                            {{(row.startDate | date: 'dd.MM.YYYY') ?? '-'}}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="endDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="7%"> End </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="7%">
                        <span class="text-truncate-ellipsis" [matTooltip]="(row.endDate | date: 'dd.MM.YYYY') ?? '-'">
                            {{(row.endDate | date: 'dd.MM.YYYY') ?? '-'}}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="openProcess">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="13%"> Open process </mat-header-cell>
                    <!-- TODO: maybe additional property as 'additionalOpenProcess' and 'additional steps' -->
                    <mat-cell *matCellDef="let row" fxFlex="13%">
                        <div class="column">
                            <div *ngFor="let item of row.openProcess; last as last"
                                 style="height: 50px;"
                                 class="flex-justify-center column"
                                 [ngStyle]="{'border-bottom' : last ? '0' : '1px solid #E7E3E8'}">
                                <ng-container [ngSwitch]="item">
                                    <ng-container *ngSwitchCase="workflowProcess.StartWorkflow">
                                        <span class="flex-row flex-items-center">
                                            <mat-icon svgIcon="workflowStartOrExtend"></mat-icon>
                                            <span class="sidenav-expansion--header__name">
                                                Start workflow
                                            </span>
                                        </span>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="workflowProcess.ExtendWorkflow">
                                        <span class="flex-row flex-items-center">
                                            <mat-icon svgIcon="workflowStartOrExtend"></mat-icon>
                                            <span class="sidenav-expansion--header__name">
                                                Extend workflow
                                            </span>
                                        </span>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="workflowProcess.TerminateWorkflow">
                                        <span class="flex-row flex-items-center">
                                            <mat-icon svgIcon="workflowTerminate"></mat-icon>
                                            <span class="sidenav-expansion--header__name">
                                                Terminate workflow
                                            </span>
                                        </span>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="workflowProcess.ChangeWorkflow">
                                        <span class="flex-row flex-items-center">
                                            <mat-icon svgIcon="workflowStartOrExtend"></mat-icon>
                                            <span class="sidenav-expansion--header__name">
                                                Change workflow
                                            </span>
                                        </span>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="workflowProcess.AddConsultant">
                                        <span class="flex-row flex-items-center">
                                            <mat-icon svgIcon="workflowAdd"></mat-icon>
                                            <span class="sidenav-expansion--header__name">
                                                Add consultant
                                            </span>
                                        </span>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="workflowProcess.TerminateConsultant">
                                        <span class="flex-row flex-items-center">
                                            <mat-icon svgIcon="workflowTerminate"></mat-icon>
                                            <span class="sidenav-expansion--header__name">
                                                Terminate consultant
                                            </span>
                                        </span>
                                    </ng-container>

                                    <ng-container *ngSwitchDefault>
                                        -
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Steps">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="13%"> Steps </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="13%">
                        <span class="text-truncate-ellipsis" [matTooltip]="row.step">
                            {{row.step}}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%"> Status </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="10%">
                        <span class="text-truncate-ellipsis" [matTooltip]="row.status">
                            {{row.status}}
                        </span>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef fxFlex="4%"></mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="4%">
                        <button mat-icon-button class="three-dots-actions-btn" [matMenuTriggerFor]="workflowActions" (click)="$event.stopPropagation();"><mat-icon>more_horiz</mat-icon></button>
                        <mat-menu #workflowActions>
                            <button
                                class="menu-item"
                                [ngClass]="row.isDeleted ? 'menu-item--add' : 'menu-item--cancel'"
                                mat-menu-item
                                [disabled]="false">
                                    <mat-icon>{{row.isDeleted ? 'refresh' : 'clear'}}</mat-icon>
                                    {{row.isDeleted ? 'restore' : 'delete'}}
                            </button>
                        </mat-menu>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="workflowDisplayColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: workflowDisplayColumns;" class="mat-elevation-z0 cursor-pointer flex-items-start" (click)="navigateToWorkflowDetails(row.id)"></mat-row>
            </mat-table>
            <div class="spinner-container" *ngIf="isDataLoading">
                <mat-spinner [diameter]="50"></mat-spinner>
            </div>
            <div class="results-not-found" *ngIf="totalCount === 0 && !isDataLoading">
                RESULTS NOT FOUND
            </div>
        </div>
        <div class="pagination-contaier">
            <mat-paginator #clientsPaginator [length]="totalCount" [pageSize]="deafultPageSize"
                [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true" (page)="pageChanged($event)">
            </mat-paginator>
        </div>
    </div>
</div>
