.workflow {
    padding: 10px 16px;
    &-sidebar {
        box-shadow: 0px 0px 20px rgba(26, 35, 126, 0.15);
        border-radius: 5px;
        background: rgba(23, 162, 151, 0.06);
        // background: rgba(23, 162, 151, 0.04);
        // border-radius: 5px;
        // &--stepper {
        position: fixed;
        // }
    }

    &-form {
        &--sales,
        &--consultants,
        &--summary {
            h2:not(.workflow-green--header) {
                margin-bottom: 8px !important;
                font-weight: bold;
                font-size: 16px;
                line-height: 16px;
                color: rgba(56, 72, 83, 0.87);
            }
        }
    }
    &-panel {
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 0px 20px rgba(26, 35, 126, 0.15);
        border-radius: 5px;
        padding: 16px;
        h2:not(.workflow-green--header) {
            margin-bottom: 8px !important;
            font-weight: bold;
            font-size: 16px;
            line-height: 16px;
            color: rgba(56, 72, 83, 0.87);
        }
    }
    &-green--header {
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        color: #17A297;
    }
}
