.auto-name-alignment {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.full-width {
	display: block;
	width: 100%;
}
.auto-name-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}