<mat-form-field
    class="example-full-width"
    appearance="fill"
    [style.width.px]="382"
>
    <mat-label>{{ label }}</mat-label>
    <input
        type="text"
        aria-label="text"
        matInput
        [formControl]="textControl"
        [placeholder]="label"
        [matAutocomplete]="auto"
    />
    <mat-error
        ><app-validator [control]="textControl"></app-validator
    ></mat-error>
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options">
            <div
                [style.display]="'flex'"
                [style.justify-content]="'space-between'"
                [style.align-items]="'center'"
                (click)="$event.stopPropagation(); addAutoName(option)"
            >
                <span>{{ option }}</span>
                <mat-icon svgIcon="plus-icon"></mat-icon>
            </div>
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
<mat-divider></mat-divider>
<mat-checkbox
    [disabled]="!textControl.valid && !textControl.disabled"
    [checked]="showSample"
    (change)="this.retriewTemplate$.next()"
>
    Show sample data
</mat-checkbox>
