<mat-form-field appearance="fill" [style.width.px]="480">
    <mat-label> Auto-name for actual agreements </mat-label>
    <mat-chip-list
        #chiplist
        [formControl]="chipsControl"
        [errorStateMatcher]="matcher"
    >
        <ng-container *ngIf="!sampleData">
            <ng-container *ngFor="let chip of selectedOptions;trackBy:trackByOptionName">
                <mat-chip  [value]="chip.name">
                    {{ "{" + chip.name + "}" }}
                </mat-chip>
            </ng-container>

        </ng-container>
        <input
            #input
            type="text"
            matInput
            [formControl]="textControl"
            placeholder="Auto-name for actual agreements"
            [matAutocomplete]="auto"
            [matChipInputFor]="chiplist"
            placeholder="New field..."
        />
    </mat-chip-list>
    <mat-error><app-validator [control]="chipsControl"></app-validator></mat-error>
    <mat-autocomplete #auto="matAutocomplete">
        <ng-container *ngFor="let optionItem of displayedOptionItems; trackBy:trackByOptionName">
            <mat-option>
                <mat-checkbox
                    (click)="$event.stopPropagation()"
                    [checked]="optionItem.selected"
                    (change)="toggleCheckbox(optionItem)"
                >
                    {{ optionItem.name }}
                </mat-checkbox>
            </mat-option>
        </ng-container>
    </mat-autocomplete>
</mat-form-field>
<div></div>
<mat-checkbox
    (change)="onShowSampleChanged($event.checked)"
    [checked]="sampleData"
    >Show sample data</mat-checkbox
>
