<div class="wrapper">
  <div class="actions">
    <dx-drop-down-button
      text="Download"
      [dropDownOptions]="{ width: 'auto' }"
      stylingMode="text"
      icon="download"
      [items]="downloadActions"
      (onItemClick)="onDownloadActionsClick($event)"
    ></dx-drop-down-button>

    <dx-button
      stylingMode="text"
      text="Print"
      type="normal"
      [width]="120"
      icon="print"
      (onClick)="print()"
    >
    </dx-button>

    <!-- <dx-button
      stylingMode="text"
      text="Update Styles"
      type="normal"
      [width]="'auto'"
      icon="italic"
    >
    </dx-button> -->
  </div>

  <!-- <div class="template">
    <div #doc [innerHTML]="template"></div>
  </div> -->

</div>