<div fxLayout="row" fxLayoutAlign="start start" class="primary-workflow">
    <div fxFlex="300px" class="workflow-navigation--wrapper" [ngClass]="{'topToolbarVisible': topToolbarVisible}">
        <ng-scrollbar>
            <mat-accordion class="workflow-sidenav--expansion" [togglePosition]="'before'">
                <mat-expansion-panel class="mat-elevation-z0" *ngFor="let item of sideMenuItems; trackBy: trackByItem; index as i"
                    [expanded]="sectionIndex === i" appPreventDoubleClick
                    (throttledClick)="sectionIndex === i ? $event.preventDefault() : ''"
                    (opened)="changeSideSection(item, i)">
                    <mat-expansion-panel-header [collapsedHeight]="'50px'" [expandedHeight]="'50px'">
                        <div fxLayout="row" fxLayoutAlign="space-between start" class="u-w--100">
                            <div class="sidenav-expansion--header" fxFlex="90%">
                                <span class="flex-row flex-items-center">
                                    <mat-icon [svgIcon]="processIcon[item.typeId]"></mat-icon>
                                    <span class="sidenav-expansion--header__name">
                                        {{item.name}}
                                    </span>
                                </span>
                                <span class="sidenav-expansion--header__person">
                                    {{item.consultant?.name ?? ''}}
                                </span>
                                <span class="sidenav-expansion--header__date">
                                    {{item.periodStartDate | momentFormat}} - {{item.periodEndDate ? (item.periodEndDate | momentFormat) : '...'}}
                                </span>
                            </div>
                            <ng-container *ngIf="item.typeId !== workflowProcessTypes.StartClientPeriod">
                                <button mat-icon-button #menuDeleteTrigger="matMenuTrigger"
                                    [matMenuTriggerFor]="consultantMenu" type="button" appPreventDoubleClick
                                    (throttledClick)="$event.stopPropagation();"
                                    class="workflow-period--delete u-mr--16">
                                    <mat-icon>more_horiz</mat-icon>
                                </button>
                                <mat-menu #consultantMenu>
                                    <button
                                        class="menu-item menu-item--cancel"
                                        mat-menu-item
                                        [disabled]="false"
                                        (click)="deleteSideSection(item)">
                                        <mat-icon svgIcon="close-icon"></mat-icon>
                                        Delete
                                    </button>
                                </mat-menu>
                            </ng-container>
                        </div>
                    </mat-expansion-panel-header>
                    <div class="workflow-navigation">
                        <div class="workflow-navigation--step u-mb--10" *ngFor="let step of item.steps; trackBy: trackByItem; let i = index;"
                            appPreventDoubleClick (throttledClick)="changeStepSelection(step)"
                            [ngClass]="{'active-step': step.name === selectedStep.name, 'completed-step': step.status === workflowStatuses.Completed}">
                            <div fxLayout="column" fxLayoutAlign="start start">
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <app-manager-search appPreventDoubleClick
                                        (throttledClick)="$event.stopPropagation()"
                                        [formFieldLabel]="step.name + ' Manager'" [periodId]="periodId!"
                                        [consultantPeriodId]="item.consultantPeriodId!" [stepType]="step.typeId!"
                                        [periodType]="item.typeId!" [workflowId]="workflowId"
                                        [managerStatus]="step.status!" [responsiblePerson]="step.responsiblePerson!"
                                        [width]="24" [height]="24">
                                    </app-manager-search>

                                    <span class="workflow-navigation--step__name">
                                        {{step.name}}
                                    </span>
                                </div>
                                <ng-container *ngIf="step.name === selectedStep.name">
                                    <div fxLayout="column" fxLayoutAlign="start start" class="u-ml--35 u-mt--8">
                                        <ng-container *ngFor="let item of step.menuAnchors; trackBy: trackByItem">
                                            <div class="workflow-navigation--step__anchor u-mb--10" appPreventDoubleClick
                                                (throttledClick)="$event.stopPropagation(); changeAnchorSelection(item)"
                                                [ngxScrollTo]="item.anchor!"
                                                [ngxScrollToOffset]="-120"
                                                [ngClass]="{'active-anchor': item.anchor === selectedAnchor}">
                                                <div fxLayout="row" fxLayoutAlign="start center">
                                                    <span class="workflow-navigation--step__anchor-name">
                                                        {{item.name}}
                                                    </span>
                                                    <mat-icon (click)="$event.stopPropagation(); item.anchorsOpened = !item.anchorsOpened" class="section-anchor--chevron u-ml--10"
                                                        [ngClass]="{'active-chevron': item.anchor === selectedAnchor || item.anchorsOpened}"
                                                        svgIcon="chevron-grey"></mat-icon>
                                                </div>
                                                <ng-container *ngIf="item?.consultantName">
                                                    <span class="workflow-navigation--step__anchor-consultant-name">
                                                        {{item.consultantName}}
                                                    </span>
                                                </ng-container>
                                                <ng-container *ngIf="item.subItems?.length && item.anchor === selectedAnchor || item.anchorsOpened">
                                                    <div class="side-nav--container u-pl--12 u-mt--12">
                                                        <ng-container *ngFor="let section of item.subItems; trackBy: trackByItem; index as i">
                                                            <div class="workflow-navigation--step__anchor-section u-mb--10" (click)="$event.stopPropagation(); scrollToSection(section.anchor!)" [ngxScrollTo]="section.anchor!" [ngxScrollToOffset]="-120">
                                                                {{i + 1}} • {{section.name}}
                                                            </div>
                                                        </ng-container>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </ng-container>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </ng-scrollbar>
    </div>
    <div fxFlex="calc(100% - 300px)" id="step-container">
        <ng-container [ngSwitch]="selectedStepEnum">
            <ng-container *ngSwitchCase="workflowSteps.Sales">
                <app-workflow-sales #workflowSales [workflowId]="workflowId" [periodId]="periodId"
                    [activeSideSection]="selectedSideSection" [consultant]="consultant"
                    [isCompleted]="selectedStep.status === workflowStatuses.Completed"
                    [permissionsForCurrentUser]="selectedStep.actionsPermissionsForCurrentUser">
                </app-workflow-sales>
            </ng-container>
            <ng-container *ngSwitchCase="workflowSteps.Contract">
                <app-workflow-contracts #workflowContracts [workflowId]="workflowId" [periodId]="periodId"
                    [consultant]="consultant" [activeSideSection]="selectedSideSection"
                    [isCompleted]="selectedStep.status === workflowStatuses.Completed"
                    [permissionsForCurrentUser]="selectedStep.actionsPermissionsForCurrentUser">
                </app-workflow-contracts>
            </ng-container>
            <ng-container *ngSwitchCase="workflowSteps.Finance">
                <app-workflow-finances #workflowFinances [workflowId]="workflowId" [periodId]="periodId"
                    [activeSideSection]="selectedSideSection"
                    [isCompleted]="selectedStep.status === workflowStatuses.Completed"
                    [permissionsForCurrentUser]="selectedStep.actionsPermissionsForCurrentUser"></app-workflow-finances>
            </ng-container>
            <ng-container *ngSwitchCase="workflowSteps.Sourcing">
                <app-workflow-sourcing #workflowSourcing [workflowId]="workflowId" [consultant]="consultant"
                    [activeSideSection]="selectedSideSection"
                    [isCompleted]="selectedStep.status === workflowStatuses.Completed"
                    [permissionsForCurrentUser]="selectedStep.actionsPermissionsForCurrentUser"></app-workflow-sourcing>
            </ng-container>
        </ng-container>
    </div>
</div>
