<div fxLayout="row" fxLayoutAlign="start start" class="primary-workflow">
    <div fxFlex="20%" class="workflow-navigation--wrapper">
        <ng-scrollbar>
            <mat-accordion class="workflow-sidenav--expansion" [togglePosition]="'before'">
                <mat-expansion-panel class="mat-elevation-z0" *ngFor="let item of sideMenuItems; index as i" [expanded]="sectionIndex === i" (click)="sectionIndex === i ? $event.preventDefault() : ''" (opened)="changeSideSection(item, i)">
                    <mat-expansion-panel-header [collapsedHeight]="'60px'" [expandedHeight]="'60px'">
                        <div fxLayout="row" fxLayoutAlign="space-between start" class="u-w--100">
                            <div class="sidenav-expansion--header" fxFlex="90%">
                                <span class="flex-row flex-items-center">
                                    <mat-icon [svgIcon]="mapIconFromMenuItem(item.typeId!)!"></mat-icon>
                                    <span class="sidenav-expansion--header__name">
                                        {{item.name}}
                                    </span>
                                </span>
                                <span class="sidenav-expansion--header__person">
                                    {{item.consultant?.name ?? ''}}
                                </span>
                                <span class="sidenav-expansion--header__date">
                                    {{item.periodStartDate | momentFormat: 'DD.MM.YYYY'}} - {{item.periodEndDate ? (item.periodEndDate | momentFormat: 'DD.MM.YYYY') : '...'}}
                                </span>
                            </div>
                            <!-- Change WF || terminate WF || terminateConsultant when BE will have termination -->
                            <ng-container *ngIf="item.typeId !== workflowProcessTypes.StartClientPeriod">
                                <button mat-icon-button [matMenuTriggerFor]="consultantMenu" type="button" (click)="$event.stopPropagation();" class="workflow-period--delete u-mr--16"><mat-icon>more_horiz</mat-icon></button>
                                <mat-menu #consultantMenu>
                                    <button
                                        class="menu-item menu-item--delete"
                                        mat-menu-item
                                        [disabled]="false"
                                        (click)="deleteSideSection(item)">
                                        <mat-icon>clear</mat-icon>
                                        Delete
                                    </button>
                                </mat-menu>
                            </ng-container>
                        </div>
                    </mat-expansion-panel-header>
                    <div class="workflow-navigation">
                        <div class="workflow-navigation--step u-mb--10" *ngFor="let step of item.steps; let i = index;"
                            (click)="changeStepSelection(step)"
                            [ngClass]="{'active-step': step.name === selectedStep.name, 'completed-step': step.status === workflowStatuses.Completed}">
                            <div fxLayout="column" fxLayoutAlign="start start">
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <app-manager-search
                                        (click)="$event.stopPropagation()"
                                        [formFieldLabel]="step.name + ' Manager'"
                                        [periodId]="periodId!"
                                        [consultantPeriodId]="item.consultantPeriodId!"
                                        [stepType]="step.typeId!"
                                        [periodType]="item.typeId!"
                                        [workflowId]="workflowId"
                                        (managerSelected)="selectedManager($event)"
                                        [managerStatus]="step.status === workflowStatuses.Completed ? managerStatus.Completed : managerStatus.Pending"
                                        [responsiblePerson]="step.responsiblePerson!">
                                    </app-manager-search>

                                    <span class="workflow-navigation--step__name">
                                        {{step.name}}
                                    </span>
                                </div>
                                <!-- TODO: add when BE will be ready -->
                                <!-- <div fxLayout="column" fxLayoutAlign="start start" class="u-ml--55" *ngIf="step.name === selectedStep">
                                    <div *ngFor="let anchor of step.menuAnchors"
                                         class="workflow-navigation--step__anchor u-mb--10"
                                         (click)="changeAnchorSelection(anchor.name)"
                                         [ngxScrollTo]="anchor.value"
                                         [ngClass]="{'active-anchor': anchor.name === selectedAnchor}">
                                        {{anchor.name}}
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </ng-scrollbar>
    </div>
    <div fxFlex="80%" id="step-container">
        <ng-container [ngSwitch]="selectedStepEnum">
            <ng-container *ngSwitchCase="workflowSteps.Sales">
                <app-workflow-sales #workflowSales
                                    [workflowId]="workflowId"
                                    [periodId]="periodId"
                                    [activeSideSection]="selectedSideSection"
                                    [consultant]="consultant"

                                    [isCompleted]="selectedStep.status === workflowStatuses.Completed"
                                    [permissionsForCurrentUser]="selectedStep.actionsPermissionsForCurrentUser">
                </app-workflow-sales>
            </ng-container>
            <ng-container *ngSwitchCase="workflowSteps.Contract">
                <app-workflow-contracts #workflowContracts
                                        [workflowId]="workflowId"
                                        [periodId]="periodId"
                                        [consultant]="consultant"
                                        [activeSideSection]="selectedSideSection"
                                        [isCompleted]="selectedStep.status === workflowStatuses.Completed"
                                        [permissionsForCurrentUser]="selectedStep.actionsPermissionsForCurrentUser"></app-workflow-contracts>
            </ng-container>
            <ng-container *ngSwitchCase="workflowSteps.Finance">
                <app-workflow-finances #workflowFinances
                                        [workflowId]="workflowId"
                                        [periodId]="periodId"
                                        [activeSideSection]="selectedSideSection"
                                        [isCompleted]="selectedStep.status === workflowStatuses.Completed"
                                        [permissionsForCurrentUser]="selectedStep.actionsPermissionsForCurrentUser"></app-workflow-finances>
            </ng-container>
            <ng-container *ngSwitchCase="workflowSteps.Sourcing">
                <app-workflow-sourcing #workflowSourcing
                                        [workflowId]="workflowId"
                                        [consultant]="consultant"
                                        [activeSideSection]="selectedSideSection"
                                        [isCompleted]="selectedStep.status === workflowStatuses.Completed"
                                        [permissionsForCurrentUser]="selectedStep.actionsPermissionsForCurrentUser"></app-workflow-sourcing>
            </ng-container>
        </ng-container>
    </div>
</div>
