@import "/src/app/shared/styles/config/_colors";
@import "/src/app/shared/styles/config/_mixins";

.primary-workflow {
    position: relative;
    overflow: visible;
}
.workflow-navigation {
    padding-left: 25px;

    &--wrapper {
        height: calc(100vh - 215px);
        position: sticky;
        top: 115px;
        border-right: 1px solid #E7E3E8;
        &.topToolbarVisible {
            height: calc(100vh - 115px);
        }
    }
    &--step {
        display: flex;
        cursor: pointer;
        &__anchor {
            display: flex;
            flex-direction: column;
            @include fontOpenSans(12px, 700);
            font-style: normal;
            line-height: 140%;
            color: $dark-grey-color;
            text-transform: uppercase;
            &-name {
                line-height: 140%;
            }
            &:hover {
                font-weight: 800;
            }
            &-consultant-name {
                text-transform: none;
                color: $dark-grey-color;
            }
            &-section {
                @include fontOpenSans(12px, 700);
                line-height: 12px;
                color: $medium-grey-color;
                &:first-of-type {
                    margin-top: 10px;
                }
                &:hover {
                    color: $dark-grey-color;
                }
            }
        }
        &__number {
            @include fontOpenSans(15px, 700);
            color: $medium-grey-color;
            background-color: $sand-color;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__name {
            @include fontOpenSans(14px, 700);
            color: $light-grey-color;
            text-transform: uppercase;
            margin-left: 10px;
        }
        &.active-step:not(.completed-step),
        &:hover:not(.completed-step) {
            .workflow-navigation--step__number {
                background-color: rgba($color: $green-color, $alpha: 0.3);
                color: $green-color;
            }
            .workflow-navigation--step__name {
                color: $green-color;
                font-weight: 800;
            }
        }
        &.completed-step:not(.active-step),
        &.completed-step:hover:not(.active-step) {
            .workflow-navigation--step__number {
                background-color: $green-color;
                color: $white-color;
            }
            .workflow-navigation--step__name {
                color: $dark-grey-color;
                font-weight: 700;
            }
        }
        &.active-step.completed-step {
            .workflow-navigation--step__number {
                color: $white-color;
                background-color: $green-color;
            }
            .workflow-navigation--step__name {
                color: $green-color;
                font-weight: 800;
            }
        }
    }
}
.section-anchor--chevron {
    width: 20px !important;
    height: 20px !important;
    margin-top: -4px;
    transition: transform .3s ease-in-out;
    &.active-chevron {
        transform: rotate(180deg);
        margin-top: 0;
    }
}
.active-anchor {
    font-weight: 800;
}

.side-nav--container {
    border-left: 2.5px solid $sand-color;
}

.workflow-period--delete {
    width: 24px;
    height: 24px;
    line-height: 24px;

    mat-icon {
        width: 24px;
        height: 24px;
        line-height: 24px;
    }
}
