<div class="align-items">
	<ng-container *ngIf="tenants$ | async as tenants; else defaultTenants">
		<emg-tenants [tenants]="tenants"></emg-tenants>
	</ng-container>
	<ng-template #defaultTenants>
		<span>
			<mat-icon svgIcon="worldwide-icon" class="worldwide-icon"></mat-icon>
		</span>
	</ng-template>
	<ng-container *ngIf="templateName$ | async as templateName; else defaultNameTemplate">
		<p>{{ templateName }}</p>
	</ng-container>
	<ng-template #defaultNameTemplate>
		<p>{{ defaultName }}</p>
	</ng-template>
</div>
<nav mat-tab-nav-bar>
    <ng-container *ngFor="let tab of tabs">
        <a
        mat-tab-link
        [active]="masterTemplate.isActive"
        [disabled]="tab.disabled"
        [routerLink]="tab.link"
        routerLinkActive="active"
        #masterTemplate="routerLinkActive"
    >
        <mat-icon *ngIf="tab.icon" [svgIcon]="tab.icon"></mat-icon>
        <span>{{ tab.label }}</span>
    </a>
    </ng-container>
</nav>
<router-outlet></router-outlet>
