<div class="client-workflow-track">
    <div fxLayout="column" fxLayoutAlign="start center" class="client-workflow--table u-w--100">
        <div fxLayout="row" fxLayoutAlign="end start" class="u-w--100">
            <mat-slide-toggle class="green-slide-toggle" color="primary" [(ngModel)]="showHidden"
                labelPosition="before">
                Show hidden
            </mat-slide-toggle>
        </div>
        <address-table [clientId]="clientId" [isDataLoading]="isDataLoading" [dataSource]="clientAddressData" (onGetTable)="getClientAddresses()" (refreshTable)="fillAddressTable($event)"></address-table>
        <div fxLayout="row" fxLayoutAlign="end start" class="u-w--100 u-mt--15">
            <button class="button-add button-add--circled" mat-flat-button (click)="addAddress()">
                <mat-icon svgIcon="add_icon_circled"></mat-icon>
                Add address
            </button>
        </div>
        <ng-container *ngIf="showHidden">
            <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mt--10 u-mb--10">
                <h2 class="medium-grey-color text-600">Hidden</h2>
            </div>
            <address-table [hiddenAddresses]="true" [clientId]="clientId" [isDataLoading]="isDataLoading" [dataSource]="hiddenClientAddressData" (onGetTable)="getClientAddresses()" (refreshTable)="fillAddressTable($event)"></address-table>
        </ng-container>
    </div>
</div>

