@import 'mixins';
.add-attachment-cell {
	width: 100%;
	line-height: normal;
	border: 2px dashed #e7e3e8;
	padding: 12px;
}
.add-button {
	display: flex;
	align-items: center;
}
.button-labels {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.small-icon {
	@include small-icon;
}
.upload-tip {
	color: #696964;
}
.add-label {
	margin-left: 10px;
	font-weight: 700;
	color: #17a297;
	font-size: 16px;
}
.file-container {
	padding: 12px;
	border: 1px solid #e7e3e8;
	display: flex;
	justify-content: space-between;
	align-items: center;

    gap: 15px;
}
.file-item-left {
	display: flex;

	max-width: calc(100% - 15px);
}

.file-label {
	flex-grow: 1;

	padding-left: 15px;
	font-weight: 700;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}