<div class="editor" #editor></div>

<app-insert-merge-field-popup #mergePopup [fields]="mergeFields" (mergeField)="mergeSelectedField($event)">
</app-insert-merge-field-popup>
<app-compare-select-version-popup
	#compareVersionPopup
	[dataSource]="templateVersions || []"
	(select)="onVersionCompareSelect($event)"></app-compare-select-version-popup>
<app-compare-select-document-popup
	#compareDocumentPopup
	[dataSource]="documents"
	(select)="onTemplateCompareSelect($event)"></app-compare-select-document-popup>
