<div class="client-documents">
    <mat-tab-group class="client-documents--tabs">
        <mat-tab label="Important docs">
            Important docs
        </mat-tab>
        <mat-tab label="General docs">
            General docs
        </mat-tab>
        <mat-tab label="Evals">
            <div fxLayout="column" fxLayoutAlign="start center" class="client-list--table u-w--100">
                <div fxLayout="column" fxFlexFill>
                    <mat-table #table [dataSource]="evalsDocumentsDataSource" class="rounded-table u-w--100" matSort
                        matSortStart="asc" (matSortChange)="sortChanged($event)">
                        <ng-container matColumnDef="local">
                            <mat-header-cell *matHeaderCellDef fxFlex="15%"> Local </mat-header-cell>
                            <mat-cell *matCellDef="let row" fxFlex="15%">
                                <span class="text-truncate-ellipsis" [matTooltip]="row.headline">
                                    {{row.headline}}
                                </span>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="english">
                            <mat-header-cell *matHeaderCellDef fxFlex="15%"> English </mat-header-cell>
                            <mat-cell *matCellDef="let row" fxFlex="15%">
                                <span class="text-truncate-ellipsis" [matTooltip]="row?.status?.name">
                                    {{row?.status?.name}}
                                </span>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="averageScore">
                            <mat-header-cell *matHeaderCellDef fxFlex="10%"> Average score </mat-header-cell>
                            <mat-cell *matCellDef="let row" fxFlex="10%">
                                <span class="text-truncate-ellipsis" [matTooltip]="row.clientDeadline">
                                    {{row.clientDeadline}}
                                </span>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="consultantName">
                            <mat-header-cell *matHeaderCellDef fxFlex="20%"> Consultant name </mat-header-cell>
                            <mat-cell *matCellDef="let row" fxFlex="20%">
                                <span class="text-truncate-ellipsis" [matTooltip]="row?.dateAdded">
                                    {{row?.dateAdded}}
                                </span>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="evaluator">
                            <mat-header-cell *matHeaderCellDef fxFlex="20%"> Evaluator </mat-header-cell>
                            <mat-cell *matCellDef="let row" fxFlex="20%">
                                <span class="text-truncate-ellipsis" [matTooltip]="row?.projectType?.name">
                                    {{row?.projectType?.name}}
                                </span>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="evaluationDate">
                            <mat-header-cell *matHeaderCellDef fxFlex="20%"> Date of evaluation </mat-header-cell>
                            <mat-cell *matCellDef="let row" fxFlex="20%">
                                <span class="text-truncate-ellipsis" [matTooltip]="row.priority">
                                    {{row.priority}}
                                </span>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="evalsDocsDisplayColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: evalsDocsDisplayColumns;" class="mat-elevation-z0">
                        </mat-row>
                    </mat-table>
                    <div class="spinner-container" *ngIf="isDataLoading">
                        <mat-spinner [diameter]="50"></mat-spinner>
                    </div>
                    <div class="results-not-found" *ngIf="totalCount === 0 && !isDataLoading">
                        RESULTS NOT FOUND
                    </div>
                </div>
                <div class="pagination-contaier">
                    <mat-paginator #clientsPaginator [length]="totalCount" [pageSize]="deafultPageSize"
                        [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true" (page)="pageChanged($event)">
                    </mat-paginator>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Contracts">
            <div class="client-documents--contract">
                <div fxLayout="row" fxLayoutAlign="space-between center"
                    class="u-w--100 client-documents--contract-filter">
                    <div fxFlex="20%">
                        <mat-form-field appearance="outline"
                            class="u-w--100 formFieldNoMarginPadding greenFilterInput client-documents--contract-filter__input mat-elevation-z0">
                            <mat-label>Search</mat-label>
                            <input autocomplete="off" matInput [formControl]="clientFilter" placeholder="Search"
                                type="text">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>

                    <div fxFlex="20%">
                        <mat-form-field appearance="outline"
                            class="u-w--100 formFieldNoMarginPadding client-documents--contract-filter__select">
                            <mat-label>Account manager</mat-label>
                            <mat-select [formControl]="dataFilter" placeholder="Account manager">
                                <mat-option *ngFor="let item of [0,1,2,3]" [value]="item">
                                    {{ item }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center" class="u-mt--20 client-contracts-tree">
                    <mat-tree [dataSource]="flatDataSource" [treeControl]="flatTreeControl">
                        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding [ngStyle]="{ 'margin-bottom: 8px' : node.level === 0, 'padding-bottom: 8px': node.level > 0 }"
                            [class.odd-node]="isOdd(node)" [class.parent-is-odd-node]="isParentOdd(node)">
                            <div class="client-contracts-tree--node column">
                                <div class="flex-row">
                                    <b>{{node.name}}</b>
                                </div>
                                <ng-container *ngIf="node.files?.length">
                                    <div *ngFor="let file of node.files" class="column u-mt--20">
                                      {{ file }}
                                    </div>
                                </ng-container>
                            </div>
                            <!-- <button *ngif="hasFiles(node)" mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                                <mat-icon class="mat-icon-rtl-mirror">
                                    {{flatTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                </mat-icon>
                            </button> -->
                        </mat-tree-node>
                        <mat-tree-node *matTreeNodeDef="let node;when: hasFiles" matTreeNodePadding [ngStyle]="{ 'margin-bottom: 8px' : node.level === 0, 'padding-bottom: 8px': node.level > 0 }"
                            [class.odd-node]="isOdd(node)" [class.parent-is-odd-node]="isParentOdd(node)">
                            <div class="client-contracts-tree--node column">
                                <div class="flex-row">
                                    <b>{{node.name}}</b>
                                </div>
                                <ng-container *ngIf="node.files?.length && flatTreeControl.isExpanded(node)">
                                    <div *ngFor="let file of node.files" class="column u-mt--20">
                                      {{ file }}
                                    </div>
                                </ng-container>
                            </div>
                            <button class="mat-tree--expand-btn" mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                                <mat-icon class="mat-icon-rtl-mirror">
                                    {{flatTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                </mat-icon>
                            </button>
                        </mat-tree-node>
                        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding [ngStyle]="{ 'margin-bottom: 8px' : node.level === 0, 'padding-bottom: 8px': node.level > 0 }"
                            [class.odd-node]="isOdd(node)" [class.parent-is-odd-node]="isParentOdd(node)">
                            <div class="client-contracts-tree--node column">
                                <div class="flex-row">
                                    <b>{{node.name}}</b>
                                </div>
                                <ng-container *ngIf="node.files?.length && flatTreeControl.isExpanded(node)">
                                    <div *ngFor="let file of node.files" class="column u-mt--20">
                                      {{ file }}
                                    </div>
                                </ng-container>
                            </div>
                            <button class="mat-tree--expand-btn" mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                                <mat-icon class="mat-icon-rtl-mirror">
                                    {{flatTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                </mat-icon>
                            </button>
                        </mat-tree-node>
                    </mat-tree>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>