<div class="workflow" fxFlexFill fxLayout="column" fxLayoutAlign="start start">
    <div fxLayout="row" fxLayoutAlign="start start" class="workflow-header u-w--100" fxFlex="20%" *ngIf="isExpanded">
        <div fxFlex="60%" fxLayout="column">
            <h2 class="workflow-header--title u-mb--10">Workflow</h2>
            <p class="workflow-header--client u-mb--20">Flack Danmark A/S</p>
            <div class="flex-row">
                <span class="workflow-header--status__icon"></span>
                <span class="workflow-header--status__icon"></span>
                <span class="workflow-header--status__icon"></span>
                <span class="workflow-header--status u-ml--10">
                    New workflow
                </span>
            </div>
        </div>
        <div fxFlex="40%" fxLayout="row">
            <div fxFlex="40%" fxLayout="column wrap" style="font-size: 12px;">
                <span>
                    Started: {{_workflowDataService.getWorkflowProgress?.started}}
                </span>
                <span>
                    isExtensionAdded: {{_workflowDataService.getWorkflowProgress?.isExtensionAdded}}
                </span>
                <span>
                    isExtensionCompleted: {{_workflowDataService.getWorkflowProgress?.isExtensionCompleted}}
                </span>
                <span>
                    isWorkflowSalesSaved: {{_workflowDataService.getWorkflowProgress?.isWorkflowSalesSaved}}
                </span>
                <span>
                    isWorkflowContractsSaved: {{_workflowDataService.getWorkflowProgress?.isWorkflowContractsSaved}}
                </span>
                <span>
                    isWorkflowAccountsSaved: {{_workflowDataService.getWorkflowProgress?.isWorkflowAccountsSaved}}
                </span>
                <span>
                    isPrimaryWorkflowCompleted: {{_workflowDataService.getWorkflowProgress?.isPrimaryWorkflowCompleted}}
                </span>
            </div>
            <div fxFlex="40%" fxLayout="column wrap" style="font-size: 12px;">
                <span>
                    currentlyActiveSection: {{mapSectionName(_workflowDataService.getWorkflowProgress?.currentlyActiveSection)}}
                </span>
                <span>
                    currentlyActiveStep: {{mapStepName(_workflowDataService.getWorkflowProgress?.currentlyActiveStep)}}
                </span>
                <span>
                    currentlyActiveExtensionIndex: {{_workflowDataService.getWorkflowProgress?.currentlyActiveExtensionIndex}}
                </span>
            </div>
            <div fxFlex="20%" fxLayoutAlign="center center">
                <button mat-icon-button [matMenuTriggerFor]="workflowMenu"><mat-icon>more_horiz</mat-icon></button>
                <mat-menu #workflowMenu>
                    <button
                        mat-menu-item
                        [disabled]="_workflowDataService.getWorkflowProgress?.isExtensionAdded && !_workflowDataService.getWorkflowProgress?.isExtensionCompleted"
                        (click)="addExtension()">
                        Add extension
                    </button>
                    <button
                        mat-menu-item
                        [disabled]="_workflowDataService.getWorkflowProgress?.isTerminationAdded"
                        (click)="addTermination()">
                        Add termination
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>
    <div class="workflow-content u-w--100" fxFlex="{{isExpanded ? '80%' : '100%' }}" [ngStyle]="{'height': isExpanded ? '80vh' : '100vh'}">
        <button class="workflow-content--expand" mat-icon-button (click)="expandCollapseHeader()">
            <mat-icon>{{isExpanded ? 'expand_less' : 'expand_more'}}</mat-icon>
        </button>
        <mat-tab-group class="workflow-content--tabs u-w--100" (selectedTabChange)="tabChanged($event)">
            <mat-tab *ngFor="let tab of _workflowDataService.topMenuTabs; let i = index;" [label]="tab.displayName">
                <div class="workflow-form--panel u-w--100" *ngIf="selectedTabName === 'Overview'" [ngStyle]="{'height': isExpandedAndToolbarVisible()}">
                    <ng-scrollbar #salesScrollbar>
                        <app-workflow-overview [workflowId]="workflowId"></app-workflow-overview>
                    </ng-scrollbar>
                </div>
                <!-- <ng-container *ngIf="selectedTabName === 'Workflow'"> -->
                <div class="workflow-form--panel u-w--100" *ngIf="selectedTabName === 'Workflow'" [ngStyle]="{'height': isExpandedAndToolbarVisible()}">
                    <ng-scrollbar #salesScrollbar>
                        <app-primary-workflow #primaryWorkflow [workflowId]="workflowId"></app-primary-workflow>
                    </ng-scrollbar>
                </div>
                <!-- </ng-container> -->
                <!-- <ng-container *ngIf="selectedTabName === 'Extension'"> -->
                <div class="workflow-form--panel u-w--100" *ngIf="selectedTabName === 'Extension'" [ngStyle]="{'height': isExpandedAndToolbarVisible()}">
                    <ng-scrollbar #salesScrollbar>
                        <app-extension-sales #extensionSales [selectedIndex]="extensionIndex - 1"></app-extension-sales>
                    </ng-scrollbar>
                </div>
                <!-- </ng-container> -->
            </mat-tab>
            <!-- <mat-tab label="Overview">
                <div class="workflow-form--panel u-w--100" [ngStyle]="{'height': isExpanded ? 'calc(80vh - 50px)' : 'calc(100vh - 50px)'}">
                    <app-workflow-overview></app-workflow-overview>
                </div>
            </mat-tab>
            <mat-tab label="Sales">
                <div class="workflow-form--panel u-w--100" [ngStyle]="{'height': isExpanded ? 'calc(80vh - 50px)' : 'calc(100vh - 50px)'}">
                    <ng-scrollbar #salesScrollbar>
                        <app-workflow-sales [workflowId]="workflowId" #workflowSales></app-workflow-sales>
                    </ng-scrollbar>
                </div>
            </mat-tab>
            <mat-tab label="Consultants">
                <div class="workflow-form--panel u-w--100" [ngStyle]="{'height': isExpanded ? 'calc(80vh - 50px)' : 'calc(100vh - 50px)'}">
                    Consultants
                </div>
            </mat-tab>
            <mat-tab label="Contracts">
                <div class="workflow-form--panel u-w--100" [ngStyle]="{'height': isExpanded ? 'calc(80vh - 50px)' : 'calc(100vh - 50px)'}">
                    <app-workflow-contracts></app-workflow-contracts>
                </div>
            </mat-tab>
            <mat-tab label="Accounts">
                <div class="workflow-panel u-w--100">
                    <div fxLayout="column" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                        <h2>Customer (debtor) created</h2>
                        <button color="primary" class="button-outlined mat-elevation-z0" mat-raised-button>No</button>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                        <h2>Sub contractor (creditor) created</h2>
                        <button color="primary" class="button-outlined mat-elevation-z0" mat-raised-button>Yes</button>
                    </div>
                </div>
            </mat-tab> -->
        </mat-tab-group>
        <div fxLayout="row" fxLayoutAlign="end center" class="workflow-controls" *ngIf="selectedTabName !== 'Overview'">
            <button mat-raised-button class="button-outlined mat-elevation-z0 u-mr--16" (click)="saveDraft()">Save draft</button>
            <button color="primary" class="button-accept mat-elevation-z0" mat-raised-button  (click)="completeStep()">Save</button>
        </div>
    </div>
</div>
