<section class="main" [class.page-loading]="isPageLoading">
	<div class="wrapper">
		<div *ngIf="templateVersions$ | async as templateVersions" class="versions">
			<mat-form-field *ngIf="templateVersions.length" class="dropdown" appearance="outline" floatLabel="never">
				<mat-select
					class="tmp-version-select"
					panelClass="tmp-version-select-panel"
					[formControl]="selectedVersionControl"
					placeholder="version">
					<mat-select-trigger
						[ngTemplateOutlet]="versionRowTmp"
						[ngTemplateOutletContext]="{ $implicit: selectedVersion }"></mat-select-trigger>
					<mat-option *ngFor="let template of templateVersions" [value]="template.version">
						<ng-container
							[ngTemplateOutlet]="versionRowTmp"
							[ngTemplateOutletContext]="{ $implicit: template }"></ng-container>
						<p *ngIf="template.description" class="tmp-version-description">
							{{ template.description }}
						</p>
					</mat-option>
				</mat-select>
			</mat-form-field>

			<ng-template #versionRowTmp let-templateVersion>
				<ng-container *ngIf="templateVersion">
					<div class="tmp-version-row">
						<span class="tmp-version-num">Version {{ templateVersion.version }}</span>
						<span *ngIf="templateVersion.isDraft" class="label label-info">Draft</span>
						<span *ngIf="templateVersion.envelopeStatus === 6" class="label label-voided">Voided</span>
						<span
							*ngIf="templateVersion.isCurrent && templateVersion.envelopeStatus !== 3"
							class="label label-success"
							>Current</span
						>
						<span
							*ngIf="templateVersion.isCurrent && templateVersion.envelopeStatus === 3"
							class="label label-warning"
							>Sent</span
						>
						<span class="tmp-version-date">- {{ templateVersion.createdDateUtc | momentFormat }}</span>
					</div>
				</ng-container>
			</ng-template>
		</div>

		<ng-container *ngIf="template$ | async as template">
			<div
				richEditor
				class="editor"
				[readonly]="currentVersionIsSent"
				[template]="template"
				[exportWithMergedData]="!isAgreement"
				[mergeFields]="mergeFields$ | async"
				(documentReady)="handleDocumentReady()"
				(saved)="saveAsComplete()"></div>
			<div *ngIf="commentSidebarEnabled$ | async" class="comment-sidebar">
				<app-comment-sidebar
					@inOutPaneAnimation
					(created)="createComment($event)"
					(deleted)="deleteComment($event)"
					(edited)="editComment($event)">
				</app-comment-sidebar>
			</div>
			<app-insert-merge-field-popup [fields]="mergeFields$ | async" (mergeField)="mergeSelectedField($event)">
			</app-insert-merge-field-popup>
			<app-compare-select-version-popup
				[dataSource]="templateVersions$ | async"
				(select)="loadCompareTemplateByVersion($event)"></app-compare-select-version-popup>
			<app-compare-select-document-popup
				[dataSource]="documentList$ | async"
				(select)="loadCompareDocumentTemplate($event)"></app-compare-select-document-popup>
		</ng-container>
	</div>
	<!-- *ngIf="hasUnsavedChanges$ | async" -->
	<ng-container *ngIf="isLatestVersionSelected$ | async; else prevVersions">
		<ng-container *ngIf="selectedVersion?.isCurrent">
			<div class="save-actions">
				<button class="close-btn" mat-button color="accent" (click)="cancel()">Close</button>

				<ng-container *ngIf="!(isAgreement$ | async)">
					<button [disabled]="isLoading" mat-stroked-button color="primary" (click)="saveCurrentAsDraft()">
						Save as a new version
					</button>
				</ng-container>

				<ng-container *ngIf="isAgreement$ | async">
					<button
						[disabled]="isLoading"
						mat-stroked-button
						color="primary"
						(click)="saveCurrentAsCompleteAgreementOnly()">
						{{ currentVersionIsSent ? 'Promote to draft' : 'Save as a new version' }}
					</button>

					<ng-container *ngIf="!currentVersionIsSent">
						<button [disabled]="isLoading" mat-flat-button color="primary" (click)="sendEmail()">Send</button>
					</ng-container>
				</ng-container>

				<ng-container *ngIf="!(isAgreement$ | async)">
					<button mat-flat-button color="primary" (click)="saveCurrentAsComplete(false)">Save</button>
				</ng-container>
			</div>
		</ng-container>

		<ng-container *ngIf="selectedVersion?.isDraft">
			<div class="save-actions">
				<button class="close-btn" [disabled]="isLoading" mat-button color="accent" (click)="cancel()">Close</button>

				<button [disabled]="isLoading" mat-stroked-button color="primary" (click)="saveDraftAsDraft()">
					<span>Save as a draft</span>
				</button>

				<button [disabled]="isLoading" mat-flat-button color="primary" (click)="saveDraftAsComplete()">
					<span>Complete</span>
				</button>
			</div>
		</ng-container>
	</ng-container>

	<ng-template #prevVersions>
		<div class="save-actions promote">
			<button [disabled]="isLoading" mat-stroked-button color="primary" (click)="promoteToDraft()">
				<span>Promote to draft</span>
			</button>
		</div>
	</ng-template>
</section>
