<div richEditor class="editor" (saved)="saveAsComplete()"></div>
<app-insert-merge-field-popup [fields]="mergeFields$ | async" (mergeField)="mergeSelectedField($event)">
</app-insert-merge-field-popup>
<app-compare-select-version-popup
	[dataSource]="templateVersions$ | async"
	(select)="loadCompareTemplateByVersion($event)"></app-compare-select-version-popup>
<app-compare-select-document-popup
	[dataSource]="documentList$ | async"
	(select)="loadCompareDocumentTemplate($event)"></app-compare-select-document-popup>
<ng-container *ngIf="hasUnsavedChanges$ | async">
	<div class="save-actions" [class.loading]="isLoading">
		<button (click)="cancel()">Cancel</button>

		<button (click)="saveAsDraft()">Save and draft</button>

		<button (click)="saveAsComplete()">Complete</button>
	</div>
</ng-container>
