<div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--10">
    <div fxLayout="column" fxFlexFill>
        <form [formGroup]="documentForm" class="u-w--100">
            <ng-container *ngIf="documentForm?.documents?.controls?.length">
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="workflow-documents--form__header">
                    <div fxFlex="5%">
                    </div>
                    <div fxFlex="65%">
                        Document name
                    </div>
                    <div fxFlex="15%">
                        Date
                    </div>
                    <div fxFlex="10%">
                        By
                    </div>
                    <div fxFlex="5%">
                    </div>
                </div>
            </ng-container>
            <ng-container formArrayName="documents" class="u-w--100">
                <ng-container *ngFor="let document of documentForm?.documents?.controls; index as i">
                    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="workflow-documents--form__row u-w--100" [formArrayName]="i">
                        <div fxFlex="5%" fxLayoutAlign="center center">
                            <mat-icon [matTooltip]="document.value.icon" matTooltipClass="white-tooltip" class="icon" [svgIcon]="document.value.icon"></mat-icon>
                        </div>
                        <div fxFlex="65%" class="text-truncate-ellipsis" [matTooltip]="document.value.name" matTooltipClass="white-tooltip" appShowIfTruncated>
                            {{document.value.name}}
                        </div>
                        <div fxFlex="15%" class="text-truncate-ellipsis" [matTooltip]="document.value.createdDateUtc | momentFormat" matTooltipClass="white-tooltip" appShowIfTruncated>
                            {{document.value.createdDateUtc | momentFormat}}
                        </div>
                        <div fxFlex="10%" class="text-truncate-ellipsis" [matTooltip]="document.value.createdBy?.name" matTooltipClass="white-tooltip" appShowIfTruncated>
                            <img class="image-settings--dropdown" [src]="employeeProfileUrl(document.value.createdBy?.externalId)">
                        </div>
                        <div fxFlex="5%" fxLayoutAlign="end center">
                            <button mat-icon-button [matMenuTriggerFor]="generalDocumentMenu" class="three-dots-actions-btn"><mat-icon svgIcon="3-dots"></mat-icon></button>
                            <mat-menu #generalDocumentMenu>
                                <button
                                    class="menu-item menu-item--edit"
                                    mat-menu-item
                                    appPreventDoubleClick (throttledClick)="downloadDocument(document.value?.workflowDocumentId)">
                                    Download
                                </button>
                                <button
                                    class="menu-item menu-item--cancel"
                                    mat-menu-item
                                    appPreventDoubleClick (throttledClick)="deleteDocument(document.value.temporaryFileId, i)">
                                    Delete document
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </form>
        <!-- <ng-container *ngIf="!documentsNoData; else addDocumentContainerTemplate">
            <button class="button-add-documents mat-elevation-z0 u-mt--10 u-mb--10"  type="button" mat-flat-button appPreventDoubleClick (throttledClick)="documentsNoData = !documentsNoData">
                <mat-icon svgIcon="plus-button-icon"></mat-icon>
                Add document
            </button>
        </ng-container> -->
        <!-- <ng-template #addDocumentContainerTemplate> -->
        <div fxLayout="row" fxLayoutAlign="center center">
            <app-file-uploader (filesAdded)="tempFileAdded($event)" [withoutDisplay]="true" [acceptOnlyOneFile]="true" class="u-w--100" #fileUploader></app-file-uploader>
        </div>
        <!-- </ng-template> -->

        <!-- <div class="spinner-container" *ngIf="isGeneralDocumentsLoading">
            <mat-spinner [diameter]="50"></mat-spinner>
        </div> -->
    </div>
</div>
