<div fxLayout="row" fxLayoutAlign="start center" class="u-w--100 u-mb--10">
    <div fxLayout="column" fxFlexFill>
        <form [formGroup]="documentForm" class="u-w--100">
            <ng-container *ngIf="documentForm?.documents?.controls?.length; else noDocuments">
                <div fxLayout="row" fxLayoutAlign="space-between center" class="workflow-documents--form__header">
                    <div fxFlex="20px" class="u-mr--16">
                    </div>
                    <div fxFlex>
                        Document name
                    </div>
                    <div fxFlex="15%">
                        Date
                    </div>
                    <div fxFlex="10%" fxLayoutAlign="center center">
                        By
                    </div>
                    <div fxFlex="5%">
                    </div>
                </div>
            </ng-container>
            <ng-container formArrayName="documents" class="u-w--100">
                <ng-container
                    *ngFor="let document of documentForm?.documents?.controls; trackBy: trackByItem; index as i">
                    <div fxLayout="row" fxLayoutAlign="space-between center"
                        class="workflow-documents--form__row u-w--100" [formArrayName]="i">
                        <div fxFlex="20px" fxLayoutAlign="start center" class="u-mr--16">
                            <mat-icon [matTooltip]="document.value.icon" matTooltipClass="white-tooltip" class="icon"
                                [svgIcon]="document.value.icon"></mat-icon>
                        </div>
                        <div fxFlex class="text-truncate-ellipsis text-bold" [matTooltip]="document.value.name"
                            matTooltipClass="white-tooltip" appShowIfTruncated>
                            {{document.value.name}}
                        </div>
                        <div fxFlex="15%" class="text-truncate-ellipsis dark-grey-color text-600"
                            [matTooltip]="document.value.createdDateUtc | momentFormat" matTooltipClass="white-tooltip"
                            appShowIfTruncated>
                            {{document.value.createdDateUtc | momentFormat}}
                        </div>
                        <div fxFlex="10%" fxLayoutAlign="center center" class="text-truncate-ellipsis"
                            [matTooltip]="document.value.createdBy?.name" matTooltipClass="white-tooltip">
                            <img class="image-settings--dropdown"
                                [ngSrc]="employeePhotoUrl + document.value.createdBy?.externalId + '.jpg'" src
                                width="24" height="24" src (error)="setDefaultImage($event.target)">
                        </div>
                        <div fxFlex="5%" fxLayoutAlign="end center">
                            <button mat-icon-button [matMenuTriggerFor]="generalDocumentMenu"
                                class="three-dots-actions-btn"><mat-icon svgIcon="3-dots"></mat-icon></button>
                            <mat-menu #generalDocumentMenu>
                                <button class="menu-item green-color"
                                    [disabled]="document.value?.workflowDocumentId === null || document.value?.workflowDocumentId === undefined"
                                    mat-menu-item appPreventDoubleClick
                                    (throttledClick)="downloadDocument(document.value?.workflowDocumentId)">
                                    <mat-icon svgIcon="download-icon"></mat-icon>
                                    Download
                                </button>
                                <ng-container *ngIf="!readOnlyMode">
                                    <button class="menu-item menu-item--cancel" mat-menu-item appPreventDoubleClick
                                        (throttledClick)="confirmDeleteDocument(document.value.temporaryFileId, document.value.uploaderFile, i)">
                                        <mat-icon svgIcon="close-icon"></mat-icon>
                                        Delete document
                                    </button>
                                </ng-container>
                            </mat-menu>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
            <ng-template #noDocuments>
                <ng-container *ngIf="readOnlyMode">
                    <div fxLayout="row" fxLayoutAlign="start center"
                        class="u-w--100 border-unset bgc-white u-h--50px u-pl--18">
                        <span class="light-grey-color text-600">
                            No documents
                        </span>
                    </div>
                </ng-container>
            </ng-template>
        </form>
        <ng-container *ngIf="!readOnlyMode">
            <ng-container *ngIf="!(singleDocument && documentForm?.documents?.controls?.length)">
                <div fxLayout="row" fxLayoutAlign="center center" class="u-mt--16">
                    <app-file-uploader (filesAdded)="tempFileAdded($event)" [withoutDisplay]="true"
                        [buttonText]="'Add document'"
                        [acceptOnlyOneFile]="true" [isFileUploading]="isFileUploading" class="u-w--100"
                        #fileUploader></app-file-uploader>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>
