<ng-container *ngIf="options$ | async as options">
	<form [formGroup]="agreementFormGroup">
		<div class="page-container">
			<div class="template-settings-section">
				<h3 class="template-settings-header">Agreement settings</h3>
				<ng-container *ngIf="!editMode">
					<mat-radio-group [formControl]="creationMode" class="radio-button-group">
						<mat-radio-button
							class="option"
							[value]="creationModes.InheritedFromParent"
							(click)="modeControl$.next(creationModes.InheritedFromParent)"
							>Inherit from template</mat-radio-button
						>
						<mat-radio-button
							class="option"
							[value]="creationModes.Duplicated"
							(click)="modeControl$.next(creationModes.Duplicated)"
							>Duplicate from other agreement</mat-radio-button
						>
						<mat-radio-button
							class="option"
							[value]="creationModes.ProvidedByOtherParty"
							(click)="modeControl$.next(creationModes.ProvidedByOtherParty)"
							>Agreement provided by other party</mat-radio-button
						>
						<mat-radio-button
							class="option"
							[value]="creationModes.FromScratch"
							(click)="modeControl$.next(creationModes.FromScratch)"
							>Create from scratch</mat-radio-button
						>
					</mat-radio-group>
					<mat-divider></mat-divider>
				</ng-container>
				<ng-container *ngIf="duplicateOrInherit$ | async as templateOptions">
					<ng-container *ngIf="templateOptions.options$ | async as options">
						<emg-dropdown-autocomplete-single-select
							[options]="$any(options)"
							[outputProperty]="templateOptions.outputProperty"
							[labelKey]="templateOptions.labelKey"
							[unwrapFunction]="templateOptions.unwrapFunction"
							[label]="templateOptions.label"
							[formControlName]="templateOptions.formControlName"
							(inputEmitter)="templateOptions.optionsChanged$.next($event)">
						</emg-dropdown-autocomplete-single-select
					></ng-container>
				</ng-container>

				<div class="form-row">
					<mat-form-field appearance="outline" class="small-field">
						<mat-label>Document type</mat-label>
						<mat-select formControlName="agreementType" placeholder="Document type">
							<ng-container *ngFor="let agreementType of options[0].agreementTypes">
								<mat-option [value]="agreementType.id">
									{{ agreementType.name }}
								</mat-option>
							</ng-container>
						</mat-select>
						<mat-error>
							<app-validator [control]="agreementFormGroup.agreementType"></app-validator>
						</mat-error>
					</mat-form-field>
					<mat-form-field appearance="outline" class="small-field">
						<mat-label>Recipient type</mat-label>
						<mat-select formControlName="recipientTypeId" placeholder="Recipient type">
							<ng-container *ngFor="let recipientType of options[0].recipientTypes">
								<mat-option [value]="recipientType.id">
									{{ recipientType.name }}
								</mat-option>
							</ng-container>
						</mat-select>
						<mat-error>
							<app-validator [control]="agreementFormGroup.recipientTypeId"></app-validator>
						</mat-error>
					</mat-form-field>
				</div>
				<ng-container *ngIf="clientDropdown$ | async as clientOptions">
					<ng-container *ngIf="clientOptions.options$ | async as options">
						<emg-dropdown-autocomplete-single-select
							formControlName="recipientId"
							[labelKey]="clientOptions.labelKey"
							label="Client"
							[options]="options"
							[outputProperty]="clientOptions.outputProperty"
							(inputEmitter)="clientOptionsChanged$.next($event)"></emg-dropdown-autocomplete-single-select>
					</ng-container>
				</ng-container>
				<mat-divider></mat-divider>
				<mat-form-field appearance="outline">
					<mat-label>Agreement name</mat-label>
					<input matInput type="text" formControlName="nameTemplate" placeholder="Agreement name" />
					<mat-error><app-validator [control]="agreementFormGroup.nameTemplate"></app-validator></mat-error>
				</mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>Definition(optional)</mat-label>
					<input matInput type="text" formControlName="definition" placeholder="Definition" />
				</mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>Internal legal entity</mat-label>
					<mat-select formControlName="legalEntityId" placeholder="Internal legal entity">
						<ng-container *ngFor="let legalEntity of options[0].legalEntities">
							<mat-option [value]="legalEntity.id">
								<ng-container *ngIf="legalEntity.id">
									{{ options[1].legalEntityIds[legalEntity.id] }}
								</ng-container>
							</mat-option>
						</ng-container>
					</mat-select>
					<mat-error>
						<app-validator [control]="agreementFormGroup.legalEntityId"></app-validator>
					</mat-error>
				</mat-form-field>
				<div class="form-row">
					<mat-form-field appearance="outline" class="small-field">
						<mat-label>Sales type</mat-label>
						<mat-select formControlName="salesTypes" multiple placeholder="Sales types">
							<ng-container *ngFor="let salesType of options[0].salesTypes">
								<mat-option [value]="salesType.id">
									{{ salesType.name }}
								</mat-option>
							</ng-container>
						</mat-select>
						<mat-error>
							<app-validator [control]="agreementFormGroup.salesTypes"></app-validator>
						</mat-error>
					</mat-form-field>
					<mat-form-field appearance="outline" class="small-field">
						<mat-label>Delivery type</mat-label>
						<mat-select formControlName="deliveryTypes" multiple placeholder="Delivery type">
							<ng-container *ngFor="let deliveryType of options[0].deliveryTypes">
								<mat-option [value]="deliveryType.id">
									{{ deliveryType.name }}
								</mat-option>
							</ng-container>
						</mat-select>
						<mat-error>
							<app-validator [control]="agreementFormGroup.deliveryTypes"></app-validator>
						</mat-error>
					</mat-form-field>
				</div>
				<div class="form-row">
					<mat-form-field appearance="outline" class="small-field">
						<mat-label>Contract type</mat-label>
						<mat-select formControlName="contractTypes" multiple placeholder="Contract type">
							<ng-container *ngFor="let contractType of options[0].contractTypes">
								<mat-option [value]="contractType.id">
									{{ contractType.name }}
								</mat-option>
							</ng-container>
						</mat-select>
						<mat-error>
							<app-validator [control]="agreementFormGroup.contractTypes"></app-validator>
						</mat-error>
					</mat-form-field>
					<mat-form-field appearance="outline" class="small-field">
						<mat-label>Language of text</mat-label>
						<mat-select formControlName="language" placeholder="Language of text">
							<ng-container *ngFor="let language of options[0].languages">
								<mat-option [value]="language.id">
									{{ language.name }}
								</mat-option>
							</ng-container>
						</mat-select>
						<mat-error><app-validator [control]="agreementFormGroup.language"></app-validator></mat-error>
					</mat-form-field>
				</div>
				<mat-form-field appearance="fill" class="date-form-field">
					<mat-label>Start date - Expiration date</mat-label>
					<mat-date-range-input
						[rangePicker]="datePicker"
						[comparisonStart]="agreementFormGroup.value.startDate"
						[comparisonEnd]="agreementFormGroup.value.endDate">
						<input matStartDate placeholder="Start date" formControlName="startDate" />
						<input matEndDate placeholder="End date" formControlName="endDate" />
					</mat-date-range-input>
					<mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
					<mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
					<mat-date-range-picker #datePicker></mat-date-range-picker>
				</mat-form-field>
				<mat-form-field appearance="outline" class="textarea-form-field">
					<mat-label>Notes</mat-label>
					<textarea matInput formControlName="note" [cdkTextareaAutosize]="false" class="text-area"></textarea>
				</mat-form-field>
				<mat-checkbox formControlName="isSignatureRequired">
					<mat-label>Signature required</mat-label>
				</mat-checkbox>
				<ng-container *ngIf="agreementFormGroup.value.isSignatureRequired">
					<app-signers-table formControlName="signers"></app-signers-table>
				</ng-container>
			</div>
			<div class="attachments-section">
				<emg-file-selector
					[inheritedFiles]="preselectedFiles"
					idProp="agreementAttachmentId"
					formControlName="selectedInheritedFiles"></emg-file-selector>
				<emg-file-uploader formControlName="uploadedFiles"></emg-file-uploader>
			</div>
		</div>
		<div class="bottom-panel">
			<button mat-button>Cancel</button>
			<button mat-raised-button (click)="onSave()">Save</button>
		</div>
	</form>
</ng-container>
