<ng-container *ngIf="options$ | async as options">
	<form [formGroup]="agreementFormGroup">
		<div class="page-container">
			<div class="template-settings-section">
				<h3 class="template-settings-header">Agreement settings</h3>
				<mat-radio-group [formControl]="creationMode" class="radio-button-group">
					<ng-container *ngFor="let radioButton of creationRadioButtons">
						<mat-radio-button
							class="option"
							[ngClass]="{ 'edit-disabled': editMode }"
							[value]="radioButton.value"
							(click)="onModeControlChange(radioButton.value)">
							{{ radioButton.label }}
							<ng-container *ngIf="radioButton.infoTip">
								<mat-icon
									class="info-tip-icon"
									svgIcon="information-tip-icon"
									[customTooltip]="radioButton.infoTip"
									[showAlways]="true"></mat-icon>
							</ng-container>
						</mat-radio-button>
					</ng-container>
				</mat-radio-group>
				<mat-divider class="divider"></mat-divider>
				<div class="form-fields-container">
					<ng-container
						*ngIf="
							(clientPeriodId || consultantPeriodId) &&
							creationModeControlReplay$.value === creationModes.InheritedFromParent
						">
						<mat-form-field appearance="outline">
							<mat-label>Template type</mat-label>
							<mat-select [formControl]="workflowTemplateTypeControl">
								<ng-container *ngFor="let templateType of workflowTemplateTypes">
									<mat-option [value]="templateType.value" placeholder="Template type">
										{{ templateType.label }}
									</mat-option>
								</ng-container>
							</mat-select>
						</mat-form-field>
					</ng-container>
					<ng-container *ngIf="duplicateOrInherit$ | async as dropdownInfo">
						<ng-container *ngIf="dropdownInfo.options$ | async as templateOptions">
							<emg-dropdown-autocomplete-single-select
								[options]="$any(templateOptions)"
								[outputProperty]="dropdownInfo.outputProperty"
								[isOptionsLoading]="duplicateOptionsLoading$"
								[unwrapFunction]="dropdownInfo.unwrapFunction"
								[labelKey]="dropdownInfo.labelKey"
								[label]="dropdownInfo.label"
								[formControlName]="dropdownInfo.formControlName"
								(inputEmitter)="dropdownInfo.optionsChanged$.next($event)">
								<ng-template let-cell="option" #optionTemplate>
									<ng-container *ngIf="dropdownInfo.isDuplicate; else parentTemplate">
										<div>
											<div class="autocomplete-first-row">
												{{ cell.agreementName }}
											</div>
											<div class="autocomplete-second-row">
												{{ options[1].agreementType[cell.agreementType] }} · {{ cell.recipientName }} ·
												{{ cell.countryName }} ·
												{{ cell.startDate | momentFormat }}
											</div>
											<span *ngIf="cell.hasDraftVersion" class="draft-label">Draft</span>
										</div>
									</ng-container>
									<ng-template #parentTemplate>
										<div>
											<div class="autocomplete-first-row">
												{{ cell.name }}, {{ options[1].language[cell.languageId] }}
											</div>
											<div class="autocomplete-second-row">
												{{ options[1].agreementType[cell.agreementType] }} ·
												{{ cell.createdDateUtc | momentFormat }}
											</div>
											<span *ngIf="cell.hasDraftVersion" class="draft-label">Draft</span>
										</div>
									</ng-template>
								</ng-template>
							</emg-dropdown-autocomplete-single-select></ng-container
						>
					</ng-container>
					<div class="form-fields-container">
						<div class="form-row">
							<div class="row-cell">
								<mat-form-field appearance="outline">
									<mat-label>Recipient type</mat-label>
									<mat-select formControlName="recipientTypeId" placeholder="Recipient type">
										<ng-container *ngFor="let recipientType of options[0].recipientTypes">
											<mat-option [value]="recipientType.id">
												{{ recipientType.name }}
											</mat-option>
										</ng-container>
									</mat-select>
									<mat-error>
										<app-validator [control]="agreementFormGroup.recipientTypeId"></app-validator>
									</mat-error>
								</mat-form-field>
							</div>
							<ng-container *ngIf="documentTypes$ | async as agreementTypes">
								<div class="row-cell">
									<mat-form-field appearance="outline">
										<mat-label>Document type</mat-label>
										<mat-select formControlName="agreementType" placeholder="Document type">
											<ng-container *ngFor="let agreementType of agreementTypes">
												<mat-option [value]="agreementType.id">
													{{ agreementType.name }}
												</mat-option>
											</ng-container>
										</mat-select>
										<mat-error>
											<app-validator [control]="agreementFormGroup.agreementType"></app-validator>
										</mat-error>
									</mat-form-field>
								</div>
							</ng-container>
						</div>
						<ng-container *ngIf="recipientDropdown$ | async as recipientOptions">
							<ng-container *ngIf="recipientOptions.options$ | async as options">
								<emg-dropdown-autocomplete-single-select
									formControlName="recipientId"
									[labelKey]="recipientOptions.labelKey"
									[isOptionsLoading]="recipientOptionsLoading$"
									[label]="recipientOptions.label"
									[options]="options"
									[outputProperty]="recipientOptions.outputProperty"
									(inputEmitter)="recipientOptionsChanged$.next($event)">
									<ng-container [ngSwitch]="recipientOptions.dropdownType">
										<ng-container *ngSwitchCase="recipientDropdowns.SUPPLIER">
											<ng-template let-cell="option" #optionTemplate>
												<div>
													<div class="autocomplete-first-row">
														{{ cell.supplierName }}
													</div>
													<div class="autocomplete-second-row selected-option">
														#{{ cell.supplierId }}
														<ng-container *ngIf="cell.vatNumber">
															· {{ cell.vatNumber }}
														</ng-container>
														<ng-container *ngIf="cell.countryCode && cell.city">
															· {{ cell.city }}, {{ cell.countryCode }}
														</ng-container>
														<ng-container *ngIf="!cell.countryCode && cell.city">
															· {{ cell.city }}
														</ng-container>
													</div>
												</div>
											</ng-template>
											<ng-template #selectedOption let-cell="selectedItem">
												<div>
													<div class="autocomplete-second-row selected-option">
														#{{ cell.supplierId }}
														<ng-container *ngIf="cell.vatNumber">
															· {{ cell.vatNumber }}
														</ng-container>
														<ng-container *ngIf="cell.countryCode && cell.city">
															· {{ cell.city }}, {{ cell.countryCode }}
														</ng-container>
														<ng-container *ngIf="!cell.countryCode && cell.city">
															· {{ cell.city }}
														</ng-container>
													</div>
												</div>
											</ng-template>
										</ng-container>
										<ng-container *ngSwitchCase="recipientDropdowns.CONSULTANT">
											<ng-template let-cell="option" #optionTemplate>
												<div>
													<div class="autocomplete-first-row">
														{{ cell.name }}
													</div>
													<div class="autocomplete-second-row selected-option">
														#{{ cell.id }}
														<ng-container *ngIf="cell.vatNumber">
															· {{ cell.vatNumber }}
														</ng-container>
														<ng-container *ngIf="cell.addressCountryCode && cell.city">
															· {{ cell.city }}, {{ cell.addressCountryCode }}
														</ng-container>
														<ng-container *ngIf="!cell.addressCountryCode && cell.city">
															· {{ cell.city }}
														</ng-container>
													</div>
												</div>
											</ng-template>

											<ng-template #selectedOption let-cell="selectedItem">
												<div>
													<div class="autocomplete-second-row selected-option">
														#{{ cell.id }}
														<ng-container *ngIf="cell.vatNumber">
															· {{ cell.vatNumber }}
														</ng-container>
														<ng-container *ngIf="cell.addressCountryCode && cell.city">
															· {{ cell.city }}, {{ cell.addressCountryCode }}
														</ng-container>
														<ng-container *ngIf="!cell.addressCountryCode && cell.city">
															· {{ cell.city }}
														</ng-container>
													</div>
												</div>
											</ng-template>
										</ng-container>
										<ng-container *ngSwitchCase="recipientDropdowns.CLIENT">
											<ng-template let-cell="option" #optionTemplate>
												<div>
													<div class="autocomplete-first-row">
														{{ cell.clientName }}
													</div>
													<div class="autocomplete-second-row selected-option">
														#{{ cell.clientId }}
														<ng-container *ngIf="cell.crmClientId">
															· {{ cell.crmClientId }}
														</ng-container>
														<ng-container *ngIf="cell.addressCountryCode && cell.city">
															· {{ cell.city }} {{ cell.addressCountryCode }}
														</ng-container>
														<ng-container *ngIf="!cell.addressCountryCode && cell.city">
															· {{ cell.city }}
														</ng-container>
													</div>
												</div>
											</ng-template>
											<ng-template #selectedOption let-cell="selectedItem">
												<div>
													<div class="autocomplete-second-row selected-option">
														#{{ cell.clientId }}
														<ng-container *ngIf="cell.crmClientId">
															· {{ cell.crmClientId }}
														</ng-container>
														<ng-container *ngIf="cell.addressCountryCode && cell.city">
															· {{ cell.city }} {{ cell.addressCountryCode }}
														</ng-container>
														<ng-container *ngIf="!cell.addressCountryCode && cell.city">
															· {{ cell.city }}
														</ng-container>
													</div>
												</div>
											</ng-template>
										</ng-container>
										<ng-container *ngSwitchCase="recipientDropdowns.PDC">
											<ng-template let-cell="option" #optionTemplate>
												<div>
													<div class="autocomplete-first-row">
														{{ cell.name }}
													</div>
													<div class="autocomplete-second-row">
														#{{ cell.id }}
														<ng-container *ngIf="cell.vatNumber">
															· {{ cell.vatNumber }}
														</ng-container>
														<ng-container *ngIf="cell.countryCode && cell.city">
															· {{ cell.city }}, {{ cell.countryCode }}
														</ng-container>
														<ng-container *ngIf="!cell.countryCode && cell.city">
															· {{ cell.city }}
														</ng-container>
													</div>
												</div>
											</ng-template>
											<ng-template #selectedOption let-cell="selectedItem">
												<div>
													<div class="autocomplete-second-row selected-option">
														#{{ cell.id }}
														<ng-container *ngIf="cell.vatNumber">
															· {{ cell.vatNumber }}
														</ng-container>
														<ng-container *ngIf="cell.countryCode && cell.city">
															· {{ cell.city }} {{ cell.countryCode }}
														</ng-container>
														<ng-container *ngIf="!cell.countryCode && cell.city">
															· {{ cell.city }}
														</ng-container>
													</div>
												</div>
											</ng-template>
										</ng-container>
									</ng-container>
								</emg-dropdown-autocomplete-single-select>
							</ng-container>
						</ng-container>
						<mat-divider class="divider"></mat-divider>
						<emg-auto-name
							formControlName="nameTemplate"
							[currentAgreementId]="currentAgreement ? currentAgreement.agreementId : undefined"
							[label]="'Autoname for agreements'"
							[showSampleLabel]="editMode ? 'Show data' : 'Show sample data'"></emg-auto-name>
						<mat-form-field appearance="outline" class="textarea-form-field">
							<mat-label>Definiton(optional)</mat-label>
							<textarea
								matInput
								formControlName="definition"
								cdkTextareaAutosize
								#autosize="cdkTextareaAutosize"></textarea>
							<mat-error><app-validator [control]="agreementFormGroup.definition"></app-validator></mat-error>
						</mat-form-field>
						<mat-form-field appearance="outline">
							<mat-label>Internal legal entity</mat-label>
							<mat-select formControlName="legalEntityId" placeholder="Internal legal entity">
								<ng-container *ngFor="let legalEntity of options[0].legalEntities">
									<mat-option [value]="legalEntity.id">
										<ng-container *ngIf="legalEntity.id">
											{{ options[1].legalEntityIds[legalEntity.id] }}
										</ng-container>
									</mat-option>
								</ng-container>
							</mat-select>
							<mat-error>
								<app-validator [control]="agreementFormGroup.legalEntityId"></app-validator>
							</mat-error>
						</mat-form-field>
						<div class="form-row">
							<div class="row-cell">
								<mat-form-field appearance="outline">
									<mat-label>Sales type</mat-label>
									<mat-select formControlName="salesTypes" multiple placeholder="Sales types">
										<ng-container *ngFor="let salesType of options[0].salesTypes">
											<mat-option [value]="salesType.id">
												{{ salesType.name }}
											</mat-option>
										</ng-container>
									</mat-select>
									<mat-error>
										<app-validator [control]="agreementFormGroup.salesTypes"></app-validator>
									</mat-error>
								</mat-form-field>
							</div>
							<div class="row-cell">
								<mat-form-field appearance="outline">
									<mat-label>Delivery type</mat-label>
									<mat-select formControlName="deliveryTypes" multiple placeholder="Delivery type">
										<ng-container *ngFor="let deliveryType of options[0].deliveryTypes">
											<mat-option [value]="deliveryType.id">
												{{ deliveryType.name }}
											</mat-option>
										</ng-container>
									</mat-select>
									<mat-error>
										<app-validator [control]="agreementFormGroup.deliveryTypes"></app-validator>
									</mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="form-row">
							<div class="row-cell">
								<mat-form-field appearance="outline">
									<mat-label>Contract type</mat-label>
									<mat-select formControlName="contractTypes" multiple placeholder="Contract type">
										<ng-container *ngFor="let contractType of options[0].contractTypes">
											<mat-option [value]="contractType.id">
												{{ contractType.name }}
											</mat-option>
										</ng-container>
									</mat-select>
									<mat-error>
										<app-validator [control]="agreementFormGroup.contractTypes"></app-validator>
									</mat-error>
								</mat-form-field>
							</div>
							<div class="row-cell">
								<mat-form-field appearance="outline">
									<mat-label>Language of text</mat-label>
									<mat-select formControlName="language" placeholder="Language of text">
										<ng-container *ngFor="let language of options[0].languages">
											<mat-option [value]="language.id">
												{{ language.name }}
											</mat-option>
										</ng-container>
									</mat-select>
									<mat-error><app-validator [control]="agreementFormGroup.language"></app-validator></mat-error>
								</mat-form-field>
							</div>
						</div>
						<div class="form-row">
							<div class="start-date-section row-cell">
								<mat-form-field appearance="outline">
									<mat-label>Start date</mat-label>
									<input matInput [matDatepicker]="pickerFrom" formControlName="startDate" />
									<mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
									<mat-datepicker #pickerFrom></mat-datepicker>
									<mat-error
										><app-validator [control]="agreementFormGroup.startDate"></app-validator
									></mat-error>
								</mat-form-field>
							</div>
							<div class="end-date-section row-cell">
								<mat-form-field appearance="outline">
									<mat-label>Expiration date</mat-label>
									<input
										matInput
										[matDatepicker]="pickerTo"
										[min]="agreementFormGroup.startDate.value"
										formControlName="endDate" />
									<mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
									<mat-datepicker #pickerTo></mat-datepicker>
									<mat-error><app-validator [control]="agreementFormGroup.endDate"></app-validator></mat-error>
								</mat-form-field>
								<mat-checkbox [formControl]="noExpirationDateControl"
									><span class="no-expiration-date-label"> No expiration date </span></mat-checkbox
								>
							</div>
						</div>
					</div>
				</div>
				<div class="bottom-fields">
					<mat-form-field appearance="outline" class="textarea-form-field">
						<mat-label>Notes</mat-label>
						<textarea matInput formControlName="note" cdkTextareaAutosize #autosize="cdkTextareaAutosize"></textarea>
						<mat-error><app-validator [control]="agreementFormGroup.note"></app-validator></mat-error>
					</mat-form-field>
					<mat-checkbox formControlName="receiveAgreementsFromOtherParty" class="checkbox-text">
						Receive agreement from other party
					</mat-checkbox>
					<mat-divider></mat-divider>
					<ng-container *ngIf="!agreementFormGroup.value.receiveAgreementsFromOtherParty">
						<mat-checkbox formControlName="isSignatureRequired" class="checkbox-text">
							<mat-label>Signature required</mat-label>
						</mat-checkbox>
					</ng-container>
				</div>
				<ng-container *ngIf="agreementFormGroup.value.isSignatureRequired">
					<app-signers-table
						[supplier]="{
							typeId: agreementFormGroup.get('recipientTypeId').value,
							id: agreementFormGroup.get('recipientId').value
						}"
						formControlName="signers"></app-signers-table>
				</ng-container>
			</div>
			<div class="left-panel-section">
				<ng-container *ngIf="workflowSummary">
					<div class="workflow-section box-section">
						<app-workflow-info-display-panel [workflowSummary]="workflowSummary"></app-workflow-info-display-panel>
					</div>
				</ng-container>
				<div class="attachment-section box-section">
					<h3 class="template-settings-header">Attachments</h3>
					<ng-container *ngIf="agreementFormGroup.parentSelectedAttachmentIds">
						<emg-file-selector
							[preselectAll]="!editMode"
							[inheritedFiles]="attachmentsFromParent"
							[label]="'Inherited from parent'"
							formControlName="parentSelectedAttachmentIds"></emg-file-selector>
					</ng-container>
					<emg-file-uploader
						[preselectedFiles]="preselectedFiles"
						[label]="'Current agreement'"
						idProp="agreementAttachmentId"
						formControlName="attachments"></emg-file-uploader>
				</div>
			</div>
		</div>
		<div class="bottom-panel">
			<button mat-button (click)="navigateBack()" class="cancel-button">Close</button>
			<button mat-raised-button type="button" (click)="onSave()">{{ isLocked ? 'Edit' : nextButtonLabel }}</button>
		</div>
	</form>
</ng-container>
