@import "/src/app/shared/styles/config/_colors";

.margin {
    &-header {
        color: rgba($color: $dark-grey-color, $alpha: 0.77);
        font-size: 12px;
    }
    &-value {
        color: $dark-grey-color;
        font-size: 12px;
    }
}
