@import 'mixins';
@import 'variables';
app-agreements {
	.table-cell {
		@include table-cell(600);
	}
	.agreement-name-cell {
		@include table-cell(700);
	}
	.table {
		max-height: calc(100vh - 300px);
		border-collapse: separate;
		overflow: hidden;
		flex: 1 1 0;
		padding: 0px 14px 14px 0px;
	}
	.mat-column-language .mat-icon-button .mat-button-wrapper mat-icon {
		font-size: 10px !important;
		line-height: 10px !important;
		width: 10px !important;
		height: 10px !important;
	}
	.actions-column .mat-icon-button .mat-button-wrapper mat-icon {
		font-size: 20px !important;
		line-height: 20px !important;
		width: 20px !important;
		height: 20px !important;
	}
	.select-column {
		@include table-cell-width(88px);
	}
	.language-column {
		@include table-cell-width(30px);
	}
	.id-column {
		@include table-cell-width(61px);
	}
	.agreement-name-column {
		@include table-cell-width(354px);
		box-shadow: 4px 0px 0px rgba(231, 227, 232, 0.5), 6px 0px 0px rgba(225, 220, 225, 0.3), 8px 0px 0px rgba(217, 217, 217, 0);
	}
	.actual-recipient-column {
		@include table-cell-width(139px);
	}
	.recipientId-column {
		@include table-cell-width(106px);
	}
	.agreementType-column {
		@include table-cell-width(56px);
	}
	.legalEntityId-column {
		@include table-cell-width(139px);
	}
	.client-column {
		@include table-cell-width(178px);
	}
	.company-column {
		@include table-cell-width(176px);
	}
	.consultant-column {
		@include table-cell-width(176px);
	}
	.salesType-column {
		@include table-cell-width(141px);
	}
	.deliveryType-column {
		@include table-cell-width(96px);
	}
	.contractType-column {
		@include table-cell-width(98px);
	}
	.mode-column {
		@include table-cell-width(60px);
	}
	.status-column {
		@include table-cell-width(63px);
	}
	.start-date-column {
		@include table-cell-width(90px);
	}
	.end-date-column {
		@include table-cell-width(90px);
	}
	.saleManager-column {
		@include table-cell-width(48px);
	}
	.contractManager-column {
		@include table-cell-width(40px);
	}
	.actions-column {
		@include table-cell-width(40px);
	}
	.mat-cell:first-of-type {
		padding-left: 50px;
	}
	.mat-header-cell:first-of-type {
		padding-left: 50px;
	}
	.mat-header-cell:last-of-type {
		padding-right: 0px;
	}
	.mat-cell:last-of-type {
		padding-right: 0px;
	}
	.table-section {
		max-width: fit-content;
	}
	.mat-paginator {
		max-width: 1300px;
	}
	.icon {
		width: 8px;
	}
	.country-icon {
		width: 18px;
		height: 18px;
		border-radius: 50%;
		background-size: cover;
	}
	.tenant-menu {
		width: 213px;
		display: flex;
		align-items: center;
	}
	.date-row {
		display: flex;
		justify-content: space-between;
		gap: 12px;
	}

	.table-and-preview-container {
		display: flex;
	}
	.table-container {
		flex-grow: 1;
	}
}
