<div class="client-documents">
    <mat-tab-group class="client-documents--tabs" #documentsTabs>
        <mat-tab label="Important docs">
            Important docs
        </mat-tab>
        <mat-tab label="General docs">
            General docs
        </mat-tab>
        <mat-tab label="Evals">
            <div fxLayout="column" fxLayoutAlign="start center" class="client-list--table u-w--100">
                <div fxLayout="column" fxFlexFill>
                    <mat-table #table [dataSource]="evalsDocumentsDataSource" class="rounded-table u-w--100" matSort
                        matSortStart="asc" (matSortChange)="sortChanged($event)">
                        <ng-container matColumnDef="local">
                            <mat-header-cell *matHeaderCellDef fxFlex="15%"> Local </mat-header-cell>
                            <mat-cell *matCellDef="let row" fxFlex="15%">
                                <span class="text-truncate-ellipsis" [matTooltip]="row.headline">
                                    {{row.headline}}
                                </span>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="english">
                            <mat-header-cell *matHeaderCellDef fxFlex="15%"> English </mat-header-cell>
                            <mat-cell *matCellDef="let row" fxFlex="15%">
                                <span class="text-truncate-ellipsis" [matTooltip]="row?.status?.name">
                                    {{row?.status?.name}}
                                </span>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="averageScore">
                            <mat-header-cell *matHeaderCellDef fxFlex="10%"> Average score </mat-header-cell>
                            <mat-cell *matCellDef="let row" fxFlex="10%">
                                <span class="text-truncate-ellipsis" [matTooltip]="row.clientDeadline">
                                    {{row.clientDeadline}}
                                </span>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="consultantName">
                            <mat-header-cell *matHeaderCellDef fxFlex="20%"> Consultant name </mat-header-cell>
                            <mat-cell *matCellDef="let row" fxFlex="20%">
                                <span class="text-truncate-ellipsis" [matTooltip]="row?.dateAdded">
                                    {{row?.dateAdded}}
                                </span>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="evaluator">
                            <mat-header-cell *matHeaderCellDef fxFlex="20%"> Evaluator </mat-header-cell>
                            <mat-cell *matCellDef="let row" fxFlex="20%">
                                <span class="text-truncate-ellipsis" [matTooltip]="row?.projectType?.name">
                                    {{row?.projectType?.name}}
                                </span>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="evaluationDate">
                            <mat-header-cell *matHeaderCellDef fxFlex="20%"> Date of evaluation </mat-header-cell>
                            <mat-cell *matCellDef="let row" fxFlex="20%">
                                <span class="text-truncate-ellipsis" [matTooltip]="row.priority">
                                    {{row.priority}}
                                </span>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="evalsDocsDisplayColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: evalsDocsDisplayColumns;" class="mat-elevation-z0">
                        </mat-row>
                    </mat-table>
                    <div class="spinner-container" *ngIf="isDataLoading">
                        <mat-spinner [diameter]="50"></mat-spinner>
                    </div>
                    <div class="results-not-found" *ngIf="totalCount === 0 && !isDataLoading">
                        RESULTS NOT FOUND
                    </div>
                </div>
                <div class="pagination-contaier">
                    <mat-paginator #clientsPaginator [length]="totalCount" [pageSize]="deafultPageSize"
                        [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true" (page)="pageChanged($event)">
                    </mat-paginator>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Contracts">
            <div class="client-documents--contract">
                <div fxLayout="row" fxLayoutAlign="space-between center"
                    class="u-w--100 client-documents--contract-filter">
                    <div fxFlex="20%">
                        <mat-form-field appearance="outline"
                            class="u-w--100 client-documents--contract-filter__input mat-elevation-z0">
                            <mat-label>Search</mat-label>
                            <input autocomplete="off" matInput [formControl]="clientFilter" placeholder="Search"
                                type="text">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>

                    <div fxFlex="20%">
                        <mat-form-field appearance="outline"
                            class="u-w--100  client-documents--contract-filter__select">
                            <mat-label>Account manager</mat-label>
                            <mat-select [formControl]="dataFilter" placeholder="Account manager">
                                <mat-option *ngFor="let item of [0,1,2,3]" [value]="item">
                                    {{ item }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center" class="u-mt--20 client-documents--contract-folders u-w--100">
                    <mat-accordion [multi]="true" class="mat-elevation-z0">
                        <mat-expansion-panel *ngFor="let folder of contractFolders" class="mat-elevation-z0"
                            [ngClass]="{'even-folder': folder.level && folder.level % 2 === 0}">
                            <mat-expansion-panel-header [collapsedHeight]="'44px'" [expandedHeight]="'44px'" [ngClass]="{ 'u-pr--32': folder.level === 1, 'u-pr--24': folder.level === 2, 'u-pr--16': folder.level === 3}">
                                <div class="flex-row flex-justify-between flex-items-center u-w--100 u-mr--10">
                                    <h4 class="u-mb--0">
                                        {{folder.name}}
                                    </h4>
                                    <button class="client-documents--contract__action-btn u-mr--10" mat-icon-button [matMenuTriggerFor]="contractActions" [matMenuTriggerData]="{folder: folder}" (click)="$event.stopPropagation()"><mat-icon>more_vert</mat-icon></button>
                                </div>
                            </mat-expansion-panel-header>
                            <div *ngIf="folder.files?.length" class="column u-pl--16">
                                <div *ngFor="let file of folder.files; last as last" [ngClass]="{'u-mb--20': !last}">
                                  {{ file }}
                                </div>
                            </div>
                            <ng-container [ngTemplateOutlet]="folder.children?.length ? nestedFolder : simpleFolder"
                                          [ngTemplateOutletContext]="{folders:folder.children}">
                            </ng-container>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <mat-menu #contractActions="matMenu" [overlapTrigger]="false" (click)="$event.stopPropagation();">
                        <ng-template matMenuContent let-folder="folder">
                            <button mat-menu-item (click)="addFile(folder)">
                                Add file
                            </button>
                            <button mat-menu-item (click)="addFolder(folder)" *ngIf="folder.level !== 3">
                                Add folder
                            </button>
                            <button mat-menu-item (click)="confirmDeleteFolder(folder)">
                                Delete folder
                            </button>
                        </ng-template>
                    </mat-menu>
                    <ng-template #nestedFolder let-folders='folders'>
                        <mat-accordion [multi]="true" class="mat-elevation-z0">
                            <mat-expansion-panel *ngFor="let folder of folders" class="mat-elevation-z0" [ngClass]="{'even-folder': folder.level && folder.level % 2 === 0}">
                                <mat-expansion-panel-header [collapsedHeight]="'44px'" [expandedHeight]="'44px'" [ngClass]="{ 'u-pr--32': folder.level === 1, 'u-pr--24': folder.level === 2, 'u-pr--16': folder.level === 3}">
                                    <div class="flex-row flex-justify-between flex-items-center u-w--100 u-mr--10">
                                        <h4 class="u-mb--0">
                                            {{folder.name}}
                                        </h4>
                                        <button class="client-documents--contract__action-btn u-mr--10" mat-icon-button [matMenuTriggerFor]="contractActions" [matMenuTriggerData]="{folder: folder}" (click)="$event.stopPropagation()"><mat-icon>more_vert</mat-icon></button>
                                    </div>
                                </mat-expansion-panel-header>
                                <div *ngIf="folder.files?.length" class="column u-pl--16">
                                    <div *ngFor="let file of folder.files; last as last" [ngClass]="{'u-mb--20': !last}">
                                      {{ file }}
                                    </div>
                                </div>
                                <ng-container [ngTemplateOutlet]="folder.children?.length ? nestedFolder : simpleFolder"
                                              [ngTemplateOutletContext]="{folders:folder.children}">
                                </ng-container>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </ng-template>
                    <ng-template #simpleFolder let-folders='folders'>
                        <div style="display: none;">
                        </div>
                    </ng-template>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>

<div class="client-documents u-w--100" fxLayout="row" fxFlexAlign="">
    <div class="client-documents--sidenav">
        <div
            class="client-documents--sidenav__item"
            *ngFor="let item of documentSideNavigation"
            [ngClass]="{'selected-sidenav': item.selected}"
            (click)="selectSideNav(item)">
            {{item.name}}
        </div>
    </div>
    <div class="client-documents--content">
        <ng-container [ngSwitch]="selectedItem">
            <ng-container *ngSwitchCase="documentSideItems.General">
                General
            </ng-container>
            <ng-container *ngSwitchCase="documentSideItems.Contracts">
                Contracts
            </ng-container>
            <ng-container *ngSwitchCase="documentSideItems.Evaluations">
                Evaluations
            </ng-container>
        </ng-container>
    </div>
</div>
