<div class="client-documents u-w--100" fxLayout="row">
    <div class="client-documents--sidenav" fxFlex="15%">
        <div class="client-documents--sidenav__item cursor-pointer flex-items-center"
             *ngFor="let item of documentSideNavigation"
             [ngClass]="{'selected-sidenav': item.selected}"
             appPreventDoubleClick (throttledClick)="selectSideNav(item)">
            {{item.name}}
        </div>
    </div>
    <div class="client-documents--content" fxFlex="85%">
        <ng-container [ngSwitch]="selectedItem">
            <ng-container *ngSwitchCase="documentSideItems.General">
                <div fxLayout="column" fxLayoutAlign="start end" class="client-documents--form u-w--100">
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="u-mb--15">
                        <mat-checkbox color="accent" name="generalDocumentsIncludeLinked" [formControl]="generalDocumentsIncludeLinked" class="black-checkbox u-w--100 u-mr--16">
                            Include linked clients
                        </mat-checkbox>
                    </div>
                    <div fxLayout="column" fxFlexFill>
                        <form [formGroup]="generalDocumentForm" class="u-w--100">
                            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="client-documents--form__header">
                                <div fxFlex="5%">
                                </div>
                                <div fxFlex="25%">
                                    Document title
                                </div>
                                <div fxFlex="25%">
                                    Filename
                                </div>
                                <div fxFlex="15%">
                                    Type
                                </div>
                                <div fxFlex="10%">
                                    Date
                                </div>
                                <div fxFlex="10%">
                                    Uploaded by
                                </div>
                                <div fxFlex="10%">
                                </div>
                            </div>
                            <ng-container formArrayName="documents" class="u-w--100">
                                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="client-documents--form__row u-w--100"
                                    *ngFor="let document of generalDocumentForm?.documents?.controls; index as i"
                                    [formArrayName]="i">
                                    <div fxFlex="5%" fxLayoutAlign="center center">
                                        <mat-icon [matTooltip]="document.value.icon" matTooltipClass="white-tooltip" class="icon" [svgIcon]="document.value.icon"></mat-icon>
                                    </div>
                                    <ng-container *ngIf="document.value.editable; else generalDocumentHeadlineDisplay">
                                        <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select" fxFlex="25%">
                                            <input matInput type="text" formControlName="headline" placeholder="Headline" />
                                        </mat-form-field>
                                    </ng-container>
                                    <ng-template #generalDocumentHeadlineDisplay>
                                        <div fxFlex="25%" class="text-truncate-ellipsis" [matTooltip]="document.value.headline" matTooltipClass="white-tooltip" appShowIfTruncated>
                                            {{document.value.headline}}
                                        </div>
                                    </ng-template>
                                    <div fxFlex="25%" class="text-truncate-ellipsis" [matTooltip]="document.value.filename" matTooltipClass="white-tooltip" appShowIfTruncated>
                                        {{document.value.filename}}
                                    </div>
                                    <ng-container *ngIf="document.value.editable; else generalDocumentFileTypeDisplay">
                                        <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select" fxFlex="15%">
                                            <mat-select formControlName="attachmentTypeId" placeholder="File type" [disableOptionCentering]="true" [compareWith]="compareWithFn">
                                                <mat-option *ngFor="let item of generalFileTypes" [value]="item">
                                                    {{ item.name }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </ng-container>
                                    <ng-template #generalDocumentFileTypeDisplay>
                                        <div fxFlex="15%" class="text-truncate-ellipsis" [matTooltip]="document.value.attachmentTypeId?.name" matTooltipClass="white-tooltip" appShowIfTruncated>
                                            {{document.value.attachmentTypeId?.name}}
                                        </div>
                                    </ng-template>
                                    <div fxFlex="10%" class="text-truncate-ellipsis" [matTooltip]="document.value.dateUpdated | momentFormat" matTooltipClass="white-tooltip" appShowIfTruncated>
                                        {{document.value.dateUpdated | momentFormat}}
                                    </div>
                                    <div fxFlex="10%" class="text-truncate-ellipsis" [matTooltip]="document.value.updatedBy" matTooltipClass="white-tooltip" appShowIfTruncated>
                                        {{document.value.updatedBy}}
                                    </div>
                                    <ng-container *ngIf="document.value.editable; else generalDocumentActionsDisplay">
                                        <div fxFlex="10%" fxLayoutAlign="end center" class="u-w--100 text-truncate-ellipsis">
                                            <button mat-icon-button appPreventDoubleClick (throttledClick)="editOrSaveGeneralDocument(document.value.editable, i)" class="rates-and-fees--inline-edit-form--btn__save">
                                                <mat-icon svgIcon="rates-save-icon"></mat-icon>
                                            </button>
                                            <button mat-icon-button appPreventDoubleClick (throttledClick)="cancelEditGeneralDocument(i)" class="rates-and-fees--inline-edit-form--btn__cancel">
                                                <mat-icon svgIcon="rates-cancel-icon"></mat-icon>
                                            </button>
                                        </div>
                                    </ng-container>
                                    <ng-template #generalDocumentActionsDisplay>
                                        <div fxFlex="10%" fxLayoutAlign="end center">
                                            <button mat-icon-button [matMenuTriggerFor]="generalDocumentMenu" class="three-dots-actions-btn"><mat-icon svgIcon="3-dots"></mat-icon></button>
                                            <mat-menu #generalDocumentMenu>
                                                <button
                                                    class="menu-item green-color"
                                                    mat-menu-item
                                                    [disabled]="isGeneralDocumentEditing"
                                                    appPreventDoubleClick (throttledClick)="editOrSaveGeneralDocument(document.value.editable, i)">
                                                    Edit
                                                </button>
                                                <button
                                                    class="menu-item green-color"
                                                    mat-menu-item
                                                    appPreventDoubleClick (throttledClick)="downloadDocument(document.value?.documentStorageGuid)">
                                                    Download
                                                </button>
                                                <button
                                                    class="menu-item menu-item--cancel"
                                                    mat-menu-item
                                                    appPreventDoubleClick (throttledClick)="deleteGeneralDocument(document.value?.clientAttachmentGuid)">
                                                    Delete document
                                                </button>
                                            </mat-menu>
                                        </div>
                                    </ng-template>
                                </div>
                            </ng-container>
                        </form>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <app-file-uploader (filesAdded)="openDialogToAddFile($event)" [buttonText]="'Add document'" [withoutDisplay]="true"
                                [acceptOnlyOneFile]="true" class="u-w--100" #fileUploader></app-file-uploader>
                        </div>
                        <ng-container *ngIf="isGeneralDocumentsLoading">
                            <div class="spinner-container">
                                <mat-spinner [diameter]="50"></mat-spinner>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="documentSideItems.Contracts">
                <div fxLayout="column" fxLayoutAlign="start end" class="client-documents--contract u-w--100">
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="u-mb--15 client-documents--contract-filter">
                        <mat-checkbox color="accent" name="contractDocumentsIncludeLinked" [formControl]="contractDocumentsIncludeLinked" class="black-checkbox u-w--100 u-mr--16">
                            Include linked clients
                        </mat-checkbox>
                        <mat-checkbox color="accent" name="contractDocumentsIncludeExpired" [formControl]="contractDocumentsIncludeExpired" class="black-checkbox u-w--100">
                            Include expired
                        </mat-checkbox>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center" class="u-mt--20 client-documents--contract-folders u-w--100">

                        <!-- Frame agreements -->
                        <mat-accordion [multi]="true" togglePosition="before" class="mat-elevation-z0">
                            <mat-expansion-panel #frameAgreementsPanel class="mat-elevation-z0 contract-parent--folder" [ngClass]="{'noFiles': contractsDocuments?.frameAgreements?.length === 0}" hideToggle>
                                <mat-expansion-panel-header
                                    [collapsedHeight]="'44px'"
                                    [expandedHeight]="'44px'">
                                    <div class="width-fit-content" fxLayout="row" fxLayoutAlign="start center" (click)="contractsDocuments?.frameAgreements?.length === 0 ? $event.preventDefault() : ''" matTooltipClass="white-tooltip" [matTooltip]="contractsDocuments?.frameAgreements?.length === 0 ? 'No documents of this type' : ''">
                                        <mat-panel-description>
                                            <mat-icon class="documents-chevron" [ngClass]="{'expanded-chevron': frameAgreementsPanel.expanded}" svgIcon="chevron-green-big"></mat-icon>
                                        </mat-panel-description>
                                        <h4 class="u-mb--0">
                                            Frame agreements
                                        </h4>
                                    </div>
                                </mat-expansion-panel-header>
                                <ng-template matExpansionPanelContent>
                                    <mat-accordion [multi]="true" togglePosition="before" class="mat-elevation-z0">
                                        <ng-container *ngIf="contractsDocuments?.frameAgreements?.length; else noFilesTemplate">
                                            <ng-container *ngFor="let frame of contractsDocuments?.frameAgreements; trackBy: trackById">
                                                <mat-expansion-panel #singleAgreementPanel class="mat-elevation-z0" [ngClass]="{'noFiles': frame.documents?.length === 0}" hideToggle>
                                                    <mat-expansion-panel-header
                                                        [collapsedHeight]="'44px'"
                                                        [expandedHeight]="'44px'">
                                                        <div class="width-fit-content" fxLayout="row" fxLayoutAlign="start center" (click)="frame.documents?.length === 0 ? $event.preventDefault() : ''" matTooltipClass="white-tooltip" [matTooltip]="frame.documents?.length === 0 ? 'No documents of this type' : ''">
                                                            <mat-panel-description>
                                                                <mat-icon class="documents-chevron" [ngClass]="{'expanded-chevron': singleAgreementPanel.expanded}" svgIcon="chevron-green-big"></mat-icon>
                                                            </mat-panel-description>
                                                            <h4 class="u-mb--0">
                                                                {{frame.name}} {{frame.startDate | momentFormat}}
                                                            </h4>
                                                        </div>
                                                    </mat-expansion-panel-header>
                                                    <ng-container *ngIf="frame.documents?.length">
                                                        <div class="u-ml--32">
                                                            <ng-container *ngFor="let file of frame.documents; trackBy: documentsTrackBy; last as last">
                                                                <div class="width-fit-content cursor-pointer" fxLayout="row" fxLayoutAlign="start center" [ngClass]="{'u-mb--20': !last}" (click)="downloadDocument(file.documentStorageGuid!)" matTooltip="Download" matTooltipClass="white-tooltip">
                                                                    <mat-icon class="icon cursor-pointer u-mr--5" [svgIcon]="contractIcons[file.type!]"></mat-icon>
                                                                    <span class="text-bold">
                                                                        {{ file.name }}
                                                                    </span>
                                                                </div>
                                                            </ng-container>
                                                        </div>
                                                    </ng-container>

                                                </mat-expansion-panel>
                                            </ng-container>
                                        </ng-container>
                                    </mat-accordion>
                                </ng-template>
                            </mat-expansion-panel>
                        </mat-accordion>

                        <!-- Workflows -->
                        <mat-accordion [multi]="true" togglePosition="before" class="mat-elevation-z0">
                            <mat-expansion-panel class="mat-elevation-z0 contract-parent--folder" #workPanel [ngClass]="{'noFiles': contractsDocuments?.workflows?.length === 0}" hideToggle>
                                <mat-expansion-panel-header
                                    [collapsedHeight]="'44px'"
                                    [expandedHeight]="'44px'">
                                    <div class="width-fit-content" fxLayout="row" fxLayoutAlign="start center" (click)="contractsDocuments?.workflows?.length === 0 ? $event.preventDefault() : ''" matTooltipClass="white-tooltip" [matTooltip]="contractsDocuments?.workflows?.length === 0 ? 'No documents of this type' : ''">
                                        <mat-panel-description>
                                            <mat-icon class="documents-chevron" [ngClass]="{'expanded-chevron': workPanel.expanded}" svgIcon="chevron-green-big"></mat-icon>
                                        </mat-panel-description>
                                        <h4 class="u-mb--0">
                                            Workflows
                                        </h4>
                                    </div>
                                </mat-expansion-panel-header>
                                <ng-template matExpansionPanelContent>
                                    <mat-accordion [multi]="true" togglePosition="before" class="mat-elevation-z0">
                                        <ng-container *ngIf="contractsDocuments?.workflows?.length; else noFilesTemplate">
                                            <ng-container *ngFor="let workflow of contractsDocuments?.workflows; trackBy: trackById">
                                                <mat-expansion-panel #workContractPanel class="mat-elevation-z0" hideToggle>
                                                    <mat-expansion-panel-header
                                                        [collapsedHeight]="'44px'"
                                                        [expandedHeight]="'44px'">
                                                        <div class="width-fit-content" fxLayout="row" fxLayoutAlign="start center">
                                                            <mat-panel-description>
                                                                <mat-icon class="documents-chevron" [ngClass]="{'expanded-chevron': workContractPanel.expanded}" svgIcon="chevron-green-big"></mat-icon>
                                                            </mat-panel-description>
                                                            <h4 class="u-mb--0">
                                                                {{workflow.name}} {{workflow.startDate | momentFormat}}
                                                            </h4>
                                                        </div>
                                                    </mat-expansion-panel-header>
                                                    <ng-template matExpansionPanelContent>
                                                        <!-- client contracts -->
                                                        <mat-accordion [multi]="true" togglePosition="before" class="mat-elevation-z0">
                                                            <mat-expansion-panel #clientContractPanel class="mat-elevation-z0" [ngClass]="{'noFiles': workflow.clientContracts?.length === 0}" hideToggle>
                                                                <mat-expansion-panel-header
                                                                    [collapsedHeight]="'44px'"
                                                                    [expandedHeight]="'44px'">
                                                                    <div class="width-fit-content" fxLayout="row" fxLayoutAlign="start center" (click)="workflow.clientContracts?.length === 0 ? $event.preventDefault() : ''" matTooltipClass="white-tooltip" [matTooltip]="workflow.clientContracts?.length === 0 ? 'No documents of this type' : ''">
                                                                        <mat-panel-description>
                                                                            <mat-icon class="documents-chevron" [ngClass]="{'expanded-chevron': clientContractPanel.expanded}" svgIcon="chevron-green-big"></mat-icon>
                                                                        </mat-panel-description>
                                                                        <h4 class="u-mb--0">
                                                                            Client contracts
                                                                        </h4>
                                                                    </div>
                                                                </mat-expansion-panel-header>
                                                                <ng-template matExpansionPanelContent>
                                                                    <mat-accordion [multi]="true" togglePosition="before" class="mat-elevation-z0">
                                                                        <ng-container *ngIf="workflow.clientContracts?.length; else noFilesTemplate">
                                                                            <ng-container *ngFor="let clientContract of workflow.clientContracts; trackBy: trackById">
                                                                                <mat-expansion-panel class="mat-elevation-z0" #singleClientContractPanel [ngClass]="{'noFiles': clientContract.documents?.length === 0}" hideToggle>
                                                                                    <mat-expansion-panel-header
                                                                                        [collapsedHeight]="'44px'"
                                                                                        [expandedHeight]="'44px'">
                                                                                        <div class="width-fit-content" fxLayout="row" fxLayoutAlign="start center" (click)="clientContract.documents?.length === 0 ? $event.preventDefault() : ''" matTooltipClass="white-tooltip" [matTooltip]="clientContract.documents?.length === 0 ? 'No documents of this type' : ''">
                                                                                            <mat-panel-description>
                                                                                                <mat-icon class="documents-chevron" [ngClass]="{'expanded-chevron': singleClientContractPanel.expanded}" svgIcon="chevron-green-big"></mat-icon>
                                                                                            </mat-panel-description>
                                                                                            <h4 class="u-mb--0 u-mr--10">
                                                                                                {{clientContract.name}}
                                                                                            </h4>
                                                                                            <span class="document-date">
                                                                                                {{clientContract.startDate | momentFormat}} - {{clientContract.endDate ? (clientContract.endDate | momentFormat) : 'No end date'}}
                                                                                            </span>
                                                                                        </div>
                                                                                    </mat-expansion-panel-header>
                                                                                    <ng-container *ngIf="clientContract.documents?.length; else noFilesTemplate">
                                                                                        <div class="u-ml--32">
                                                                                            <ng-container *ngFor="let file of clientContract.documents; trackBy: documentsTrackBy; last as last">
                                                                                                <div class="width-fit-content cursor-pointer" fxLayout="row" fxLayoutAlign="start center" [ngClass]="{'u-mb--20': !last}" (click)="downloadDocument(file.documentStorageGuid!)" matTooltip="Download" matTooltipClass="white-tooltip">
                                                                                                    <mat-icon class="icon cursor-pointer u-mr--5" [svgIcon]="contractIcons[file.type!]"></mat-icon>
                                                                                                    <span class="text-bold">
                                                                                                        {{ file.name }}
                                                                                                    </span>
                                                                                                </div>
                                                                                            </ng-container>
                                                                                        </div>
                                                                                    </ng-container>

                                                                                </mat-expansion-panel>
                                                                            </ng-container>
                                                                        </ng-container>
                                                                    </mat-accordion>
                                                                </ng-template>
                                                            </mat-expansion-panel>
                                                        </mat-accordion>
                                                        <!-- consultant contracts -->
                                                        <mat-accordion [multi]="true" togglePosition="before" class="mat-elevation-z0">
                                                            <mat-expansion-panel #consultantContractPanel class="mat-elevation-z0" [ngClass]="{'noFiles': workflow.consultantContracts?.length === 0}" hideToggle>
                                                                <mat-expansion-panel-header
                                                                    [collapsedHeight]="'44px'"
                                                                    [expandedHeight]="'44px'">
                                                                    <div class="width-fit-content" fxLayout="row" fxLayoutAlign="start center" (click)="workflow.consultantContracts?.length === 0 ? $event.preventDefault() : ''" matTooltipClass="white-tooltip" [matTooltip]="workflow.consultantContracts?.length === 0 ? 'No documents of this type' : ''">
                                                                        <mat-panel-description>
                                                                            <mat-icon class="documents-chevron" [ngClass]="{'expanded-chevron': consultantContractPanel.expanded}" svgIcon="chevron-green-big"></mat-icon>
                                                                        </mat-panel-description>
                                                                        <h4 class="u-mb--0">
                                                                            Consultant contracts
                                                                        </h4>
                                                                    </div>
                                                                </mat-expansion-panel-header>
                                                                <ng-template matExpansionPanelContent>
                                                                    <mat-accordion [multi]="true" togglePosition="before" class="mat-elevation-z0">
                                                                        <ng-container *ngIf="workflow.consultantContracts?.length; else noFilesTemplate">
                                                                            <ng-container *ngFor="let consultantContract of workflow.consultantContracts; trackBy: trackById">
                                                                                <mat-expansion-panel class="mat-elevation-z0" #singleConsultantContractPanel [ngClass]="{'noFiles': consultantContract.documents?.length === 0}" hideToggle>
                                                                                    <mat-expansion-panel-header
                                                                                        [collapsedHeight]="'44px'"
                                                                                        [expandedHeight]="'44px'">
                                                                                        <div class="width-fit-content" fxLayout="row" fxLayoutAlign="start center" (click)="consultantContract.documents?.length === 0 ? $event.preventDefault() : ''" matTooltipClass="white-tooltip" [matTooltip]="consultantContract.documents?.length === 0 ? 'No documents of this type' : ''">
                                                                                            <mat-panel-description>
                                                                                                <mat-icon class="documents-chevron" [ngClass]="{'expanded-chevron': singleConsultantContractPanel.expanded}" svgIcon="chevron-green-big"></mat-icon>
                                                                                            </mat-panel-description>
                                                                                            <h4 class="u-mb--0 u-mr--10">
                                                                                                {{consultantContract.name}}
                                                                                            </h4>
                                                                                            <span class="document-date">
                                                                                                {{consultantContract.startDate | momentFormat}} - {{consultantContract.endDate ? (consultantContract.endDate | momentFormat) : 'No end date'}}
                                                                                            </span>
                                                                                        </div>
                                                                                    </mat-expansion-panel-header>
                                                                                    <ng-container *ngIf="consultantContract.documents?.length; else noFilesTemplate">
                                                                                        <div class="u-ml--32">
                                                                                            <ng-container *ngFor="let file of consultantContract.documents; trackBy: documentsTrackBy; last as last">
                                                                                                <div class="width-fit-content cursor-pointer" fxLayout="row" fxLayoutAlign="start center" [ngClass]="{'u-mb--20': !last}" (click)="downloadDocument(file.documentStorageGuid!)" matTooltip="Download" matTooltipClass="white-tooltip">
                                                                                                    <mat-icon class="icon cursor-pointer u-mr--5" [svgIcon]="contractIcons[file.type!]"></mat-icon>
                                                                                                    <span class="text-bold">
                                                                                                        {{ file.name }}
                                                                                                    </span>
                                                                                                </div>
                                                                                            </ng-container>
                                                                                        </div>
                                                                                    </ng-container>

                                                                                </mat-expansion-panel>
                                                                            </ng-container>
                                                                        </ng-container>
                                                                    </mat-accordion>
                                                                </ng-template>
                                                            </mat-expansion-panel>
                                                        </mat-accordion>
                                                        <!-- internal contracts -->
                                                        <mat-accordion [multi]="true" togglePosition="before" class="mat-elevation-z0">
                                                            <mat-expansion-panel #internalContractPanel class="mat-elevation-z0" [ngClass]="{'noFiles': workflow.internalContracts?.length === 0}" hideToggle>
                                                                <mat-expansion-panel-header
                                                                    [collapsedHeight]="'44px'"
                                                                    [expandedHeight]="'44px'">
                                                                    <div class="width-fit-content" fxLayout="row" fxLayoutAlign="start center" (click)="workflow.internalContracts?.length === 0 ? $event.preventDefault() : ''" matTooltipClass="white-tooltip" [matTooltip]="workflow.internalContracts?.length === 0 ? 'No documents of this type' : ''">
                                                                        <mat-panel-description>
                                                                            <mat-icon class="documents-chevron" [ngClass]="{'expanded-chevron': internalContractPanel.expanded}" svgIcon="chevron-green-big"></mat-icon>
                                                                        </mat-panel-description>
                                                                        <h4 class="u-mb--0">
                                                                            Internal contracts
                                                                        </h4>
                                                                    </div>
                                                                </mat-expansion-panel-header>
                                                                <ng-template matExpansionPanelContent>
                                                                    <mat-accordion [multi]="true" togglePosition="before" class="mat-elevation-z0">
                                                                        <ng-container *ngIf="workflow.internalContracts?.length; else noFilesTemplate">
                                                                            <ng-container *ngFor="let internalContract of workflow.internalContracts; trackBy: trackById">
                                                                                <mat-expansion-panel #singleInternalContractPanel class="mat-elevation-z0" [ngClass]="{'noFiles': internalContract.documents?.length === 0}" hideToggle>
                                                                                    <mat-expansion-panel-header
                                                                                        [collapsedHeight]="'44px'"
                                                                                        [expandedHeight]="'44px'">
                                                                                        <div class="width-fit-content" fxLayout="row" fxLayoutAlign="start center" (click)="internalContract.documents?.length === 0 ? $event.preventDefault() : ''" matTooltipClass="white-tooltip" [matTooltip]="internalContract.documents?.length === 0 ? 'No documents of this type' : ''">
                                                                                            <mat-panel-description>
                                                                                                <mat-icon class="documents-chevron" [ngClass]="{'expanded-chevron': singleInternalContractPanel.expanded}" svgIcon="chevron-green-big"></mat-icon>
                                                                                            </mat-panel-description>
                                                                                            <h4 class="u-mb--0 u-mr--10">
                                                                                                {{internalContract.name}}
                                                                                            </h4>
                                                                                            <span class="document-date">
                                                                                                {{internalContract.startDate | momentFormat}} - {{internalContract.endDate ? (internalContract.endDate | momentFormat) : 'No end date'}}
                                                                                            </span>
                                                                                        </div>
                                                                                    </mat-expansion-panel-header>
                                                                                    <ng-container *ngIf="internalContract.documents?.length; else noFilesTemplate">
                                                                                        <div class="u-ml--32">
                                                                                            <ng-container *ngFor="let file of internalContract.documents; trackBy: documentsTrackBy; last as last" >
                                                                                                <div class="width-fit-content cursor-pointer" fxLayout="row" fxLayoutAlign="start center" [ngClass]="{'u-mb--20': !last}" (click)="downloadDocument(file.documentStorageGuid!)" matTooltip="Download" matTooltipClass="white-tooltip">
                                                                                                    <mat-icon class="icon cursor-pointer u-mr--5" [svgIcon]="contractIcons[file.type!]"></mat-icon>
                                                                                                    <span class="text-bold">
                                                                                                        {{ file.name }}
                                                                                                    </span>
                                                                                                </div>
                                                                                            </ng-container>
                                                                                        </div>
                                                                                    </ng-container>
                                                                                </mat-expansion-panel>
                                                                            </ng-container>
                                                                        </ng-container>
                                                                    </mat-accordion>
                                                                </ng-template>
                                                            </mat-expansion-panel>
                                                        </mat-accordion>
                                                    </ng-template>
                                                </mat-expansion-panel>
                                            </ng-container>
                                        </ng-container>
                                    </mat-accordion>
                                </ng-template>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <ng-template #noFilesTemplate>
                            <span class="u-ml--32 no-files">
                                No files
                            </span>
                        </ng-template>
                    </div>
                    <ng-container *ngIf="isContractsLoading">
                        <div class="spinner-container">
                            <mat-spinner [diameter]="50"></mat-spinner>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="documentSideItems.Evaluations">
                <div fxLayout="column" fxLayoutAlign="start start" class="client-documents--table u-w--100">
                    <div fxLayout="row" fxLayoutAlign="space-between center"class="u-w--100 u-mb--15">
                        <div fxLayout="row" fxLayoutAlign="start center"class="u-w--100 u-mb--15">
                            <span class="client-documents--filter-label u-mr--10">
                                Evaluations from
                            </span>
                            <mat-form-field appearance="fill" class="client-documents--filter-select formFieldNoMarginPadding u-mr--20">
                                <mat-select [formControl]="evaluationDocumentFromDate" name="overviewViewType" [disableOptionCentering]="true">
                                    <ng-container *ngFor="let item of evaluationFromDateList; trackBy: trackById">
                                        <mat-option [value]="item.id">
                                            {{item.name}}
                                        </mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <mat-checkbox  color="accent" name="contractDocumentsIncludeLinked" [formControl]="evaluationDocumentsIncludeLinked" class="black-checkbox u-mr--15">
                            Include linked clients
                        </mat-checkbox>
                    </div>
                    <div fxLayout="column" fxFlexFill>
                        <mat-table #table [dataSource]="evalsDocumentsDataSource" class="white-table u-w--100" matSort
                            matSortStart="asc" (matSortChange)="sortChanged($event)">
                            <ng-container matColumnDef="evaluationDate">
                                <mat-header-cell *matHeaderCellDef fxFlex="10%"> Date</mat-header-cell>
                                <mat-cell *matCellDef="let row" fxFlex="10%">
                                    <span class="text-truncate-ellipsis" [matTooltip]="row.evaluationDate | momentFormat" matTooltipClass="white-tooltip" appShowIfTruncated>
                                        {{row.evaluationDate | momentFormat}}
                                    </span>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="consultantName">
                                <mat-header-cell *matHeaderCellDef fxFlex="20%"> Consultant name </mat-header-cell>
                                <mat-cell *matCellDef="let row" fxFlex="20%">
                                    <img class="image-settings u-mr--12" [ngSrc]="consultantPhotoUrl + row?.externalId! + '.jpg'" width="32" height="32" src (error)="setDefaultImage($event.target)" />
                                    <span class="text-truncate-ellipsis" [matTooltip]="row?.consultantName" matTooltipClass="white-tooltip" appShowIfTruncated>
                                        {{row?.consultantName}}
                                    </span>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="evaluationType">
                                <mat-header-cell *matHeaderCellDef fxFlex="15%"> Evaluation type </mat-header-cell>
                                <mat-cell *matCellDef="let row" fxFlex="15%">
                                    <span class="text-truncate-ellipsis" [matTooltip]="row?.evaluationFormName" matTooltipClass="white-tooltip" appShowIfTruncated>
                                        {{row?.evaluationFormName}}
                                    </span>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="averageScore">
                                <mat-header-cell *matHeaderCellDef fxFlex="10%"> Average score </mat-header-cell>
                                <mat-cell *matCellDef="let row" fxFlex="10%" fxLayoutAlign="center center">
                                    <span class="text-truncate-ellipsis" [matTooltip]="row.averageScore" matTooltipClass="white-tooltip" appShowIfTruncated>
                                        {{row.averageScore}}
                                    </span>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="evaluator">
                                <mat-header-cell *matHeaderCellDef fxFlex="20%"> Evaluator </mat-header-cell>
                                <mat-cell *matCellDef="let row" fxFlex="20%">
                                    <span class="text-truncate-ellipsis" [matTooltip]="row.clientContactName" matTooltipClass="white-tooltip" appShowIfTruncated>
                                        {{row.clientContactName}}
                                    </span>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="comments">
                                <mat-header-cell *matHeaderCellDef fxFlex="5%"> Comments </mat-header-cell>
                                <mat-cell *matCellDef="let row" fxFlex="5%" fxLayoutAlign="center center">
                                    <mat-icon [matTooltip]="row.comment" matTooltipClass="white-tooltip" svgIcon="info_icon"></mat-icon>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="local">
                                <mat-header-cell *matHeaderCellDef fxFlex="10%" fxLayoutAlign="center center"> Local </mat-header-cell>
                                <mat-cell *matCellDef="let row" fxFlex="10%" fxLayoutAlign="center center">
                                    <button mat-icon-button appPreventDoubleClick (throttledClick)="downloadEvaluationDocument(row, true, false)"
                                        matTooltip="Download" matTooltipClass="white-tooltip"><mat-icon svgIcon="doc"></mat-icon></button>
                                    <button mat-icon-button appPreventDoubleClick (throttledClick)="downloadEvaluationDocument(row, true, true)"
                                        matTooltip="Download" matTooltipClass="white-tooltip"><mat-icon svgIcon="pdf"></mat-icon></button>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="english">
                                <mat-header-cell *matHeaderCellDef fxFlex="10%" fxLayoutAlign="center center"> English </mat-header-cell>
                                <mat-cell *matCellDef="let row" fxFlex="10%" fxLayoutAlign="center center">
                                    <button mat-icon-button appPreventDoubleClick (throttledClick)="downloadEvaluationDocument(row, false, false)"
                                        matTooltip="Download" matTooltipClass="white-tooltip"><mat-icon svgIcon="doc"></mat-icon></button>
                                    <button mat-icon-button appPreventDoubleClick (throttledClick)="downloadEvaluationDocument(row, false, true)"
                                        matTooltip="Download" matTooltipClass="white-tooltip"><mat-icon svgIcon="pdf"></mat-icon></button>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="evalsDocsDisplayColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: evalsDocsDisplayColumns;" class="mat-elevation-z0">
                            </mat-row>
                        </mat-table>
                        <ng-container *ngIf="isDataLoading">
                            <div class="spinner-container">
                                <mat-spinner [diameter]="50"></mat-spinner>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="totalCount === 0 && !isDataLoading">
                            <div class="results-not-found">
                                RESULTS NOT FOUND
                            </div>
                        </ng-container>
                    </div>
                    <div class="pagination-container u-w--100">
                        <mat-paginator #clientsPaginator [length]="totalCount" [pageSize]="deafultPageSize"
                            [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true" (page)="pageChanged($event)">
                        </mat-paginator>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>
