@import "/src/app/shared/styles/config/_colors";
@import "/src/app/shared/styles/config/_mixins";

.client-documents {
    &--contract {
        padding: 16px 24px;
        position: relative;

        .no-files {
            font-size: 14px;
            font-weight: 600;
        }
    }
    &--form {
        position: relative;
        &__header {
            @include fontOpenSans(12px, 600);
            min-height: 35px;
            color: $medium-grey-color !important;
        }
        &__row {
            @include fontOpenSans(14px, 400);
            background: $white-color;
            color: $dark-grey-color !important;
            border: 1px solid $sand-color;
            border-top: 0;
            &:first-of-type {
                border: 1px solid $sand-color;
            }
        }
    }

    &--table {
        position: relative;
    }

    &--sidenav {
        display: flex;
        flex-direction: column;
        &__item {
            color: $dark-grey-color;
            border-left: 3px solid transparent;
            height: 45px;
            padding: 5px 10px;
            &.selected-sidenav {
                color: $green-color;
                font-weight: 700;
                border-left: 3px solid $green-color;
            }
        }
    }

    &-icon--actions {
        &:hover {
            background: rgba($color: $green-color, $alpha: .2);
        }
    }

    &--filter-label {
        color: $medium-grey-color;
        @include fontOpenSans(11px, 600);
    }

    .document-date {
        @include fontOpenSans(14px, 600);
        color: $medium-grey-color;
        &::before {
            content: '•';
            margin-right: 5px;
        }
    }
    .noFiles {
        .document-date {
            color: $light-grey-color;
        }
    }
}

.tree-invisible {
    display: none;
}
