<div class="client-documents u-w--100" fxLayout="row">
    <div class="client-documents--sidenav" fxFlex="15%">
        <div class="client-documents--sidenav__item cursor-pointer flex-items-center"
             *ngFor="let item of documentSideNavigation"
             [ngClass]="{'selected-sidenav': item.selected}"
             appPreventDoubleClick (throttledClick)="selectSideNav(item)">
            {{item.name}}
        </div>
    </div>
    <div class="client-documents--content" fxFlex="85%">
        <ng-container [ngSwitch]="selectedItem">
            <ng-container *ngSwitchCase="documentSideItems.General">
                <div fxLayout="column" fxLayoutAlign="start end" class="client-documents--form u-w--100">
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="u-mb--15">
                        <mat-checkbox color="accent" name="generalDocumentsIncludeLinked" [formControl]="generalDocumentsIncludeLinked" class="black-checkbox u-w--100 u-mr--16">
                            Include linked clients
                        </mat-checkbox>
                    </div>
                    <div fxLayout="column" fxFlexFill>
                        <form [formGroup]="generalDocumentForm" class="u-w--100">
                            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="client-documents--form__header">
                                <div fxFlex="5%">
                                </div>
                                <div fxFlex="25%">
                                    Document title
                                </div>
                                <div fxFlex="25%">
                                    Filename
                                </div>
                                <div fxFlex="15%">
                                    Type
                                </div>
                                <div fxFlex="10%">
                                    Date
                                </div>
                                <div fxFlex="10%">
                                    Uploaded by
                                </div>
                                <div fxFlex="10%">
                                </div>
                            </div>
                            <ng-container formArrayName="documents" class="u-w--100">
                                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="client-documents--form__row u-w--100"
                                    *ngFor="let document of generalDocumentForm?.documents?.controls; index as i"
                                    [formArrayName]="i">
                                    <div fxFlex="5%" fxLayoutAlign="center center">
                                        <mat-icon [matTooltip]="document.value.icon" matTooltipClass="white-tooltip" class="icon" [svgIcon]="document.value.icon"></mat-icon>
                                    </div>
                                    <ng-container *ngIf="document.value.editable; else generalDocumentHeadlineDisplay">
                                        <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select" fxFlex="25%">
                                            <input matInput type="text" formControlName="headline" placeholder="Headline" />
                                        </mat-form-field>
                                    </ng-container>
                                    <ng-template #generalDocumentHeadlineDisplay>
                                        <div fxFlex="25%" class="text-truncate-ellipsis" [matTooltip]="document.value.headline" matTooltipClass="white-tooltip" appShowIfTruncated>
                                            {{document.value.headline}}
                                        </div>
                                    </ng-template>
                                    <div fxFlex="25%" class="text-truncate-ellipsis" [matTooltip]="document.value.filename" matTooltipClass="white-tooltip" appShowIfTruncated>
                                        {{document.value.filename}}
                                    </div>
                                    <ng-container *ngIf="document.value.editable; else generalDocumentFileTypeDisplay">
                                        <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select" fxFlex="15%">
                                            <mat-select formControlName="attachmentTypeId" placeholder="File type" [disableOptionCentering]="true" [compareWith]="compareWithFn">
                                                <mat-option *ngFor="let item of generalFileTypes" [value]="item">
                                                    {{ item.name }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </ng-container>
                                    <ng-template #generalDocumentFileTypeDisplay>
                                        <div fxFlex="15%" class="text-truncate-ellipsis" [matTooltip]="document.value.attachmentTypeId?.name" matTooltipClass="white-tooltip" appShowIfTruncated>
                                            {{document.value.attachmentTypeId?.name}}
                                        </div>
                                    </ng-template>
                                    <div fxFlex="10%" class="text-truncate-ellipsis" [matTooltip]="document.value.dateUpdated | momentFormat: 'DD.MM.YYYY'" matTooltipClass="white-tooltip" appShowIfTruncated>
                                        {{document.value.dateUpdated | momentFormat: 'DD.MM.YYYY'}}
                                    </div>
                                    <div fxFlex="10%" class="text-truncate-ellipsis" [matTooltip]="document.value.updatedBy" matTooltipClass="white-tooltip" appShowIfTruncated>
                                        {{document.value.updatedBy}}
                                    </div>
                                    <ng-container *ngIf="document.value.editable; else generalDocumentActionsDisplay">
                                        <div fxFlex="10%" class="u-w--100 text-truncate-ellipsis flex-items-center">
                                            <button mat-flat-button appPreventDoubleClick (throttledClick)="editOrSaveGeneralDocument(document.value.editable, i)" class="inline-edit-form--btn__save">
                                                Save
                                            </button>
                                            <button mat-flat-button appPreventDoubleClick (throttledClick)="cancelEditGeneralDocument(i)" class="inline-edit-form--btn__cancel">
                                                Cancel
                                            </button>
                                        </div>
                                    </ng-container>
                                    <ng-template #generalDocumentActionsDisplay>
                                        <div fxFlex="10%" fxLayoutAlign="end center">
                                            <button mat-icon-button [matMenuTriggerFor]="generalDocumentMenu" class="three-dots-actions-btn"><mat-icon>more_horiz</mat-icon></button>
                                            <mat-menu #generalDocumentMenu>
                                                <button
                                                    class="menu-item menu-item--edit"
                                                    mat-menu-item
                                                    [disabled]="isGeneralDocumentEditing"
                                                    appPreventDoubleClick (throttledClick)="editOrSaveGeneralDocument(document.value.editable, i)">
                                                    <mat-icon>create</mat-icon>
                                                    Edit
                                                </button>
                                                <button
                                                    class="menu-item menu-item--edit"
                                                    mat-menu-item
                                                    appPreventDoubleClick (throttledClick)="downloadDocument(document.value?.documentStorageGuid)">
                                                    <mat-icon>download</mat-icon>
                                                    Download
                                                </button>
                                                <button
                                                    class="menu-item menu-item--cancel"
                                                    mat-menu-item
                                                    appPreventDoubleClick (throttledClick)="deleteGeneralDocument(document.value?.clientAttachmentGuid)">
                                                    <mat-icon>clear</mat-icon>
                                                    Delete document
                                                </button>
                                            </mat-menu>
                                        </div>
                                    </ng-template>
                                </div>
                            </ng-container>
                        </form>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <app-file-uploader (filesAdded)="openDialogToAddFile($event)" [withoutDisplay]="true" [acceptOnlyOneFile]="true" class="u-w--100" #fileUploader></app-file-uploader>
                        </div>
                        <div class="spinner-container" *ngIf="isGeneralDocumentsLoading">
                            <mat-spinner [diameter]="50"></mat-spinner>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="documentSideItems.Contracts">
                <div fxLayout="column" fxLayoutAlign="start end" class="client-documents--contract u-w--100">
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="u-mb--15 client-documents--contract-filter">
                        <mat-checkbox color="accent" name="contractDocumentsIncludeLinked" [formControl]="contractDocumentsIncludeLinked" class="black-checkbox u-w--100 u-mr--16">
                            Include linked clients
                        </mat-checkbox>
                        <mat-checkbox color="accent" name="contractDocumentsIncludeExpired" [formControl]="contractDocumentsIncludeExpired" class="black-checkbox u-w--100">
                            Include expired
                        </mat-checkbox>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center" class="u-mt--20 client-documents--contract-folders u-w--100">

                        <!-- Frame agreements -->
                        <mat-accordion [multi]="true" togglePosition="before" class="mat-elevation-z0">
                            <mat-expansion-panel class="mat-elevation-z0 contract-parent--folder">
                                <mat-expansion-panel-header
                                    [collapsedHeight]="'44px'"
                                    [expandedHeight]="'44px'">
                                    <h4 class="u-mb--0">
                                        Frame agreements
                                    </h4>
                                </mat-expansion-panel-header>
                                <mat-accordion [multi]="true" togglePosition="before" class="mat-elevation-z0">
                                    <ng-container *ngIf="contractsDocuments?.frameAgreements?.length; else noFilesTemplate">
                                        <mat-expansion-panel *ngFor="let frame of contractsDocuments?.frameAgreements" class="mat-elevation-z0">
                                            <mat-expansion-panel-header
                                                [collapsedHeight]="'44px'"
                                                [expandedHeight]="'44px'">
                                                <h4 class="u-mb--0">
                                                    {{frame.name}} {{frame.startDate | momentFormat: 'DD.MM.YYYY'}}
                                                </h4>
                                            </mat-expansion-panel-header>
                                            <div *ngIf="frame.documents?.length" class="column u-ml--32">
                                                <div *ngFor="let file of frame.documents; last as last" class="flex-items-center" [ngClass]="{'u-mb--20': !last}">
                                                    <mat-icon class="icon" svgIcon="pdf"></mat-icon>
                                                    <span class="text-bold">
                                                        {{ file.name }}
                                                    </span>
                                                </div>
                                            </div>
                                        </mat-expansion-panel>
                                    </ng-container>
                                </mat-accordion>
                            </mat-expansion-panel>
                        </mat-accordion>

                        <!-- Workflows -->
                        <mat-accordion [multi]="true" togglePosition="before" class="mat-elevation-z0">
                            <mat-expansion-panel class="mat-elevation-z0 contract-parent--folder">
                                <mat-expansion-panel-header
                                    [collapsedHeight]="'44px'"
                                    [expandedHeight]="'44px'">
                                    <h4 class="u-mb--0">
                                        Workflows
                                    </h4>
                                </mat-expansion-panel-header>
                                <mat-accordion [multi]="true" togglePosition="before" class="mat-elevation-z0">
                                    <ng-container *ngIf="contractsDocuments?.workflows?.length; else noFilesTemplate">
                                        <mat-expansion-panel *ngFor="let workflow of contractsDocuments?.workflows" class="mat-elevation-z0">
                                            <mat-expansion-panel-header
                                                [collapsedHeight]="'44px'"
                                                [expandedHeight]="'44px'">
                                                <h4 class="u-mb--0">
                                                    {{workflow.name}} {{workflow.startDate | momentFormat: 'DD.MM.YYYY'}}
                                                </h4>
                                            </mat-expansion-panel-header>
                                            <!-- client contracts -->
                                            <mat-accordion [multi]="true" togglePosition="before" class="mat-elevation-z0">
                                                <mat-expansion-panel class="mat-elevation-z0">
                                                    <mat-expansion-panel-header
                                                        [collapsedHeight]="'44px'"
                                                        [expandedHeight]="'44px'">
                                                        <div class="flex-row flex-justify-between flex-items-center u-w--100">
                                                            <h4 class="u-mb--0">
                                                                Client contracts
                                                            </h4>
                                                        </div>
                                                    </mat-expansion-panel-header>
                                                    <mat-accordion [multi]="true" togglePosition="before" class="mat-elevation-z0">
                                                        <ng-container *ngIf="workflow.clientContracts?.length; else noFilesTemplate">
                                                            <mat-expansion-panel *ngFor="let clientContract of workflow.clientContracts" class="mat-elevation-z0">
                                                                <mat-expansion-panel-header
                                                                    [collapsedHeight]="'44px'"
                                                                    [expandedHeight]="'44px'">
                                                                    <div class="flex-row flex-justify-between flex-items-center u-w--100">
                                                                        <h4 class="u-mb--0">
                                                                            {{clientContract.name}} {{clientContract.startDate | momentFormat: 'DD.MM.YYYY'}}
                                                                        </h4>
                                                                    </div>
                                                                </mat-expansion-panel-header>
                                                                <div *ngIf="clientContract.documents?.length; else noFilesTemplate" class="column u-ml--32">
                                                                    <div *ngFor="let file of clientContract.documents; last as last" class="flex-items-center" [ngClass]="{'u-mb--20': !last}">
                                                                        <div class="u-w--100" (click)="downloadDocument(file.documentStorageGuid!)">
                                                                            <mat-icon class="icon" svgIcon="pdf"></mat-icon>
                                                                            <span class="text-bold">
                                                                                {{ file.name }}
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </mat-expansion-panel>
                                                        </ng-container>
                                                    </mat-accordion>
                                                </mat-expansion-panel>
                                            </mat-accordion>
                                            <!-- consultant contracts -->
                                            <mat-accordion [multi]="true" togglePosition="before" class="mat-elevation-z0">
                                                <mat-expansion-panel class="mat-elevation-z0">
                                                    <mat-expansion-panel-header
                                                        [collapsedHeight]="'44px'"
                                                        [expandedHeight]="'44px'">
                                                        <div class="flex-row flex-justify-between flex-items-center u-w--100">
                                                            <h4 class="u-mb--0">
                                                                Consultant contracts
                                                            </h4>
                                                        </div>
                                                    </mat-expansion-panel-header>
                                                    <mat-accordion [multi]="true" togglePosition="before" class="mat-elevation-z0">
                                                        <ng-container *ngIf="workflow.consultantContracts?.length; else noFilesTemplate">
                                                            <mat-expansion-panel *ngFor="let consultantContract of workflow.consultantContracts" class="mat-elevation-z0">
                                                                <mat-expansion-panel-header
                                                                    [collapsedHeight]="'44px'"
                                                                    [expandedHeight]="'44px'">
                                                                    <div class="flex-row flex-justify-between flex-items-center u-w--100">
                                                                        <h4 class="u-mb--0">
                                                                            {{consultantContract.name}} {{consultantContract.startDate | momentFormat: 'DD.MM.YYYY'}}
                                                                        </h4>
                                                                    </div>
                                                                </mat-expansion-panel-header>
                                                                <div *ngIf="consultantContract.documents?.length; else noFilesTemplate" class="column u-ml--32">
                                                                    <div *ngFor="let file of consultantContract.documents; last as last" class="flex-items-center" [ngClass]="{'u-mb--20': !last}">
                                                                        <div class="u-w--100" (click)="downloadDocument(file.documentStorageGuid!)">
                                                                            <mat-icon class="icon" svgIcon="pdf"></mat-icon>
                                                                            <span class="text-bold">
                                                                                {{ file.name }}
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </mat-expansion-panel>
                                                        </ng-container>
                                                    </mat-accordion>
                                                </mat-expansion-panel>
                                            </mat-accordion>
                                            <!-- internal contracts -->
                                            <mat-accordion *ngIf="workflow.internalContracts?.length"
                                                            [multi]="true" togglePosition="before" class="mat-elevation-z0">
                                                <mat-expansion-panel class="mat-elevation-z0">
                                                    <mat-expansion-panel-header
                                                        [collapsedHeight]="'44px'"
                                                        [expandedHeight]="'44px'">
                                                        <div class="flex-row flex-justify-between flex-items-center u-w--100">
                                                            <h4 class="u-mb--0">
                                                                Internal contracts
                                                            </h4>
                                                        </div>
                                                    </mat-expansion-panel-header>
                                                    <mat-accordion [multi]="true" togglePosition="before" class="mat-elevation-z0">
                                                        <ng-container *ngIf="workflow.internalContracts?.length; else noFilesTemplate">
                                                            <mat-expansion-panel *ngFor="let internalContract of workflow.internalContracts" class="mat-elevation-z0">
                                                                <mat-expansion-panel-header
                                                                    [collapsedHeight]="'44px'"
                                                                    [expandedHeight]="'44px'">
                                                                    <div class="flex-row flex-justify-between flex-items-center u-w--100">
                                                                        <h4 class="u-mb--0">
                                                                            {{internalContract.name}} {{internalContract.startDate | momentFormat: 'DD.MM.YYYY'}}
                                                                        </h4>
                                                                    </div>
                                                                </mat-expansion-panel-header>
                                                                <div *ngIf="internalContract.documents?.length; else noFilesTemplate" class="column u-ml--32">
                                                                    <div *ngFor="let file of internalContract.documents; last as last" class="flex-items-center" [ngClass]="{'u-mb--20': !last}">
                                                                        <div class="u-w--100" (click)="downloadDocument(file.documentStorageGuid!)">
                                                                            <mat-icon class="icon" svgIcon="pdf"></mat-icon>
                                                                            <span class="text-bold">
                                                                                {{ file.name }}
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </mat-expansion-panel>
                                                        </ng-container>
                                                    </mat-accordion>
                                                </mat-expansion-panel>
                                            </mat-accordion>
                                        </mat-expansion-panel>
                                    </ng-container>
                                </mat-accordion>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <ng-template #noFilesTemplate>
                            <span class="u-ml--32 no-files">
                                No files
                            </span>
                        </ng-template>
                    </div>
                    <div class="spinner-container" *ngIf="isContractsLoading">
                        <mat-spinner [diameter]="50"></mat-spinner>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="documentSideItems.Evaluations">
                <div fxLayout="column" fxLayoutAlign="start end" class="client-documents--table u-w--100">
                    <div fxLayout="row" fxLayoutAlign="space-between center"class=" u-mb--15">
                        <mat-form-field appearance="outline" class="u-w--100 u-mr--16">
                            <mat-label>Max answer date</mat-label>
                            <input autocomplete="off" placeholder="New end date" matInput
                                    [matDatepicker]="evaluationDocumentDatePicker"
                                    name="evaluationDocumentDate"
                                    [formControl]="evaluationDocumentDate"
                                    (focus)="evaluationDocumentDatePicker.open()"
                                    appPreventDoubleClick (throttledClick)="evaluationDocumentDatePicker.open()" readonly>
                            <mat-icon class="calendar-icon" matSuffix svgIcon="calendar"></mat-icon>
                            <mat-datepicker #evaluationDocumentDatePicker></mat-datepicker>
                        </mat-form-field>

                        <mat-checkbox  color="accent" name="contractDocumentsIncludeLinked" [formControl]="evaluationDocumentsIncludeLinked" class="black-checkbox u-w--100 u-mr--15">
                            Include linked clients
                        </mat-checkbox>
                    </div>
                    <div fxLayout="column" fxFlexFill>
                        <mat-table #table [dataSource]="evalsDocumentsDataSource" class="white-table u-w--100" matSort
                            matSortStart="asc" (matSortChange)="sortChanged($event)">
                            <ng-container matColumnDef="evaluationDate">
                                <mat-header-cell *matHeaderCellDef fxFlex="10%"> Date</mat-header-cell>
                                <mat-cell *matCellDef="let row" fxFlex="10%">
                                    <span class="text-truncate-ellipsis" [matTooltip]="row.evaluationDate | momentFormat: 'DD.MM.YYYY'" matTooltipClass="white-tooltip" appShowIfTruncated>
                                        {{row.evaluationDate | momentFormat: 'DD.MM.YYYY'}}
                                    </span>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="consultantName">
                                <mat-header-cell *matHeaderCellDef fxFlex="20%"> Consultant name </mat-header-cell>
                                <mat-cell *matCellDef="let row" fxFlex="20%">
                                    <img class="image-settings" [src]="consultantProfileUrl(row?.externalId)" />
                                    <span class="text-truncate-ellipsis" [matTooltip]="row?.consultantName" matTooltipClass="white-tooltip" appShowIfTruncated>
                                        {{row?.consultantName}}
                                    </span>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="evaluationType">
                                <mat-header-cell *matHeaderCellDef fxFlex="15%"> Evaluation type </mat-header-cell>
                                <mat-cell *matCellDef="let row" fxFlex="15%">
                                    <span class="text-truncate-ellipsis" [matTooltip]="row?.evaluationFormName" matTooltipClass="white-tooltip" appShowIfTruncated>
                                        {{row?.evaluationFormName}}
                                    </span>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="averageScore">
                                <mat-header-cell *matHeaderCellDef fxFlex="10%"> Average score </mat-header-cell>
                                <mat-cell *matCellDef="let row" fxFlex="10%" fxLayoutAlign="center center">
                                    <span class="text-truncate-ellipsis" [matTooltip]="row.averageScore" matTooltipClass="white-tooltip" appShowIfTruncated>
                                        {{row.averageScore}}
                                    </span>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="evaluator">
                                <mat-header-cell *matHeaderCellDef fxFlex="20%"> Evaluator </mat-header-cell>
                                <mat-cell *matCellDef="let row" fxFlex="20%">
                                    <span class="text-truncate-ellipsis" [matTooltip]="row.clientContactName" matTooltipClass="white-tooltip" appShowIfTruncated>
                                        {{row.clientContactName}}
                                    </span>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="comments">
                                <mat-header-cell *matHeaderCellDef fxFlex="5%"> Comments </mat-header-cell>
                                <mat-cell *matCellDef="let row" fxFlex="5%" fxLayoutAlign="center center">
                                    <mat-icon [matTooltip]="row.comment" matTooltipClass="white-tooltip" svgIcon="info_icon"></mat-icon>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="local">
                                <mat-header-cell *matHeaderCellDef fxFlex="10%" fxLayoutAlign="center center"> Local </mat-header-cell>
                                <mat-cell *matCellDef="let row" fxFlex="10%" fxLayoutAlign="center center">
                                    <button mat-icon-button appPreventDoubleClick (throttledClick)="downloadEvaluationDocument(row, true, false)"><mat-icon svgIcon="doc"></mat-icon></button>
                                    <button mat-icon-button appPreventDoubleClick (throttledClick)="downloadEvaluationDocument(row, true, true)"><mat-icon svgIcon="pdf"></mat-icon></button>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="english">
                                <mat-header-cell *matHeaderCellDef fxFlex="10%" fxLayoutAlign="center center"> English </mat-header-cell>
                                <mat-cell *matCellDef="let row" fxFlex="10%" fxLayoutAlign="center center">
                                    <button mat-icon-button appPreventDoubleClick (throttledClick)="downloadEvaluationDocument(row, false, false)"><mat-icon svgIcon="doc"></mat-icon></button>
                                    <button mat-icon-button appPreventDoubleClick (throttledClick)="downloadEvaluationDocument(row, false, true)"><mat-icon svgIcon="pdf"></mat-icon></button>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="evalsDocsDisplayColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: evalsDocsDisplayColumns;" class="mat-elevation-z0">
                            </mat-row>
                        </mat-table>
                        <div class="spinner-container" *ngIf="isDataLoading">
                            <mat-spinner [diameter]="50"></mat-spinner>
                        </div>
                        <div class="results-not-found" *ngIf="totalCount === 0 && !isDataLoading">
                            RESULTS NOT FOUND
                        </div>
                    </div>
                    <div class="pagination-container u-w--100">
                        <mat-paginator #clientsPaginator [length]="totalCount" [pageSize]="deafultPageSize"
                            [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true" (page)="pageChanged($event)">
                        </mat-paginator>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>
