<div class="page-container">
	<app-template-filter-header> </app-template-filter-header>
	<div class="table-and-preview-container">
		<ng-container *ngIf="table$ | async as table">
			<emg-mat-grid
				#table
				[displayedColumns]="displayedColumns"
				[selectedItemsActions]="selectedItemsActions"
				[tableConfig]="table"
				[selectedRowId]="currentRowId$ | async"
				[cells]="cells"
				[sticky]="true"
				(sortChange)="onSortChange($event)"
				(formControlChange)="onFormControlChange($event)"
				(onAction)="onAction($event)"
				(onSelectionAction)="onSelectionAction($event)"
				(pageChange)="onPageChange($event)"
				(resetAllFilters)="resetAllTopFilters()"
				(selectedRowIdChange)="currentRowId$.next($event)">
				<ng-template let-cell="element" #customCells>
					<span
						class="fi fi-{{ cell.countryCode | lowercase }} country-icon"
						[customTooltip]="cell.language"
						[showAlways]="cell.language"></span>
				</ng-template>

				<ng-template let-cell="element" #customCells>
					<div class="table-cell" [customTooltip]="cell.agreementTemplateId">{{ cell.agreementTemplateId }}</div>
				</ng-template>

				<ng-template let-cell="element" #customCells>
					<div class="template-name-cell" [customTooltip]="cell.name">{{ cell.name }}</div>
				</ng-template>

				<ng-template let-cell="element" #customCells>
					<div class="table-cell" [customTooltip]="cell.clientName">{{ cell.clientName }}</div>
				</ng-template>

				<ng-template let-cell="element" #customCells>
					<div class="table-cell" [customTooltip]="cell.agreementType" [showAlways]="true">
						{{ cell.agreementType | strInitials }}
					</div></ng-template
				>

				<ng-template let-cell="element" #customCells>
					<div class="table-cell" [customTooltip]="cell.recipientTypeId">{{ cell.recipientTypeId }}</div>
				</ng-template>

				<ng-template let-cell="element" #customCells>
					<div
						class="table-cell"
						[customTooltip]="legalEntityIdsTooltip"
						[showAlways]="!!(cell.legalEntityIds.length - 1)">
						{{ cell.legalEntityIds | tableArrayFormat }}
					</div>
					<ng-template #legalEntityIdsTooltip>
						<div>
							<ng-container *ngFor="let legalEntity of cell.legalEntityIds">
								<div class="tooltip-menu">
									<span>{{ legalEntity }}</span>
								</div>
							</ng-container>
						</div>
					</ng-template>
				</ng-template>

				<ng-template let-cell="element" #customCells>
					<div class="table-cell" [customTooltip]="salesTypeIdsTooltip" [showAlways]="!!(cell.salesTypeIds.length - 1)">
						{{ cell.salesTypeIds | tableArrayFormat }}
					</div>
					<ng-template #salesTypeIdsTooltip>
						<div>
							<ng-container *ngFor="let saleType of cell.salesTypeIds">
								<div class="tooltip-menu">
									<span>{{ saleType }}</span>
								</div>
							</ng-container>
						</div>
					</ng-template>
				</ng-template>

				<ng-template let-cell="element" #customCells>
					<div
						class="table-cell"
						[customTooltip]="deliveryTypeIdsTooltip"
						[showAlways]="!!(cell.deliveryTypeIds.length - 1)">
						{{ cell.deliveryTypeIds | tableArrayFormat }}
					</div>
					<ng-template #deliveryTypeIdsTooltip>
						<div>
							<ng-container *ngFor="let deliveryType of cell.deliveryTypeIds">
								<div class="tooltip-menu">
									<span>{{ deliveryType }}</span>
								</div>
							</ng-container>
						</div>
					</ng-template>
				</ng-template>

				<ng-template let-cell="element" #customCells>
					<div
						class="table-cell"
						[customTooltip]="contractTypeIdsTooltip"
						[showAlways]="!!(cell.contractTypeIds.length - 1)">
						{{ cell.contractTypeIds | tableArrayFormat }}
					</div>
					<ng-template #contractTypeIdsTooltip>
						<div>
							<ng-container *ngFor="let contractType of cell.contractTypeIds">
								<div class="tooltip-menu">
									<span>{{ contractType }}</span>
								</div>
							</ng-container>
						</div>
					</ng-template>
				</ng-template>

				<ng-template let-cell="element" #customCells
					><div class="table-cell" [customTooltip]="lastUpdateDateUtcTooltip" [showAlways]="true">
						{{ cell.lastUpdateDateUtc | momentFormat }}
					</div>
                    <ng-template #lastUpdateDateUtcTooltip>
						<div class="date-rows-container">
							<div class="last-updated-label no-wrap">Created</div>
							<div class="last-updated-info">{{ cell.createdDateUtc | momentFormat }}</div>
							<div class="last-updated-info no-wrap">
								{{ cell.createdBy.name }}
							</div>
							<div class="last-updated-label no-wrap">Last updated</div>
							<div class="last-updated-info">
								{{ cell.lastUpdateDateUtc | momentFormat }}
							</div>
							<div class="last-updated-info no-wrap">
								{{ cell.lastUpdatedBy.name }}
							</div>
						</div>
					</ng-template>
				</ng-template>
				<ng-template let-cell="element" #customCells>
					<div class="table-cell">
						<img
							class="profile-picture"
							[ngSrc]="employeePhotoUrl + cell.lastUpdatedBy.externalId + '.jpg'"
							[customTooltip]="cell.lastUpdatedBy.name"
							[showAlways]="cell.lastUpdatedBy"
							src
							width="24"
							height="24"
							(error)="setDefaultImage($event.target)" />
					</div>
				</ng-template>
				<ng-template let-cell="element" #customCells>
					<div class="table-cell">
						<emg-client-template-mode
							[linkState]="cell.linkState"
							[iconWidth]="23"
							[iconHeight]="16"></emg-client-template-mode>
					</div>
				</ng-template>
				<ng-template let-cell="element" #customCells>
					<div class="table-cell">
						<emg-approval
							[linkStateAccepted]="cell.linkStateAccepted"
							[iconWidth]="23"
							[iconHeight]="16"></emg-approval>
					</div>
				</ng-template>

				<ng-template let-cell="element" #customCells>
					<div class="table-cell">
						<emg-enabled [isEnabled]="cell.isEnabled"></emg-enabled>
					</div>
				</ng-template>
			</emg-mat-grid>
		</ng-container>
		<ng-container *ngIf="currentRowId$ | async as currentRowId">
			<app-client-template-preview
				[currentId]="currentRowId"
				(currentIdChange)="currentRowId$.next($event)"></app-client-template-preview>
		</ng-container>
	</div>
</div>
