@import 'mixins';
@import 'variables';

app-client-specific-templates {
	.table-cell {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 19px;
		padding-left: 16px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.template-name-cell {
		@include table-cell(700);
	}
	.select-column {
		@include table-cell-width(34px);
	}
	.language-column {
		@include table-cell-width(34px);
	}
	.id-column {
		@include table-cell-width(60px);
	}
	.template-name-column {
		@include table-cell-width(339px);
	}
	.client-column {
		@include table-cell-width(178px);
	}
	.agreementType-column {
		@include table-cell-width(56px);
	}
	.recipientTypeId-column {
		@include table-cell-width(109px);
	}
	.legalEntityId-column {
		@include table-cell-width(139px);
	}
	.salesType-column {
		@include table-cell-width(141px);
	}
	.deliveryType-column {
		@include table-cell-width(96px);
	}
	.contractType-column {
		@include table-cell-width(98px);
	}
	.last-updated-column {
		@include table-cell-width(96px);
	}
	.last-updated-by-employee-column {
		@include table-cell-width(47px);
	}
	.link-state-column {
		@include table-cell-width(68px);
	}
	.linkStateAccepted-column {
		@include table-cell-width(77px);
	}
	.status-column {
		@include table-cell-width(35px);
	}
	.actions-column {
		@include table-cell-width(40px);
	}
	.mat-cell:first-of-type {
		padding-left: 0px;
	}
	.mat-header-cell:first-of-type {
		padding-left: 0px;
	}
	.table-and-preview-container {
		display: flex;
	}

	.country-icon {
		@include avatar-icon;
	}
}
