@import 'mixins';
@import 'variables';

app-client-specific-templates {
	display: flex;
	height: calc(100vh - 49px);

	@include table-header-cell;
	.table-cell {
		@include table-cell(600);
	}
	.table-and-preview-container {
		display: flex;
		position: relative;
		flex-grow: 1;
	}
	.page-container {
		flex-grow: 1;

		display: flex;
		flex-direction: column;

		margin-top: 20px;
		gap: 20px;
	}
	.template-name-cell {
		@include table-cell(700);
	}
	.select-column {
		@include table-cell-width(42px);
	}
	.language-column {
		@include table-cell-width(34px);
	}
	.id-column {
		@include table-cell-width(60px);
	}
	.template-name-column {
		@include table-cell-width(470px);
	}
	.client-column {
		@include table-cell-width(190px); // +18
	}
	.agreementType-column {
		@include table-cell-width(56px);
	}
	.recipientTypeId-column {
		@include table-cell-width(109px);
	}
	.legalEntityId-column {
		@include table-cell-width(139px);
	}
	.salesType-column {
		@include table-cell-width(141px);
	}
	.deliveryType-column {
		@include table-cell-width(96px);
	}
	.contractType-column {
		@include table-cell-width(98px);
	}
	.last-updated-column {
		@include table-cell-width(96px);
	}
	.last-updated-by-employee-column {
		@include table-cell-width(47px);
	}
	.link-state-column {
		@include table-cell-width(57px);
		justify-content: center;
	}
	.linkStateAccepted-column {
		@include table-cell-width(65px);
		justify-content: center;
	}
	.status-column {
		@include table-cell-width(57px); // +10
		justify-content: center;
	}
	.mat-cell:first-of-type {
		padding: 0px;
	}
	.mat-header-cell:first-of-type {
		padding: 0px;
	}
	.mat-header-cell:last-of-type {
		padding-right: 0px;
	}
	.mat-cell:last-of-type {
		padding-right: 0px;
	}
	.profile-picture {
		@include profile-picture;
	}
	.country-icon {
		@include medium-icon;
	}
}
.no-wrap {
	white-space: nowrap;
}
.last-updated-label {
	font-size: 12px;
	font-weight: 600;
	color: $secondary-1;
	white-space: nowrap;
}
.last-updated-info {
	font-size: 12px;
	font-weight: 600;
}
.date-rows-container {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-row-gap: 4px;
	grid-column-gap: 12px;
}
.additional-filter-row {
	display: flex;
	padding: 0 50px;
	align-items: center;
	justify-content: flex-end;
}
