@import "app/shared/styles/material/mat-theme.scss";
@import "app/shared/styles/base/reset.css";
@import "app/shared/core.scss";
@import "../node_modules/@worktile/gantt/gantt.component.scss";
@import "assets/fonts/AtypDisplay/Atyp.css";
@import "assets/fonts/avenir/avenir.css";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
