<div class="file-uploader" file-drag-and-drop (click)="fileInput.click()" (onFileDropped)="fileDropped($event)" [ngClass]="{'uploading-wrapper': isFileUploading}">
    <input #fileInput type="file" [accept]="'.pdf,.doc,.docx,.xls,.xlsx,.txt,.jpg,.jpeg,.png,.svg'" style="display: none"
        (change)="onFilesAdded()">
    <div class="content">
        <ng-container *ngIf="isFileUploading; else fileUpload">
            <div class="loading">
                <mat-icon class="loading-icon" svgIcon="loading-icon"></mat-icon>
                <span class="loading-text u-ml--10">
                    Uploading document
                </span>
            </div>
        </ng-container>
        <ng-template #fileUpload>
            <button class="button-add" mat-flat-button>
                <mat-icon>add</mat-icon>
                Add Document
            </button>
            <span class="content-instructions">Upload or simply drag and drop file here</span>
        </ng-template>
    </div>
</div>
<div class="d-flex flex-column uploader-hint">
    <mat-hint *ngIf="maxFileSize" class="maxfilesize-hint">Max file size is 5MB.</mat-hint>
    <mat-hint *ngIf="duplicatedFile" class="maxfilesize-hint">This file is already uploaded.</mat-hint>
    <mat-hint *ngIf="!acceptedFileType" class="maxfilesize-hint">File type is not supported, accepted file types: {{ acceptedTypes.join(', ')}} </mat-hint>
</div>

<div class="files" *ngIf="!withoutDisplay">
    <ng-container *ngFor="let file of _files">
        <div class="file">
            <span class="flex-row flex-items-center">
                <mat-icon class="icon" svgIcon="{{ file.icon }}"></mat-icon>
                <span appPreventDoubleClick (throttledClick)="$event.stopPropagation()" class="label">{{ file.name }}</span>
            </span>
            <mat-icon *ngIf="!isCreationMode" class="show-menu--icon" [matMenuTriggerFor]="lookupMenu">more_vert</mat-icon>
            <button *ngIf="isCreationMode" appPreventDoubleClick (throttledClick)="$event.stopPropagation();removeFile(file);" mat-icon-button>
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <mat-menu #lookupMenu="matMenu">
            <button appPreventDoubleClick (throttledClick)="$event.stopPropagation();removeFile(file);" mat-menu-item>
                <mat-icon>delete</mat-icon>
                Delete
            </button>
            <button appPreventDoubleClick (throttledClick)="$event.stopPropagation();renameFile(file);" mat-menu-item>
                <mat-icon>edit</mat-icon>
                Rename
            </button>
            <button appPreventDoubleClick (throttledClick)="$event.stopPropagation();downloadFile(file);" mat-menu-item>
                <mat-icon>file_download</mat-icon>
                Download
            </button>
        </mat-menu>
    </ng-container>
</div>

