<form fxLayout="column" fxLayoutAlign="start start" id="clientDataAnchor" [formGroup]="contractClientForm"
    class="workflow-form workflow-form--sales u-w--100">
    <div fxLayout="column" fxLayoutAlign="start start" class="workflow-contracts--process-data u-w--100">
        <div fxLayout="column" fxLayoutAlign="start start" class="u-w--100" id="contractClientInvoicing">
            <h1 class="workflow-section--header-main">Client data</h1>
            <div fxLayout="row" fxLayoutAlign="start center" class="u-mt--16 u-mb--16">
                <span class="workflow-section--number">1</span>
                <h2 class="workflow-section--header">Invoicing</h2>
            </div>
            <div class="workflow-section--content">
                <h3 class="workflow-gray--header u-mb--10 u-mt--20">Cap on Time Reporting</h3>
                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100">
                    <mat-form-field appearance="outline" class="formFieldNoMarginPadding filter-select u-mr--12 form-width-230">
                        <mat-label>Shared cap on time reporting</mat-label>
                        <mat-select [disabled]="true" required formControlName="clientTimeReportingCapId"
                            [disableOptionCentering]="true">
                            <ng-container *ngFor="let item of clientTimeReportingCap; trackBy: trackById">
                                <mat-option [value]="item.id">
                                    {{ item.name }}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                        <mat-error>
                            <app-validator [control]="contractClientForm.clientTimeReportingCapId"></app-validator>
                        </mat-error>
                    </mat-form-field>
                    <div fxLayout="column" fxLayoutAlign="start start" class="u-w--100">
                        <ng-container *ngIf="contractClientForm.clientTimeReportingCapId?.value?.id !== clientTimeReportingCaps.IndividualCap && contractClientForm.clientTimeReportingCapId?.value?.id !== clientTimeReportingCaps.NoCap">
                            <ng-container formArrayName="timeReportingCaps" class="u-w--100">
                                <ng-container *ngFor="let cap of contractClientForm.timeReportingCaps.controls; trackBy: trackByItem; index as i"
                                    [formArrayName]="i">
                                    <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100">
                                        <mat-form-field appearance="outline" class="formFieldNoMarginPadding disabled-input u-mr--12 form-width-110">
                                            <mat-label>Max value</mat-label>
                                            <input [disabled]="true"
                                                required
                                                autocomplete="off" matInput formControlName="timeReportingCapMaxValue" type="number">
                                            <mat-error>
                                                <app-validator [control]="cap.get('timeReportingCapMaxValue')"></app-validator>
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" class="formFieldNoMarginPadding filter-select u-mr--12 form-width-100">
                                            <mat-label>Unit</mat-label>
                                            <mat-select [disabled]="true" required formControlName="valueUnitId"
                                                [disableOptionCentering]="true">
                                                <ng-container *ngFor="let item of valueUnitTypes; trackBy: trackById">
                                                    <mat-option [value]="item.id">
                                                        {{ item.name }}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                            <mat-error>
                                                <app-validator [control]="cap.get('valueUnitId')"></app-validator>
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" class="formFieldNoMarginPadding filter-select form-width-150">
                                            <mat-label>Period</mat-label>
                                            <mat-select [disabled]="true" required formControlName="periodUnitId"
                                                [disableOptionCentering]="true">
                                                <ng-container *ngFor="let item of periodUnitTypes; trackBy: trackById">
                                                    <mat-option [value]="item.id">
                                                        {{ item.name }}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                            <mat-error>
                                                <app-validator [control]="cap.get('periodUnitId')"></app-validator>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="start start" class="u-w--100" id="contractClientPayment">
            <div fxLayout="row" fxLayoutAlign="start center" class="u-mt--16 u-mb--16">
                <span class="workflow-section--number">2</span>
                <h2 class="workflow-section--header">Client invoicing</h2>
            </div>
            <div class="workflow-section--content">
                <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100">
                    <mat-form-field appearance="outline" class="formFieldNoMarginPadding filter-select form-width-312">
                        <mat-label>emagine entity</mat-label>
                        <mat-select [disabled]="true" required formControlName="pdcInvoicingEntityId"
                            [disableOptionCentering]="true">
                            <ng-container *ngFor="let item of legalEntities; trackBy: trackById">
                                <mat-option [value]="item.id">
                                    {{ item.tenantName + ' ' + '(' + item.name + ')' }}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                        <mat-error>
                            <app-validator [control]="contractClientForm.pdcInvoicingEntityId"></app-validator>
                        </mat-error>
                    </mat-form-field>
                </div>
                <ng-container *ngIf="contractClientForm.value?.pdcInvoicingEntityId">
                    <div fxLayout="column" fxLayoutAlign="start start" class="u-w--100 u-mb--15">
                        <div fxLayout="column" fxLayoutAlign="start start" class="u-w--100">
                            <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100">
                                <mat-form-field appearance="outline"
                                    class="disabled-input formFieldNoMarginPadding form-width-330 autocompleteWithShevron client-address-autocomplete u-mr--12"
                                    [ngClass]="{'isPanelOpen': clientInvoicingRecipientAutocomplete.isOpen, 'is-empty': !contractClientForm.clientInvoicingRecipient.value}">
                                    <mat-label>Client invoicing recipient</mat-label>
                                    <input [disabled]="true" #clientInvoicingRecipientInput type="text" matInput
                                        [matAutocomplete]="clientInvoicingRecipientAutocomplete"
                                        formControlName="clientInvoicingRecipient" appPreventDoubleClick
                                        (throttledClick)="$event.stopPropagation()"
                                        placeholder="Client invoicing recipient">
                                        <ng-container *ngIf="contractClientForm.clientInvoicingRecipient?.value?.clientId" matPrefix>
                                            <ng-container [ngTemplateOutlet]="clientPrefix"
                                                [ngTemplateOutletContext]="{client: contractClientForm.clientInvoicingRecipient?.value}">
                                            </ng-container>
                                        </ng-container>
                                        <span matSuffix class="shevron"></span>
                                    <mat-autocomplete #clientInvoicingRecipientAutocomplete="matAutocomplete"
                                        [displayWith]="displayClientNameFn">
                                        <ng-container
                                            *ngFor="let client of filteredClientInvoicingRecipients; trackBy: trackById">
                                            <mat-option [value]="client" [ngClass]="{ 'no-data': client?.clientId === undefined }">
                                                <div class="multilineDropdown-option--column text-truncate-ellipsis">
                                                    <span class="multilineDropdown-option--column-client-name">{{
                                                        client.clientName }}</span>
                                                    <ng-container *ngIf="client?.clientId !== undefined && client?.clientAddresses?.length">
                                                        <span
                                                            class="multilineDropdown-option--column-client-info text-truncate-ellipsis">
                                                            #{{client.clientId}} | {{client.clientAddresses[0]?.city ?? ''}}
                                                            {{client.clientAddresses[0]?.countryName ? ', ' + client.clientAddresses[0]?.countryName : ''}}
                                                        </span>
                                                    </ng-container>
                                                </div>
                                            </mat-option>
                                        </ng-container>
                                    </mat-autocomplete>
                                    <mat-error>
                                        <app-validator
                                            [control]="contractClientForm.clientInvoicingRecipient"></app-validator>
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="outline" [ngClass]="{'is-empty': !contractClientForm.clientInvoicingRecipientAddress.value}"
                                    class="formFieldNoMarginPadding filter-select form-width-330 client-address-autocomplete">
                                    <mat-label>Client address</mat-label>
                                    <mat-select [disabled]="true" formControlName="clientInvoicingRecipientAddress"
                                        [disableOptionCentering]="true" [compareWith]="compareWithFn">
                                        <mat-select-trigger>
                                            <div class="multilineDropdown-option--column text-truncate-ellipsis">
                                                <span class="multilineDropdown-option--column-client-name">
                                                    {{contractClientForm.clientInvoicingRecipientAddress?.value?.displayValue }}</span>
                                                <span class="multilineDropdown-option--column-client-info text-truncate-ellipsis">
                                                    {{contractClientForm.clientInvoicingRecipientAddress?.value?.addressType}}
                                                </span>
                                            </div>
                                        </mat-select-trigger>
                                        <ng-container *ngFor="let item of invoicingRecipientsAddresses; trackBy: trackById">
                                            <mat-option [value]="item">
                                                <div class="multilineDropdown-option--column text-truncate-ellipsis">
                                                    <span class="multilineDropdown-option--column-client-name">
                                                        {{item.displayValue }}</span>
                                                    <span class="multilineDropdown-option--column-client-info text-truncate-ellipsis">
                                                        {{item.addressType}}
                                                    </span>
                                                </div>
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                    <mat-error>
                                        <app-validator [control]="contractClientForm.clientInvoicingRecipientAddress"></app-validator>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100">
                                <div class="form-width-330 u-mr--12">
                                    <ng-container
                                        *ngIf="contractClientForm.clientInvoicingRecipientSameAsDirectClient?.value">
                                        <mat-checkbox [disabled]="true" color="accent"
                                            formControlName="clientInvoicingRecipientSameAsDirectClient"
                                            name="clientInvoicingRecipientSameAsDirectClient" class="black-checkbox">
                                            Same as direct client
                                        </mat-checkbox>
                                    </ng-container>
                                </div>
                                <div class="form-width-330">
                                    <ng-container [ngTemplateOutlet]="clientAdditionalInfo"
                                        [ngTemplateOutletContext]="{client: contractClientForm.clientInvoicingRecipient?.value}">
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100">
                        <mat-form-field appearance="outline"
                            class="formFieldNoMarginPadding filter-select u-mr--12 form-width-150">
                            <mat-label>Price type</mat-label>
                            <mat-select [disabled]="true" formControlName="clientRateType"
                                [disableOptionCentering]="true" [compareWith]="compareWithFn">
                                <ng-container *ngFor="let item of clientRateTypes; trackBy: trackById">
                                    <mat-option [value]="item">
                                        {{ item.name }}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                            <mat-error>
                                <app-validator [control]="contractClientForm.clientRateType"></app-validator>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="disabled-input formFieldNoMarginPadding u-mr--12 form-width-150">
                            <mat-label>Rate</mat-label>
                            <input [disabled]="true" autocomplete="off" matInput
                                formControlName="normalRate" type="number">
                            <mat-error>
                                <app-validator [control]="contractClientForm.normalRate"></app-validator>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline"
                            class="formFieldNoMarginPadding filter-select u-mr--12 form-width-150"
                            [fxHide]="contractClientForm.clientRateType?.value?.id !== 1">
                            <mat-label>Unit type</mat-label>
                            <mat-select [disabled]="true"
                                formControlName="rateUnitType" [disableOptionCentering]="true" [compareWith]="compareWithFn">
                                <ng-container *ngFor="let item of rateUnitTypes; trackBy: trackById">
                                    <mat-option [value]="item">
                                        {{ item.name }}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                            <mat-error>
                                <app-validator [control]="contractClientForm.rateUnitType"></app-validator>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline"
                            class="formFieldNoMarginPadding filter-select form-width-150">
                            <mat-label>Currency</mat-label>
                            <mat-select [disabled]="true" formControlName="currency"
                                [disableOptionCentering]="true" [compareWith]="compareWithFn">
                                <ng-container *ngFor="let item of currencies; trackBy: trackById">
                                    <mat-option [value]="item">
                                        {{ item.name }}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                            <mat-error>
                                <app-validator [control]="contractClientForm.currency"></app-validator>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100">
                        <mat-form-field appearance="outline"
                            class="filter-select formFieldNoMarginPadding u-mr--12 form-width-150">
                            <mat-label>Invoicing currency</mat-label>
                            <mat-select [disabled]="true" formControlName="invoiceCurrencyId"
                                [disableOptionCentering]="true">
                                <ng-container *ngFor="let item of currencies; trackBy: trackById">
                                    <mat-option [value]="item.id">
                                        {{ item.name }}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                            <mat-error>
                                <app-validator [control]="contractClientForm.invoiceCurrencyId"></app-validator>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline"
                            class="formFieldNoMarginPadding filter-select form-width-312"
                            [fxHide]="contractClientForm.clientRateType?.value?.id !== 1">
                            <mat-label>Invoicing frequency</mat-label>
                            <mat-select [disabled]="true"
                                formControlName="invoiceFrequencyId" [disableOptionCentering]="true">
                                <ng-container *ngFor="let item of invoiceFrequencies; trackBy: trackById">
                                    <mat-option [value]="item.id">
                                        {{ item.name }}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                            <mat-error>
                                <app-validator [control]="contractClientForm.invoiceFrequencyId"></app-validator>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline"
                            class="formFieldNoMarginPadding filter-select form-width-312"
                            [ngClass]="{'u-mr--12': contractClientForm.invoicingTimeId?.value === 2 && contractClientForm.clientRateType?.value?.id === 2}"
                            [fxHide]="contractClientForm.clientRateType?.value?.id !== 2">
                            <mat-label>Invoicing time</mat-label>
                            <mat-select [disabled]="true"
                                formControlName="invoicingTimeId" [disableOptionCentering]="true"
                                [compareWith]="compareWithFn">
                                <ng-container *ngFor="let item of invoicingTimes; trackBy: trackById">
                                    <mat-option [value]="item">
                                        {{ item.name }}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                            <mat-error>
                                <app-validator [control]="contractClientForm.invoicingTimeId"></app-validator>
                            </mat-error>
                        </mat-form-field>
                        <!-- id: 2 - manual date -->
                        <mat-form-field class="disabled-input formFieldNoMarginPadding form-width-150"
                            [fxHide]="contractClientForm.clientRateType?.value?.id !== 2 || contractClientForm.invoicingTimeId?.value !== 2"
                            appearance="outline" >
                            <mat-label>Date</mat-label>
                            <input [disabled]="true"
                                autocomplete="off"
                                matInput [matDatepicker]="clientInvoicingDateDatePicker" name="clientInvoicingDate"
                                formControlName="manualDate" (focus)="clientInvoicingDateDatePicker.open()"
                                appPreventDoubleClick (throttledClick)="clientInvoicingDateDatePicker.open()" readonly>
                            <mat-icon class="calendar-icon" matSuffix svgIcon="calendar"></mat-icon>
                            <mat-datepicker #clientInvoicingDateDatePicker></mat-datepicker>
                            <mat-error>
                                <app-validator [control]="contractClientForm.manualDate"></app-validator>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </ng-container>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="start start" class="u-w--100" id="contractClientContract">
            <div fxLayout="row" fxLayoutAlign="start center" class="u-mt--16 u-mb--16">
                <span class="workflow-section--number">3</span>
                <h2 class="workflow-section--header">Client contract</h2>
            </div>
            <div class="workflow-section--content">
                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100">
                    <mat-form-field appearance="outline"
                        class="formFieldNoMarginPadding textarea-input u-mr--12 form-width-564"
                        [ngClass]="{'disabled-input': readOnlyMode}">
                        <mat-label>Special Contract Terms</mat-label>
                        <textarea [disabled]="readOnlyMode" required matInput autocomplete="new-password"
                            name="specialContractTerms" formControlName="specialContractTerms"
                            [cdkTextareaAutosize]="true" [cdkAutosizeMinRows]="2">
                        </textarea>
                        <mat-error>
                            <app-validator [control]="contractClientForm.specialContractTerms"></app-validator>
                        </mat-error>
                    </mat-form-field>
                    <ng-container *ngIf="!readOnlyMode || contractClientForm.noSpecialContractTerms?.value">
                        <mat-checkbox [disabled]="readOnlyMode" color="accent" formControlName="noSpecialContractTerms"
                            name="noSpecialContractTerms" class="black-checkbox u-mt--8"
                            (change)="disableOrEnableInput(contractClientForm.noSpecialContractTerms?.value, contractClientForm.specialContractTerms)">
                            None
                        </mat-checkbox>
                    </ng-container>
                </div>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="start start" class="u-w--100" id="contractFrameAgreement">
            <div fxLayout="row" fxLayoutAlign="start center" class="u-mt--16 u-mb--16">
                <span class="workflow-section--number">4</span>
                <h2 class="workflow-section--header">Frame agreement</h2>
            </div>
            <div class="workflow-section--content">
                <ng-container *ngIf="isContractModuleEnabled; else noFrameAgreementsTemplate">
                    <div fxLayout="row" fxLayoutAlign="start center" class="u-w--100">
                        <mat-form-field appearance="outline"
                            class="formFieldNoMarginPadding filter-select autocompleteWithShevron u-mr--12 form-width-450"
                            [ngClass]="{'disabled-input': readOnlyMode, 'isPanelOpen': frameAgreementAutocomplete.isOpen}">
                            <mat-label>Frame agreement</mat-label>
                            <input [disabled]="readOnlyMode" #frameAgreementInput type="text"
                                matInput [matAutocomplete]="frameAgreementAutocomplete"
                                formControlName="frameAgreementId" appPreventDoubleClick
                                (throttledClick)="$event.stopPropagation()" placeholder="Frame agreement">
                                <span matSuffix class="shevron"></span>
                            <mat-autocomplete #frameAgreementAutocomplete="matAutocomplete"
                                [displayWith]="displayAgreementNameFn" (optionSelected)="focusToggleMethod('auto')"
                                (opened)="focusToggleMethod('hidden')" (closed)="focusToggleMethod('auto')">
                                <ng-container *ngFor="let item of filteredFrameAgreements; trackBy: trackById">
                                    <mat-option [value]="item" [ngClass]="{ 'no-data': item?.agreementId === undefined }">
                                        <div class="multilineDropdown-option--row">
                                            <div class="multilineDropdown-option--column text-truncate-ellipsis">
                                                <span class="multilineDropdown-option--column-client-name">{{ item.agreementName }}</span>
                                                <ng-container *ngIf="item?.agreementId !== undefined">
                                                    <span class="multilineDropdown-option--column-client-info text-truncate-ellipsis light-grey-color">
                                                        #{{item?.agreementId}} •
                                                        {{item.countryName}}
                                                        {{item.countryName ? '•' : ''}}
                                                        {{item.startDate | momentFormat}}
                                                        {{item.startDate !== null && item.startDate !== undefined ? '-' : ''}}
                                                        {{item.endDate | momentFormat}}
                                                    </span>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                            <mat-error>
                                <app-validator [control]="contractClientForm.frameAgreementId"></app-validator>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </ng-container>
                <ng-template #noFrameAgreementsTemplate>
                    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px"
                        class="emptyStateRow">
                        <span class="light-grey-color text-600">
                            Coming soon - with the contracts module..
                        </span>
                    </div>
                </ng-template>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="start start" class="u-w--100" id="contractClientPurchaseOrders">
            <div fxLayout="row" fxLayoutAlign="start center" class="u-mt--16 u-mb--16">
                <span class="workflow-section--number">5</span>
                <h2 class="workflow-section--header">Client purchase order + cap</h2>
            </div>
            <div class="workflow-section--content">
                <purchase-orders #poComponent [readOnlyMode]="readOnlyMode" [periodId]="periodId" [directClientId]="contractClientForm.directClientId?.value?.clientId" [mode]="ePurchaseOrderMode.ContractStep"></purchase-orders>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="start start" class="u-w--100" id="contractClientRatesFees">
            <div fxLayout="row" fxLayoutAlign="start center" class="u-mt--16 u-mb--16">
                <span class="workflow-section--number">6</span>
                <h2 class="workflow-section--header">Client rates and fees</h2>
            </div>
            <div class="workflow-section--content">
                <ng-container *ngIf="contractClientForm.clientRates?.controls?.length">
                    <div class="inline-edit-form u-w--100">
                        <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="10px" class="u-w--100 u-pl--16 u-pr--16 u-pb--5">
                            <span fxFlex="35%" class="workflow-contracts--list-header text-truncate-ellipsis u-w--100">
                                Rate name
                            </span>
                            <span fxFlex="30%" class="workflow-contracts--list-header text-truncate-ellipsis u-w--100">
                                Reporting unit
                            </span>
                            <span fxFlex="25%" class="workflow-contracts--list-header text-truncate-ellipsis u-w--100">
                                Client rate
                            </span>
                            <ng-container *ngIf="!readOnlyMode">
                                <span fxFlex="10%" class="workflow-contracts--list-header text-truncate-ellipsis u-w--100">
                                </span>
                            </ng-container>
                        </div>
                        <ng-container formArrayName="clientRates" class="u-w--100">
                            <ng-container *ngFor="let rate of contractClientForm.clientRates.controls; index as i" [formArrayName]="i">
                                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="workflow-contracts--list u-w--100 u-pl--16 u-pr--16">
                                    <span fxFlex="35%" class="workflow-contracts--list-item u-w--100 text-truncate-ellipsis" [matTooltip]="contractClientForm.clientRates.at(i).get('rateName')?.value" matTooltipClass="white-tooltip" appShowIfTruncated>
                                        {{rate.value.rateName}}
                                    </span>
                                    <span fxFlex="30%" class="workflow-contracts--list-item u-w--100 text-truncate-ellipsis" [matTooltip]="contractClientForm.clientRates.at(i).get('reportingUnit')?.value?.name" matTooltipClass="white-tooltip" appShowIfTruncated>
                                        {{rate.value.reportingUnit?.name}}
                                    </span>
                                    <ng-container *ngIf="rate.value.editable; else clientRatesDisplay">
                                        <div fxFlex="25%" fxLayout="row" fxLayoutAlign="start start">
                                            <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--10" fxFlex="30%">
                                                <input required matInput type="number" placeholder="Rate" formControlName="clientRateValue">
                                            </mat-form-field>
                                            <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select" fxFlex="50%">
                                                <mat-select required formControlName="clientRateCurrency" placeholder="Currency" [disableOptionCentering]="true" [compareWith]="compareWithFn">
                                                    <ng-container *ngFor="let item of currencies; trackBy: trackById">
                                                        <mat-option [value]="item">
                                                            {{ item?.name }}
                                                        </mat-option>
                                                    </ng-container>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </ng-container>
                                    <ng-template #clientRatesDisplay>
                                        <span fxFlex="25%" class="workflow-contracts--list-item u-w--100 text-truncate-ellipsis" [matTooltip]="rate.value.clientRateValue !== null && rate.value.clientRateCurrency?.name ? rate.value.clientRateValue + ' ' + rate.value.clientRateCurrency?.name : '-'" matTooltipClass="white-tooltip" appShowIfTruncated>
                                            {{rate.value.clientRateValue !== null && rate.value.clientRateCurrency?.name ? rate.value.clientRateValue + ' ' + rate.value.clientRateCurrency?.name : '-'}}
                                        </span>
                                    </ng-template>
                                    <ng-container *ngIf="rate.value.editable && !readOnlyMode; else clientRatesActions">
                                        <div fxFlex="10%" class="u-w--100 text-truncate-ellipsis" fxLayoutAlign="end center">
                                            <button mat-icon-button type="button" [disabled]="!rate.valid" appPreventDoubleClick (throttledClick)="editOrSaveSpecialRate(rate.value.editable, i)" class="rates-and-fees--inline-edit-form--btn__save">
                                                <mat-icon svgIcon="rates-save-icon"></mat-icon>
                                            </button>
                                            <button mat-icon-button type="button" appPreventDoubleClick (throttledClick)="cancelEditClientRate(i)" class="rates-and-fees--inline-edit-form--btn__cancel">
                                                <mat-icon svgIcon="rates-cancel-icon"></mat-icon>
                                            </button>
                                        </div>
                                    </ng-container>
                                    <ng-template #clientRatesActions>
                                        <ng-container *ngIf="!readOnlyMode">
                                            <div fxFlex="10%" fxLayoutAlign="end center" class="u-w--100">
                                                <button mat-icon-button appPreventDoubleClick (throttledClick)="$event.stopPropagation();" [matMenuTriggerFor]="clientRateMenu" class="three-dots-actions-btn">
                                                    <mat-icon svgIcon="3-dots"></mat-icon>
                                                </button>
                                                <mat-menu #clientRateMenu>
                                                    <button
                                                        class="menu-item green-color"
                                                        mat-menu-item
                                                        [disabled]="isClientRateEditing"
                                                        appPreventDoubleClick (throttledClick)="editOrSaveSpecialRate(rate.value.editable, i)">
                                                        <mat-icon svgIcon="edit-icon-green"></mat-icon>
                                                        Edit
                                                    </button>
                                                    <button
                                                        class="menu-item menu-item--cancel"
                                                        mat-menu-item
                                                        appPreventDoubleClick (throttledClick)="removeClientRate(i)">
                                                        <mat-icon svgIcon="close-icon"></mat-icon>
                                                        Delete
                                                    </button>
                                                </mat-menu>
                                            </div>
                                        </ng-container>
                                    </ng-template>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </ng-container>
                <ng-container *ngIf="contractClientForm.clientRates?.controls?.length === 0 && readOnlyMode">
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="workflow-contracts--list u-w--100 u-pl--16 u-pr--16 border-unset u-mt--15">
                        <span class="light-grey-color text-600">
                            No special rates
                        </span>
                    </div>
                </ng-container>
                <ng-container *ngIf="!readOnlyMode">
                    <div fxLayout="row" fxLayoutAlign="start start" class="u-mb--10">
                        <button class="rates-and-fees--btn button-add" mat-flat-button
                            [ngClass]="{'u-mt--10': contractClientForm.clientRates.controls.length}"
                            [matMenuTriggerFor]="clientSpecialRateMenu" [disabled]="isClientRateEditing"
                            #clientRateMenuTrigger="matMenuTrigger"
                            (menuOpened)="clientSpecialRateFilter!.setValue(''); clientSpecialRateSelect.open();">
                            <mat-icon>add</mat-icon>
                            Add special rates
                        </button>
                        <mat-menu #clientSpecialRateMenu backdropClass="add-rates-button--menu">
                            <div mat-menu-item appPreventDoubleClick (throttledClick)="$event.stopPropagation()"
                                class="u-pg--0">
                                <mat-form-field appearance="fill"
                                    class="add-rates-button--dropdown filter-select u-w--100">
                                    <mat-label>Choose special rate</mat-label>
                                    <mat-select #clientSpecialRateSelect [formControl]="clientSpecialRateFilter"
                                        [disableOptionCentering]="true">
                                        <ng-container *ngFor="let item of clientSpecialRateList | excludeIds: contractClientForm!.clientRates?.value : 'clientSpecialRateId'; trackBy: trackById">
                                            <mat-option [disabled]="item.id === null" [value]="item.id" appPreventDoubleClick (throttledClick)="item.id !== null ? selectClientRate(item, clientRateMenuTrigger) : ''">
                                                {{ item.internalName }}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </mat-menu>
                    </div>
                </ng-container>

                <ng-container *ngIf="contractClientForm.clientFees?.controls?.length">
                    <div class="inline-edit-form u-w--100 u-mt--15">
                        <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="10px" class="u-w--100 u-pl--16 u-pr--16 u-pb--5">
                            <span fxFlex="35%" class="workflow-contracts--list-header text-truncate-ellipsis u-w--100">
                                Fee name
                            </span>
                            <span fxFlex="30%" class="workflow-contracts--list-header text-truncate-ellipsis u-w--100">
                                Frequency
                            </span>
                            <span fxFlex="25%" class="workflow-contracts--list-header text-truncate-ellipsis u-w--100">
                                Client fee
                            </span>
                            <ng-container *ngIf="!readOnlyMode">
                                <span fxFlex="10%" class="workflow-contracts--list-header text-truncate-ellipsis u-w--100">
                                </span>
                            </ng-container>
                        </div>
                        <ng-container formArrayName="clientFees" class="u-w--100">
                            <ng-container *ngFor="let fee of contractClientForm.clientFees.controls; index as i" [formArrayName]="i">
                                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="workflow-contracts--list u-w--100 u-pl--16 u-pr--16">
                                    <span fxFlex="35%" class="workflow-contracts--list-item u-w--100 text-truncate-ellipsis" [matTooltip]="contractClientForm.clientFees.at(i).get('feeName')?.value ?? '-'" matTooltipClass="white-tooltip" appShowIfTruncated>
                                        {{fee.value.feeName ?? '-'}}
                                    </span>
                                    <span fxFlex="30%" class="workflow-contracts--list-item u-w--100 text-truncate-ellipsis" [matTooltip]="contractClientForm.clientFees.at(i).get('feeFrequency')?.value?.name ?? '-'" matTooltipClass="white-tooltip" appShowIfTruncated>
                                        {{fee.value.feeFrequency?.name ?? '-'}}
                                    </span>
                                    <ng-container *ngIf="fee.value.editable; else clientFeeRateDisplay">
                                        <div fxFlex="25%" fxLayout="row" fxLayoutAlign="start start">
                                            <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select u-mr--10" fxFlex="30%">
                                                <input required matInput type="number" placeholder="Rate" formControlName="clientRateValue">
                                            </mat-form-field>
                                            <mat-form-field appearance="fill" class="u-w--100 formFieldNoMarginPadding filter-select" fxFlex="50%">
                                                <mat-select required formControlName="clientRateCurrency" placeholder="Currency" [disableOptionCentering]="true" [compareWith]="compareWithFn">
                                                    <ng-container *ngFor="let item of currencies; trackBy: trackById">
                                                        <mat-option [value]="item">
                                                            {{ item?.name }}
                                                        </mat-option>
                                                    </ng-container>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </ng-container>
                                    <ng-template #clientFeeRateDisplay>
                                        <span fxFlex="25%" class="workflow-contracts--list-item u-w--100 text-truncate-ellipsis" [matTooltip]="fee.value.clientRateValue !== null && fee.value.clientRateCurrency?.name ? fee.value.clientRateValue + ' ' + fee.value.clientRateCurrency?.name : '-'" matTooltipClass="white-tooltip" appShowIfTruncated>
                                            {{fee.value.clientRateValue !== null && fee.value.clientRateCurrency?.name ? fee.value.clientRateValue + ' ' + fee.value.clientRateCurrency?.name : '-'}}
                                        </span>
                                    </ng-template>

                                    <ng-container *ngIf="fee.value.editable && !readOnlyMode; else clientFeeActions">
                                        <div fxFlex="10%" class="u-w--100 text-truncate-ellipsis" fxLayoutAlign="end center">
                                            <button mat-icon-button type="button" [disabled]="!fee.valid" appPreventDoubleClick (throttledClick)="editOrSaveClientFee(fee.value.editable, i)" class="rates-and-fees--inline-edit-form--btn__save">
                                                <mat-icon svgIcon="rates-save-icon"></mat-icon>
                                            </button>
                                            <button mat-icon-button type="button" appPreventDoubleClick (throttledClick)="cancelEditClientFee(i)" class="rates-and-fees--inline-edit-form--btn__cancel">
                                                <mat-icon svgIcon="rates-cancel-icon"></mat-icon>
                                            </button>
                                        </div>
                                    </ng-container>
                                    <ng-template #clientFeeActions>
                                        <ng-container *ngIf="!readOnlyMode">
                                            <div fxFlex="10%" fxLayoutAlign="end center" class="u-w--100">
                                                <ng-container *ngIf="fee.value.editable">
                                                    <button mat-icon-button
                                                            [disabled]="false"
                                                            appPreventDoubleClick (throttledClick)="editOrSaveClientFee(fee.value.editable, i)">
                                                            <mat-icon>save</mat-icon>
                                                    </button>
                                                </ng-container>
                                                <button mat-icon-button appPreventDoubleClick (throttledClick)="$event.stopPropagation();" [matMenuTriggerFor]="clientFeeMenu" class="three-dots-actions-btn">
                                                    <mat-icon svgIcon="3-dots"></mat-icon>
                                                </button>
                                                <mat-menu #clientFeeMenu>
                                                    <ng-container *ngIf="!fee.value.editable">
                                                        <button
                                                            class="menu-item green-color"
                                                            mat-menu-item
                                                            [disabled]="isClientFeeEditing"
                                                            appPreventDoubleClick (throttledClick)="editOrSaveClientFee(fee.value.editable, i)">
                                                            <mat-icon svgIcon="edit-icon-green"></mat-icon>
                                                            Edit
                                                        </button>
                                                    </ng-container>
                                                    <button
                                                        class="menu-item menu-item--cancel"
                                                        mat-menu-item
                                                        appPreventDoubleClick (throttledClick)="removeClientFee(i)">
                                                        <mat-icon svgIcon="close-icon"></mat-icon>
                                                        Delete
                                                    </button>
                                                </mat-menu>
                                            </div>
                                        </ng-container>
                                    </ng-template>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </ng-container>
                <ng-container *ngIf="contractClientForm.clientFees?.controls?.length === 0 && readOnlyMode">
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="workflow-contracts--list u-w--100 u-pl--16 u-pr--16 border-unset u-mt--15">
                        <span class="light-grey-color text-600">
                            No special fees
                        </span>
                    </div>
                </ng-container>
                <ng-container *ngIf="!readOnlyMode">
                    <div fxLayout="row" fxLayoutAlign="start start">
                        <button class="rates-and-fees--btn button-add" mat-flat-button
                            [ngClass]="{'u-mt--10': contractClientForm.clientFees.controls.length}"
                            [matMenuTriggerFor]="clientSpecialFeeMenu" [disabled]="isClientFeeEditing"
                            #clientFeeMenuTrigger="matMenuTrigger"
                            (menuOpened)="clientSpecialFeeFilter!.setValue(''); clientSpecialFeeSelect.open();">
                            <mat-icon>add</mat-icon>
                            Add special fees
                        </button>
                        <mat-menu #clientSpecialFeeMenu backdropClass="add-rates-button--menu">
                            <div mat-menu-item appPreventDoubleClick (throttledClick)="$event.stopPropagation()"
                                class="u-pg--0">
                                <mat-form-field appearance="fill"
                                    class="add-rates-button--dropdown filter-select u-w--100">
                                    <mat-label>Choose special fee</mat-label>
                                    <mat-select #clientSpecialFeeSelect [formControl]="clientSpecialFeeFilter"
                                        [disableOptionCentering]="true">
                                        <ng-container *ngFor="let item of clientSpecialFeeList | excludeIds: contractClientForm!.clientFees?.value : 'clientSpecialFeeId'; trackBy: trackById">
                                            <mat-option [disabled]="item.id === null" [value]="item.id" appPreventDoubleClick (throttledClick)="item.id !== null ? selectClientFee($event, item, clientFeeMenuTrigger) : ''">
                                                {{ item.internalName }}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </mat-menu>
                    </div>
                </ng-container>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="start start" class="u-w--100" id="contractClientLegalContracts">
            <div fxLayout="row" fxLayoutAlign="start center" class="u-mt--16 u-mb--16">
                <span class="workflow-section--number">7</span>
                <h2 class="workflow-section--header">Client legal contracts</h2>
            </div>
            <div class="workflow-section--content">
                <legal-contracts-list #legalContracts [clientPeriodId]="periodId" [isClientContracts]="true" [readOnlyMode]="readOnlyMode"></legal-contracts-list>
            </div>
        </div>
    </div>
    <button #submitFormBtn class="display-none" type="submit">Hidden button to set form submitted</button>
</form>

<ng-template #clientAdditionalInfo let-client="client">
    <div fxLayout="row wrap" fxLayoutAlign="end center" class="u-w--100">
        <ng-container *ngIf="client?.clientId">
            <button class="link-to-client-icon green-color u-mr--8" mat-flat-button (click)="openClientInNewTab(client?.clientId)"
                [matTooltip]="'Link to Client profile'" matTooltipClass="white-tooltip" type="button">
                <mat-icon svgIcon="link-to-client-icon"></mat-icon>
                Client profile
            </button>
        </ng-container>

        <ng-container *ngIf="client?.clientId">
            <button class="link-to-client-icon orange-color" mat-flat-button (click)="openInHubspot(client)"
                [disabled]="client.crmClientId === null || client.crmClientId === undefined"
                [matTooltip]="'Link to Hubspot'" matTooltipClass="white-tooltip" type="button">
                <mat-icon svgIcon="link-to-client-hubspot-icon"></mat-icon>
                Hubspot
            </button>
        </ng-container>
    </div>
</ng-template>

<ng-template #clientPrefix let-client="client">
    <ng-container *ngIf="client?.clientId !== undefined && client?.clientAddresses?.length">
        <span
            class="multilineDropdown-option--column-client-info text-truncate-ellipsis">
            #{{client?.clientId}} | {{client?.clientAddresses[0]?.city ?? ''}} {{client?.clientAddresses[0]?.countryName ?
            ', ' + client?.clientAddresses[0]?.countryName : ''}}
        </span>
    </ng-container>
</ng-template>
