<div class="worfklow-contracts">
    <mat-accordion [multi]="true">
        <mat-expansion-panel id="mainData" class="mat-elevation-z0">
            <mat-expansion-panel-header [collapsedHeight]="'80px'" [expandedHeight]="'80px'">
                MAIN DATA
            </mat-expansion-panel-header>
            <form [formGroup]="contractsMainDataForm" class="workflow-form workflow-form--main u-w--100">
                <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="50px" class="u-w--100 u-mb--20">
                    <div fxLayout="column">
                        <h3 class="workflow-gray--header">Sales Type</h3>
                        <span class="workflow-darkblue--text">Managed Service</span>
                    </div>
                    <div fxLayout="column">
                        <h3 class="workflow-gray--header">Delivery Type</h3>
                        <span class="workflow-darkblue--text">Managed Service</span>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-form-field appearance="outline" class="u-w--100 textarea-input formFieldNoMarginPadding" fxFlex="0 0 calc(66% + 16px)">
                        <mat-label>Project Description</mat-label>
                        <textarea matInput autocomplete="new-password" name="projectDescription" formControlName="projectDescription">
                        </textarea>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <div fxLayout="column">
                        <h3 class="workflow-gray--header">Discounts</h3>
                        <span class="workflow-darkblue--text">SKI 02.17</span>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-form-field appearance="outline" class="u-w--100 textarea-input formFieldNoMarginPadding" fxFlex="0 0 calc(66% + 16px)">
                        <mat-label>Remarks</mat-label>
                        <textarea matInput autocomplete="new-password" name="remarks" formControlName="remarks">
                        </textarea>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100">
                    <mat-checkbox color="accent" formControlName="isRemarks" name="isRemarks" class="black-checkbox" (change)="disableOrEnableInput(contractsMainDataForm?.isRemarks?.value, contractsMainDataForm?.remarks)">
                        None
                    </mat-checkbox>
                </div>
            </form>
        </mat-expansion-panel>
        <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header [collapsedHeight]="'80px'" [expandedHeight]="'80px'">
                Client data
            </mat-expansion-panel-header>
            <form fxLayout="column" fxLayoutAlign="start start" [formGroup]="contractsClientDataForm" class="workflow-form workflow-form--sales u-w--100">
                <div fxLayout="column" class="u-mb--20">
                    <h3 class="workflow-gray--header">Shared Cap on Hour Reporting</h3>
                    <span class="workflow-darkblue--text">Cap on units</span>
                </div>

                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100">
                    <mat-form-field appearance="outline" class="u-w--100 formFieldNoMarginPadding textarea-input" fxFlex="0 0 calc(66% + 16px)">
                        <mat-label>Special Contract Terms</mat-label>
                        <textarea matInput autocomplete="new-password" name="specialContractTerms" formControlName="specialContractTerms">
                        </textarea>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-checkbox color="accent" formControlName="isSpecialContractTermsNone" name="isSpecialContractTermsNone" class="black-checkbox u-mt--10" (change)="disableOrEnableInput(contractsClientDataForm?.isSpecialContractTermsNone?.value, contractsClientDataForm?.specialContractTerms)">
                        None
                    </mat-checkbox>
                </div>

                <h2 class="workflow-section--header">Client Special Rates</h2>
                <div formArrayName="clientSpecialRates" class="u-w--100 u-mb--20">
                    <div fxLayout="row" fxLayoutAlign="start center" class="u-mb--10">
                        <div class="u-ml--20" fxFlex="35%">
                            <span class="workflow-contracts--list-header">Rate name</span>
                        </div>
                        <div fxFlex="17.5%">
                            <span class="workflow-contracts--list-header">Rate direction</span>
                        </div>
                        <div fxFlex="25%">
                            <span class="workflow-contracts--list-header">Reporting unit</span>
                        </div>
                        <div fxFlex="22.5%">
                            <span class="workflow-contracts--list-header">Client rate</span>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" class="workflow-contracts--list u-w--100 u-mb--10" *ngFor="let signer of clientSpecialRates.controls; let i = index" [formGroupName]="i">
                        <div class="u-ml--20" fxFlex="35%">
                            <span class="workflow-contracts--list-item">Onsite rate</span>
                        </div>
                        <div fxFlex="17.5%">
                            <span class="workflow-contracts--list-item">Client / Pay</span>
                        </div>
                        <div fxFlex="25%">
                            <span class="workflow-contracts--list-item">Months</span>
                        </div>
                        <div fxFlex="17.5%">
                            <span class="workflow-contracts--list-item">-</span>
                        </div>
                        <div fxFlex="5%">
                            <button class="form-icon--delete-row u-mt--5"  mat-icon-button [matMenuTriggerFor]="contractActions" [matMenuTriggerData]="{elem: i}" (click)="$event.stopPropagation()"><mat-icon>more_horiz</mat-icon></button>
                        </div>
                        <mat-menu #contractActions="matMenu" [overlapTrigger]="false" (click)="$event.stopPropagation();">
                            <ng-template matMenuContent let-elem="elem">
                                <button mat-menu-item (click)="removeSpecialRate(elem)">
                                    Delete
                                </button>
                            </ng-template>
                        </mat-menu>
                    </div>
                    <button class="button-add" mat-flat-button (click)="addSpecialRateToForm()">
                        <mat-icon>add</mat-icon>
                        Add special rates
                    </button>
                </div>

                <h2 class="workflow-section--header">Client Fees</h2>
                <div formArrayName="clientFees" class="u-w--100 u-mb--20">
                    <div fxLayout="row" fxLayoutAlign="start center" class="u-mb--10">
                        <div class="u-ml--20" fxFlex="35%">
                            <span class="workflow-contracts--list-header">Fee name</span>
                        </div>
                        <div fxFlex="17.5%">
                            <span class="workflow-contracts--list-header">Fee direction</span>
                        </div>
                        <div fxFlex="25%">
                            <span class="workflow-contracts--list-header">Frequency</span>
                        </div>
                        <div fxFlex="22.5%">
                            <span class="workflow-contracts--list-header">Client rate</span>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" class="workflow-contracts--list u-w--100 u-mb--10" *ngFor="let signer of clientFees.controls; let i = index" [formGroupName]="i">
                        <div class="u-ml--20" fxFlex="35%">
                            <span class="workflow-contracts--list-item">Laptop fee</span>
                        </div>
                        <div fxFlex="17.5%">
                            <span class="workflow-contracts--list-item">Client / Pay</span>
                        </div>
                        <div fxFlex="25%">
                            <span class="workflow-contracts--list-item">Every milestone</span>
                        </div>
                        <div fxFlex="17.5%">
                            <span class="workflow-contracts--list-item">500 PLN</span>
                        </div>
                        <div fxFlex="5%">
                            <button class="form-icon--delete-row u-mt--5"  mat-icon-button [matMenuTriggerFor]="contractActions" [matMenuTriggerData]="{elem: i}" (click)="$event.stopPropagation()"><mat-icon>more_horiz</mat-icon></button>
                        </div>
                        <mat-menu #contractActions="matMenu" [overlapTrigger]="false" (click)="$event.stopPropagation();">
                            <ng-template matMenuContent let-elem="elem">
                                <button mat-menu-item (click)="removeFee(elem)">
                                    Delete
                                </button>
                            </ng-template>
                        </mat-menu>
                    </div>
                    <button class="button-add" mat-flat-button (click)="addClientFeeToForm()">
                        <mat-icon>add</mat-icon>
                        Add special fees
                    </button>
                </div>
            </form>
        </mat-expansion-panel>
        <form [formGroup]="contractsConsultantsDataForm" class="workflow-form--consultants u-w--100" id="consultantData">
            <ng-container formArrayName="consultantData">
                <mat-expansion-panel *ngFor="let consultant of contractsConsultantsDataForm.consultantData.controls; let consultantIndex = index" [formGroupName]="consultantIndex" class="mat-elevation-z0">
                    <mat-expansion-panel-header  [collapsedHeight]="'80px'" [expandedHeight]="'80px'">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <span>
                                Consultants data: {{ contractsConsultantsDataForm.consultantData.at(consultantIndex).get('consultantName')?.value}}
                            </span>
                        </div>
                    </mat-expansion-panel-header>

                    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="50px" class="u-w--100">
                        <div fxLayout="column" class="u-mb--20">
                            <h3 class="workflow-gray--header">Consultant type</h3>
                            <span class="workflow-darkblue--text">Temporary Worker</span>
                        </div>
                        <div fxLayout="column" class="u-mb--20">
                            <h3 class="workflow-gray--header">Cap on Time Reporting</h3>
                            <span class="workflow-darkblue--text">100 000 DKK</span>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100">
                        <mat-form-field appearance="outline" class="u-w--100 formFieldNoMarginPadding textarea-input" fxFlex="0 0 calc(66% + 16px)">
                            <mat-label>Special Contract Terms</mat-label>
                            <textarea matInput autocomplete="new-password" name="specialContractTerms" formControlName="specialContractTerms">
                            </textarea>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                        <mat-checkbox
                            color="accent"
                            formControlName="isSpecialContractTermsNone"
                            name="isSpecialContractTermsNone"
                            class="black-checkbox u-mt--10"
                            (change)="disableOrEnableInput(contractsConsultantsDataForm?.consultantData?.at(consultantIndex)?.get('isSpecialContractTermsNone')?.value, contractsConsultantsDataForm?.consultantData?.at(consultantIndex)?.get('specialContractTerms'))">
                            None
                        </mat-checkbox>
                    </div>

                    <h2 class="workflow-section--header">Special Rates</h2>
                    <div fxLayout="row" fxLayoutAlign="start center" class="u-mb--10">
                        <div class="u-ml--20" fxFlex="35%">
                            <span class="workflow-contracts--list-header">Rate name</span>
                        </div>
                        <div fxFlex="20%">
                            <span class="workflow-contracts--list-header">Rate direction</span>
                        </div>
                        <div fxFlex="12.5%">
                            <span class="workflow-contracts--list-header">Reporting unit</span>
                        </div>
                        <div fxFlex="12.5%">
                            <span class="workflow-contracts--list-header">ProData rate</span>
                        </div>
                        <div fxFlex="20%">
                            <span class="workflow-contracts--list-header">Consultant rate</span>
                        </div>
                    </div>
                    <div formArrayName="specialRates" class="u-w--100 u-mb--20">
                        <div fxLayout="row" fxLayoutAlign="start center" class="workflow-contracts--list u-w--100 u-mb--10" *ngFor="let rate of getConsultantSpecialRateControls(consultantIndex); let specialRateIndex = index" [formGroupName]="specialRateIndex">
                            <div class="u-ml--20" fxFlex="35%">
                                <span class="workflow-contracts--list-item">Onsite rate</span>
                            </div>
                            <div fxFlex="20%">
                                <span class="workflow-contracts--list-item">Consultant / Pay</span>
                            </div>
                            <div fxFlex="12.5%">
                                <span class="workflow-contracts--list-item">Months</span>
                            </div>
                            <div fxFlex="12.5%">
                                <span class="workflow-contracts--list-item">2500 DKK</span>
                            </div>
                            <div fxFlex="12.5%">
                                <span class="workflow-contracts--list-item">2500 DKK</span>
                            </div>
                            <div fxFlex="7.5%">
                                <button class="form-icon--delete-row u-mt--5"  mat-icon-button [matMenuTriggerFor]="contractActions" [matMenuTriggerData]="{elem: specialRateIndex}" (click)="$event.stopPropagation()"><mat-icon>more_horiz</mat-icon></button>
                            </div>
                            <mat-menu #contractActions="matMenu" [overlapTrigger]="false" (click)="$event.stopPropagation();">
                                <ng-template matMenuContent let-elem="elem">
                                    <button mat-menu-item (click)="removeConsultantDataSpecialRate(consultantIndex, elem)">
                                        Delete
                                    </button>
                                </ng-template>
                            </mat-menu>
                            <!-- <button class="form-icon--delete-row u-mt--5"  mat-icon-button (click)="removeConsultantDataSpecialRate(consultantIndex, specialRateIndex)"><mat-icon svgIcon="remove-icon"></mat-icon></button> -->
                        </div>
                        <button class="button-add" mat-flat-button (click)="addSpecialRateToConsultantData(consultantIndex)">
                            <mat-icon>add</mat-icon>
                            Add special rates
                        </button>
                    </div>

                    <h2 class="workflow-section--header">Client Fees</h2>
                    <div fxLayout="row" fxLayoutAlign="start center" class="u-mb--10">
                        <div class="u-ml--20" fxFlex="35%">
                            <span class="workflow-contracts--list-header">Fee name</span>
                        </div>
                        <div fxFlex="20%">
                            <span class="workflow-contracts--list-header">Fee direction</span>
                        </div>
                        <div fxFlex="12.5%">
                            <span class="workflow-contracts--list-header">Frequency</span>
                        </div>
                        <div fxFlex="12.5%">
                            <span class="workflow-contracts--list-header">ProData rate</span>
                        </div>
                        <div fxFlex="20%">
                            <span class="workflow-contracts--list-header">Consultant rate</span>
                        </div>
                    </div>
                    <div formArrayName="clientFees" class="u-w--100 u-mb--20">
                        <div fxLayout="row" fxLayoutAlign="start center" class="workflow-contracts--list u-w--100 u-mb--10" *ngFor="let fee of getConsultantClientFeesControls(consultantIndex); let clientFeeIndex = index" [formGroupName]="clientFeeIndex">
                            <div class="u-ml--20" fxFlex="35%">
                                <span class="workflow-contracts--list-item">Desk fee</span>
                            </div>
                            <div fxFlex="20%">
                                <span class="workflow-contracts--list-item">Consultant / Pay</span>
                            </div>
                            <div fxFlex="12.5%">
                                <span class="workflow-contracts--list-item">Every invoice</span>
                            </div>
                            <div fxFlex="12.5%">
                                <span class="workflow-contracts--list-item">2500 DKK</span>
                            </div>
                            <div fxFlex="12.5%">
                                <span class="workflow-contracts--list-item">2500 DKK</span>
                            </div>
                            <div fxFlex="7.5%">
                                <button class="form-icon--delete-row u-mt--5"  mat-icon-button [matMenuTriggerFor]="contractClientFeesActions" [matMenuTriggerData]="{elem: clientFeeIndex}" (click)="$event.stopPropagation()"><mat-icon>more_horiz</mat-icon></button>
                            </div>
                            <mat-menu #contractClientFeesActions="matMenu" [overlapTrigger]="false" (click)="$event.stopPropagation();">
                                <ng-template matMenuContent let-elem="elem">
                                    <button mat-menu-item (click)="removeConsultantDataClientFees(consultantIndex, elem)">
                                        Delete
                                    </button>
                                </ng-template>
                            </mat-menu>
                            <!-- <button class="form-icon--delete-row u-mt--5"  mat-icon-button (click)="removeConsultantDataClientFees(consultantIndex, clientFeeIndex)"><mat-icon svgIcon="remove-icon"></mat-icon></button> -->
                        </div>
                        <button class="button-add" mat-flat-button (click)="addClientFeesToConsultantData(consultantIndex)">
                            <mat-icon>add</mat-icon>
                            Add special fees
                        </button>
                    </div>

                    <h2 class="workflow-section--header">Project Lines</h2>
                    <div fxLayout="row" fxLayoutAlign="start center" class="u-mb--10">
                        <div class="u-ml--20" fxFlex="10%">
                            <span class="workflow-contracts--list-header">Unique id</span>
                        </div>
                        <div fxFlex="16%">
                            <span class="workflow-contracts--list-header">Project name</span>
                        </div>
                        <div fxFlex="10%">
                            <span class="workflow-contracts--list-header">Assignment ID/PO No</span>
                        </div>
                        <div fxFlex="7%">
                            <span class="workflow-contracts--list-header">Start date</span>
                        </div>
                        <div fxFlex="7%">
                            <span class="workflow-contracts--list-header">End date</span>
                        </div>
                        <div fxFlex="10%">
                            <span class="workflow-contracts--list-header">Invoice ref</span>
                        </div>
                        <div fxFlex="10%">
                            <span class="workflow-contracts--list-header">Last changed</span>
                        </div>
                        <div fxFlex="15%">
                            <span class="workflow-contracts--list-header">Optional Invoicing Info</span>
                        </div>
                        <div fxFlex="15%">
                            <span class="workflow-contracts--list-header">Cap on hour reporting</span>
                        </div>
                    </div>
                    <div formArrayName="projectLines" class="u-w--100 u-mb--20">
                        <div fxLayout="row" fxLayoutAlign="start center" class="workflow-contracts--list u-w--100 u-mb--10" *ngFor="let projectLine of getConsultantProjectLinesControls(consultantIndex); let projectLinesIndex = index" [formGroupName]="projectLinesIndex">
                            <div class="u-ml--20" fxFlex="10%">
                                <span class="workflow-contracts--list-item">34535334</span>
                            </div>
                            <div fxFlex="16%">
                                <span class="workflow-contracts--list-item">System Center Operations manager (SCOM) consultant</span>
                            </div>
                            <div fxFlex="10%">
                                <span class="workflow-contracts--list-item">Andrzej Walewski - CTR04464</span>
                            </div>
                            <div fxFlex="7%">
                                <span class="workflow-contracts--list-item">24.12.2020</span>
                            </div>
                            <div fxFlex="7%">
                                <span class="workflow-contracts--list-item">24.12.2020</span>
                            </div>
                            <div fxFlex="10%">
                                <span class="workflow-contracts--list-item">Lars Larsen</span>
                            </div>
                            <div fxFlex="10%">
                                <span class="workflow-contracts--list-item">24.12.2020 (by mk)</span>
                            </div>
                            <div fxFlex="15%">
                                <span class="workflow-contracts--list-item">System Center Operations manager (SCOM) consultant..</span>
                            </div>
                            <div fxFlex="10%">
                                <span class="workflow-contracts--list-item">0.18</span>
                            </div>
                            <div fxFlex="5%">
                                <button class="form-icon--delete-row u-mt--5"  mat-icon-button [matMenuTriggerFor]="contractProjectLinesActions" [matMenuTriggerData]="{elem: projectLinesIndex}" (click)="$event.stopPropagation()"><mat-icon>more_horiz</mat-icon></button>
                            </div>
                            <mat-menu #contractProjectLinesActions="matMenu" [overlapTrigger]="false" (click)="$event.stopPropagation();">
                                <ng-template matMenuContent let-elem="elem">
                                    <button mat-menu-item (click)="removeConsultantDataSpecialRate(consultantIndex, elem)">
                                        Duplicate
                                    </button>
                                    <button mat-menu-item (click)="removeConsultantDataSpecialRate(consultantIndex, elem)">
                                        Edit
                                    </button>
                                    <button mat-menu-item (click)="removeConsultantDataProjectLines(consultantIndex, elem)">
                                        Delete
                                    </button>
                                </ng-template>
                            </mat-menu>
                            <!-- <button class="form-icon--delete-row u-mt--5"  mat-icon-button (click)="removeConsultantDataProjectLines(consultantIndex, projectLinesIndex)"><mat-icon svgIcon="remove-icon"></mat-icon></button> -->
                        </div>
                        <button class="button-add" mat-flat-button (click)="addProjectLinesToConsultantData(consultantIndex)">
                            <mat-icon>add</mat-icon>
                            Add project line
                        </button>
                    </div>



                </mat-expansion-panel>
            </ng-container>
        </form>
        <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header [collapsedHeight]="'80px'" [expandedHeight]="'80px'">
                Sync & legal contracts
            </mat-expansion-panel-header>
            <form [formGroup]="contractsSyncDataForm" class="workflow-form workflow-form--main u-w--100">

                <h2 class="workflow-section--header">Sync</h2>

                <button class="button-accept" mat-flat-button>
                    Sync to legacy system
                </button>

                <div fxLayout="row" fxLayoutAlign="start start" class="u-w--100 u-mb--20">
                    <mat-checkbox color="accent" formControlName="manualCheckbox" name="isSpecialContractTermsNone" class="black-checkbox u-mt--10">
                        Contract lines done manually in old PM
                    </mat-checkbox>
                </div>

                <mat-divider>
                </mat-divider>

                <h2 class="workflow-section--header u-mb--20 u-mt--20">Legal contracts</h2>

                <div fxLayout="column" fxLayoutAlign="start start" class="u-mb--20">
                    <span class="workflow-darkblue--text">Client legal contracts</span>
                    <button class="button-accept u-mb--20" disabled mat-flat-button>
                        Open contract module for client
                    </button>

                    <span class="workflow-darkblue--text u-mt--20">Consultant legal contracts</span>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" class="u-mb--20">
                    <img class="workflow-contracts--consultant-img u-mr--16" src="https://placekitten.com/50/50">
                    <p class="workflow-contracts--consultant-name">
                        <!-- {{contractsConsultantsDataForm.consultantData.at(i).get('consultantName')?.value}} -->
                        Robertsen Oscar
                    </p>
                </div>

                <button class="button-outlined u-mb--20" disabled mat-flat-button>
                    Open contract module for client
                </button>

                <div fxLayout="row" fxLayoutAlign="start center" class="u-mb--20">
                    <img class="workflow-contracts--consultant-img u-mr--16" src="https://placekitten.com/50/50">
                    <p class="workflow-contracts--consultant-name">
                        <!-- {{financesConsultantsForm.consultants.at(i).get('consultantName')?.value}} -->
                        Van Trier Mia
                    </p>
                </div>

                <button class="button-outlined" mat-flat-button>
                    Open contract module for client
                </button>
            </form>
        </mat-expansion-panel>
    </mat-accordion>
</div>
