.workflow {
    &-form {
        &--sales,
        &--consultants,
        &--summary {
            h2:not(.workflow-green--header) {
                margin-bottom: 8px !important;
                font-weight: bold;
                font-size: 16px;
                line-height: 16px;
                color: rgba(56, 72, 83, 0.87);
            }
        }
    }
}
