@import "/src/app/shared/styles/config/_sizes";

.arrow-container--btn {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgba(43, 53, 59, 0.87);
    cursor: pointer;
    span {
        margin-left: 5px;
    }
}

.client-details {
    // min-height: 100%;
    // padding: 14px 20px;
    &--header {
        // height: 150px;
        height: $white-header-height;
        padding: 16px 75px;
    }
    &--content {
        height: calc(100vh - 150px);
    }
    &--client-info {
        // margin-right: 8px;
        &__header {
            // font-size: 9px;
            // line-height: 12px;

            margin-right: 8px;
            color: rgba(56, 72, 83, .3);
        }
        &__value {
            // font-size: 10px;
            // line-height: 14px;
            color: #384853;
        }
    }
}
