<div class="client-details">
    <div fxLayout="column" fxLayoutAlign="space-between center" class="client-details--header">
        <div fxLayout="row" fxLayoutAlign="space-between start" class="u-w--100">
            <div fxLayout="column" fxLayoutAlign="start start">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <button class="back-arrow--btn u-pl--0" (click)="navigateBack()" mat-icon-button><mat-icon svgIcon="arrow"></mat-icon></button>
                    <span class="client-details--header__client-name">{{client.name}}</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" class="client-details--client-info u-mt--10">
                    <span class="client-details--client-info__header client-id">
                        #{{client.clientId}}
                    </span>
                    <!-- FIXME: add country flag after mapping countryName -> countryCode -->
                    <!-- <span class="flag-icon flag-icon-{{selectedClient.countryCode | lowercase }} u-mr--10"></span> -->
                    <span class="client-details--client-info__header" *ngIf="client.address?.length">
                        {{client.address}}
                    </span>
                    <span class="client-details--client-info__header" *ngIf="client.address2?.length">
                        {{client.address2}}
                    </span>
                    <span class="client-details--client-info__header headerWithDot" *ngIf="client.phone?.length">
                        {{client.phone}}
                    </span>
                    <span class="client-details--client-info__header headerWithDot" *ngIf="client.website?.length">
                        {{client.website}}
                    </span>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" class="client-details--search">
                <mat-form-field appearance="outline" class="u-w--100 mat-elevation-z0 formFieldNoMarginPadding u-mr--10">
                    <mat-label>Search</mat-label>
                    <input autocomplete="off" matInput [formControl]="clientFilterInput" placeholder="Search" type="text">
                    <mat-icon matPrefix>search</mat-icon>
                </mat-form-field>
                <button mat-icon-button color="primary" class="u-mr--10 mat-elevation-z0"><mat-icon svgIcon="HUBSPOT-icon"></mat-icon></button>
                <button mat-icon-button color="primary" class="mat-elevation-z0"><mat-icon svgIcon="CAM-icon"></mat-icon></button>
            </div>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start"class="client-details--content">
        <mat-tab-group class="client-details--tabs u-w--100" #clientDetailsTabs>
            <mat-tab label="Request track">
                <ng-scrollbar>
                    <app-client-request-track [clientInfo]="selectedClient"></app-client-request-track>
                </ng-scrollbar>
            </mat-tab>
            <mat-tab label="Workflow track">
                <ng-scrollbar>
                    <app-client-workflow-track [clientInfo]="selectedClient"></app-client-workflow-track>
                </ng-scrollbar>
            </mat-tab>
            <mat-tab label="Rates and Fees">
                <ng-scrollbar>
                    <app-client-rates-and-fees></app-client-rates-and-fees>
                </ng-scrollbar>
            </mat-tab>
            <mat-tab label="Documents">
                <ng-scrollbar>
                    <app-client-documents #documentsTab></app-client-documents>
                </ng-scrollbar>
            </mat-tab>
            <mat-tab label="Contacts">
                <ng-scrollbar>
                    <app-client-contacts [clientInfo]="selectedClient"></app-client-contacts>
                </ng-scrollbar>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
