<mat-dialog-content class="add-folder--modal">
    <div mat-dialog-title class="add-folder--modal-header">
        <h1>
            Add folder
        </h1>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field appearance="outline"
            class="u-w--100  mat-elevation-z0">
            <mat-label>Folder name</mat-label>
            <input autocomplete="off" matInput [formControl]="folderName" placeholder="Folder name" type="text">
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="add-folder--actions flex-justify-between">
    <button [mat-dialog-close]="true" mat-flat-button class="add-folder--actions-btn dialog-btn dialog-btn__outlined">
        Cancel
    </button>
    <button mat-flat-button class="add-folder--actions-btn dialog-btn dialog-btn__positive" (click)="save()">
        Add
    </button>
</mat-dialog-actions>

