<ng-container *ngIf="agreementLinks$ | async as agreementLinks; else loading">
	<ng-container *ngIf="agreementLinks.length || searchControl.value">
		<mat-form-field class="form-field">
			<input matInput class="input" placeholder="Search" [formControl]="searchControl" />
		</mat-form-field>
	</ng-container>
	<ng-container *ngIf="!(loading$ | async); else loading">
		<div class="linked-agreements-container">
			<ng-container *ngIf="agreementLinks.length; else noItems">
				<ng-container *ngIf="sort$ | async as sort">
					<mat-table
						matSort
						[dataSource]="agreementLinks"
						[matSortActive]="sort.active"
						[matSortDirection]="sort.direction"
						(matSortChange)="onSortChanges($event)">
						<ng-container matColumnDef="agreementStatus">
							<mat-header-cell class="header-cell enabled-header" *matHeaderCellDef>
								<mat-icon svgIcon="three-lines" class="isEnabled-icon"></mat-icon>
							</mat-header-cell>
							<mat-cell *matCellDef="let template" class="enabled-column">
								<app-agreement-logs [agreementId]="template.agreementId" [agreementStatus]="template.agreementStatus"></app-agreement-logs>
							</mat-cell>
						</ng-container>
						<ng-container matColumnDef="validity">
							<mat-header-cell class="header-cell mode-header" *matHeaderCellDef>
								Mode
							</mat-header-cell>
							<mat-cell *matCellDef="let template" class="mode-column">
								<emg-agreement-mode
									[agreementValidityState]="template.mode"
									[iconWidth]="20"
									[iconHeight]="16"></emg-agreement-mode>
							</mat-cell>
						</ng-container>
						<ng-container matColumnDef="agreementId">
							<mat-header-cell
								class="header-cell id-header"
								*matHeaderCellDef
								mat-sort-header
								(click)="$event.stopPropagation()"
								>ID</mat-header-cell
							>
							<mat-cell *matCellDef="let template" class="table-agreement-cell id-column"
								><div class="overflow" [customTooltip]="template.agreementId">
									{{ template.agreementId }}
								</div></mat-cell
							>
						</ng-container>
						<ng-container matColumnDef="recipientName">
							<mat-header-cell
								class="header-cell recipient-header"
								*matHeaderCellDef
								(click)="$event.stopPropagation()">
								Actual recipient</mat-header-cell
							>
							<mat-cell *matCellDef="let template" class="table-agreement-cell recipient-cell"
								><div class="overflow" [customTooltip]="template.recipientName">
									{{ template.recipientName }}
								</div></mat-cell
							>
						</ng-container>
						<ng-container matColumnDef="agreementName">
							<mat-header-cell
								class="header-cell name-header"
								*matHeaderCellDef
								mat-sort-header
								(click)="$event.stopPropagation()">
								Agreement name</mat-header-cell
							>
							<mat-cell *matCellDef="let template" class="table-agreement-cell name-column">
								<div class="overflow" [customTooltip]="template.agreementName">
									{{ template.agreementName }}
								</div>
							</mat-cell>
						</ng-container>
						<ng-container matColumnDef="agreementLink">
							<mat-header-cell class="header-cell" *matHeaderCellDef mat-sort-header> </mat-header-cell>
							<mat-cell *matCellDef="let template" class="table-agreement-cell link-column">
								<div class="link" (click)="navigateToAgreement(template.agreementId)">
									<mat-icon svgIcon="right-arrow"></mat-icon>
								</div>
							</mat-cell>
						</ng-container>
						<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
						<mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
					</mat-table>
				</ng-container>
			</ng-container>
		</div>
		<ng-template #noItems>
			<div class="no-items">
				<div>
					<mat-icon svgIcon="no-items-icon"></mat-icon>
				</div>
				<div>There are no linked agreements for this template</div>
			</div>
		</ng-template>
	</ng-container>
</ng-container>
<ng-template #loading>
	<div class="spinner-container"><mat-spinner [diameter]="32"></mat-spinner></div>
</ng-template>
