app-linked-agreements {
	.linked-agreements-container {
		padding: 26px 32px;
		height: calc(100vh - 260px);
		overflow: auto;
	}
	.header-cell {
		font-size: 10px;
		font-weight: 600;
	}
	.icon {
		width: 8px;
	}
	.isEnabled-icon {
		width: 10px;
		height: 20px;
	}
	.spinner-container {
		background-color: unset;
	}
	.form-field {
		width: 100%;
	}
	.input {
		padding-left: 32px;
		box-sizing: border-box;
	}
	.mat-form-field-underline {
		background-color: #e7e3e8 !important;
		bottom: 0px !important;
	}
	.no-items {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		max-width: 176px;
		color: #b6b4b2;
	}
	.link {
		display: flex;
		gap: 7px;
		cursor: pointer;
	}
	.recipient-cell {
		font-size: 14px;
		font-weight: 700 !important;

		min-width: 156px;
		max-width: 156px;

		padding-left: 12px !important;
	}
	.table-agreement-cell {
		font-size: 14px;
		font-weight: 600;
		padding: unset;
	}
	.overflow {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.padding-left-12 {
		padding-left: 12px;
	}
	.enabled-header {
		max-width: 15px;
		min-width: 15px;
		padding-left: 5px !important;
	}
	.enabled-column {
		max-width: 15px;
		min-width: 15px;
		padding-left: 6px !important;
	}
	.mat-sort-header-arrow {
		margin: 0;
	}
	.mode-header {
		padding-left: 10px;
		max-width: 51.5px;
		min-width: 51.5px;
	}
	.mode-column {
		max-width: 51.5px;
		min-width: 51.5px;
		display: flex;
		justify-content: center;
	}
	.id-header {
		min-width: 44px;
		max-width: 44px;
	}
	.id-column {
		min-width: 44px;
		max-width: 44px;

		padding-left: 0 !important;
	}
	.recipient-header {
		min-width: 156px;
		max-width: 156px;

		padding-left: 12px;
	}
	.name-header {
		min-width: 257px;
		max-width: 257px;

		padding-left: 12px;
	}
	.name-column {
		min-width: 257px;
		max-width: 257px;

		padding-left: 12px;
	}
	.link-column {
		min-width: 36px;
		max-width: 36px;
	}
}
