<ng-container [ngSwitch]="isEnabled">
	<ng-container *ngSwitchCase="true">
		<ng-container
			[ngTemplateOutlet]="dot"
			[ngTemplateOutletContext]="{ color: '#17A297', tooltip: enabledTooltip }"></ng-container>
		<ng-template #enabledTooltip> Enabled </ng-template>
	</ng-container>

	<ng-container *ngSwitchCase="false">
		<ng-container [ngTemplateOutlet]="dot" [ngTemplateOutletContext]="{ color: '#B6B4B2', tooltip: disabledTooltip }">
		</ng-container>
		<ng-template #disabledTooltip> Disabled </ng-template>
	</ng-container>
</ng-container>

<ng-template #dot let-color="color" let-tooltip="tooltip">
	<div [customTooltip]="tooltip" [showAlways]="true">
		<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
			<rect width="8" height="8" rx="4" [attr.fill]="color" />
		</svg>
	</div>
</ng-template>
